<template>
  <div class="hero-slider" :dir="dir">
    <el-carousel indicator-position="outside" arrow="always">
      <el-carousel-item v-for="item in list" :key="item.id">
        <div class="owl-item__list">
          <div class="image-wrap grid-quarter">
            <img :src="item.image" />
            <div class="image-wrap-overlay"></div>

            <div class="slide-container container">
              <div class="image-wrap-text">
                <p>{{ item.name }}</p>
                <span class="slide-item__descr" v-html="item.description"></span>
                <router-link
                  :to="{ name: 'Service', params: { id: item.category ? item.category.id : item.id } }"
                >
                  <Button class="btn">{{$t('Book now')}}</Button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "HeroSlider",
  data() {
    return {
      lang: this.$i18n.locale
    };
  },
  watch: {},
  computed: {
    ...mapGetters({
      list: "slider/list"
    })
  },
  async created() {
    await this.fetchData();
  },
  mounted() {},
  methods: {
    ...mapActions({
      show: "slider/show"
    }),
    fetchData() {
      this.show({ slug: "home-slider", lang: this.lang })
        .then(res => {})
        .catch(err => {});
    }
  }
};
</script>

<style>
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-item__descr {
  display: block;
  margin: 5px 0 15px;
  font-size: 15px;
  font-family: var(--font-Heebo-Medium);
}
</style>
