<template>
  <div class="language-toggle d-flex align-center">
    <!-- <el-dropdown trigger="click">
      <span class="el-dropdown-link">
        <a class="a-icon" :class="Color" href.prevent>
          {{ loc }}
          <i class="el-icon-arrow-down"></i>
        </a>
      </span>
      <el-dropdown-menu slot="dropdown">
        <span @click="i18n_lang('en')" class="header-language d-block text-center">English</span>
        <span @click="i18n_lang('ar')" class="header-language d-block text-center">عربي</span>
      </el-dropdown-menu>
    </el-dropdown>-->

    <input
      class="toggle"
      @change="i18n_lang"
      :checked="Lang == 'ar'"
      type="checkbox"
      role="switch"
      name="toggle"
      value="on"
    />
    <div class="slot" aria-checked="toggle">
      <span class="slot__label">عربي</span>
      <span class="slot__label">English</span>
    </div>
    <!-- <vs-dropdown vs-custom-content vs-trigger-click style="cursor: pointer">
            <a class="a-icon" :class="Color" href.prevent>
                {{ loc }}
                <i class="material-icons">arrow_drop_down</i>
            </a>

            <vs-dropdown-menu class="user--language" :class="ClassItem">
                <span @click="i18n_lang('en')" class="header-language d-block text-center">
                    English
                </span>
                <span @click="i18n_lang('ar')" class="header-language d-block text-center">
                    عربي
                </span>
            </vs-dropdown-menu>
    </vs-dropdown>-->
    <!-- <el-dropdown trigger="click"> -->
    <!-- <span class="el-dropdown-link" @click="i18n_lang()">
      <a
        class="a-icon"
        :class="Color"
        href.prevent
      >{{ (this.$i18n.locale == 'en') ? 'عربي' : 'English' }}</a>
    </span>-->
    <!-- <el-dropdown-menu slot="dropdown">
        
        <span @click="i18n_lang('en')" class="header-language d-block text-center">
          English
        </span>
        
        <span @click="i18n_lang('ar')" class="header-language d-block text-center">
          عربي
        </span>
      </el-dropdown-menu>
    </el-dropdown>-->
  </div>
</template>

<script>
export default {
  name: "i18n",
  props: ["Color", "ClassItem"],
  data() {
    return {
      langs: ["ar", "en"],
      Lang: this.$i18n.locale
    };
  },
  // mounted() {
  //   $('[aria-checked="toggle"]').click(function() {
  //     var checkBoxes = $(".toggle");
  //     checkBoxes.prop("checked", !checkBoxes.prop("checked"));
  //   });
  // },
  computed: {
    loc: function() {
      return this.$i18n.locale == "en" ? "English" : "عربي";
    }
  },
  created() {},
  methods: {
    i18n_lang() {
      let locale = this.$i18n.locale == "en" ? "ar" : "en";
      this.$store.dispatch("locale/getLocale", locale);
      this.$i18n.locale = locale;
      this.Lang = locale;
      this.$router.go(this.$router.currentRoute);
      // this.$router.go(this.$router.path);
    }
  }
};
</script>

<style>
.fixed {
  position: fixed !important;
  top: 62px !important;
}

.a-icon {
  outline: none;
  padding: 20px 0px;
  font-family: "HeeboMedium";
  font-size: 14px;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-language {
  cursor: pointer;
  padding: 5px 20px;
  color: inherit;
  font-size: 14px;
}
.active.header-language {
  background: #ccc;
}

.white {
  color: #fff !important;
}
</style>
