<template>
  <div class="place-icon d-flex align-center">
    <el-dropdown trigger="click" @command="changeCity">
      <span class="el-dropdown-link">
        <a class="a-icon" :class="Color" href.prevent>
          {{ cName }}
          <i class="el-icon-arrow-down"></i>
        </a>
      </span>
      <el-dropdown-menu  slot="dropdown">

        <el-dropdown-item 
        v-for="city in cities" :key="city.id" 
        :command="city"
        class="header-country d-block text-center">
          {{ city.name }}
        </el-dropdown-item>

      </el-dropdown-menu>
    </el-dropdown>
    <!-- <vs-dropdown vs-custom-content vs-trigger-click style="cursor: pointer">
            <a class="a-icon" :class="Color" href.prevent>
                {{ cName }}
                <i class="material-icons">arrow_drop_down</i>
            </a>

            <vs-dropdown-menu class="custom__width">
                <vs-dropdown-item v-for="city in cities" :key="city.id" @click="getCity( city, $event )" class="header-country d-block text-center">
                    {{ city.name }}
                </vs-dropdown-item>
            </vs-dropdown-menu>
        </vs-dropdown> -->
    <!-- <el-cascader :placeholder="$t('Select city')" :options="countries" :show-all-levels="false" filterable></el-cascader> -->
  </div>
</template>

<style>
.fixed {
  position: fixed !important;
  top: 62px !important;
}

.custom__width .vs-dropdown--custom {
  width: 100px;
}

.header-form__result .vld-icon {
  position: absolute;
  right: 10px;
  top: -13px;
  background: #fff;
}

.header-country.vs-dropdown--item {
  text-align: center;
}

.place-icon span {
  font-family: "HeeboMedium";
  font-size: 14px;
}

.white {
  color: #fff !important;
}
</style>

<script>
import { mapGetters,mapActions } from "vuex";

export default {
  props: ["Color", "ClassItem"],
    computed: {
      ...mapGetters({
        // getCities: "cities",
        city_id: "cities/city_id"
      }),
      cName() {
        return this.city_id && this.city_id != null
          ? this.city_id.city_name
          : this.$t("Select a City");
      }
    },
  data() {
    return {
        cities: [],
      //   countries: [],
      lang: this.$i18n.locale
    };
  },
    created() {
      this.fetchCountries();
    },
    methods: {
      ...mapActions({
        cityList: 'cities/index',
        setCityId: 'cities/setCitiId'
      }),
      getCity(city, event) {
        this.$store
          .dispatch("cities/setCitiId", city)
          .then(res => {})
          .catch(err => {
            console.log(err);
          });
      },
      fetchCountries() {
        let dataFetchUrl = `lang=${this.lang}`;

        this.cityList(dataFetchUrl)
          .then(res => {
            this.cities = res.data.cities;
          })
          .catch(err => {
            console.log(err);
          });
      },
      changeCity(city){
        this.setCityId(city)
          .then(res => {
          })
          .catch(err => {
          })
      }
    }
};
</script>
