<template>
  <div class="header-wrap">
    <!-- :class="username ? 'user' : 'not_user'" -->
    <header class="header transition">
      <div class="container" :dir="dir">
        <div class="header-wrap d-flex align-center">
          <div class="menu-gamburger" @click="sidebarToggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <router-link to="/" class="header-logo d-block">
            <img src="img/logo.png" alt="Logo" class="max-none d-block" />
          </router-link>

          <form
            class="header-form"
            @click.prevent="headerSearch"
            :class="{ 'header-remove': checkRoute }"
          >
            <div class="header-search d-flex">
              <input
                type="text"
                :placeholder="$t('Find Services')"
                v-model="search"
                @input="Serach"
              />
              <button type="submit" style="cursor:pointer" class="d-flex align-center">
                <i class="el-icon-search"></i>
              </button>
            </div>
            <!-- Search Result -->
            <div class="header-form__result">
              <loading
                :active.sync="isLoading"
                :is-full-page="fullPage"
                :color="'#F5D200'"
                :width="25"
                :opacity="1"
              ></loading>
              <span @click="getLink()" v-for="result in Result" :key="result.id">
                <router-link
                  :to="{ name: 'Service', params: { id: result.id } }"
                  class="form__result--item"
                >
                  <strong>{{ result.title }}</strong>
                </router-link>
              </span>
              <span v-if="!Result.length" class="not--found">{{ $t("Not Found") }}</span>
            </div>
            <!-- End Search Result -->
          </form>
          <nav class="header-navigation d-flex flex-1">
            <ul class="header-navigation-ul d-flex">
              <li class="navigation-ul-list d-flex align-center transition navigationPlace">
                <PlaceNavigation ClassItem="fixed"></PlaceNavigation>
              </li>
              <li class="navigation-ul-list d-flex align-center transition">
                <Language ClassItem="fixed"></Language>
              </li>
              <li v-if="user_id" class="navigation-ul-list d-flex align-center transition">
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link">
                    <div class="user-notification">
                      <i class="el-icon-message-solid"></i>
                      <span
                        v-if="notifications.length != 0"
                        class="notification-number"
                      >{{ notifications.length }}</span>
                    </div>
                  </span>
                  <el-dropdown-menu class="notification-dropdown" slot="dropdown">
                    <div class="notification-dropdown__wrap">
                      <el-dropdown-item v-for="notify in notifications" :key="notify.id">
                        <router-link
                          v-if="notify.type === 'orders'"
                          class="position-relative"
                          tag="div"
                          :to="{ name: role == 'provider'?'RequestShow':'UserRequestShow', params:{id: notify.type_id} }"
                        >
                          <a href="#" class="notification-routes d-block">
                            <h1>
                              <span>{{ notify.time }}</span>
                            </h1>
                            <p>{{ notify.message }}</p>
                          </a>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                        <router-link
                          v-if="notify.type === 'tickets'"
                          class="position-relative"
                          tag="div"
                          :to="{ name: role == 'provider'?'TicketShow':'UserTicketShow', params:{id: notify.type_id} }"
                        >
                          <a href="#" class="notification-routes d-block">
                            <h1>
                              <span>{{ notify.time }}</span>
                            </h1>
                            <p>{{ notify.message }}</p>
                          </a>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </el-dropdown-item>
                      <el-dropdown-item v-if="notifications.length == 0">
                        <a class="notification-routes d-block">
                          <p>{{ $t("No messages") }}</p>
                        </a>
                      </el-dropdown-item>
                    </div>
                  </el-dropdown-menu>
                </el-dropdown>
              </li>

              <li
                class="navigation-ul-list d-flex align-center transition"
                v-if="$store.state.auth.token"
              >
                <el-dropdown trigger="click">
                  <div class="el-dropdown-link">
                    <div class="user-navigation d-flex align-center">
                      <div class="user-dropdown d-flex align-center">
                        <div class="user-dropdown-avatar">
                          <img :src="this.image" alt class="d-block" />
                        </div>
                        <div class="user-name-dropdown inital">
                          <span class="welcome-text" v-if="firstname != 'null'">{{ firstname }}</span>
                          <div class="d-flex align-center">
                            <p>{{ username }}</p>
                            <i class="el-icon-arrow-down"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <el-dropdown-menu v-if="role == 'user'" slot="dropdown" class="userDropdown">
                    <el-dropdown-item>
                      <router-link to="/user" class="user-router d-block" style="color: inherit;">
                        <div class="header-language d-flex align-center">
                          <i class="el-icon-user"></i>
                          <span>{{ $t("My Profile") }}</span>
                        </div>
                      </router-link>
                    </el-dropdown-item>
                    <el-dropdown-item>
                      <router-link
                        to="/user-request"
                        class="user-router d-block"
                        style="color: inherit;"
                      >
                        <div class="header-language d-flex align-center">
                          <i class="el-icon-tickets"></i>
                          <span>{{ $t("My Requests") }}</span>
                        </div>
                      </router-link>
                    </el-dropdown-item>
                    <el-dropdown-item>
                      <router-link
                        to="/user-tickets"
                        class="user-router d-block"
                        style="color: inherit;"
                      >
                        <div class="header-language d-flex align-center">
                          <i class="el-icon-chat-line-square"></i>
                          <span>{{ $t("My Tickets") }}</span>
                        </div>
                      </router-link>
                    </el-dropdown-item>

                    <el-dropdown-item>
                      <el-divider class="custom-divider"></el-divider>

                      <div class="header-language d-flex align-center" @click="logout()">
                        <i class="el-icon-switch-button"></i>
                        <span style="color: red">{{ $t("Log Out") }}</span>
                      </div>
                    </el-dropdown-item>
                  </el-dropdown-menu>
                  <el-dropdown-menu v-else slot="dropdown" class="userDropdown">
                    <el-dropdown-item>
                      <router-link
                        to="/dashboard"
                        class="user-router d-block"
                        style="color: inherit;"
                      >
                        <div class="header-language d-flex align-center">
                          <i class="el-icon-chat-line-square"></i>
                          <span>{{ $t("Dashboard") }}</span>
                        </div>
                      </router-link>
                    </el-dropdown-item>
                    <el-dropdown-item>
                      <el-divider class="custom-divider"></el-divider>

                      <div class="header-language d-flex align-center" @click="logout()">
                        <i class="el-icon-switch-button"></i>
                        <span style="color: red">{{ $t("Log Out") }}</span>
                      </div>
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </li>

              <li class="navigation-ul-list d-flex align-center transition" v-else>
                <div
                  @click="centerDialogVisible = true"
                  class="navigation-sign d-flex align-center jfy-bwn transition"
                >
                  <span>{{ $t("Sign up") }}</span>
                  <i class="el-icon-user-solid"></i>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="fix--space"></div>

    <el-dialog center :visible.sync="centerDialogVisible" class="login__dialog">
      <Login @click="isOpen"></Login>
    </el-dialog>

    <div>
      <div class="sidebar-overlay" @click="closeMenu"></div>
      <div class="sidebar-wrap d-flex f-column">
        <div class="sidebar-header d-flex align-center jfy-bwn">
          <div class="close__menu" @click="closeMenu">
            <i class="el-icon-close"></i>
          </div>
          <nav class="header-navigation d-flex flex-1">
            <ul class="header-navigation-ul d-flex">
              <li class="navigation-ul-list d-flex align-center transition navigationPlace">
                <PlaceNavigation></PlaceNavigation>
              </li>
              <li class="navigation-ul-list d-flex align-center transition">
                <Language></Language>
              </li>
            </ul>
          </nav>
        </div>
        <div class="sidebar-body">
          <h1 class="sidebar-body__title">{{ $t("Explore Us") }}</h1>

          <div @click="closeMenu">
            <router-link
              to="/about-us"
              class="sidebar-links"
              exact-active-class="active"
            >{{ $t("About Us") }}</router-link>
          </div>
          <div @click="closeMenu">
            <router-link
              to="/our-blog"
              class="sidebar-links"
              exact-active-class="active"
            >{{ $t("Our Blog") }}</router-link>
          </div>
          <div @click="closeMenu">
            <router-link
              to="/contact"
              class="sidebar-links"
              @click="closeMenu"
            >{{ $t("Contact Us") }}</router-link>
          </div>
          <div @click="closeMenu">
            <router-link
              to="/service-provider"
              class="sidebar-links"
              @click="closeMenu"
            >{{ $t("Become a service provider") }}</router-link>
          </div>
        </div>
        <div class="sidebar-footer">
          <p>
            {{
            $t("Download the Helpbit App and manage your services on the go.")
            }}
          </p>
          <router-link to="/google.com">
            <img src="/img/google-play-icon.png" alt />
          </router-link>
          <router-link to="/appstore.com">
            <img src="/img/appstore-icon.png" alt />
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import Language from "./Language";
import PlaceNavigation from "./PlaceNavigation";
import Login from "../../../views/Auth/Login";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Header",
  data() {
    return {
      id: null,
      isLoading: false,
      fullPage: false,
      Result: [],
      lang: this.$i18n.locale,
      centerDialogVisible: false,
      search: ""
    };
  },
  components: {
    Language,
    PlaceNavigation,
    Login,
    Loading
  },
  computed: {
    ...mapGetters({
      user_id: "auth/id",
      notifications: "notify/notifications",
      username: "auth/username",
      phone: "auth/phone",
      firstname: "auth/firstname",
      token: "auth/token",
      role: "auth/role",
      token: "auth/token",
      image: "auth/image"
    }),
    checkRoute() {
      // return console.log(this.$route.meta);
      return this.$route.meta
        ? this.$route.meta.hideSearchBar
          ? this.$route.meta.hideSearchBar
          : false
        : false;
    }
  },
  watch: {
    user_id: {
      handler: function() {
        this.id = this.user_id;
        if (this.id) this.getData();
      }
    }
  },
  beforeDestroy() {
    clearInterval(this.Intervel);
  },
  async created() {
    this.id = this.user_id;
    if (this.user_id && this.user_id !== "") {
      if (
        this.$router.currentRoute.name == "UserRequestShow" ||
        this.$router.currentRoute.name == "UserTicketShow" ||
        this.$router.currentRoute.name == "RequestShow" ||
        this.$router.currentRoute.name == "TicketShow"
      ) {
        await this.getData();
        this.Intervel = setInterval(() => {
          this.getData();
        }, 5000);
      } else {
        await this.getData();
        this.Intervel = setInterval(() => {
          this.getData();
        }, 100000);
      }
    }
    this.search = "";
    $(function() {
      $(document).click(function(event) {
        if (
          !$(event.target).closest(".header-form__result, .header-search")
            .length
        ) {
          $(".header-form__result").removeClass("active");
        }
      });

      $(document).click(function(event) {
        if (!$(event.target).closest(".header-form").length) {
          $(".header-form").removeClass("header-form__fix");
        }
      });
    });
  },
  methods: {
    ...mapActions({
      logoutAction: "auth/logout",
      searchActions: "category/search",
      fetchNotifications: "notify/index"
    }),
    Serach() {
      this.doAjax(true);
      if (this.search.length > 2) {
        $(".header-form__result").addClass("active");

        let dataFetchUrl = { search: this.search, lang: this.lang };

        this.searchActions(dataFetchUrl)
          .then(res => {
            this.Result = res.data.categories;
            this.doAjax(false);
          })
          .catch(err => {
            console.log(err);
            this.doAjax(false);
          });
      } else {
        $(".header-form__result").removeClass("active");
        this.doAjax(false);
      }
    },
    getData() {
      this.fetchNotifications()
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    headerSearch() {
      if ($(window).width() < 850 && $(window).width() > 600) {
        $(".header-form").addClass("header-form__fix");
      } else {
        $(".header-form").removeClass("header-form__fix");
      }
    },
    sidebarToggle() {
      $(".sidebar-overlay")
        .addClass("sidebar__active")
        .fadeIn("fast");
    },
    closeMenu() {
      $(".sidebar-overlay")
        .removeClass("sidebar__active")
        .fadeOut();
    },
    isOpen() {
      this.centerDialogVisible = !this.centerDialogVisible;
    },
    async logout() {
      this.logoutAction()
        .then(() => {
          this.$router.push(`/login`);
          this.Alert(
            "success",
            "green",
            this.$i18n.messages[this.$i18n["locale"]]["User Logout"]
          );
        })
        .catch(() => {
          this.Alert("error", "red", "User unauthenticated");
        });
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result
      });
    },
    doAjax(data) {
      this.isLoading = data;
    },
    getLink() {
      this.search = "";
      $(".header-form__result").removeClass("active");
      this.doAjax(false);
    }
  }
};
</script>

<style>
.notification-routes {
  color: inherit;
  padding: 13px 18px;
  border-bottom: 1px solid #bbbbbb69;
  padding-right: 35px;
}

.notification-routes:hover {
  background: #9e9e9e17;
}

.router-link-exact-active:last-child .notification-routes {
  border-bottom: none;
}

.notification-dropdown .router-link-exact-active {
  position: relative;
}

.notification-dropdown .notification-routes + i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #878787;
  font-size: 14px;
}

.notification-routes h1 {
  font-family: "Heebo";
}

.notification-routes p {
  color: #878787;
}

.navigation-ul-list button {
  cursor: pointer;
}

.navigation-ul-list .material-icons {
  display: block;
}

.main__wrap[dir="rtl"] .header-search > button {
  right: initial;
  left: 0;
}

.userDropdown {
  min-width: 150px;
}

.header-form__result {
  display: none;
  background: #fff;
  margin-top: 2px;
  border-radius: 2px;
  padding: 5px 0;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}

.header-form__result.active {
  display: block;
}

.form__result--item {
  display: block;
  color: inherit;
  padding: 5px 15px;
}

.form__result--item:hover {
  background: #ece7e7;
}

.form__result--item:last-child {
  margin-bottom: 0;
}

.form__result--item strong {
  font-weight: 600;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.header.active {
  box-shadow: 0 0 20px #00000015;
}

.fix--space {
  height: 60px;
}

.login__popup .login,
.login__popup .login-anchor {
  color: #fff;
}

.header-language.d-flex {
  padding: 5px 15px 5px 10px;
}

.header-language.d-flex i {
  font-size: 18px;
}

.header-language.d-flex span {
  font-size: 14px;
  margin-left: 15px;
}

.user-notification {
  position: relative;
  margin-right: 10px;
  padding: 20px 0;
}

.notification-number {
  position: absolute;
  font-size: 9px;
  width: 15px;
  height: 15px;
  border: solid 1px #ffffff;
  background: #f23030;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  line-height: 14px;
  top: 12px;
  right: -6px;
}

.user-dropdown-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.user-dropdown-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name-dropdown {
  flex: 1;
  padding: 10px 0 10px 10px;
  padding-left: 10px;
}

.user-name-dropdown > div {
  font-family: var(--font-Medium);
}

.welcome-text {
  display: block;
  font-size: 12px;
  color: #696969;
  font-weight: bold;
  letter-spacing: 0.3px;
}

/* ************************* */

.navigationPlace-dropdown,
.navigationPlace-dropdown::after {
  position: absolute;
  background: white;
}

.navigationPlace-dropdown {
  bottom: -45px;
  left: 0;
  min-width: 120px;
  z-index: 2;
  padding: 5px !important;
  padding-top: 8px !important;
  border-radius: 5px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.navigationPlace-dropdown::after {
  content: "";
  top: 0;
  right: 10px;
  width: 10px;
  height: 10px;
  display: block;
  -webkit-transform: rotate(45deg) translate(-7px);
  transform: rotate(45deg) translate(-7px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s, bottom 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  /* bottom: -50px; */
}

.header {
  background: #fceb10;
}

.header-logo {
  margin-right: 30px;
}

.header-logo > img {
  transform: translate(7px, 0px);
  width: 135px;
}

.header-form {
  height: 38px;
  box-shadow: 0 1px 3px #b6b6b65c;
  position: relative;
}

.header-search {
  height: 38px;
  background: #fff;
  border-radius: 3px;
  width: 240px;
  overflow: hidden;
}

.header-search > input[type="text"] {
  border: none;
  padding: 15px;
  width: calc(100% - 45px);
  font-size: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header-search > button {
  border: none;
  padding: 0px 10px;
  position: absolute;
  background: #fff;
  height: 100%;
  right: 0;
  top: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-navigation {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 60px;
}

.navigation-ul-list {
  cursor: pointer;
  padding: 1px 10px 0 15px;
  position: relative;
}

.navigation-ul-list:not(:last-child):hover {
  background: #f5d200;
}

.navigation-sign {
  background: #f5d200;
  padding: 7px 12px;
  border-radius: 5px;
  width: 100px;
}

.navigation-ul-list:last-child > .navigation-sign {
  color: inherit;
}

.navigation-sign:hover {
  background: #e0c317;
}

.navigation-ul-list:last-child > .navigation-sign span {
  font-family: "HeeboMedium";
}

.navigation-sign i {
  font-size: 15px;
  opacity: 0.7;
}

.sidebar-footer > p {
  font-size: 13px;
  margin-bottom: 10px;
}

.sidebar-footer a {
  display: inline-block;
  margin-right: 0.5rem;
}

.sidebar-footer a img {
  max-width: 100px;
  display: block;
}

.sidebar-body__title {
  margin-bottom: 0.25rem;
  font-family: var(--font-Heebo);
}

.sidebar-body a {
  display: block;
  color: inherit;
  margin-bottom: 5px;
}

.header-form__fix {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.sidebar-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background: #fff;
  z-index: 9999;
  transform: translateX(-100%);
  transition: all 500ms 250ms;
}

.sidebar-wrap > *:not(:first-child) {
  padding: 15px;
}

.sidebar-header .header-navigation-ul li {
  display: block !important;
}

.sidebar-wrap .sidebar-header {
  background: #fceb10;
}

.sidebar-wrap .sidebar-body {
  flex: 1;
}

.header-form__fix .header-search {
  width: calc(100% - 45px);
}

.header-form__fix .header-form__result {
  position: absolute;
  top: 52px;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}

.not--found {
  display: block;
  padding: 10px;
  text-align: center;
}

.header-wrap {
  height: 60px;
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000087;
  z-index: 9999;
}

.sidebar-header {
  padding-left: 10px;
}

.close__menu i {
  display: block;
}

.sidebar__active + .sidebar-wrap {
  transform: translateX(0%);
}

/* MEDIA */
/* @media (max-width: 850px) and (min-width: 600px) {
  .header-form .header-search > button {
    width: 100%;
    justify-content: center;
  }
} */
@media (max-width: 850px) {
  .header-form {
    order: 1;
  }

  .header-search {
    width: 45px;
  }

  .header-navigation {
    margin-right: 15px;
  }

  .header-logo > img {
    width: 135px;
  }
}

@media (max-width: 600px) {
  .user-dropdown {
    width: auto;
  }

  body .header-form__fix .header-search {
    width: 100%;
  }

  .header-navigation {
    height: auto;
  }

  .header-navigation-ul li:not(:last-child),
  .user-name-dropdown {
    display: none;
  }

  .header-form {
    box-shadow: 0px 4px 5px #0000000d;
    position: absolute;
    top: 55px;
    left: 0;
    height: 100%;
    background: #fceb10;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    box-shadow: initial;
    padding: 0 15px;
  }

  .header-search {
    width: 100%;
  }

  .header-search > button {
    position: static;
  }

  .header-wrap {
    justify-content: space-between;
  }

  .menu-gamburger {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
  }

  .menu-gamburger span {
    width: 100%;
    height: 4px;
    background: #000;
    margin-bottom: 3px;
    opacity: 0.6524135;
    border-radius: 100px;
  }

  .header-logo,
  .header-navigation {
    margin: 0;
    flex: initial;
  }

  .header-navigation-ul li:nth-child(3) {
    padding: 0;
    display: block;
    background: initial !important;
  }

  .user-notification {
    transform: translateY(5px);
  }

  .notification-dropdown {
    width: 255px !important;
  }

  .navigation-sign {
    width: auto;
  }

  .navigation-ul-list:last-child > .navigation-sign span {
    display: none;
  }

  .header-form__result {
    position: absolute;
    top: 52px;
    width: calc(100% - 30px);
  }
}

@media (min-width: 600px) {
  .menu-gamburger {
    display: none;
  }
}

.el-dropdown-link i {
  margin-left: 0.25rem;
  font-weight: bold;
}
.navigation-ul-list .el-icon-message-solid {
  font-size: 18px;
  color: initial;
}
</style>
