<template>
  <form class="basket__form">
    <h1 class="basket__title d-flex align-center">
      <i class="el-icon-shopping-cart-2"></i>
      <span>{{ $t("Your Basket") }}</span>
    </h1>

    <div class="basket__wrapper">
      <div v-for="(attr, key) in carts" :key="'attr'+key">
        <div class="basket__wrapper-box"  v-if="attr.baskets.length !== 0 || attr.inputs.length !== 0" >
          <h2>{{attr.attribute_name}}</h2>

          <!-- ***************** BASKETS  *********************** -->

          <div class="basket__list" v-for="(basket, key) in attr.baskets" :key="'basket'+key">
            <div v-for="(item, index) in basket.items" :key="'item'+index">
              <div class="basket__list--title d-flex jfy-bwn">
                <div class="remove__item">
                  {{ item.basket_items_label }}
                  <i
                    v-if="$router.currentRoute.name == 'Service' "
                    class="el-icon-close"
                    @click="removeBasket(item.item_id)"
                  ></i>
                </div>
              </div>
              <div class="basket__list--items d-flex jfy-bwn">
                <h2>{{ item.value }}:</h2>
                <p>
                  <span v-for="(service, i) in item.services" :key="'service' + i">
                    <span>
                      {{ service.value }}
                      <span v-if="i < item.services.length - 1">+</span>
                    </span>
                  </span>
                </p>
              </div>

              <div v-if="item.quantity_unit >1" class="basket__list--items d-flex jfy-bwn">
                <h2 v-if="item.quantity_unit_label != ''">{{item.quantity_unit_label}}</h2>
                <h2 v-else>{{ $t("Quantity of") }}:</h2>
                <div class="basket__counter">
                  <div class="counter__wrap">
                    {{ item.quantity_unit }}
                    <!-- {{ item.SelectedCounter }} -->
                    <!-- <el-input-number v-model="num" :min="1" :max="10"></el-input-number> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ***************** END BASKETS *********************** -->
          <!-- ******************* OPTIONS ********************** -->

          <!-- <div class="" v-if="attr.options && attr.options.length !== 0">
            <div class="basket__list" >
              <div class="basket__list--title d-flex jfy-bwn">
                <h1>
                  {{attr.attribute_name}}
                </h1>
                <div class="remove__item">
                  
                  <i
                    class="el-icon-close"
                    @click="removeOption(attr.attribute_id)"
                    ></i
                  >
                </div>
              </div>
              <div class="basket__list--items d-flex jfy-bwn">
                <h2>{{attr.attribute_question}}:</h2>
                <p>
                  <span 
                    v-for="(option, i) in attr.options"
                    :key="'opt'+i">
                    {{option.value}}

                    <span v-if="i < attr.options.length - 1">+</span>
                  </span>

                </p>
              </div>
            </div>
          </div>-->
          <!-- **************** END OPTION ********************** -->
          <!-- ****************   INPUTS   ********************** -->

          <div class v-if="attr.inputs && attr.inputs.length !== 0">
            <div class="basket__list" v-for="(input, i) in attr.inputs" :key="'input'+i">
              <div class="basket__list--title d-flex jfy-bwn">
                <h1>{{input.label}}</h1>
                <div class="remove__item" v-if="$router.currentRoute.name == 'Service' ">
                  <i class="el-icon-close" @click="removeInput(attr.attribute_id)"></i>
                </div>
              </div>
              <div class="basket__list--items d-flex jfy-bwn">
                <h2>{{input.label}}:</h2>
                <p>
                  <span>
                    {{input.value}}
                    <span v-if="i < attr.inputs.length - 1">+</span>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <!-- **************** END INPUTS ********************** -->
        </div>
      </div>
      <!--  -->

      <!-- ******************* OPTIONS ********************** -->
      <div v-if="option_length.length !== 0" class="basket__wrapper-box">
        <h2>{{category.title}}</h2>

        <div class="basket__wrapper-box-options" v-for="(attr, key) in carts" :key="'attr1'+key">
          <div class v-if="attr.options && attr.options.length !== 0">
            <!-- <div class="remove__item">
                  <i class="el-icon-close" @click="removeOption(attr.attribute_id)"  ></i>
            </div>-->
            <div class="basket__list--items d-flex jfy-bwn">
              <h2>{{attr.attribute_question}}:</h2>
              <p>
                <span v-for="(option, i) in attr.options" :key="'opt'+i">
                  {{option.value}}
                  <span v-if="i < attr.options.length - 1">+</span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- **************** END OPTION ********************** -->
      <!--  -->
      <!-- ***************** ADDRESS *********************** -->
      <div v-if="order_address" class="basket__list basket__wrapper-box">
        <div class="basket__list--items d-flex jfy-bwn">
          <h2>{{ $t("Address") }}:</h2>
          <p>
            <span>{{order_address.address}}</span>
          </p>
        </div>
        <div class="basket__list--items d-flex jfy-bwn">
          <h2>{{ $t("Date") }}:</h2>
          <p>
            <span>{{order_address.date}}</span>
          </p>
        </div>
        <div class="basket__list--items d-flex jfy-bwn">
          <h2>{{ $t("Time") }}:</h2>
          <p>
            <span>{{order_address.time}}</span>
          </p>
        </div>
      </div>
      <!-- ***************** END ADDRESS *********************** -->
      <!-- ***************** PROVIDER *********************** -->
      <div class="basket__list basket__wrapper-box" v-if="provider">
        <div class="basket__list--items d-flex jfy-bwn">
          <h2>{{ $t("Provider") }}:</h2>
          <p>
            <span>{{provider.firm_name}}</span>
          </p>
        </div>
        <div class="basket__list--items d-flex jfy-bwn">
          <h2>{{ $t("Price") }}:</h2>
          <p>
            <span>AED {{ provider.prices }}</span>
          </p>
        </div>
        <div v-if="request_type" class="basket__list--items d-flex jfy-bwn">
          <h2>{{ $t("Choose deliver") }}:</h2>
          <p>
            <span>{{ request_type }}</span>
          </p>
        </div>
      </div>
      <!-- ***************** END PROVIDER *********************** -->
      <!-- ***************** EMPTY CART *********************** -->
      <div
        class="basket__list basket__list-empty"
        v-if="!provider &&  !order_address && carts.length == 0"
      >
        <img src="/img/empty-cart.png" alt />
      </div>
      <!-- ***************** EDN EMPTY CART *********************** -->
    </div>
  </form>
</template>

<style>
.basket__wrapper-box,
.basket__list-empty {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 15px;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
.basket__list--items > h2 i {
  float: left;
}

/* .counter__wrap {
        border: 1px solid #ddd;
        border-radius: 3px;
    } */

.counter__wrap .el-input-number {
  width: 130px;
}

.counter__remove,
.counter__add {
  width: 30px;
  height: 30px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
}

.counter__remove:hover,
.counter__add:hover {
  background: #e0e0d1;
}

.counter__remove i,
.counter__add i {
  font-size: 18px;
}

.counter__result input {
  display: block;
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  outline: none;
}

.remove__item i {
  position: absolute;
  right: 6px;
  font-size: 20px;
  margin-top: 0.25rem;
  cursor: pointer;
}

.basket__wrapper-box > h2 {
  font-family: var(--font-Medium);
  margin-bottom: 0.5rem;
}

/* .basket__wrapper {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 4px;
    } */

/* .basket__list {
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
    }

    .basket__list:last-child {
        margin-bottom: 0;
    } */

.basket__list > * {
  margin-bottom: 15px;
  line-height: 1.75;
}

.basket__list--title,
.basket__list--items > h2 {
  font-family: var(--font-Medium);
}

.basket__list--items > h2 {
  padding-right: 15px;
}

.basket__list--items > * {
  font-size: 14px;
}

.basket__list--items > :last-child {
  text-align: right;
}

.deliver__basket {
  padding-left: 50px;
}

.basket__title {
  font-family: var(--font-Medium);
  position: absolute;
  top: -55px;
}

.basket__title span {
  font-size: 24px;
}

.deliver__right {
  position: relative;
}
</style>

<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import { log } from "util";

export default {
  data() {
    return {
      carts: [],
      path: "",
      num: 1
    };
  },
  computed: {
    ...mapGetters({
      provider: "cart/provider",
      order_address: "cart/order_address",
      cart: "cart/cart",
      category: "category/cart_category",
      request_type: "cart/request_type"
    }),
    option_length: function() {
      return this.cart.filter(item => {
        return item.options.length !== 0;
      });
    }
  },
  watch: {
    cart: {
      handler: function() {
        this.carts = JSON.parse(JSON.stringify(this.cart));
      },
      deep: true,
      immediate: true
    }
  },
  mounted() {
    this.carts = JSON.parse(JSON.stringify(this.cart));
  },
  methods: {
    ...mapActions({
      removeBasketItem: "cart/removeBasketItem",
      removeOptionItem: "cart/removeOptionItem",
      removeInputsItem: "cart/removeInputsItem",
    }),
    removeBasket(id) {
      this.removeBasketItem(id)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    removeOption(attrbute_id) {
      this.removeOptionItem(attrbute_id)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    removeInput(attrbute_id) {
      this.removeInputsItem(attrbute_id)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
