<template>
  <div>
    <div class="form__continue--button" v-if="next">
      <!-- <router-link to="/time-and-location"> -->
        <el-button @click="Continue" class="btn d-flex align-center jfy-bwn">
          {{$t('Continue')}}
          <i class="el-icon-arrow-right"></i>
        </el-button>
      <!-- </router-link> -->
    </div>
    <div class="form__continue--button" v-else>
      <el-button
        :loading="loadingButton"
        class="btn d-flex align-center jfy-bwn"
        @click="findProvider"
      >
        <span class="d-flex align-center jfy-bwn">
          {{ $t('Find Provider') }}
          <i class="el-icon-arrow-right"></i>
        </span>
      </el-button>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      next: false,
      loadingButton: false
    };
  },
  computed: {
    ...mapGetters({
      order: "cart/order",
      cart: "cart/cart",
      city_id: "cities/city_id",
      cart_category: "category/cart_category",
      request_type: "cart/request_type"
    })
  },
  methods: {
    ...mapActions({
      find: "provider/findProvider"
    }),
    async findProvider() {
      this.loadingButton = true;
      let data = await this.findDatas();

      await this.find(data)
        .then(res => {
          if (res.data.providers.length !== 0) {
            this.next = true;
            this.Alert("Success", "#ffffff", "Providers found");
          } else {
            this.Alert("Warning", "#ffffff", "Provider not found");
          }
          this.loadingButton = false;
        })
        .catch(err => {
          this.loadingButton = false;
        });
    },
    Continue(){
      if (this.cart_category.collect_return == true && this.request_type == '') {
        this.Alert('Warning', '#fff', 'Please, change Choose deliver')
      }
      else{
        this.$router.push('/time-and-location');
      }
    },
    findDatas() {
      let services = [];
      let options = [];
      for (let i = 0; i < this.cart.length; i++) {
        const attribute = this.cart[i];
        // services
        for (let j = 0; j < attribute.baskets.length; j++) {
          const basket = attribute.baskets[j];
          for (let k = 0; k < basket.items.length; k++) {
            const item = basket.items[k];
            for (let s = 0; s < item.services.length; s++) {
              const service = item.services[s];
              services.push({
                id: service.service_id,
                counter: item.quantity_unit,
                item_id: item.item_id
              });
            }
          }
        }
        // end services
        // options
        
        for (let o = 0; o < attribute.options.length; o++) {
          const option = attribute.options[o];
          options.push(option.id);
        }
        // end options
      }

      let data = {
          city_id: this.city_id ? this.city_id.city_id : null,
          services: services,
          options: options
      }

      return data;
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result.toLowerCase()
      });
    }
  }
};
</script>