<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">Terms and conditions</h1>

        <div class="inner-wrap">
          <div class="terms__text">
            <h1 class="title">Rules and terms</h1>
            <div class="text-descr">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>

            <h1 class="title">Our policy</h1>
            <div class="text-descr">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>

            <h1 class="title">Privacy policy</h1>
            <div class="text-descr">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>

            <div class="text-descr">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
            <div class="text-descr">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>

            <div class="go-back">
              <router-link
                to="/sign-up"
                class="btn d-flex align-center jfy-bwn"
              >
                <i class="el-icon-arrow-left"></i>
                Go Back
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.terms__text {
  padding: 30px;
}

.go-back .Button-anchor {
  justify-content: initial;
}

.go-back .Button-anchor span {
  order: 1;
  margin-left: 25px;
}

.go-back .Button-anchor i {
  transform: rotate(180deg);
}

.header-overlay {
  height: 258px;
  background: #f1f1f0;
  margin-bottom: -150px;
}

.inner-wrap-title {
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0, 28);
  font-size: 32px;
  line-height: 39px;
  font-family: var(--font-Medium);
  margin-bottom: 40px;
}

.title {
  font-size: 18px;
  line-height: 22px;
  font-family: var(--font-Medium);
}

.text-descr {
  margin: 8px 0 27px;
  line-height: 24px;
  font-size: 14px;
}
</style>

<script>
export default {
  name: "TermsAndConditions"
};
</script>
