blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  --font-Medium: "NeoSans-Medium";
  --font-Regular: "NeoSans-Regular";
  --font-Heebo: var(--font-Heebo);
  --font-Heebo-Medium: "HeeboMedium";
  --hover: #f5d200;
  --main-color: #fceb10;
  line-height: 1.5;
  font-family: var(--font-Regular), Arial, sans-serif;
  color: #1c1c1c;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

div[data-language="arabic"] {
  --font-Regular: "Cairo-Regular";
  --font-Medium: "Cairo-Bold";
  --font-Heebo: "Cairo-Bold";
  --font-Heebo-Medium: "Cairo-Medium";
}

@font-face {
  font-family: "NeoSans-Regular";
  /* src: url("../fonts/NeoSansPro/NeoSansPro-Regular.ttf"); */
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "NeoSans-Medium";
  /* src: url("../fonts/NeoSansPro/NeoSansPro-Medium.ttf"); */
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cairo-Regular";
  src: url('../fonts/Cairo/Cairo-Regular.ttf');
}

@font-face {
  font-family: "Cairo-Medium";
  src: url('../fonts/Cairo/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: "Cairo-Bold";
  src: url('../fonts/Cairo/Cairo-Bold.ttf');
}

@font-face {
  font-family: var(--font-Heebo);
  src: url("../fonts/Heebo/Heebo-Bold.ttf");
}

@font-face {
  font-family: "HeeboMedium";
  src: url("../fonts/Heebo/Heebo-Medium.ttf");
}

a {
  color: initial;
  outline: none !important;
  text-decoration: none;
}

input {
  outline: none !important;
}

/************************** HELPER CLASSES ***********************************/
.inital {
  color: initial;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.--form-input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 5px #00000094;
  outline: none;
  font-size: 14px;
}

.max-none {
  max-width: none !important;
}

.d-block {
  display: block;
}

.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.d-flex,
.child--center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.f-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-center,
.child--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center,
.child--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jfy-bwn {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.f-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-50 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}

.transition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.m-4 {
  margin: 4rem 0;
}

.p-1 {
  padding: 1rem 0;
}

.p-2 {
  padding: 2rem 0;
}

.p-4 {
  padding: 4rem 0;
}

.text-center {
  text-align: center;
}

/************************* END HELPER CLASSES ********************************/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 0 1.5px;
  font-size: 1.05em;
  font-family: "FontAwesome";
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label {
  color: #ff9800;
}

.el-dialog__header {
  display: none;
}

.login__dialog .el-dialog {
  width: 425px;
  background: initial;
  box-shadow: initial;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-active {
  color: #e6a23c !important;
  font-weight: initial !important;
}

.modal__overlay {
  z-index: 3 !important;
}

.auth-user-avatar {
  border: 2px solid #fceb10 !important;
}

.avatar-uploader {
  height: 100%;
}

.el-upload {
  width: 100%;
  height: 100%;
}

.auth-form-group .col-6 {
  position: relative;
}

.auth-form_wrap .login {
  color: #626262;
}

.demonstration {
  margin-bottom: 4px;
  display: block;
  font-size: 14px;
}

.reset__password {
  padding-top: 15px;
}

.sidebar-header .header-navigation-ul li .vs-con-dropdown .a-icon {
  padding: 15px 0;
}

@media (max-width: 420px) {
  .login__dialog .el-dialog {
    width: 100%;
    margin-top: 0 !important;
  }
  .steps__circle::before,
  .steps__circle::after {
    width: 45px !important;
  }
  .provider__detail--list > div {
    width: calc(100% - 15px);
  }
}

@media (max-width: 578px) {
  .provider__detail--list {
    flex-wrap: wrap;
  }

  body .content-back {
    transform: translateY(-15px);
  }

  .custom__dialog .el-dialog,
  .provider__detail--list > div {
    width: calc(100% - 15px) !important;
  }

  .provider__list--upload {
    margin-bottom: 15px !important;
  }

  .login,
  .subscribe-btn a {
    width: 100%;
  }

  .ticket--number {
    position: absolute;
    top: -5px;
    margin-left: 15px !important;
    box-shadow: 0 0 6px #00000017;
  }

  .request__canceled {
    font-size: 1rem !important;
  }
}

.LoginView {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
}

.laundry__select .el-select__tags {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.laundry__select .el-select .el-select__tags > span {
  display: flex;
}

.el-select-dropdown__item span {
  display: inline-block;
  margin-right: 15px;
}

.vuesax-app-is-ltr .service__dropdown .vs-collapse-item--icon-header {
  right: -3px;
}

.vuesax-app-is-ltr .service__dropdown .vs-collapse-item--icon-header i {
  opacity: 0.4;
  font-size: 20px;
}

/********************************** RTL ******************************************/

.container[dir="rtl"] .header-logo {
  margin-right: 0;
}

.container[dir="rtl"] .header-form {
  margin-right: 10px;
}

.container[dir="rtl"] .user-notification {
  margin-left: 5px;
  margin-right: 5px;
}

.container[dir="rtl"] .navigation-ul-list {
  padding: 1px 10px 0 10px;
}

.feature-block[dir="rtl"]
  .features-wrap-items
  .featured__column:last-child
  .features-box::before,
.feature-block[dir="rtl"]
  .features-wrap-items
  .featured__column:first-child
  .features-box::after {
  display: none;
}

.feature-block[dir="rtl"]
  .features-wrap-items
  .featured__column:last-child
  .features-box::after,
.feature-block[dir="rtl"]
  .features-wrap-items
  .featured__column:first-child
  .features-box::before {
  display: block;
}

.footer[dir="rtl"] .footer-nav-list a i {
  margin-right: 0;
  margin-left: 8px;
}

.main__wrap[dir="rtl"] .sidebar-wrap .sidebar-header {
  padding-right: 10px;
  padding-left: 0;
}

.main__wrap[dir="rtl"] .sidebar-wrap {
  left: initial;
  right: 0;
  transform: translateX(100%);
}

@media (min-width: 600px) {
  .mobile-bottom-basket {
    display: none;
  }
}

@media (max-width: 600px) {
  body .mobile-bottom-basket {
    display: block;
  }
  .container[dir="rtl"] .navigation-ul-list {
    padding: 1px 10px 0 0px;
  }
  .container[dir="rtl"] .header-logo > img {
    transform: translate(-15px, 0px);
  }
  .dialog-rate .dialog-footer {
    display: flex;
    justify-content: space-between;
  }

  .dialog-rate .dialog-footer > button {
    width: calc(50% - 10px);
  }

  .dialog-rate .el-dialog,
  .el-message-box {
    width: calc(100% - 20px) !important;
  }

  .dialog-rate .el-rate__icon {
    font-size: 2rem !important;
  }

  .dialog-rate .el-rate__text,
  .modal-rate {
    font-size: 18px !important;
  }

  .form__area.d-flex.jfy-bwn {
    flex-wrap: wrap;
  }

  .form__tab--items .con-vs-radio {
    padding: 15px 10px !important;
  }

  .form__tab--items .vs-radio--label {
    font-size: 13px !important;
  }

  .main__wrap[dir="rtl"]
    .user
    .header-navigation-ul
    li:last-child
    .vs-con-dropdown {
    width: 150px;
  }

  .user .container[dir="rtl"] .user-notification {
    margin-left: 5px;
    margin-right: 0;
  }

  .user .container[dir="rtl"] .header-logo {
    margin-right: 40px;
  }

  .user .container[dir="rtl"] .header-navigation {
    width: 80px;
    justify-content: initial !important;
  }

  .header-wrap .header-navigation-ul li[data-v-b4dee3ba]:last-child {
    padding-right: 0;
  }

  .main__wrap[dir="rtl"]
    .header-wrap
    .header-navigation-ul
    li[data-v-b4dee3ba]:last-child {
    padding-right: 10px;
  }

  .main__wrap[dir="rtl"]
    .not_user
    .header-wrap
    .header-navigation-ul
    li[data-v-b4dee3ba]:last-child {
    padding-left: 0;
  }

  .laundry__checkbox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .service__dropdown .vs-collapse-item--content {
    overflow-y: scroll;
  }
}

.login-form[dir="rtl"] .label-check,
.AuthPage[dir="rtl"] .label-check {
  right: initial;
  left: 10px;
}

.login-form[dir="rtl"] .login-form-save .con-slot-label {
  margin-right: 5px;
}

/* body.active .con-vs-dropdown--menu.userDropdown .vs-dropdown--menu--after {
	right: initial;
    left: 20px;
} */

.progress__steps a {
  display: block;
}

.steps__text,
.current__step.prev__step + .steps__text:hover {
  color: #42ab44;
}

.content-wrap[dir="rtl"]
  .header--progress
  .progress__steps:first-child
  .steps__circle::after,
.content-wrap[dir="rtl"]
  .header--progress
  .progress__steps:last-child
  .steps__circle::before,
.main__wrap[dir="rtl"]
  .header--progress
  .progress__steps:first-child
  .steps__circle::after,
.main__wrap[dir="rtl"]
  .header--progress
  .progress__steps:last-child
  .steps__circle::before,
.wrap-all[dir="rtl"]
  .header--progress
  .progress__steps:first-child
  .steps__circle::after,
.wrap-all[dir="rtl"]
  .header--progress
  .progress__steps:last-child
  .steps__circle::before {
  display: none;
}

.content-wrap[dir="rtl"]
  .header--progress
  .progress__steps:first-child
  .steps__circle::before,
.content-wrap[dir="rtl"]
  .header--progress
  .progress__steps:last-child
  .steps__circle::after,
.main__wrap[dir="rtl"]
  .header--progress
  .progress__steps:first-child
  .steps__circle::before,
.main__wrap[dir="rtl"]
  .header--progress
  .progress__steps:last-child
  .steps__circle::after,
.wrap-all[dir="rtl"]
  .header--progress
  .progress__steps:first-child
  .steps__circle::before,
.wrap-all[dir="rtl"]
  .header--progress
  .progress__steps:last-child
  .steps__circle::after {
  display: block;
}

.main__wrap[dir="rtl"] .deliver__basket {
  padding-left: 0;
  padding-right: 50px;
}

.main__wrap[dir="rtl"] .deliver__basket .remove__item i {
  right: initial;
  left: 18px;
}

.main__wrap[dir="rtl"] .Button-anchor i {
  transform: rotateZ(180deg);
}

.main__wrap[dir="rtl"] .label-check {
  right: initial;
  left: 10px;
}

@media (max-width: 1060px) {
  .main__wrap[dir="rtl"] .deliver__basket,
  .main__wrap[dir="rtl"] .basket__list--items > h2 {
    padding-right: 0 !important;
  }

  .main__wrap[dir="rtl"] .deliver__location {
    padding-left: 0 !important;
  }

  .form__tab--wrap,
  .policy-term,
  .checkout__login {
    width: 100% !important;
  }

  .policy-term {
    margin-bottom: 20px;
  }

  .checkout__wrap {
    margin: 0 0 30px !important;
  }
}

@media (max-width: 480px) {
  .no-wrap {
    flex-wrap: nowrap !important;
  }

  .category-list-items {
    padding-left: 0;
    padding-right: 0;
  }

  .login__dialog .el-dialog__header {
    display: block;
  }

  .login__dialog {
    overflow: initial !important;
  }

  .login__dialog .el-dialog__headerbtn {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    line-height: 32px;
    box-shadow: 0 0 20px #0000004d;
  }

  .form__buttons,
  .provider-label {
    flex-wrap: wrap;
  }

  .provider-served {
    flex: initial !important;
    width: calc(100% - 40px);
  }

  .provider-include {
    padding-top: 15px;
  }

  .form__continue--button,
  .Button-anchor {
    width: 100% !important;
  }

  .main__wrap[dir="rtl"] .steps__circle::before,
  .main__wrap[dir="rtl"] .steps__circle::after {
    width: 60px;
  }

  .main__wrap[dir="rtl"] .progress__steps:last-child .steps__circle {
    margin-right: auto;
    margin-left: 0;
  }

  .main__wrap[dir="rtl"] .progress__steps:first-child .steps__circle {
    margin-left: auto;
    margin-right: 0;
  }

  .fc-button .fc-icon {
    font-size: 1em !important;
  }

  .fc-button {
    padding: 0.2em 0.4em !important;
  }

  .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: none !important;
    text-align: center;
    display: block;
  }

  .fc-toolbar h2 {
    font-size: 1.2rem !important;
  }
}

.main__wrap[dir="rtl"] .deliver__location {
  padding-right: 0;
  padding-left: 40px;
}

.main__wrap[dir="rtl"] .steps__circle i {
  transform: translate(2px, -2px);
}

.main__wrap[dir="rtl"] .el-date-editor.el-input,
.main__wrap[dir="rtl"] .el-date-editor.el-input__inner {
  width: 100% !important;
}

.main__wrap[dir="rtl"] .el-input--prefix .el-input__inner {
  width: 100% !important;
  padding-right: 10px;
}

.main__wrap[dir="rtl"] .form__tab--wrap {
  width: 95%;
  margin-left: 0;
  margin-right: auto;
}

.main__wrap[dir="rtl"] .form__tab--items .vs-radio--label {
  margin-left: 0;
  margin-right: 8px;
}

.main__wrap[dir="rtl"] .bottom-items--left {
  margin-right: 0;
  margin-left: 25px;
}

@media (max-width: 780px) {
  .provider__form--list {
    height: 15vh !important;
    max-width: calc(33.33333% - 15px) !important;
  }

  .provider__sub--list {
    flex: 0 1 50% !important;
  }
  .provider__form--sub {
    column-count: 2 !important;
  }
}

@media (max-width: 580px) {
  body .provider__form--sub {
    column-count: 1 !important;
  }
  .provider__form--list {
    max-width: calc(50% - 15px) !important;
  }

  .fc-view {
    overflow: scroll !important;
  }

  .fc-view > table {
    width: 1000px !important;
  }

  .request__status-input {
    flex-direction: column;
  }

  .request__status-input > div:last-child {
    display: block;
    width: calc(100% - 10px);
    margin-top: 15px;
  }

  .request__status-input .form-submit {
    margin-left: 0 !important;
  }
}

.main__wrap[dir="rtl"] .el-checkbox__label {
  padding-right: 10px;
  padding-left: 0;
}

.main__wrap[dir="rtl"] .user-name-dropdown {
  padding-left: 0;
  padding-right: 10px;
}

.time-location {
  flex-direction: column;
  height: 100%;
}

.time-location .form__buttons {
  margin-top: auto;
}

.form__continue--button {
  cursor: pointer;
}

.form-button__back i {
  display: none;
}

.input__upload-wrap,
.input__upload-wrap > div {
  width: 100%;
  height: 100%;
}

.input__upload-wrap > div {
  position: relative;
}

@media (max-width: 992px) {
  .service__items {
    flex: 0 1 calc(50% - 30px) !important;
  }
  .con-form__header {
    flex-wrap: wrap;
  }
  .con-form__header div {
    width: 33.3333% !important;
    margin-bottom: 15px;
  }
  .final-category-dialog .el-dialog {
    width: calc(100% - 30px) !important;
  }
}

@media (max-width: 600px) {
  body .catalog-service-wrap {
    padding-top: 80px;
  }

  .main__wrap[dir="rtl"] .not_user .header-logo {
    margin-right: 20px;
  }

  .service__items {
    flex: 0 1 calc(100%) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  body .fixed {
    top: 50px !important;
  }

  body.active
    .con-vs-dropdown--menu.notification-dropdown
    .vs-dropdown--menu--after {
    left: 39px;
  }
  /* 
  body.active .userDropdown.dropdownx-enter,
  body.active .userDropdown.dropdownx-leave-to {
    transform: translate(-30%, 8px) !important;
  }

  body.active .userDropdown {
    transform: translate(-30%);
  }

  body.active .userDropdown .vs-dropdown--menu--after {
    right: initial;
    left: 25px;
  } */
}

.main__wrap[dir="rtl"] .service__collapse .vs-collapse-item--header > div {
  padding-right: 0;
  padding-left: 20px;
}

.main__wrap[dir="rtl"] .service__collapse .vs-collapse-item--icon-header {
  right: initial;
  left: 20px;
  margin-top: 0;
}

.main__wrap[dir="rtl"] .not-collapse-link {
  padding-right: 10px;
  padding-left: 0;
}

.main__wrap[dir="rtl"] .header-form__result .vld-icon {
  right: initial;
  left: 10px;
}

.main__wrap[dir="rtl"] .card__items h1,
.main__wrap[dir="rtl"] .card__list--icon,
.main__wrap[dir="rtl"] .sub__collapse--text .material-icons,
.main__wrap[dir="rtl"] .collapse__category--check .vs-component,
.main__wrap[dir="rtl"] .collapse__category--cost {
  margin-right: 0 !important;
  margin-left: 15px !important;
}

.main__wrap[dir="rtl"] .collapse__list--text .select__counter {
  margin-right: 15px !important;
  margin-left: 0 !important;
}

.main__wrap[dir="rtl"] .card__list--icon {
  transform: scaleX(-1);
}

.main__wrap[dir="rtl"] .dashboard--collapse .el-tabs__active-bar {
  display: none;
}

.main__wrap[dir="rtl"] .el-tabs--top .el-tabs__item.is-top:last-child {
  padding-left: 0;
}

.main__wrap[dir="rtl"] .collapse-ticket__detail div i,
.main__wrap[dir="rtl"] .collapse-list-route a i {
  transform: rotate(90deg);
}

.collapse-ticket__detail {
  width: 250px !important;
  flex: initial !important;
}

.main__wrap[dir="rtl"] .category-list-text {
  font-size: 22px;
}

.main__wrap[dir="rtl"] .list-navigation li a,
.main__wrap[dir="rtl"] .footer-nav-list h1 {
  font-size: 17px;
  font-weight: bold;
}

.main__wrap[dir="rtl"] .service-title,
.main__wrap[dir="rtl"] .appstore-text > p {
  font-size: 20px;
}

.main__wrap[dir="rtl"] .footer-nav-list a {
  font-size: 16px;
}

.main__wrap[dir="rtl"] .user-profile-tabs i {
  margin-right: 0;
  margin-left: 15px;
}

.main__wrap[dir="rtl"] .label-title {
  font-size: 17px;
}

.main__wrap[dir="rtl"] .profile-form-avatar {
  margin-right: 50px;
  margin-left: 0;
}

.main__wrap[dir="rtl"] .user-profile-tabs span {
  font-weight: bold;
  font-size: 16px;
}

.main__wrap[dir="rtl"] .mr-3 {
  margin-right: 0;
  margin-left: 0.75rem;
}

.main__wrap[dir="rtl"] .inner-wrap-tab {
  border-left: 1px solid #e7e7e7;
}

.notification-dropdown .vs-dropdown--custom {
  padding: 0 !important;
}

.notification-dropdown {
  width: 305px !important;
  padding: 0;
}

.notification-dropdown__wrap {
  max-height: 255px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main__wrap[dir="rtl"] .footer-markers > div {
  margin-right: 0;
  margin-left: 45px;
}

.main__wrap[dir="rtl"] .subscribe-icon {
  padding-right: 0;
  padding-left: 28px;
  margin-left: 0;
}

@media (max-width: 320px) {
  body .steps__circle::before,
  body .steps__circle::after {
    width: 30px !important;
  }
  .login__dialog .Login {
    margin-top: 30px;
  }

  body.active .con-vs-dropdown--menu.notification-dropdown {
    transform: translate(-100%);
  }

  body.active .con-vs-dropdown--menu.notification-dropdown.dropdownx-enter,
  body.active .con-vs-dropdown--menu.notification-dropdown.dropdownx-leave-to {
    transform: translate(-100%, 8px) !important;
  }

  body .notification-dropdown[data-v-b4dee3ba] {
    width: 100% !important;
    left: 100% !important;
  }

  .user-notification {
    margin-right: 0 !important;
  }

  .navigation-ul-list {
    padding-right: 0 !important;
  }

  .header-logo > img {
    width: 115px !important;
  }

  .notification-dropdown .vs-dropdown--menu--after {
    right: 70px;
  }

  body.active
    .con-vs-dropdown--menu.notification-dropdown
    .vs-dropdown--menu--after {
    left: 83px;
  }

  .user .container[dir="rtl"] .header-logo {
    margin-right: 30px;
  }

  .main__wrap[dir="rtl"]
    .not_user
    .header-wrap
    .header-navigation-ul
    li[data-v-b4dee3ba]:last-child {
    margin-left: 0;
  }
}

/* body.active .notification-dropdown.dropdownx-enter,
body.active .notification-dropdown.dropdownx-leave-to {
  transform: translate(-20%, 8px) !important;
}

body.active .notification-dropdown {
  transform: translate(-20%);
}

body.active .notification-dropdown .vs-dropdown--menu--after {
  right: inherit;
  left: 45px;
} */

.not_user .header-navigation-ul li[data-v-b4dee3ba]:nth-child(3) {
  display: none;
}

.label-title {
  font-family: var(--font-Heebo);
  color: #0c0b0bd1;
}

.main__wrap[dir="rtl"] .checkout__wrap {
  margin-left: 30px;
}

.main__wrap[dir="rtl"] .checkout__login {
  width: 100%;
}

.checkout__login {
  padding: 20px !important;
}

.main__wrap[dir="rtl"] .el-input__suffix {
  right: initial;
  left: 5px;
}

.main__wrap[dir="rtl"] .el-input--suffix .el-input__inner {
  padding-right: 15px;
}

.main__wrap[dir="rtl"] .service__dropdown .vs-collapse-item--icon-header {
  right: initial;
  left: 18px;
}

.main__wrap[dir="rtl"] .laundry__checkbox {
  margin-right: 0;
}

.main__wrap[dir="rtl"] .checkbox--overlay {
  margin-right: 0;
  margin-left: 10px;
}

.main__wrap[dir="rtl"] .laundry__select .el-select__tags {
  padding-right: 10px;
}

.main__wrap[dir="rtl"]
  .laundry__select
  .el-select
  .el-tag__close.el-icon-close {
  right: 5px;
}

body.active .VueCarousel-inner {
  flex-direction: row-reverse;
}

body.active .password-visible {
  right: initial;
  left: 10px;
}

.category-list-item {
  position: relative;
  z-index: 11;
  margin: auto;
}

.category-list-item img {
  position: relative;
  z-index: 9;
}

.payment__radio .vs-radio--label {
  position: relative;
  width: 100%;
}

.payment__radio img {
  position: absolute;
  top: -12px;
  width: 85px;
  left: 5px;
}

.message-who > span {
  font-size: 12px !important;
  float: right;
  margin-top: 4px;
}

.video-wrap .container {
  padding: 0;
}

.container[dir="rtl"] .card__forum > div,
.main__wrap[dir="rtl"] .request-show > p {
  margin-right: 0px;
  margin-left: 15px;
}

.container[dir="rtl"] .card__forum > div i {
  margin-right: 0px;
  margin-left: 5px;
}

.container[dir="rtl"] .el-pagination .btn-next .el-icon,
.container[dir="rtl"] .el-pagination .btn-prev .el-icon,
.main__wrap[dir="rtl"] .el-pagination .btn-next .el-icon,
.main__wrap[dir="rtl"] .el-pagination .btn-prev .el-icon {
  transform: rotate(180deg);
}

.main__wrap[dir="rtl"] .vs--details a i {
  transform: rotate(90deg);
}

.user__comment-send {
  flex-direction: row-reverse;
}

.user__comment-send .avatar-circle {
  margin-left: auto;
}

.UserDashboard[dir="rtl"] .user__comment-send .avatar-circle {
  margin-right: .5rem;
}

.ticket--number {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #fceb10;
  text-align: center;
  font-family: var(--font-Medium);
  margin-left: auto;
  line-height: 25px;
  font-size: 12px !important;
}

.request__canceled {
  background: rgba(var(--vs-danger));
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 0.375rem;
  font-family: var(--font-Heebo);
  font-size: 1.1rem;
}

.user-profile-tabs {
  position: relative;
}

.laundry__inputs {
  opacity: 1 !important;
  visibility: visible !important;
  display: none !important;
}

.laundry__items.active .laundry__inputs {
  display: flex !important;
}

.user-selection {
  padding: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.375rem;
  font-size: 14px;
  margin-bottom: 15px;
}

.user-selection:last-child {
  margin-bottom: 0;
}

.user-selection__title,
.text,
.user-selection__list span {
  font-family: var(--font-Heebo);
}

.user-selection__ul {
  margin: 0.5rem 1rem 0rem 1rem;
  line-height: 2;
}

.user-selection__list {
  list-style: disc;
  letter-spacing: 0.2px;
  margin-bottom: 5px;
}

.user-selection__list:last-child {
  margin-bottom: 0;
}

.user-selection__list-text {
  position: relative;
}

.user-selection__list-text::after {
  content: "\e6e9";
  font-family: "element-icons" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  font-size: 15px;
  top: 7px;
  left: -20px;
}

.card__list--text h1,
.card__list--text p {
  margin-bottom: 0.5rem;
}

.card__list--anchor {
  display: inline-block;
  font-size: 13px;
  background: #fceb10;
  color: #000;
  opacity: 1;
  padding: 0.25rem 0.6rem 0.25rem 0.5rem;
  border-radius: 0.275rem;
  margin-bottom: 0.25rem;
}

.card__list--anchor:hover {
  background: var(--hover);
}

.card__list--status h1,
.card__list--status p {
  opacity: 0.6;
  margin-bottom: 0.25rem;
}

.card__list--text {
  width: 100%;
}

.line-horizontal {
  width: 100%;
  border: solid 1px #e7e7e780;
  border-radius: 3px;
  margin: 20px 0;
}

.collapse-item__empty {
  padding: 1rem;
  display: block;
  text-align: center;
  font-size: 14px;
  background: #fceb10;
}

.collapse-datepicker {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
}

.dashboard--collapse {
  position: relative;
}

.collapse-datepicker .el-date-editor .el-range-separator {
  width: 15%;
}

.dashboard--collapse .el-tabs__nav {
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .collapse-datepicker .el-range-editor.el-input__inner {
    width: 220px;
  }
  .dashboard--collapse .el-tabs__item {
    padding: 0 15px;
  }
}

@media (min-width: 578px) {
  .mobile-date-picker {
    display: none;
  }
}

@media (max-width: 579px) {
  .card-list__box {
    flex-wrap: wrap;
  }
  .card-list__box .card__list--icon {
    display: none;
  }
  .card-list__box .collapse-list-route {
    width: 100%;
    margin-top: 0.5rem;
  }
  .request-table .el-table__body,
  .request-table .el-table td,
  .request-table .el-table tr,
  .request-table tbody {
    width: 100% !important;
    display: block !important;
  }
  .request-table .el-table .cell {
    padding: 0;
  }
  .user-tabs-profile {
    width: 100% !important;
  }
  .device-date-picker {
    display: none !important;
  }
  .mobile-date-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .date-picker__start,
  .date-picker__end {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
  .date-picker__start .el-date-editor.el-input,
  .date-picker__end .el-date-editor.el-input,
  .date-picker__button {
    width: 100%;
  }
  .date-picker__button button {
    display: block;
    width: 100%;
    background: #fceb10;
    border: none;
    padding: 12px;
    border-radius: 0.375rem;
    font-family: var(--font-Medium);
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .collapse-datepicker {
    position: relative;
    margin-bottom: 10px;
  }
  .collapse-datepicker .el-range-editor.el-input__inner {
    width: 100%;
  }
  .el-date-table th,
  .el-date-range-picker__header div {
    font-size: 13px !important;
  }
  /* .el-date-range-picker__content {
        float: none !important;
    } */
  .dashboard--collapse .collapse__list {
    overflow: initial !important;
  }
  .collapse__list-point .vs-collapse,
    .collapse-ticket__detail,
    /* .el-date-range-picker__content, */
    .collapse__text,
    .collapse__text,
    .collapse__status,
    .collapse__date,
    .collapse__cost {
    width: 100% !important;
  }

  .collapse__items,
  .collapse-ticket__detail {
    flex-direction: column !important;
  }
  .collapse__text {
    margin-bottom: 5px;
  }
  .collapse__text,
  .collapse__status,
  .collapse__date,
  .collapse__cost {
    margin-bottom: 10px;
    flex: initial;
  }
  .collapse-ticket__detail {
    align-items: initial !important;
  }
  .ticket__text {
    margin: 0 0 10px 10px !important;
  }
}

@media (max-width: 768px) {
  .dashboard--collapse .request__article .request-article__body {
    flex-wrap: wrap;
  }
  .dashboard--collapse
    .request__article
    .request-article__body
    .requst-status-text {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .dashboard--collapse
    .request__article
    .request-article__body
    .requst-status-descr {
    width: 100%;
    padding: 0;
    border: none;
  }
  body .collapse-service-list {
    padding: 1rem 0;
  }
  body .collapse__wrap--items .basket__wrapper {
    width: 100%;
  }
  .el-date-range-picker.has-sidebar {
    width: 100% !important;
    position: fixed !important;
    /* top: 0 !important; */
    /* bottom: 0 !important; */
    margin: 0 !important;
  }
  .el-picker-panel__sidebar {
    display: none;
  }
  .el-picker-panel__body {
    margin: 0 !important;
    min-width: 100% !important;
    width: 100%;
  }
  .con-form__header div {
    width: 50% !important;
  }
}

.tab-pane__counter {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 18px;
  height: 18px;
  background: red;
  color: #fff;
  border-radius: 100%;
  font-size: 10px;
  font-family: var(--font-Heebo);
  text-align: center;
  line-height: 2;
}

.dashboard--collapse .el-tabs__item {
  padding-right: 20px !important;
  font-size: 13px;
  font-family: var(--font-Heebo);
}

.service-column-wrap {
  column-count: 2;
  column-width: 300px;
}

.service-column-wrap .service__items {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.service__dropdown .vs-collapse-item--content {
  overflow-y: scroll;
}

.service__dropdown .vs-collapse-item--content::-webkit-scrollbar,
.content-scroll .vs-dropdown--menu::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.service__dropdown .vs-collapse-item--content::-webkit-scrollbar-thumb,
.content-scroll .vs-dropdown--menu::-webkit-scrollbar-thumb {
  background-color: #9e9e9e61;
  border-radius: 20px;
}

.content-scroll .vs-dropdown--menu {
  max-height: 350px;
  overflow-y: scroll;
}

.label-check.success {
  background: #55d775;
}

.label-check.danger {
  background: #ff4757;
}

.label-check.success i.check__icon,
.label-check.danger i.error__icon {
  opacity: 1;
  transition: 200ms ease-in;
}

.label-check i {
  position: absolute;
  opacity: 0;
  font-size: 14px;
  color: #fff;
}

.position-relative {
  position: relative;
}

@media (max-width: 920px) {
  .sub__collapse--category {
    flex-wrap: wrap;
  }

  .collapse__label {
    width: 100%;
    margin-bottom: 15px;
  }

  .collapse__category--cost,
  .collapse__category--discount {
    flex: 0 1 50%;
  }
}

@media (max-width: 578px) {
  .request__status .el-select,
  .change-cost-form .change-cost-div {
    width: 100%;
    margin-bottom: 1rem;
  }
  .request__status .el-button,
  .change-cost-form .status-btn {
    width: 100%;
    margin: 0;
  }
  .collapse__category--cost,
  .collapse__category--discount {
    flex: 0 1 100%;
  }
  .collapse__category--cost {
    margin-bottom: 10px;
  }
  .provider__sub--list {
    flex: 0 1 100% !important;
    padding-right: 0 !important;
  }
  .provider__sub--list .el-checkbox {
    display: flex !important;
  }
  /* .provider__sub--list .el-checkbox .el-checkbox__input {
    margin-top: 5px;
  } */
}

.el-checkbox {
  white-space: initial !important;
}

.mr-3 {
  margin-right: 0.75rem;
}

.font-bold {
  font-weight: bold;
}

@media (max-width: 600px) {
  .header-remove {
    display: none !important;
  }
}

body.active .a-icon {
  font-family: var(--font-Heebo);
  font-size: 15px;
}

/* body.active .fearues-desc-text {
  color: #000;
  font-size: 17px;
  font-weight: bold;
} */

.route-back,
.go__back {
  border: none;
  outline: none;
  background: #ffef00;
  font-family: var(--font-Medium);
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

.route-back:hover,
.go__back:hover {
  background: var(--hover);
}

.route-back i {
  font-weight: bold;
  font-size: 13px;
  line-height: initial;
}

.close-button--disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: #ddd;
  border-color: #ddd !important;
  opacity: 0.5;
}

.notification-dropdown .el-dropdown-menu__item {
  line-height: initial;
  padding: 0;
}

.service__dropdown .vs-collapse-item--content::-webkit-scrollbar,
.content-scroll .vs-dropdown--menu::-webkit-scrollbar,
.notification-dropdown__wrap::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.service__dropdown .vs-collapse-item--content::-webkit-scrollbar-thumb,
.content-scroll .vs-dropdown--menu::-webkit-scrollbar-thumb,
.notification-dropdown__wrap::-webkit-scrollbar-thumb {
  background-color: #9e9e9e61;
  border-radius: 20px;
}

.userDropdown .user-router {
  padding: 0.25rem 0;
}

.userDropdown .el-dropdown-menu__item {
  line-height: 0;
  padding: 0;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: initial;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #ffba00;
  border-color: #ffba00;
}

.header-search .el-icon-search {
  font-size: 18px;
}

.header-language:hover {
  background-color: #ecf5ff;
  color: #66b1ff;
}

.el-carousel__indicators--outside button {
  background-color: #000;
}
.btn {
  min-width: 200px;
  width: 200px;
  padding: 15px;
}
.btn-sm {
  min-width: 130px;
  width: 130px;
  padding: 10px;
}
.btn,
.btn-sm {
  background: #ffef00;
  border-radius: 4px;
  font-family: var(--font-Heebo);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.25s all;
  height: 52px;
}

.btn:hover,
.btn-sm:hover,
.btn:focus,
.btn-sm:focus {
  background: #f5d200;
  color: inherit !important;
}

.feature-block {
  background: #ececec;
  padding: 58px 0 64px;
}

.features-number {
  position: absolute;
  border-radius: 100%;
  font-family: var(--font-Heebo);
  color: rgba(28, 28, 28, 0.42);
  font-size: 18px;
  width: 41px;
  height: 41px;
  background: #ffed91;
}

.features-box {
  width: 120px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(198, 198, 198, 0.5);
  border-radius: 100%;
  margin: auto;
  position: relative;
}

.features-box::after,
.features-box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #d8d8d8;
  top: 50%;
}

.features-box::after {
  right: -100px;
}

.features-box::before {
  left: -100px;
}

.features-box.no--before::before,
.features-box.no--after::after {
  display: none;
}

.features-wrap > h1 {
  font-size: 32px;
  font-family: var(--font-Medium);
  margin-bottom: 40px;
}

.fearues-desc-title {
  font-family: var(--font-Medium);
  margin: 17px auto 10px;
  max-width: 150px;
  font-size: 18px;
  line-height: 23px;
}

.fearues-desc-text {
  color: #868686;
  line-height: 20px;
  padding: 0 15px;
  font-family: var(--font-Regular);
}

/* ************************  MEDIA ************************************* */

@media (max-width: 992px) {
  body .final-dialog-wrap .el-dialog {
    max-width: calc(100% - 40px);
  }
  .features-box::after,
  .features-box::before {
    display: none !important;
  }

  .featured__column {
    width: 50% !important;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .featured__column {
    width: 100% !important;
  }

  .features-wrap > h1 {
    font-size: 25px;
  }

  .feature-block {
    padding: 30px 10px;
  }
  .status__text,
  .damn-designer-mistake {
    flex-wrap: wrap;
  }

  body .status__text > * {
    width: 100%;
  }

  .request__status .el-select,
  .change-cost-form .change-cost-div {
    margin-top: 10px;
  }

  .damn-designer-mistake a.btn {
    margin-left: 0 !important;
    margin-top: 1rem !important;
  }
}

.why-love-text {
  padding-bottom: 50px;
  border-bottom: 1px solid #f5d200;
  padding-left: 10px;
}

.why-love-block {
  background: #ffef00;
  padding: 58px 0 78px;
}

.text-left {
  flex: 0 1 60%;
}

.text-left > h1 {
  font-size: 32px;
}

.text-left > p {
  margin: 20px 0 20px;
}

.text-left > a,
.text-left > h1,
.bottom-items--right > h1 {
  font-family: var(--font-Medium);
}

.text-left > a {
  color: inherit;
  font-size: 16px;
}

.why-love-counter {
  flex: 0 1 32%;
  padding-top: 30px;
}

.counter-items {
  width: 90px;
}

.counter-items strong {
  display: inline-block;
  font-family: var(--font-Heebo);
  font-size: 36px;
  line-height: 44px;
  border-bottom: 3px solid #f5d200;
}

.counter-items strong + span {
  display: block;
  transform: translateY(11px);
  line-height: 1;
}

.why-love-bottom {
  padding-top: 55px;
}

.why-love-bottom-items {
  flex: 0 1 32%;
}

.bottom-items--left {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.18);
  background: #ffdd33;
  margin-right: 24px;
}

.bottom-items--right {
  flex: 1;
  margin-top: -4px;
}

.bottom-items--right > h1 {
  font-size: 18px;
  margin-bottom: 11px;
}

.bottom-items--right > p {
  /* font-weight: 600; */
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
  font-family: var(--font-Regular);
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1024px) {
  .why-love-block {
    padding: 60px 15px;
  }

  .why-love-text {
    flex-wrap: wrap;
  }

  .text-left {
    flex: 0 1 100%;
  }

  .why-love-bottom-items {
    flex-direction: column;
  }

  .bottom-items--left {
    margin: auto auto 20px !important;
  }

  .bottom-items--right {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .why-love-bottom {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .why-love-bottom-items {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .why-love-bottom-items {
    flex: 0 1 100%;
  }

  .text-left > h1,
  .counter-items strong {
    font-size: 25px;
  }

  .counter-items strong + span {
    transform: translateY(4px);
    line-height: inherit;
  }

  .why-love-block {
    padding: 30px 15px;
  }
}

.subscribe-wrap {
  background: #f9f9f9;
}

.subscribe-icon {
  margin-top: -48px;
  margin-left: -25px;
  padding-right: 28px;
}

.subscribe-text {
  flex: 1;
  transform: translateY(-13px);
}

.subscribe-text > h1 {
  font-family: "NeoSans-Medium";
  font-size: 32px;
}

.subscribe-text > p {
  color: #989898;
  transform: translateY(7px);
  font-family: var(--font-Regular);
}

.subscribe-btn {
  justify-content: flex-end;
  width: 200px;
}

.appstore-wrap {
  min-height: 375px;
  background: url("/img/app-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  margin-top: -5px;
}

.appstore-text {
  width: 430px;
  padding-left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.appstore-text > h1 {
  font-size: 32px;
  transform: translateY(-6px);
  letter-spacing: 1px;
  font-family: var(--font-Medium);
}

.appstore-text > p {
  margin-bottom: 20px;
  font-family: var(--font-Regular);
}

.appstore-text > a {
  display: inline-block;
  margin-right: 8px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1400px) {
  .appstore-wrap {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .subscribe-icon {
    margin-left: 0 !important;
  }

  .appstore-text {
    padding-left: 40px;
  }
}

@media (max-width: 1024px) {
  .subscribe-btn {
    padding-right: 20px;
  }

  .subscribe-text > h1 {
    font-size: 25px !important;
  }
}

@media (max-width: 992px) {
  .subscribe-icon {
    display: none;
  }

  .subscribe-row {
    padding: 40px;
  }
}

@media (max-width: 578px) {
  .subscribe-btn {
    padding-right: 0;
  }
  .subscribe-icon {
    display: block;
    flex: 0 1 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .subscribe-icon img {
    margin: auto;
  }

  .subscribe-row {
    padding: 0px;
    flex-wrap: wrap;
  }

  .subscribe-text {
    flex: 0 1 100% !important;
    transform: initial !important;
    order: -1;
    padding: 30px 30px 0;
    text-align: center;
  }

  .subscribe-btn {
    order: -1;
    margin: 40px auto 0;
  }

  .appstore-text {
    width: 95%;
    padding: 0 15px;
    text-align: center;
  }

  .appstore-text > h1 {
    font-size: 25px;
  }
}

.profile-form-input .el-date-editor {
  width: 100% !important;
}

.password-visible {
  position: absolute;
  top: 34px;
  right: 8px;
  background: #fff;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

.password-visible i {
  font-size: 16px;
}

.profile-form-input {
  position: relative;
}

.profile-form-input .form-submit {
  padding: 13px !important;
  margin-top: 5px;
}

.profile-form-avatar .user-upload {
  right: 12px !important;
}

.horizontal__line {
  border: solid 2px #e7e7e7;
  border-radius: 3px;
  margin: 10px 0 30px;
  background: #e7e7e7;
}

.profile-form-input.no-padding .form-input {
  padding: 0;
}

.profile-form-input {
  width: 210px;
}

.form-date-items {
  width: 140px;
}

.profile-form-date,
.horizontal__line,
.profile-form-date > h1 {
  width: 100%;
}

.user-tabs-profile {
  padding: 50px;
  width: calc(100% - 240px);
}

.profile-form-wrap {
  width: 435px;
}

.profile-form-avatar {
  width: 155px;
  height: 155px;
  position: relative;
  margin: 20px 0 0 50px;
}

.inner-wrap-tab {
  width: 240px;
  padding: 20px 15px;
  border-right: 1px solid #e7e7e7;
}

.header-overlay {
  height: 258px;
  background: #f1f1f0;
  margin-bottom: -150px;
}

.inner-wrap-title {
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.28);
  font-size: 32px;
  line-height: 39px;
  font-family: var(--font-Medium);
  margin-bottom: 40px;
}

.inner-wrap {
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(102, 102, 102, 0.2);
  margin-bottom: 70px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1050px) {
  .user-tabs-profile {
    padding: 50px 60px;
  }

  .profile-form {
    flex-direction: column;
  }

  .profile-form .profile-form-wrap {
    width: 100%;
  }

  .profile-form-wrap .profile-form-input {
    width: calc(50% - 10px);
  }

  .profile-form-wrap .form-date-items {
    width: calc(33% - 10px);
  }

  .profile-form-avatar {
    order: -1;
    margin: 0 0 30px;
  }
}

@media (max-width: 768px) {
  .user-tabs-profile {
    padding: 30px;
  }

  .profile-form-wrap .profile-form-input {
    width: 100%;
  }

  .profile-form-wrap .form-submit {
    margin-top: 15px;
  }

  .profile-form-wrap {
    width: 100% !important;
  }
}

@media (max-width: 578px) {
  .inner-wrap {
    flex-wrap: wrap;
  }

  .inner-wrap-tab {
    width: 100%;
  }

  body .header-overlay {
    height: 220px;
  }
}

@media (max-width: 480px) {
  .inner-wrap-tab,
  .user-tabs-profile {
    padding: 15px;
  }

  .profile-form-avatar {
    margin: 0px auto 30px;
  }
}
.wrap-row {
  margin: 0;
  padding: 30px;
}
.header--progress {
  max-width: 745px;
  margin: 0 auto 50px;
}
.deliver--wrap {
  position: relative;
}
.progress__steps {
  width: 25%;
  text-align: center;
}
.steps__circle {
  width: 24px;
  height: 24px;
  margin: 0 auto 8px;
  border-radius: 100%;
  position: relative;
  background: #d8d8d8;
  border: 6px solid transparent;
}
.steps__circle.current__step,
.steps__circle.current__step::after,
.steps__circle.current__step::before {
  background: #57e909;
}
.steps__text,
.current__step.prev__step + .steps__text {
  color: #bebebe;
}
.current__step + .steps__text {
  color: #42ab44;
}
.current__step.prev__step .circle__overlay,
.circle__overlay,
.steps__circle i {
  opacity: 0;
}
.steps__circle i {
  font-size: 17px;
  transform: translate(-3px, -4px);
  color: #fff;
}
.circle__overlay {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  top: -12px;
  left: -12px;
  border-radius: 100%;
  background: transparent;
  z-index: 1;
  border: 6px solid #cbffaf;
}
.current__step.prev__step .circle__overlay,
.circle__overlay,
.steps__circle i {
  opacity: 0;
}
.steps__circle.current__step .circle__overlay,
.steps__circle.prev__step i {
  opacity: 1;
}
.el-link.el-link--default.is-disabled {
  color: #c0c4cc;
}
.steps__circle::after,
.steps__circle::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 2px;
  background: #d8d8d8;
  top: 5px;
  z-index: 2;
}
.steps__circle::after {
  left: 15px;
}
.steps__circle::before {
  right: 15px;
}
.steps__circle.current__step,
.steps__circle.current__step::after,
.steps__circle.current__step::before {
  background: #57e909;
}
.progress__steps:first-child .steps__circle::before,
.progress__steps:last-child .steps__circle::after {
  display: none;
}
.deliver--wrap__title {
  font-size: 24px;
  font-family: var(--font-Medium);
  line-height: 29px;
  margin-bottom: 25px;
}
.deliver__left {
  flex: 0 1 58%;
}
.deliver__right {
  flex: 1;
}
.col-12 {
  flex: 0 1 100%;
}
.form__continue--button {
  margin-top: 15px;
}
.label-title {
  font-size: 13px;
}
.basket__form i {
  font-size: 30px;
  margin-right: 0.75rem;
}
.el-dropdown-menu {
  z-index: 9999 !important;
}
.login__dialog .login {
  color: #fff;
}
.remove-padding .form-input {
  padding: 0;
}
.el-custom__box .el-collapse {
  border: 1px solid #ebeef5;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 15px 0 15px;
}
.el-custom__box .el-collapse .el-collapse-item__arrow {
  margin: 0 -3px 0 auto;
  color: #c0c4cc;
  font-size: 13px;
}
.el-custom__box .el-collapse-item__header {
  font-family: var(--font-Medium);
  font-size: 0.9rem;
  border-bottom: 0px;
  height: 42px;
  line-height: 42px;
}
.el-collapse-item__content {
  padding-bottom: 0;
}
.save__button {
  width: 100px;
  margin-left: auto;
}
.basket__button {
  display: block;
  width: 100%;
  border: none;
  padding: 12px 0;
  border-radius: 3px;
  background: #fceb10;
  font-family: var(--font-Medium);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.3px;
  cursor: pointer;
}
.basket__button:hover {
  background: var(--hover);
}
.collapse__content--text > div h1 {
  font-family: var(--font-Medium);
  color: #a08500;
  margin-bottom: 4px;
}
.auth-form-label {
  margin-bottom: 20px;
}

.label-title {
  margin-bottom: 5px;
}

.form-input {
  position: relative;
  padding: 0.7rem 0.5rem;
  border: solid 1px #e7e7e7;
  background: #ffffff;
  border-radius: 4px;
}

.form-input input {
  width: calc(100% - 15px);
  border: none;
  outline: none;
  font-size: 14px;
}

.label-check {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 10px;
  border-radius: 4px;
  background: #adaca8;
}
.label-check.success {
  background: #55d775;
}
.label-check.danger {
  background: #ff4757;
}
.label-check.success i.check__icon,
.label-check.danger i.error__icon {
  opacity: 1;
  transition: 200ms ease-in;
}
.label-check i {
  position: absolute;
  opacity: 0;
  font-size: 14px;
  color: #fff;
}
.form__input {
  width: calc(50% - 10px);
}
.form__area {
  width: 100%;
}
.deliver__img > div {
  border-radius: 4px;
  overflow: hidden;
  margin-left: auto;
}
.checkout__wrap p {
  margin-bottom: 0.5rem;
}
.dashboard--collapse,
.demo-app {
  margin-top: 50px;
}
.UserDashboard {
  flex: 1;
}
@media (max-width: 768px) {
  .dashboard__title {
    display: none;
  }
  .dashboard__navigation {
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .dashboard__navigation--link {
    padding: 22px 10px 12px 10px !important;
  }
  .user__dashboard--header .container {
    padding: 0;
  }
  .dashboard__navigation ul {
    width: 100%;
  }
}
.collapse__text,
.collapse__status,
.collapse__date,
.collapse__cost {
  flex: 1;
}
.articles__card--list:last-child {
  border-bottom: none;
}
.articles__card--header,
.articles__card--list {
  padding: 1em;
  border-bottom: 1px solid #dedede;
}
.card__list--icon {
  margin-right: 15px;
}
.card__list--icon {
  line-height: 0.7;
  transform: translateY(2px);
}
.card__list--icon i {
  font-size: 24px;
}
.collapse__text h1 {
  font-family: var(--font-Medium);
  font-size: 16px;
  margin-bottom: 0px;
}
.collapse__text p,
.collapse__status p,
.collapse__date p,
.collapse__cost p {
  font-size: 13.5px;
  margin-top: 4px;
  letter-spacing: 0.3px;
  font-family: var(--font-Regular);
}
.dashboard--collapse .collapse__list {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: var(--hover);
  color: #000;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #000;
}
.sub__collapse--text i {
  font-size: 22px;
  margin-right: 10px;
}
.dashboard--collapse {
  margin-bottom: 50px;
}
.collapse__submit {
  margin-top: 1rem;
}
.profile-form-date {
  align-items: center;
}
.Login {
  flex: 1;
}
.request-table .el-table__header {
  display: none;
}
.request-table .el-table .cell {
  overflow: visible;
}
.collapse__items {
  border-radius: 0.25rem;
  overflow: hidden;
}
.show-ticket {
  text-align: center;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 25px 10px;
  margin: 15px 0 10px;
}
.requst-status-text {
  padding-right: 15px;
}
.col-7 {
  width: 62.6666%;
}
.col-5 {
  width: 37.4444%;
}
.requst-status-descr {
  padding-left: 15px;
  border-left: solid 2px #e7e7e780;
}
.text {
  margin-bottom: 8px;
}
.status__text {
  padding-bottom: 10px;
}
.col-3 {
  width: 25%;
}
.status__text .col-9 {
  padding-right: 0;
}
.col-9 {
  width: 75%;
  padding-right: 25px;
}
.requst-status-text .status__text p {
  margin-bottom: 0 !important;
}
.status__text .col-3 > span,
.show-ticket p {
  color: #b7b1b1;
  font-family: var(--font-Regular);
}
.request-article__body {
  padding: 15px 0;
  margin: 0;
}
.user-selection > div {
  margin-bottom: 20px;
}
.status-btn {
  margin-left: 2rem;
}
.custom__dialog .el-dialog__body {
  padding: 15px 20px 0;
}
.close__dialog {
  display: block;
  padding-bottom: 20px;
}
.dialog-body__title {
  margin-bottom: 15px;
  font-family: var(--font-Medium);
  color: #000;
  font-size: 15px;
}
.el-form-group {
  margin-bottom: 20px;
}
.el-form-group span {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
.el-form-group .el-select {
  width: 100%;
}
.el-textarea__inner {
  min-height: 150px !important;
}
.user-tabs__title {
  border-bottom: 2px solid #e7e7e7;
  padding: 20px 0 10px 0;
}
.title {
  font-family: var(--font-Medium);
  font-size: 18px;
}
.user__ticket-table .el-table--fit {
  margin-top: 20px;
}
.user__ticket-table .has-gutter tr th {
  background: #ececec;
}
.user__ticket-table .el-table {
  border: 1px solid #ebeef5;
  border-radius: 4px;
  overflow: hidden;
  border-bottom: 0;
}
.user__ticket-table .el-table th > .cell {
  color: #909399;
  font-family: "HeeboMedium";
  font-size: 13px;
}
.table-btn {
  display: inline-block;
  background: var(--hover);
  padding: 0.4rem 1rem;
  line-height: 1;
  border-radius: 0.25rem;
  font-family: var(--font-Heebo);
}
.link-anchor {
  display: block;
  padding: 12px 0;
}
.user__ticket-table .el-table td {
  padding: 0;
}
.custom-divider {
  margin: 5px 0;
}
.con-form-body {
  margin: 30px 0 20px;
}
.con-form-footer {
  width: 100%;
}
.close__btn {
  border: none;
  outline: none;
  background: #f1f1f0;
  font-family: var(--font-Medium);
  padding: 15px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}
.con-form__header div {
  /* width: 30%; */
  /* text-align: center; */
  width: 20%;
  font-size: 14px;
}
.con-form__header div span:first-child {
  font-family: var(--font-Medium);
}
.divider {
  height: 1px;
  background: #e7e7e7;
  width: 100%;
  margin-left: auto;
}
.con-form-list {
  display: flex;
  margin-bottom: 30px;
}
.con-list-avatar {
  width: 60px;
  margin-bottom: 10px;
}
.con-list-message {
  padding: 10px 15px;
  background: #f0f0f0ad;
  border-radius: 5px;
  border: 1px solid #d8d8d87a;
  flex: 1;
}
.avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #e7e7e7;
}
.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con-list-message span {
  font-size: 14px;
}
.message-who {
  font-family: var(--font-Regular);
}
.message-who > span {
  font-size: 12px !important;
  float: right;
  margin-top: 4px;
}
.con-form-footer > span {
  font-size: 14px;
  display: block;
  margin-bottom: 0.25rem;
}
.send-comment-btn {
  margin-top: 1rem;
  border: none;
  outline: none;
  background: #ffef00;
  font-family: var(--font-Medium);
  padding: 15px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  width: 140px;
  min-width: 140px;
  transition: 0.25s all;
}
.send-comment-btn:hover,
.send-comment-btn:focus {
  background: #f5d200;
  color: inherit !important;
}
.dashboard__navigation li:hover {
  background: rgba(236, 236, 236, 0.5);
}
.request-show-wrap {
  padding: 0 30px 90px;
}
.checkout__wrap {
  padding: 20px;
  border: dashed 1px #d0d0d0;
  background: #fffcef;
}
.policy-term {
  margin-top: 20px;
  max-width: 650px;
}
.policy-term > h1 {
  font-family: var(--font-Medium);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}
.policy-term > p {
  color: #868686;
  line-height: 24px;
  font-size: 14px;
}
.form__tab--items > label {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
}
.form__tab--items > label .el-radio__label img {
  width: 85px;
}
.form__tab--items > label {
  height: 100%;
}
.provider__list--upload i {
  font-size: 18px;
  margin-right: 0.5rem;
}
.checkbox-dec {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 3px;
  transition: all 0.25s;
}
.checkbox-dec.active {
  background: #ffc107;
}
.checkbox-dec i {
  opacity: 0;
  transition: all 0.25s;
  color: #fff;
}
.checkbox-dec.active i {
  opacity: 1;
}
.service__collapse .el-collapse-item__header {
  height: 40px;
  line-height: 40px;
  border: none;
  padding: 0 0 0 20px;
  font-size: 14px;
}
.service__collapse .el-collapse-item__content {
  padding: 0 20px 10px !important;
  font-size: 14px;
}
.wrap-row-box {
  margin: 0;
  padding: 30px;
}
.col-6 {
  width: calc(50% - 15px);
}
.form-input textarea {
  width: 100%;
  border: none;
  outline: none;
  min-height: 150px;
  resize: none;
}
.wrap-all {
  flex: 1;
}
@media (max-width: 578px) {
  .inner-wrap-title {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
  .deliver--wrap__title {
    font-size: 18px !important;
    line-height: 20px !important;
    margin-bottom: 20px !important;
  }
  .basket__title span {
    font-size: 18px !important;
  }
  .basket__wrapper {
    padding: 10px 0 0;
  }
  .steps__text {
    display: none;
  }

  .header--progress {
    margin-bottom: 30px;
  }

  .steps__circle::after {
    z-index: 3;
    width: 50px;
  }
}

@media (max-width: 480px) {
  .btn {
    min-width: 100%;
    width: 100%;
  }
  .wrap-row {
    padding: 30px 20px;
  }

  .progress__steps:first-child,
  .progress__steps:last-child {
    width: 20%;
  }

  .progress__steps:nth-child(2),
  .progress__steps:nth-child(3) {
    width: calc(30% - 1px);
  }

  .progress__steps:first-child .steps__circle {
    margin-left: 10px;
  }

  .progress__steps:last-child .steps__circle {
    margin-right: 10px;
  }

  .steps__circle::before,
  .steps__circle::after {
    width: 55px;
  }

  .deliver__form .form__input {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .steps__circle::before,
  .steps__circle::after {
    width: 38px;
  }

  .service__contain > div {
    width: 100%;
    padding-right: 0px;
  }
}
@media (max-width: 380px) {
  .steps__circle::before,
  .steps__circle::after {
    width: 40px !important;
  }
}
/********************** MEDIA *****************************/

@media (max-width: 1060px) {
  .deliver__box {
    flex-wrap: wrap;
  }

  .deliver__box > div {
    flex: 0 1 100% !important;
    padding-right: 0;
  }

  .deliver__img > div {
    padding: 30px 0 0 0;
  }

  .basket__title {
    position: relative !important;
    top: 0px !important;
  }

  .laundry__inputs .laundry__select {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .laundry__items {
    flex-wrap: wrap;
  }

  .laundry__text {
    width: 100%;
    margin-bottom: 15px;
  }

  .laundry__inputs {
    justify-content: space-between;
  }

  .laundry__inputs .laundry__select {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .wrap-row {
    padding: 30px 15px;
  }

  .laundry__inputs,
  .basket__list--items {
    flex-wrap: wrap;
  }

  .laundry__inputs .laundry__select {
    flex: 0 1 100%;
  }

  .laundry__inputs .laundry__select,
  .laundry__count,
  .save__button {
    margin-bottom: 10px !important;
    margin: 0;
  }

  .laundry__count {
    flex: 0 1 50%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .save__button {
    width: calc(50% - 10px);
  }

  .laundry__count .el-input-number,
  .basket__list--items > h2,
  .basket__list--items > p,
  .without-counter .save__button {
    width: 100%;
  }

  .basket__list--items > p {
    text-align: left !important;
    margin-top: 5px;
    opacity: 0.7;
  }

  body .without-counter .laundry__select,
  body .without-counter .laundry__count {
    width: 100%;
    margin-right: 0;
  }

  .counter__wrap {
    opacity: 0.75;
  }
}

@media (max-width: 330px) {
  .laundry__count {
    flex: 0 1 100%;
  }

  .save__button {
    width: 100%;
  }
}
.error-page-wrap {
  flex: 1;
  position: relative;
}
.error-page-wrap .notfound,
.notfound .notfound-404,
.notfound .notfound-404 h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.error-page-wrap .notfound {
  text-align: center;
  top: 50%;
}
.notfound .notfound-404 {
  height: 100px;
  top: 0;
  z-index: -1;
}
.notfound h2,
.notfound p,
.notfound .notfound-404 h1 {
  font-family: "Maven Pro", sans-serif;
}
.notfound h2 {
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}
.notfound p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}
.notfound .notfound-404 h1 {
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  top: 50%;
}
.error-btn-wrap > a {
  margin: 15px auto;
}

.form__continue--button .el-button > span {
  width: 100%;
}

.category-list[dir="rtl"] .category-list-text {
  font-size: 25px;
}

.category-list[dir="rtl"] .category-list-box-items h1 {
  font-size: 19px;
}

.why-love-block[dir="rtl"] .bottom-items--left {
  margin-right: 0;
  margin-left: 24px;
}

.why-love-block[dir="rtl"] .bottom-items--right > h1 {
  font-size: 20px;
}

.why-love-block[dir="rtl"] .bottom-items--right > p {
  font-size: 17px;
}

.why-love-block[dir="rtl"] .counter-items {
  height: 100px;
}

.why-love-block[dir="rtl"] .counter-items strong + span {
  font-size: 16px;
  font-family: var(--font-Heebo);
}

.subscribe-wrap[dir="rtl"] .btn i {
  order: -1;
}

.appstore-wrap[dir="rtl"] .appstore-text > p {
  font-size: 23px;
}

.appstore-wrap[dir="rtl"] .appstore-text > a {
  margin-left: 8px;
  margin-right: 0;
}

.category-items-wrap[dir="rtl"] .service-title {
  font-size: 20px;
}

.category-items-wrap[dir="rtl"] .list-navigation li a {
  font-size: 17px;
}

.footer[dir="rtl"] .footer-markers > div:first-child {
  margin-right: 0;
  margin-left: 45px;
}

.footer[dir="rtl"] .el-dropdown-link i,
.header .container[dir="rtl"] .el-dropdown-link i {
  margin-right: 0.25rem;
  margin-left: 0;
}

.header .container[dir="rtl"] .header-search > input[type="text"] {
  margin-right: auto;
}

/*
********* Your Basket **********
.current__step + .steps__text {
  font-size: 16px;
}
 
.basket__wrapper-box > h2 {
  font-size: 18px;
}

.basket__list--items > h2 {
  font-size: 20px;
}

.basket__list--items > :last-child {
  font-size: 19px;
}
********* End Your Basket **********
*/

.header .container[dir="rtl"] .user-name-dropdown {
  padding: 10px 10px 10px 0px;
}

.wrap-all[dir="rtl"] .provider__list--upload i {
  margin-right: 0;
  margin-left: 0.5rem;
}

.wrap-all[dir="rtl"] .label-check {
  right: initial;
  left: 10px;
}

.el-button {
  color: inherit !important;
}

.login-form[dir="rtl"] .el-checkbox__label {
  padding-left: 0;
  margin-right: 10px;
}

.service__items--collapse .el-collapse {
  display: flex;
  flex-wrap: wrap;
}

.service__items--collapse .el-collapse-item {
  width: 33.333%;
}

.mobile-bottom-basket {
  position: fixed;
  bottom: 0;
  background: #fceb10;
  width: 100%;
  left: 0;
  /* display: none; */
  opacity: 1;
  visibility: visible;
  z-index: 99;
  transition: all 400ms;
}

.mobile-basket-in {
  justify-content: center;
  padding: 0.75rem;
}

.mobile-basket-in i {
  font-size: 1.75rem;
}

.mobile-basket-in span {
  font-family: var(--font-Heebo);
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

body.remove-mobile-button .mobile-bottom-basket {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 578px) {
  body .el-select-dropdown {
    max-width: 350px;
  }
  body .el-dropdown-list__custom {
    white-space: initial;
    height: auto;
  }
}

.service__items * {
  border: none;
  font-size: inherit;
}

.service-column-wrap .service__items .el-collapse-item__wrap {
  border-bottom: 1px solid transparent !important;
}

.service-column-wrap .service__items {
  border: 1px solid #ebeef5;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 0.25rem;
}

.service-column-wrap .service__items .el-collapse-item:last-child {
  margin-bottom: 0px;
}

.service-column-wrap .el-collapse-item__header {
  font-family: var(--font-Heebo);
}

.service__dropdown > h2 {
  margin-bottom: 0.5rem;
  font-family: var(--font-Heebo-Medium);
}

.final-category__list .collapse-service-list > div {
  width: 100%;
  padding: 0 !important;
}

.final-category__list .collapse-service-save {
  margin-top: 20px;
  text-align: center;
}

.final-category-dialog .el-dialog {
  max-width: 960px;
  width: 100%;
}

.final-category-dialog .el-dialog__body {
  padding: 10px 15px 20px;
}

.toggle,
.toggle:before,
.slot__label {
  transition-property: background-color, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in, cubic-bezier(0.6, 0.2, 0.4, 1.5), linear;
}
.toggle:before,
.slot,
.slot__label {
  display: block;
}
.toggle:before {
  position: absolute;
}
.toggle:checked {
  background-color: var(--hover);
}
.toggle:focus {
  outline: transparent;
}
.toggle {
  border-radius: 0.75em;
  box-shadow: 0 0 0px 0.1em inset #dec94e;
  cursor: pointer;
  position: relative;
  margin-right: 0.5em;
  width: 3em;
  height: 1.5em;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before {
  background: #736c09;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.3em;
  width: 1.1em;
  height: 1.1em;
}
.toggle:checked:before {
  transform: translateX(1.3em);
}
.toggle:checked ~ .slot .slot__label,
.slot__label:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
  transform: translateY(-100%) scaleY(1);
}
.slot__label {
  transform-origin: 50% 0;
}

.slot__label:first-child {
  font-family: "Cairo-Regular";
}
.slot__label:nth-child(2) {
  transform-origin: 50% 100%;
}

.slot {
  transform: translateY(10px);
  cursor: pointer;
}

.image-wrap-text button {
  font-size: 1.1rem;
}

.footer .slot {
  color: #fff;
}

.TermsPage[dir="rtl"] .el-collapse-item__arrow {
  transform: rotate(90deg);
  margin: 0 auto 0 0px;
}

.TermsPage[dir="rtl"] .el-collapse-item__arrow.is-active {
  transform: rotate(270deg);
}

.TermsPage[dir="rtl"] .service-column-wrap .service__items {
  padding-right: 15px;
}

.TermsPage[dir="rtl"] .service-column-wrap .el-collapse-item__header {
  font-size: 1.15rem;
}

.TermsPage[dir="rtl"] .collapse__lists .collapse__lists--items a {
  font-size: 17px;
}

.TermsPage[dir="rtl"] .collapse__lists {
  padding-right: 20px;
  padding-left: 0;
}

.container[dir="rtl"] .toggle,
.footer[dir="rtl"] .toggle {
  margin-right: 0;
  margin-left: 0.5rem;
}

.catalog-service-wrap {
  flex: 1;
  padding: calc(10px + 2vw) 0;
}

.content-back {
  transform: translateY(-25px);
  border: none;
  background: var(--main-color);
  line-height: 1;
  padding: 12px 15px;
  border-radius: 5px;
  font-family: var(--font-Heebo);
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.content-back i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
  transform: translateY(2px);
}

.content-back:hover {
  background: var(--hover);
}

.category-list .el-row,
.catalog-service-wrap .el-row {
  flex-wrap: wrap;
}

.service-descr-wrap {
  margin-top: 40px;
  font-family: var(--font-Regular);
}

.service-descr-wrap > h1 {
  margin-bottom: 15px;
}

.service-descr-wrap p {
  margin-bottom: 15px;
}

.service-descr-wrap b {
  font-family: var(--font-Heebo);
  display: block;
}

.request__article .btn,
.request__article .btn-sm,
.designer__mistake-heading .btn,
.designer__mistake-heading .btn-sm {
  height: 42px;
}

.designer__mistake-heading .btn {
  margin-bottom: 10px;
}

.request-date {
  display: inline-block;
  margin-left: 1.5rem;
  color: #6c6c6c;
}

.social--wrap__nav li .el-button {
  width: 44px;
  height: 44px;
  border: solid 1px #e7e7e7;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #ffffff;
  padding: 0;
}

/* .UserDashboard[dir="rtl"] .dashboard__navigation--link span {
  font-size: 18px;
} */

.UserDashboard[dir="rtl"] .card__items h1 {
  margin: 0 0 0 15px;
}

.UserDashboard[dir="rtl"] .articles__card--header h1,
.UserDashboard[dir="rtl"] .card__list--text h1,
.UserDashboard[dir="rtl"] .dashboard--collapse .el-tabs__item {
  font-size: 18px;
}

.UserDashboard[dir="rtl"] .card__list--status {
  text-align: left;
}

.UserDashboard[dir="rtl"] .card__list--icon {
  margin: 0 0 10px 15px;
}

.UserDashboard[dir="rtl"] .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 20px;
}

.UserDashboard[dir="rtl"] .dashboard--collapse .el-tabs__active-bar {
  display: none;
}

.UserDashboard[dir="rtl"] .ticket__text i {
  transform: translate(15px, 2px);
}

.UserDashboard[dir="rtl"] .collapse__text h1 {
  font-size: 20px;
}

.UserDashboard[dir="rtl"] .collapse-ticket__detail .el-icon-arrow-right,
.UserDashboard[dir="rtl"] .collapse-list-route .el-icon-arrow-right,
.wrap-all[dir="rtl"] .collapse-list-route i {
  transform: rotate(180deg);
}

.UserDashboard[dir="rtl"] .sub__collapse--text i,
.wrap-all[dir="rtl"] .user-profile-tabs i,
.wrap-all[dir="rtl"] .request-show > p,
.wrap-all[dir="rtl"] .card__list--icon {
  margin: 0 0 0 10px;
}

.UserDashboard[dir="rtl"] .collapse-service-list {
  padding: 0 2rem 0 0;
}

.UserDashboard[dir="rtl"] .collapse-service-list > div:first-child {
  padding: 0 0 0 2rem !important;
}

.UserDashboard[dir="rtl"] .profile-form-avatar,
.wrap-all[dir="rtl"] .profile-form-avatar {
  margin: 20px 50px 0 0;
}

.UserDashboard[dir="rtl"] .form-input input {
  width: 100%;
  padding-right: 30px;
}

.wrap-all[dir="rtl"] .inner-wrap-tab {
  border-left: 1px solid #e7e7e7;
  border-right: 0;
}

.wrap-all[dir="rtl"] .el-table td,
.wrap-all[dir="rtl"] .el-table th {
  text-align: right;
}

.wrap-all[dir="rtl"] .el-pagination .btn-next .el-icon,
.wrap-all[dir="rtl"] .el-pagination .btn-prev .el-icon {
  transform: rotate(180deg);
}

.wrap-all[dir="rtl"] .link-anchor .el-icon-chat-line-square {
  margin-left: 10px;
}

.wrap-all[dir="rtl"] .requst-status-descr {
  border-right: solid 2px #e7e7e780;
  padding-left: 0;
  padding-right: 15px;
  border-left: none;
}

.wrap-all[dir="rtl"] .requst-status-text {
  padding-left: 15px;
  padding-right: 0px;
}

.wrap-all[dir="rtl"] .pay__button {
  min-width: 100px;
  text-align: center;
  margin-right: 20px;
}

.wrap-all[dir="rtl"] .route-back,
.wrap-all[dir="rtl"] .go__back {
  display: flex;
  align-items: center;
}

.wrap-all[dir="rtl"] .route-back i,
.wrap-all[dir="rtl"] .go__back i {
  order: 1;
  margin-right: 10px;
}

.wrap-all[dir="rtl"] .message-who > span,
.UserDashboard[dir="rtl"] .message-who > span {
  margin-left: 5px;
}

.content-wrap[dir="rtl"] .content-back i {
  float: left;
}

.content-wrap[dir="rtl"] .deliver__img > div {
  padding-left: 0;
  padding-right: 50px;
}

.content-wrap[dir="rtl"] .el-collapse-item__arrow {
  margin-left: 0;
  margin-right: auto;
  transform: rotate(180deg);
}

.content-wrap[dir="rtl"] .el-input__suffix {
  right: initial;
  left: 5px;
}

.content-wrap[dir="rtl"] .el-icon-arrow-right,
.content-wrap[dir="rtl"] .form__continue--button .el-icon-arrow-left {
  transform: rotate(180deg);
}

.el-collapse-item__arrow.is-active {
  transform: rotate(90deg) !important;
}

.content-wrap[dir="rtl"] .laundry__checkbox {
  margin-right: 0;
  margin-left: 10px;
}

.content-wrap[dir="rtl"] .checkbox--overlay {
  margin-right: 0;
  margin-left: 8px;
}

.content-wrap[dir="rtl"] .el-collapse-item__header {
  font-size: 18px;
}

.content-wrap[dir="rtl"] .laundry__text > h1 {
  font-size: 19px;
}

.content-wrap[dir="rtl"] .checkbox--text__toggle {
  top: -40px;
}

.content-wrap[dir="rtl"] .checkbox--text__toggle span {
  font-size: 16px;
}

.content-wrap[dir="rtl"] .remove__item i {
  right: initial;
  left: 18px;
}

.content-wrap[dir="rtl"] .el-input--suffix .el-input__inner {
  padding-right: 15px;
}

.content-wrap[dir="rtl"] .basket__list > * {
  font-size: 19px;
}

.content-wrap[dir="rtl"] .basket__wrapper-box > h2 {
  font-weight: bold;
}

.content-wrap[dir="rtl"] .basket__list--items > h2 {
  padding-right: 0;
  padding-left: 15px;
}

.content-wrap[dir="rtl"] .basket__list--items > * {
  font-size: 16px;
}

.content-wrap[dir="rtl"] .steps__circle i {
  transform: translate(2px, -4px);
}

.content-wrap[dir="rtl"] .deliver__location {
  padding-right: 0;
}

.content-wrap[dir="rtl"] .label-check {
  right: initial;
  left: 10px;
}

.content-wrap[dir="rtl"] .el-tabs--top .el-tabs__item.is-top:last-child {
  padding-left: 0;
  padding-right: 20px;
}

.content-wrap[dir="rtl"] .el-tabs__item {
  font-size: 18px;
}

.content-wrap[dir="rtl"] .el-date-editor.el-input,
.content-wrap[dir="rtl"] .form-input input,
.content-wrap[dir="rtl"] .el-date-editor.el-input__inner {
  width: 100%;
}

.service__dropdown .el-collapse-item__header {
  font-family: var(--font-Heebo-Medium);
}

.content-wrap[dir="rtl"] .without-counter .laundry__select, .without-counter .laundry__count {
  margin-right: 0;
}

.content-wrap[dir="rtl"] .without-counter .save__button {
  margin-right: auto;
  margin-left: 0;
}

.content-wrap[dir="rtl"] .el-select__tags,
.wrap-all[dir="rtl"] .el-select__tags {
  padding-right: 15px;
}

.el-checkbox__label {
  font-family: var(--font-Regular);
}

.wrap-all[dir="rtl"] .el-checkbox__label {
  padding-right: 15px;
  padding-left: 0;
}

.wrap-all[dir="rtl"] .el-select .el-tag__close.el-icon-close {
  right: 5px;
}

.wrap-all[dir="rtl"] .el-input__suffix {
  right: initial;
  left: 10px;
}

.UserDashboard[dir="rtl"] .request__article .btn, 
.UserDashboard[dir="rtl"] .request__article .btn-sm {
  margin-left: 0;
  margin-right: 2rem;
}

.UserDashboard[dir="rtl"] .user-selection__list-text::after,
.wrap-all[dir="rtl"] .user-selection__list-text::after {
  transform: rotate(180deg);
  left: initial;
  right: -20px;
}

.UserDashboard[dir="rtl"] .request-date {
  margin-left: 0;
  margin-right: 1.5rem;
}

.wrap-all[dir="rtl"] .collapse__text p {
  margin-right: 0 !important;
  margin-left: .75rem;
}

.basket-attr {
  position: relative;
}

.basket-attr > h2 {
  padding-right: 25px;
}

.service__close__button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.file-text {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
    text-align: center;
}