<template>
  <div class="wrap-all ProviderPage" :dir="dir">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t("Register as a provider") }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row">
            <h1 class="title">{{ $t("Make Your Choose") }}</h1>

            <form class="provider__form" @keypress.enter="submit" @submit.prevent="submit">
              <div class="provider__form--wrap d-flex f-wrap">
                <div
                  class="provider__form--list"
                  :key="index"
                  v-for="(category, index) in categoryArray"
                >
                  <loading
                    :active.sync="isLoading"
                    :can-cancel="false"
                    :is-full-page="fullPage"
                    :color="'#F5D200'"
                    :opacity="1"
                  ></loading>
                  <div class="provider__check">
                    <div class="checkbox--wrap">
                      <input type="checkbox" id="1" style="display: none" />
                      <div class="checkbox-dec">
                        <i class="el-icon-check"></i>
                      </div>
                    </div>
                  </div>
                  <img :src="category.image" alt class="d-block" />
                  <p class="provider__check--text">{{ category.title }}</p>
                  <div class="provider__list--overlay"></div>
                  <label for="1" class="d-block" @click="toggleProvider($event.target,category.id)"></label>
                </div>
              </div>
              <h1 v-if="activeCategory.length" class="title">{{ $t('Select subcategory') }}</h1>

              <div class="provider__form--sub d-block">
                <div
                  class="provider__sub--list"
                  :key="index"
                  v-for="(category, index) in activeCategory"
                >
                  <p class="descr">{{ category.title }}</p>
                  <el-checkbox-group
                    class="provider__checkbox"
                    v-model="providerMessage.categories"
                  >
                    <el-checkbox
                      :value="subcategory.id"
                      :label="subcategory.id"
                      :key="ind"
                      v-for="(subcategory, ind) in category.children"
                    >{{ subcategory.title }}</el-checkbox>
                  </el-checkbox-group>
                </div>
              </div>

              <h1 class="title">{{ $t("Company details") }}</h1>

              <div class="provider__form--detail">
                <div class="provider__detail--list d-flex align-center">
                  <div class="provider__list--items">
                    <BaseInput
                      :label="$t('Company name')"
                      v-model="providerMessage.company_name"
                      :placeholder="$t('Type here')"
                      :id="'company'"
                      :type="'text'"
                    ></BaseInput>
                  </div>
                  <label for="upload" class="provider__list--upload child--center">
                    <input type="file" id="upload" @change="uploadFile($event)" />
                    <i class="el-icon-files"></i>
                    <span class="file-text">{{ $t("Select") }} Logo</span>
                  </label>
                </div>
                <div class="provider__detail--list d-flex f-wrap align-center">
                  <div class="col-6">
                    <label class="auth-form-label d-block">
                      <span class="label-title d-block">{{ $t("Country") }}</span>
                      <el-select
                        v-model="providerMessage.country"
                        filterable
                        :placeholder="$t('Select country')"
                      >
                        <el-option
                          v-for="item in countryArray"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </label>
                  </div>
                  <div class="col-6">
                    <label for="id" class="auth-form-label d-block">
                      <span class="label-title d-block">{{ $t("City") }}</span>
                      <div class="form__multiselect">
                        <el-select
                          v-model="providerMessage.cities"
                          multiple
                          filterable
                          :placeholder="$t('Select city')"
                        >
                          <el-option
                            v-for="item in city_list"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"
                          ></el-option>
                        </el-select>
                      </div>
                    </label>
                  </div>

                  <div class="col-6">
                    <BaseInput
                      :label="$t('First name')"
                      :placeholder="$t('First name')"
                      v-model="providerMessage.first_name"
                      :id="'name'"
                      :type="'text'"
                    ></BaseInput>
                  </div>

                  <div class="col-6">
                    <BaseInput
                      :label="$t('Last name')"
                      v-model="providerMessage.last_name"
                      :placeholder="$t('Last name')"
                      :id="'last'"
                      :type="'text'"
                    ></BaseInput>
                  </div>

                  <div class="col-6">
                    <BaseInput
                      :label="$t('Email')"
                      v-model="providerMessage.email"
                      :placeholder="$t('Email')"
                      :id="'email2'"
                      :type="'email'"
                    ></BaseInput>
                  </div>

                  <div class="col-6">
                    <BaseInput
                      v-model="providerMessage.phone"
                      :label="$t('Phone')"
                      :id="'phone'"
                      :placeholder="$t('Phone')"
                      :type="'text'"
                      :classList="'padding'"
                    ></BaseInput>
                  </div>
                </div>

                <p class="terms-text">
                  {{ $t("By creating account you agree to our")
                  }}
                  <router-link
                    to="/terms-and-condition"
                    target="_blank"
                    style="margin-left: 5px"
                  >{{ $t("terms and conditions") }}</router-link>
                </p>

                <div class="form__continue--button">
                  <BaseButton
                    :loadingButton="loadingButton"
                    @c-click="submit"
                    :ValueText="$t('Send')"
                  ></BaseButton>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.provider__detail--list .el-select {
  width: 100%;
}

.provider__checkbox .el-checkbox {
  margin-right: 0;
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 8px;
}

.provider__checkbox .el-checkbox__input {
  transform: translateY(5px);
  vertical-align: top;
}

.provider__checkbox .el-checkbox__label {
  line-height: inherit;
  width: calc(100% - 15px);
}

.provider__checkbox .el-checkbox__input.is-checked + .el-checkbox__label {
  color: inherit;
}

.provider__checkbox .el-checkbox__input.is-checked .el-checkbox__inner {
  background: #f5d200;
  border-color: #f5d200;
}

.provider__checkbox .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #f5d200;
}

.provider__checkbox .el-checkbox__inner:hover {
  border-color: #f5d200;
}

.col-6 {
  width: calc(50% - 15px);
}

.form__multiselect .multiselect__input {
  display: none;
}

.terms-text {
  color: #969696;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--font-Regular);
  margin-bottom: 20px;
}

.terms-text a {
  color: inherit;
  text-decoration: underline;
}

.form__multiselect .multiselect__select {
  width: 100% !important;
}

.form__multiselect .multiselect__select:before {
  position: absolute !important;
  right: 15px !important;
  top: 40% !important;
}

.form__multiselect .multiselect--active .multiselect__select:before {
  transform: rotate(180deg);
}

.form__multiselect .multiselect__tag-icon:focus,
.form__multiselect .multiselect__tag-icon:hover,
.form__multiselect .multiselect__tag {
  background: #f3e206;
}

.form__multiselect .multiselect__tag-icon:focus:after,
.form__multiselect .multiselect__tag-icon:hover:after,
.form__multiselect .multiselect__tag,
.form__multiselect .multiselect__option--highlight:after,
.form__multiselect .multiselect__option--highlight {
  color: inherit;
}

.form__multiselect .multiselect__tags {
  padding: 5px 40px 0 8px !important;
  border-radius: 4px !important;
}

.form__multiselect .multiselect__option {
  padding: 8px 12px;
  min-height: 35px;
}

.form__multiselect .multiselect__tags-wrap {
  transform: translateY(3px);
  display: inline-block;
}

.form__multiselect .multiselect__option:after {
  line-height: 35px;
  font-size: 12px;
}

.form__multiselect .multiselect__option--selected,
.form__multiselect
  .multiselect__option--selected.multiselect__option--highlight:after {
  background: #e8f1ff !important;
  color: #1f74ff;
  font-weight: initial !important;
}

.form__multiselect .multiselect__option--highlight:after,
.form__multiselect .multiselect__option--highlight {
  background: #f5f5f5;
}

.form__multiselect .multiselect__option span {
  font-size: 14px;
}

.form__multiselect .multiselect--active .multiselect__select {
  transform: initial !important;
}

.provider__list--items {
  flex: 0 1 495px;
}

.provider__list--upload {
  flex: 1;
  border-radius: 4px;
  background: #f1f1f0;
  padding: 10px;
  margin-top: 5px !important;
  cursor: pointer;
}

.provider__list--upload input {
  display: none;
}

.provider__detail--list {
  margin: 0 -7.5px;
}

.provider__detail--list > * {
  margin: 0 7.5px;
  position: relative;
}

.invalid-feedback {
  position: absolute;
  bottom: 3px;
  font-size: 11px;
  color: red;
  /* display: none; */
}

.ProviderPage .container {
  max-width: 760px;
}

.provider__form--detail {
  margin-top: 10px;
}

.provider__sub--list {
  /* display: inline-block; */
  margin-bottom: 1rem;
  width: 100%;
}

.provider__sub--list .descr {
  font-family: var(--font-Heebo);
}

.provider__form--sub {
  margin-bottom: 25px;
  margin-top: 15px;
  column-count: 3;
  column-width: 120px;
}

.provider__sub--list > * {
  margin-bottom: 8px !important;
}

.provider__sub--list .con-vs-checkbox {
  justify-content: initial;
  margin: 0;
}

.provider__sub--list .vs-checkbox-warning .vs-checkbox {
  border: 1px solid rgb(180, 180, 180) !important;
}

.provider__sub--list .vs-checkbox {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.provider__check {
  z-index: 1;
  width: 22px;
  left: 8px;
  top: 8px;
}

.provider__check .vs-checkbox--check > i,
.provider__form--sub .vs-checkbox--check > i {
  font-size: 14px;
}

.provider__check .vs-checkbox-warning input:checked + .vs-checkbox {
  width: 18px;
  border: 2px solid var(--hover) !important;
}

.provider__check .vs-checkbox-warning .vs-checkbox {
  border-color: #fff !important;
  background: #fff;
}

.provider__check
  .vs-checkbox--input:checked
  + .vs-checkbox
  .vs-checkbox--check {
  background: var(--hover);
}

.provider__form--wrap {
  margin: 0 -7.5px;
  padding: 10px 0;
}

.provider__form--list {
  max-width: 156px;
  position: relative;
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 7.5px 15px;
  border: 4px solid transparent;
  cursor: pointer;
  transition: all 350ms;
}

.provider__form--list.active {
  border-color: var(--hover);
}

.provider__check,
.provider__form--list label,
.provider__form--list p,
.provider__list--overlay {
  position: absolute;
}

.provider__form--list p {
  top: 50%;
  color: #fff;
  z-index: 1;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: var(--font-Regular);
}

.provider__form--list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.provider__form--list label,
.provider__list--overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.provider__list--overlay {
  background: rgba(0, 0, 0, 0.4);
}

.provider__list--overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}

.provider__form--list label {
  z-index: 10;
}
</style>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Provider",
  data() {
    return {
      providerMessage: {
        company_name: "",
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        file: "",
        categories: [],
        cities: [],
        country: ""
      },
      cityArray: [],
      // categoryArray: [],
      activeCategory: [],
      activeCategoryIds: [],
      countryArray: [],
      lang: this.$i18n.locale,
      isLoading: false,
      fullPage: false,
      pagination: {
        count: 20,
        current_page: 1,
        per_page: 7,
        total: 101,
        total_pages: 6
      },
      loadingButton: false,
      errors: []
    };
  },
  components: {
    Loading
  },
  computed: {
    ...mapGetters({
      categoryArray: "category/list",
      city_list: "cities/cities"
    })
  },
  created() {
    this.category();
    this.fetchCountry();
  },
  methods: {
    ...mapActions({
      categories: "category/index",
      countries: "country/index",
      submitProvider: "providerMessage/store"
    }),
    category() {
      let dataFetchUrl = `lang=${this.lang}`;
      this.isLoading = true;
      this.categories(dataFetchUrl)
        .then(res => {
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          this.isLoading = false;
        });
    },
    toggleProvider(event, id) {
      $(event)
        .parent()
        .toggleClass("active");

      $(event)
        .siblings(".provider__check")
        .find(".checkbox-dec")
        .toggleClass("active");
      if (this.activeCategoryIds.includes(id)) {
        this.activeCategoryIds.splice(this.activeCategoryIds.indexOf(id), 1);
      } else {
        this.activeCategoryIds.push(id);
      }
      this.addActiveCategory(this.activeCategoryIds);
    },
    changeCountry(event) {
      this.providerMessage.cities = [];
      let dataFetchUrl = `country_id=${event}&lang=${this.lang}`;
      this.$store
        .dispatch("cities/index", dataFetchUrl)
        .then(res => {
          this.cityArray = res.data.cities;
        })
        .catch(err => {
          console.log(err);
        });
    },
    addActiveCategory(array) {
      let dataFetchUrl = `array=[${array}]&lang=${this.lang}&children=true`;
      this.$store
        .dispatch("category/subcategories", dataFetchUrl)
        .then(res => {
          this.activeCategory = res.data.categories;
        })
        .catch(err => {
          console.log(err);
        });
    },
    submit() {
      if (
        this.providerMessage.company_name == "" ||
        this.providerMessage.phone == "" ||
        this.providerMessage.email == "" ||
        this.providerMessage.company_name == "" ||
        this.providerMessage.first_name == "" ||
        this.providerMessage.last_name == ""
      ) {
        this.$notify.error({
          title: "Error",
          message: "Please fill in the fields and try again"
        });
        return;
      }
      this.loadingButton = true;
      var formData = new FormData();
      for (var key in this.providerMessage) {
        formData.append(key, this.providerMessage[key]);
      }
      var json_cities = JSON.stringify(this.providerMessage.cities);
      var json_categories = JSON.stringify(this.providerMessage.categories);
      formData.append("cities", json_cities);
      formData.append("categories", json_categories);

      this.submitProvider(formData)
        .then(res => {
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: "Send Message",
            type: "success"
          });
          this.loadingButton = false;
          this.$router.push("/");
        })
        .catch(err => {
          this.loadingButton = false;
          this.$notify.error({
            title: "Checking error",
            message: "Please fill in the fields and try again"
          });
          console.log(err);
        });
    },
    // addTag (newTag) {
    //     const tag = {
    //         name: newTag,
    //         code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
    //     }
    //     this.cityArray.push(tag)
    // },

    fetchCountry() {
      let dataFetchUrl = `lang=${this.lang}`;
      this.countries(dataFetchUrl)
        .then(res => {
          this.countryArray = res.data.cities;
        })
        .catch(err => {
          console.log(err);
        });
    },

    uploadFile(event) {
      if (event.target.files && event.target.files[0]) {
        this.providerMessage.file = event.target.files[0];

        $(".file-text").text(event.target.files[0].name);

        // console.log(event.target.files[0].name, );
      }
    }
  }
};
</script>
