<template>
  <div class="brand-wrap" :dir="dir">
    <div class="container">
      <h1 class="brand-wrap-title text-center">{{ $t("Our partners") }}</h1>
      <div class="brand-slider">
        <carousel
          :scrollPerPage="true"
          :per-page="5"
          :perPageCustom="[
            [320, 2],
            [578, 3],
            [768, 4],
            [1200, 5]
          ]"
        >
          <slide v-for="partner in Partners" :key="partner.id">
            <img :src="partner.image" />
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      Partners: []
    };
  },
  async mounted() {
    await this.fetchData();
  },
  methods: {
    ...mapActions({
      partners: "partner/index"
    }),
    fetchData() {
      this.partners()
        .then(res => {
          this.Partners = res.data.partners;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style>
.VueCarousel-dot-container {
  margin-top: 0 !important;
}

.VueCarousel-slide img {
  display: block;
  margin: auto;
}

.brand-wrap {
  padding: 58px 0 56px;
  background: #fff;
}

.owl__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0px 1px 4px #d8d8d8;
  text-align: center;
  line-height: 60px;
  z-index: 1;
  background: #fff;
  cursor: pointer;
}

.owl__arrow i {
  color: #fceb10;
}

.owl__arrow.prev {
  left: -45px;
}

.owl__arrow.next {
  right: -45px;
}

.brand-wrap-title {
  font-size: 32px;
  font-family: var(--font-Medium);
  margin-bottom: 40px;
}

.brand-slider-items {
  padding: 0 15px 15px;
}

.brand-slider {
  position: relative;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1280px) {
  .brand-slider-items img {
    width: auto !important;
  }

  .owl__arrow {
    display: none !important;
  }

  .brand-slider .owl-dots {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 480px) {
  .brand-wrap {
    padding: 30px 10px;
  }

  .brand-wrap-title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .VueCarousel-slide img {
    padding: 0 15px;
  }
}
</style>
