<template>
  <div>
    <div
      style=" display:inline-block; margin: 0 5px 0 5px;"
      v-for="item in backgrams"
      :key="item.id"
    >
      <div
        class="breadcrumb__items"
        @click="Category(item.id, item.image, item.category_title)"
      >{{ item.category_title }} / {{ ' ' }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      link: []
    };
  },
  computed: {
    ...mapGetters({
      backgrams: "category/backgrams"
    })
  },
  methods: {
    Category(id, image, title) {
      this.$emit("c-click", { id: id, image: image, title: title });
    }
  }
};
</script>

<style>
.breadcrumb__items {
  cursor: pointer;
  font-family: var(--font-Medium);
  margin-bottom: 5px;
}
</style>