<template>
  <!-- <form> -->
  <div class="service__dropdown">
    <h2>
      <b>{{Basket.question}}</b>
    </h2>
    <el-collapse accordion>
      <el-collapse-item
        v-for="basket in BasketData"
        :key="basket.id"
        :name="'coll'+basket.id"
        :title="basket.basket_items_label"
      >
        <div class="collapse__items d-flex" slot="header">
          <div class="collapse__text">
            <div class="articles__card--list d-flex align-center">
              <div class="laundry__icon">
                <img src="/img/laundry-icon-1.png" alt class="d-block" />
              </div>
              <div class="card__list--text">
                <h1>{{ basket.basket_items_label }}</h1>
              </div>
            </div>
          </div>
        </div>
        <div
          :class="
            basket.max == 1 || basket.services.length == 1
            ? 'collapse__content without-counter'
            : 'collapse__content empty--block'
            ">
          <div class="collapse__content--text">
            <div class="laundry__list" v-for="item in basket.items" :key="item.id">
              <div class="laundry__items d-flex f-wrap">
                <div class="laundry__text">
                    <h1>{{ item.value }}</h1>
                </div>
                <div class="laundry__checkbox d-flex align-center">
                  <input type="checkbox" id="1" style="display: none" />
                  <div class="checkbox--overlay">
                    <i class="el-icon-check"></i>
                  </div>
                  <div class="checkbox--text">
                    <div class="checkbox--text__toggle">
                      <span>{{ $t('Remote') }}</span>
                      <span>{{ $t('Add') }}</span>
                    </div>
                  </div>
                </div>

                <div class="laundry__inputs">
                    <div class="laundry__select">
                        <el-select
                            v-model="SelectData[item.id]"
                            collapse-tags
                            :placeholder="$t('Select')"
                            clearable
                            @change="onChange(item,SelectData[item.id])">
                            <el-option
                                v-for="ser in basket.services"
                                :key="ser.id"
                                :label="ser.value"
                                :value="ser"
                            >
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <label
                    for="1"
                    class="laundry__items--item"
                    @click="toggleList($event.target)"
                ></label>
              </div>
            </div>
          </div>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- </div>
    </form>-->
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    Basket: { type: Object }
  },
  computed: {
    ...mapGetters(["cart"])
  },
  data() {
    return {
      SelectData: [],
      radios: "checked"
    };
  },
  created: function() {
    this.BasketData = this.Basket.baskets;
  },
  methods: {
    ...mapActions({
      setCart: 'cart/setCartBasketProvider'
    }),
    onChange(item, service) {
      let object = 
        {
          basket_services_label : item.basket_services_label,
          basket_items_label : item.basket_items_label,
          item_label : item.value,
          quantity_unit_label : item.quantity_unit_label,
          item_id : item.id,
          service_label : service.value,
          service_id : service.id
        }
      this.setCart(object)
        .then(res => {
        })
        .catch(err => {
            this.MessageError();
        });
    },
    toggleList(event) {
        $(event)
            .parent()
            .toggleClass("active");
    },
    Message() {
        this.$notify({
            title: "Warning",
            type: "warning",
            offset: 50,
            message: "Please select . . . "
        });
    },
    MessageError() {
        this.$notify({
            title: "Error",
            type: "error",
            duration: 10000,
            position: "bottom-right",
            message: "Server error, Please refresh the page and try again"
        });
    }
  },
  components: {}
};
</script>

<style>
.damn-design-mistake .el-select {
  width: 100%;
  /* border-right: 1px solid #e7e7e7; */
}

.damn-design-mistake-title {
  font-family: var(--font-Medium);
}

.laundry__select .el-select {
  width: 100%;
}

.without-counter .laundry__select,
.without-counter .laundry__count {
  margin-left: auto;
  margin-right: 15px;
  width: 75%;
}

.without-counter .save__button {
  margin-left: auto;
}

.card__list--icon {
  line-height: 0.7;
  transform: translateY(2px);
}

.service__dropdown .collapse__items,
.service__dropdown .con-content--item,
.service__dropdown .laundry__list {
  padding: 0;
}

.service__dropdown .articles__card--list {
  padding: 8px 0;
}

.service__dropdown .collapse__content--text {
  padding: 0 0 10px 0;
}

.service__dropdown {
  margin-bottom: 20px;
}

.service__dropdown .laundry__list:last-child {
  margin-bottom: 0;
}

.checkbox--text {
  height: 20px;
  width: 45px;
  overflow: hidden;
  position: relative;
}

.checkbox--text__toggle {
  position: absolute;
  top: -30px;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkbox--text__toggle span:first-child {
  margin-bottom: 10px;
}

.laundry__items.active .checkbox--text__toggle {
  top: 0px;
}

.checkbox--text__toggle span {
  display: block;
  font-size: 12px;
}

.laundry__select label {
  margin-bottom: 0;
}

.laundry__count {
  margin-left: 15px;
}

/* .laundry__count > div {
        width: 50px;
        text-align: center;
        height: 40px;
        line-height: 46px;
        border: solid 1px #e7e7e7;
    }

    .laundry__count > div i {
        font-size: 20px;
    } */

.laundry__count .laundry__count--remove,
.laundry__count .laundry__count--add {
  background: #d7d7d74a;
}

.laundry__count .laundry__count--remove {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.laundry__count .laundry__count--res {
  border-right: none;
  border-left: none;
}

.laundry__count .laundry__count--res input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #a09999;
  background: none;
}

.laundry__count .laundry__count--add {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.laundry__items.active {
  border-color: #f5d200;
  transition: all 300ms;
}

.checkbox--overlay > i {
  display: block;
  opacity: 0;
  transition: all 300ms;

  color: #fff;
}

.laundry__items.active .checkbox--overlay {
  border-color: transparent;
  background: #ffc107;
}

.laundry__items.active .checkbox--overlay i {
  opacity: 1;
}

.checkbox--overlay {
  width: 20px;
  height: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox--text {
  font-family: "HeeboMedium";
  font-size: 13px;
}

.laundry__text > h1 {
  font-family: var(--font-Medium);
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px !important;
}

.laundry__list {
  width: 100%;
  margin-bottom: 15px;
}

.laundry__items {
  position: relative;
  padding: 15px 10px;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
}

.laundry__inputs {
  position: relative;
  z-index: 2;
  display: flex;
  opacity: 0;
  align-items: center;
  transition: all 350ms;
  visibility: hidden;
}

.laundry__items.active .laundry__inputs {
  opacity: 1;
  visibility: visible;
}

.laundry__items--item {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.laundry__icon {
  display: none;
  width: 50px;
  padding-left: 5px;
  margin-right: 10px;
}

.laundry__icon img {
  margin-top: 5px;
}

.laundry__text {
  /* width: 150px; */
  width: 100% !important;
}

.laundry__inputs {
  flex: 1;
}

.laundry__checkbox {
  margin-right: 10px;
}
</style>
