<template>
  <div class="container">
    <div class="category-wrap">
      <div class="category-list" :dir="dir">
        <h1 class="category-list__title">{{ $t("Make Your Choose") }}</h1>

        <el-row :gutter="20" type="flex">
          <el-col
            :key="index"
            v-for="(category, index) in list"
            vs-w="3"
            class="category__column"
            :span="6"
          >
            <div
              class="category-list-items"
              @click="
                viewSubCategory(category.id, category.image, category.title)
              "
            >
              <div class="category-list-item">
                <img :src="category.image" alt class="max-none d-block transition" />
              </div>
              <p class="category-list-text text-center">
                {{ category.title }}
                <!-- <router-link to="delivery-service-step2">{{ category.text }}</router-link> -->
              </p>
            </div>
          </el-col>
        </el-row>

        <!-- <router-link to="/catalog-service" class="category-list-items">
          <div class="category-list-item">
            <img
              src="https://api.800fix.net/vendor/bek96/album/images//initial/2020-04-26-23-53-28-20.jpeg"
              alt
              class="max-none d-block transition"
            />
          </div>
          <p class="category-list-text text-center">
            New Section
          </p>
        </router-link>-->

        <el-dialog
          :title="DialogTitle"
          :visible.sync="popupActivo"
          class="category-popup main__popup"
        >
          <div class="category-list-popup">
            <modal :parent_id="parent_id" :image="image" :title="DialogTitle"></modal>
          </div>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<style>
.category-wrap {
  padding: 30px;
}

.main__popup .el-dialog__body {
  padding: 0;
}

.el-dialog {
  width: 75%;
}
.explore--all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fceb108f;
}

.explore--all i {
  /* display: none; */
  color: #fff;
  font-size: 40px;
}

.category-list__title {
  font-size: 32px;
  /* font-family: "NeoSans-Medium"; */
  font-family: var(--font-Medium);
  text-align: center;
  padding: 10px 0 20px 0;
}

.category-popup .vs-popup--close {
  position: absolute !important;
  right: 8px !important;
  top: 8px !important;
  box-shadow: initial !important;
  color: inherit !important;
}

.category-popup.con-vs-popup .vs-popup--content {
  padding: 0;
  margin: 0;
}

.category-popup .el-dialog {
  max-width: 1100px;
  width: inherit;
}

.vs-popup--title {
  display: none;
}

.category-list-items {
  padding: 15px;
  cursor: pointer;
  margin-bottom: 3px;
  display: block;
}

.category-list-items:hover img {
  transform: scale(1.1);
}

.category-list-item {
  border: solid 8px #ffe355;
  width: 206px;
  height: 206px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.category-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-list-text {
  margin-top: 10px;
  /* font-family: "NeoSans-Medium"; */
  font-family: var(--font-Medium);
  font-size: 16px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1024px) {
  .category__column {
    width: 33.333% !important;
  }

  .category-list-item,
  .category__column > a {
    margin: auto;
  }

  .category-popup .el-dialog {
    max-width: 90%;
    overflow: hidden;
  }

  .category-list-box-items {
    width: calc(33.333% - 40px);
  }
}

@media (max-width: 992px) {
  .box--list {
    margin: auto;
  }

  .category-sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .category__column {
    width: 50% !important;
  }
}

@media (max-width: 480px) {
  .category-list__title {
    font-size: 25px;
  }

  .category-wrap {
    padding: 10px 0 !important;
  }

  .category-list-item {
    width: 165px;
    height: 165px;
  }

  .category-list-box-items {
    width: calc(50% - 40px);
  }

  .category-list-box {
    padding: 0;
  }

  .category-popup .el-dialog__body {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  .category-list-item {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  .category__column {
    width: 100% !important;
  }

  .category-list-item {
    width: 200px;
    height: 200px;
  }

  .category-list-box-items {
    width: calc(50% - 10px);
    margin: 10px 5px;
  }
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
import modal from "./modal";
export default {
  data() {
    return {
      DialogTitle: "",
      parent_id: "",
      image: "",
      lang: this.$i18n.locale,
      pagination: {
        count: 20,
        current_page: 1,
        per_page: 7,
        total: 101,
        total_pages: 6
      },
      popupActivo: false
      // categoryArray: []
    };
  },
  components: {
    modal
  },
  computed: {
    ...mapGetters({
      list: "category/list"
    })
  },
  async created() {
    if (this.list.length == 0) {
      await this.fetchData();
    }
  },
  methods: {
    ...mapActions({
      category: "category/index"
    }),
    fetchData() {
      let dataFetchUrl = `lang=${this.lang}`;
      this.category(dataFetchUrl)
        .then(res => {})
        .catch(err => {});
    },
    viewSubCategory(id, image, title) {
      this.parent_id = id;
      this.image = image;
      this.DialogTitle = title;
      this.popupActivo = true;
    }
  }
};
</script>
