<template>
  <div class="category-items-wrap" :dir="dir">
    <div class="container">
      <h1 class="service-title">{{ $t("Popular services") }}</h1>
      <nav class="list-navigation">
        <ul class="d-flex f-wrap">
          <li v-for="(list, index) in categoryList" :key="index">
            <router-link v-if="list.children_count" to="/">{{list.title}}</router-link>
            <router-link
              else
              :to="{ path: '/service/'+list.id, params: { id: list.id } }"
              class="d-block"
            >{{ list.title }}</router-link>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<style>
.category-items-wrap {
  background: #ffef00;
  padding: 42px 0 45px 16px;
}

.service-title {
  font-family: "NeoSans-Medium";
  margin-bottom: 14px;
  /* font-size: 17px; */
}

.list-navigation ul {
  margin: 0 -15px;
}

.list-navigation li {
  margin-bottom: 5px;
  width: 25%;
  padding: 0 15px;
}

.list-navigation li a {
  color: inherit;
  font-size: 14px;
  font-family: var(--font-Regular);
}

.list-navigation li a:hover {
  opacity: 0.75;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 768px) {
  .list-navigation li {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .list-navigation li {
    width: 100%;
  }
}
</style>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      isPopular: true,
      lang: this.$i18n.locale,
      categoryList: []
    };
  },
  async created() {
    await this.topCategory();
  },
  methods: {
    ...mapActions({
      popular: "category/popular"
    }),
    topCategory() {
      let dataFetchUrl = { lang: this.lang };

      this.popular(dataFetchUrl)
        .then(res => {
          this.categoryList = res.data.categories;
        })
        .catch(err => {});
    }
  }
};
</script>
