<template>
  <div class="UserDashboard" :dir="dir">
    <main class="main">
      <div class="user__dashboard--wrap">
        <DashboardHeader></DashboardHeader>
        <loading
          :active.sync="isLoading"
          :can-cancel="false"
          :is-full-page="fullPage"
          :color="'#F5D200'"
          :opacity="1"
        ></loading>
        <router-view />
      </div>
    </main>
  </div>
</template>

<style>
.card__list--icon i {
  font-size: 24px;
}

.articles__card--footer {
  padding: 1em;
  border-top: 1px solid #dedede;
}

.card__list--icon {
  margin-right: 15px;
}

.article--accepted .card__list--status h1 {
  color: red;
}

.articles__card--footer a {
  color: #f5d200;
  font-family: var(--font-Medium);
}

.articles__card--footer p {
  opacity: 0.6;
}

.dashboard__articles {
  column-width: 30em;
}

.dashboard__articles--items {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #dedede;
}

.articles__card--header,
.articles__card--list {
  padding: 1em;
  border-bottom: 1px solid #dedede;
}

.articles__card--list:last-child {
  border-bottom: none;
}

.articles__card--header h1 {
  opacity: 0.6;
}

.articles__card--header h1,
.card__list--text h1 {
  font-family: var(--font-Medium);
  font-size: 15px;
}

.card__list--status {
  align-self: flex-end;
  /* opacity: .6; */
  text-align: right;
  width: 195px;
}

.card__list--text p,
.card__list--text span,
.card__list--status h1,
.card__list--status p {
  font-size: 14px;
}

.bottom--line {
  height: 4px;
  width: 50px;
  background: var(--hover);
  margin-top: 5px;
}

/******************** MEDIA ***************************/
@media (max-width: 960px) {
  .card__items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .card__items h1 {
    margin-bottom: 0.25rem;
  }

  .card__items h1 span {
    display: inline-block;
  }

  .card__items p {
    font-size: inherit;
  }

  .card__items p br {
    display: none;
  }
}

@media (max-width: 850px) {
  .dashboard__row {
    flex-wrap: wrap;
  }

  .card__items {
    width: calc(50% - 10px);
    margin-bottom: 15px;
  }

  .dashboard__navigation--link span {
    font-size: 12px;
  }

  .dashboard__title h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .dashboard__title {
    display: none;
  }

  .dashboard__navigation {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .user__dashboard--wrap {
    padding-top: 0px;
  }
}

@media (max-width: 480px) {
  .user__dashboard--header .container {
    padding: 0;
  }

  .dashboard__navigation ul {
    width: 100%;
    justify-content: space-between;
  }

  .dashboard__navigation--link {
    padding: 22px 10px 12px 10px;
  }

  .card__items {
    width: calc(100% - 0px);
  }
}

@media (max-width: 320px) {
  .dashboard__navigation--link span {
    font-size: 11px;
  }

  .dashboard__navigation--link {
    padding: 22px 5px 12px 5px;
  }
}
</style>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import DashboardHeader from "./Components/UIComponents/DashboardHeader";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      newRequests: [],
      confirmedRequests: [],
      inProgressRequests: [],
      newRequestsCount: 0,
      confirmedRequestsCount: 0,
      inProgressRequestsCount: 0,
      Tickets: [],
      isLoading: false,
      fullPage: true
    };
  },
      computed: {
      ...mapGetters({
        user_id: "auth/id"
      })
    },
    created: function() {
      if (!this.user_id) {
        this.$router.push('/login');
      }
    },
  components: {
    DashboardHeader,
    Loading
  },
};
</script>
