

<template>
    <div class="wrap-all AboutUs" :dir="dir">
        <loading :active.sync="isLoading" 
                :can-cancel="false" 
                :is-full-page="fullPage"
                :color="'#F5D200'"
                :opacity="1"></loading>
        <div class="header-overlay"></div>

        <div class="content-wrap">
            <div class="container">
                <h1 class="inner-wrap-title">{{ PageData.title }}</h1>

                <div class="inner-wrap">
                    <div class="wrap-row d-flex">
                        <div v-html="PageData.content">

                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>


<style scoped>

    .AboutUs .wrap-row {
        padding: 0;
    }

    .AboutUs .row-items {
        margin: 0 !important
    }

    .card--header {
        width: 65px;
        height: 65px;
        border-radius: 12px;
        text-align: center;
        background: #ffe76f;
        line-height: 85px;
    }

    .card--header i {
        font-size: 32px;
    }

    .card--body > h1 {
        color: #a08500;
        max-width: 165px;
        font-family: var(--font-Medium);
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }

    .col-4 {
        flex: 0 1 25%;
    }

    .wrap-row {
        margin: 0 -15px;
    }

    .wrap-row > div {
        padding: 0 15px;
    }

    .row-left, .col-7 {
        flex: 0 1 58.3333%;
    }

    .row-right, .col-5 {
        flex: 0 1 41.6666%;
    }

    .title {
        font-family: var(--font-Medium);
        font-size: 18px;
    }

    .descr {
        font-size: 15px;
        margin: 8px 0 40px;
        line-height: 24px;
    }

    .inner-wrap {
        padding: 35px 45px;
    }

    .map-aside {
        width: 360px;
        margin-left: auto;
        border: solid 8px #ffd709;
        box-shadow: 0px 0px 9px rgba(122,122,122,0.5);
        border-radius: 4px;
        transform: translateY(25px);
    }

    .map-aside img {
        transform: translate(20px, -20px);
    }

</style>

<script>

    import Vue from 'vue'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';


    export default {
        data() {
            return {
                isLoading: false,
                fullPage: false,
                slug:'',
                lang: this.$i18n.locale,
                PageData:[]
            }
        },
        components: {
            Loading
        },
        async created() {
            this.doAjax(true)
            await this.Page()
        },
        methods: {
            Page(){
                let dataFetchUrl = {
                    slug: this.$route.params.slug,
                    lang: this.lang
                }
                this.$store.dispatch('page/show', dataFetchUrl)
                .then(res => {
                    this.PageData = res.data.page
                    this.doAjax(false)
                })
                .catch(err => {
                    if (err.code == 404) {
                        this.$router.push('/404')
                    }
                    console.log(err.code)
                })      
            },
            doAjax(data) {
                this.isLoading = data;
            }
        }
    }
</script>
