<template>
  <div class="UserDashboard">
    <main class="main">
      <div class="user__dashboard--wrap">
        <div class="container">
          <loading
            :active.sync="isLoading"
            :can-cancel="false"
            :is-full-page="fullPage"
            :color="'#F5D200'"
            :opacity="1"
          ></loading>

          <div class="provider-profile">
            <form
              class="profile-form d-flex"
              @keypress.enter="updateUser"
              @submit.prevent="updateUser"
            >
              <div class="profile-form-wrap d-flex f-wrap jfy-bwn">
                <div class="profile-form-input">
                  <BaseInput
                    :label="$t('First name')"
                    v-model="User.first_name"
                    :model="User.first_name"
                    :placeholder="$t('Type here')"
                    :id="'first_name'"
                    :type="'text'"
                  />
                </div>
                <div class="profile-form-input">
                  <BaseInput
                    :label="$t('Last name')"
                    v-model="User.last_name"
                    :model="User.last_name"
                    :placeholder="$t('Type here')"
                    :id="'last_name'"
                    :type="'text'"
                  />
                </div>

                <div class="profile-form-input">
                  <BaseInput
                    :label="$t('User name')"
                    v-model="User.username"
                    :model="User.username"
                    :placeholder="$t('Type here')"
                    :id="'username'"
                    :type="'text'"
                  />
                </div>
                <div class="profile-form-input">
                  <div class="block">
                    <label class="auth-form-label d-block">
                      <span class="demonstration label-title">{{$t('Data')}}</span>
                      <el-date-picker
                        v-model="User.date_birth"
                        type="date"
                        placeholder="Pick a day"
                      >
                      </el-date-picker>
                    </label>
                  </div>
                </div>

                <div class="profile-form-input">
                  <BaseInput
                    :label="$t('Email')"
                    v-model="User.email"
                    :model="User.email"
                    :placeholder="'ex.name@gmail.com'"
                    :id="'email'"
                    :type="'email'"
                  />
                </div>
                <div class="profile-form-input">
                  <BaseInput
                    :label="$t('Phone')"
                    v-model="User.phone"
                    :model="User.phone"
                    :placeholder="$t('Type here')"
                    :id="'phone'"
                    :type="'text'"
                  />
                </div>

                <!-- Horizontal Line -->
                <div class="horizontal__line"></div>
                <!-- End Horizontal Line -->

                <div class="profile-form-date">
                  <BaseButton :loadingButton="submitLoading" @c-click="submit" :ValueText="$t('Save changes')" />
                </div>
              </div>
              <div class="profile-form-avatar">
                <UserAvatar></UserAvatar>
              </div>
            </form>

            <form
              class="reset__password"
              @keypress.enter="updatePassword"
              @submit.prevent="updatePassword"
            >
              <div class="profile-form-wrap d-flex f-wrap jfy-bwn">
                <div class="profile-form-date d-flex f-wrap jfy-bwn">
                  <div class="profile-form-input">
                    <BaseInput
                      v-model="password"
                      :model="password"
                      :label="'Password'"
                      :placeholder="'*******'"
                      :id="'password'"
                      :type="passwordType"
                    />
                    <div class="password-visible" @click="passwordVisible">
                      <i class="el-icon-view"></i>
                    </div>
                  </div>

                  <div class="profile-form-input">
                    <div class="form-submit-wrap">
                      <BaseButton :loadingButton="updateLoading" @c-click="updatePassword" :ValueText="$t('Change password')" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<style>
.provider-profile {
  background: #fff;
  padding: 50px;
  border-radius: 5px;
}

.provider-profile {
  margin: 50px 0;
}

.provider-profile .profile-form-wrap {
  flex: 1;
}

.provider-profile .profile-form-input {
  width: calc(50% - 10px);
}

@media (max-width: 768px) {
  .provider-profile .profile-form-wrap .form-submit {
    margin-top: 5px;
  }
}

@media (max-width: 578px) {
  .provider-profile {
    padding: 25px 15px;
  }

  .provider-profile .profile-form-input {
    width: 100%;
  }
}
</style>

<script>
import UserAvatar from "@/components/CommonComponents/UserAvatar";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

import { mapGetters, mapActions } from "vuex";

export default {
  name: "DashboardProfile",
  data() {
    return {
      passwordType: "password",
      User: {
        username: "",
        first_name: "",
        last_name: "",
        date_birth: "",
        email: "",
        phone: "",
        address: "",
        image: "",
        token: ""
      },
      password: "",
      submitLoading:false,
      updateLoading:false,
      isLoading: false,
      fullPage: true
    };
  },
  created(){
    this.fetchData();
  },
  methods: {
    ...mapActions({
      getUser:'auth/getInfo',
      save: "auth/updateUserProfile",
      savePassword: "auth/updatePassword"
    }),
    fetchData(){
      this.getUser()
      .then(res => {
        this.User = res.data;
      })
      .catch(err => {
        console.log(err);
      })
    },
    passwordVisible() {
      this.passwordType =
        this.passwordType === "password" ? "text" : "password";
    },
    submit(){
      var formDataUpdate = new FormData();

      for(var key in this.User){
        if (key == 'image' && typeof this.User[key] == 'string') {
          console.log(this.User[key]);
        }else{
          formDataUpdate.append(key,this.User[key])   
        }
      }
      formDataUpdate.append('_method',"PUT")
      this.submitLoading = true;
      this.save(formDataUpdate)
      .then(res => {
        this.submitLoading = false;
        this.Alert('Success','#ffffff', 'Saved changes');
      })
      .catch(err => {
        this.submitLoading = false;
        console.log(err);
      })
    },
    updatePassword(){
      this.updateLoading = true;
      this.savePassword({password: this.password})
      .then(res => {
        this.Alert('Success','#ffffff', 'Update password');
        this.updateLoading = false;
      })
      .catch(err => {
        this.updateLoading = false;
        console.log(err);
      })
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result.toLowerCase()
      });
    },
  },
  components: {
    UserAvatar,
    Loading
  }
};
</script>
