<template>
  <div class="wrap-all TermsPage" :dir="dir">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t("How it works?") }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row d-flex f-wrap how-it-works">
            <div class="col-6">
              <div class="works-list d-flex align-center">
                <div class="works-list__number">1</div>
                <div class="works-list__icon">
                  <img src="/img/features-icon-1.png" alt class="d-block" />
                </div>
                <div class="works-list__text">
                  <h1 class="title">{{ $t("Select preferred service") }}</h1>
                  <p class="descr">
                    {{
                    $t(
                    "Pick the service price that suits you from a vast of trusted service providers in various domains."
                    )
                    }}
                  </p>
                </div>
              </div>
              <div class="works-list d-flex align-center">
                <div class="works-list__number">2</div>
                <div class="works-list__icon">
                  <img src="/img/features-icon-2.png" alt class="d-block" />
                </div>
                <div class="works-list__text">
                  <h1 class="title">{{ $t("Describe the task or problem") }}</h1>
                  <p class="descr">
                    {{
                    $t(
                    "Pick the service price that suits you from a vast of trusted service providers in various domains."
                    )
                    }}
                  </p>
                </div>
              </div>
              <div class="works-list d-flex align-center">
                <div class="works-list__number">3</div>
                <div class="works-list__icon">
                  <img src="/img/features-icon-3.png" alt class="d-block" />
                </div>
                <div class="works-list__text">
                  <h1 class="title">{{ $t("Choose location and timing") }}</h1>
                  <p class="descr">
                    {{
                    $t(
                    "Pick the service price that suits you from a vast of trusted service providers in various domains."
                    )
                    }}
                  </p>
                </div>
              </div>
              <div class="works-list d-flex align-center">
                <div class="works-list__number">4</div>
                <div class="works-list__icon">
                  <img src="/img/features-icon-4.png" alt class="d-block" />
                </div>
                <div class="works-list__text">
                  <h1 class="title">{{ $t("Make payment and job done") }}</h1>
                  <p class="descr">
                    {{
                    $t(
                    "Pick the service price that suits you from a vast of trusted service providers in various domains."
                    )
                    }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="video-wrap">
                <div class="overlay"></div>
                <my-video :sources="video.sources" :options="video.options"></my-video>
              </div>

              <p class="descr-video">Video: How to order a service</p>
            </div>
            <div class="col-9">
              <p class="descr">
                {{
                $t(
                "Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo eni sai th ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione kavosvo uptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore"
                )
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <CategoryItems></CategoryItems>
  </div>
</template>

<style>
.__cov-contrl-content {
  display: flex !important;
}
.col-9 {
  flex: 0 1 75%;
}

.descr-video {
  color: rgba(28, 28, 28, 0.42);
  margin-top: 10px;
  text-align: center;
  font-family: "HeeboMedium";
}

.video-wrap {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #00000029;
  z-index: 1;
  cursor: pointer;
}

.works-list {
  margin-bottom: 50px;
}

.wrap-row {
  margin: 0 -15px;
}

.wrap-row > div {
  padding: 0 15px;
}

.title {
  font-family: var(--font-Medium);
  font-size: 18px;
}

.descr {
  font-size: 15px;
  margin: 8px 0 0px;
  line-height: 24px;
}

.works-list__number {
  width: 48px;
  height: 48px;
  background: #ffed91;
  border-radius: 100%;
  text-align: center;
  line-height: 48px;
  color: rgba(28, 28, 28, 0.42);
  font-family: var(--font-Heebo);
  font-size: 18px;
}

.works-list__icon {
  width: 100px;
}

.works-list__icon > img {
  margin: auto;
}

.works-list__text {
  flex: 1;
}

.wrap-row {
  padding: 30px;
}

.col-6 {
  flex: 0 1 50%;
}

/*****************************************************/
@media (max-width: 768px) {
  .how-it-works > div {
    width: 100%;
    flex: 0 1 100%;
    padding: 0;
  }
  .works-list__number {
    display: none;
  }
}
</style>

<script>
import myVideo from "vue-video";
import CategoryItems from "../Category/popular";

export default {
  name: "HowItWorks",
  data() {
    return {
      video: {
        sources: [
          {
            src: "/img/video/video.mp4",
            type: "video/mp4"
          }
        ],
        options: {
          autoplay: false,
          volume: 0.6,
          poster: "/img/video/poster-video.png"
        }
      }
    };
  },
  components: {
    myVideo,
    CategoryItems
  }
};
</script>
