<template>
  <div class="user-tabs-profile">
    <form
      class="profile-form d-flex"
      @keypress.enter="submit"
      @submit.prevent="submit"
    >
      <div class="profile-form-wrap d-flex f-wrap jfy-bwn">
        <div class="profile-form-input">
          <BaseInput
            :label="$t('First name')"
            v-model="User.first_name"
            :model="User.first_name"
            :placeholder="$t('Type here')"
            :id="'first_name'"
            :type="'text'"
          ></BaseInput>
        </div>
        <div class="profile-form-input">
          <BaseInput
            :label="$t('Last name')"
            v-model="User.last_name"
            :model="User.last_name"
            :placeholder="$t('Type here')"
            :id="'last'"
            :type="'text'"
          ></BaseInput>
        </div>

        <div class="profile-form-input">
          <BaseInput
            :label="$t('User name')"
            v-model="User.username"
            :model="User.username"
            :placeholder="$t('Type here')"
            :id="'username'"
            :type="'text'"
          ></BaseInput>
        </div>
        <div class="profile-form-input">
          <div class="block">
            <label class="auth-form-label d-block">
              <span class="demonstration label-title">{{ $t('Data') }}</span>
              <el-date-picker
                v-model="User.date_birth"
                type="date"
                placeholder="Pick a day"
              >
              </el-date-picker>
            </label>
          </div>
        </div>

        <div class="profile-form-input">
          <BaseInput
            :label="$t('Email')"
            v-model="User.email"
            :model="User.email"
            :placeholder="'ex.name@gmail.com'"
            :id="'email'"
            :type="'email'"
          ></BaseInput>
        </div>
        <div class="profile-form-input">
          <BaseInput
            :label="$t('Phone')"
            v-model="User.phone"
            :model="User.phone"
            :placeholder="$t('Type here')"
            :id="'phone'"
            :type="'text'"
          ></BaseInput>
        </div>

        <!-- Horizontal Line -->
        <div class="horizontal__line"></div>
        <!-- End Horizontal Line -->

        <div class="profile-form-date">
          <BaseInput
            :label="$t('Address (Default)')"
            v-model="User.address"
            :model="User.address"
            :placeholder="$t('Type here')"
            :id="'address'"
            :type="'text'"
          ></BaseInput>
        </div>

        <!-- Horizontal Line -->
        <div class="horizontal__line"></div>
        <!-- End Horizontal Line -->

        <div class="profile-form-date">
          <BaseButton :loadingButton="loading" @c-click="submit" :ValueText="$t('Save changes')"></BaseButton>
        </div>
      </div>
      <div class="profile-form-avatar">
        <UserAvatar></UserAvatar>
      </div>
    </form>

    <form
      class="reset__password"
      @keypress.enter="updatePassword"
      @submit.prevent="updatePassword"
    >
      <div class="profile-form-wrap d-flex f-wrap jfy-bwn">
        <div class="profile-form-date d-flex f-wrap jfy-bwn">
          <div class="profile-form-input">
            <BaseInput
              v-model="user_password"
              :model="user_password"
              :label="$t('Password')"
              :placeholder="'*******'"
              :id="'text'"
              :type="passwordType"
            ></BaseInput>
            <div class="password-visible" @click="passwordVisible">
              <i class="el-icon-view"></i>
            </div>
          </div>

          <div class="profile-form-input">
            <div class="form-submit-wrap">
              <BaseButton :loadingButton="updateLoading" @c-click="updatePassword" :ValueText="$t('Change password')"></BaseButton>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import UserAvatar from "@/components/CommonComponents/UserAvatar";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Profile",
  data() {
    return {
      User: {
        username: "",
        first_name: "",
        last_name: "",
        date_birth: "",
        email: "",
        phone: "",
        address: "",
        image: "",
        token: ""
      },
      loading:false,
      user_password: "",
      passwordType: "password",
      updateLoading:false
    };
  },
  created(){
    this.fetchData();
  },
  methods: {
    ...mapActions({
      getUser:'auth/getInfo',
      save: "auth/updateUserProfile",
      savePassword: "auth/updatePassword"
    }),
    fetchData(){
      this.getUser()
      .then(res => {
        this.User = res.data;
      })
      .catch(err => {
        console.log(err);
      })
    },
    passwordVisible() {
      this.passwordType =
        this.passwordType === "password" ? "text" : "password";
    },
    submit(){
      this.loading = true;
      var formDataUpdate = new FormData();

      for(var key in this.User){
        if (key == 'image' && typeof this.User[key] == 'string') {
        }else{
          formDataUpdate.append(key,this.User[key])   
        }
      }
      formDataUpdate.append('_method',"PUT")
      this.save(formDataUpdate)
      .then(res => {
      this.loading = false;
        this.Alert('Success','#ffffff', 'Update user data');
        this.fetchData()
      })
      .catch(err => {
      this.loading = false;
      })
    },
    updatePassword(){
      if (this.user_password == '') {
        return;
      }
      this.updateLoading = true;
      this.savePassword({password: this.user_password})
      .then(res => {
        this.Alert('Success','#ffffff', 'Update password');
        this.updateLoading = false;
      })
      .catch(err => {
        this.updateLoading = false;
        console.log(err);
      })
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result.toLowerCase()
      });
    },
  },
  components: {
    UserAvatar
  }
};
</script>

<style></style>
