<template>
  <div class="UserDashboard">
    <main class="main">
      <div class="user__dashboard--wrap">
        <div class="container">
          <div class="dashboard--collapse">
            <loading
              :active.sync="isLoading"
              :can-cancel="false"
              :is-full-page="false"
              :color="'#F5D200'"
              :opacity="0.6"
            ></loading>

            <div class="no-content">
              <div v-if="list.length == 0" class="fouth__pane">
                <div class="collapse__list collapse__list-point">
                  <span class="collapse-item__empty">{{ $t('No Tickets') }}</span>
                </div>
              </div>
              <div
                class="collapse__list collapse__list--ticket"
                v-for="ticket in list"
                :key="ticket.id"
              >
                <div class="collapse__items d-flex">
                  <div class="collapse__text">
                    <div class="articles__card--list d-flex align-center">
                      <div class="card__list--icon">
                        <i class="el-icon-chat-line-square"></i>
                      </div>
                      <div class="card__list--text flex-1">
                        <h1>
                          <span>#{{ticket.id}} - {{ticket.subject}}</span>
                          <span class="request-date">07.05.2050 | 15:20</span>
                        </h1>
                        <p>{{ $t('From') }}:{{ticket.from_name}}</p>
                      </div>
                      <div class="collapse-list-route">
                        <router-link
                          :to="{ name: 'TicketShow', params: { id: ticket.id } }"
                          tag="div"
                          class="btn-sm d-flex align-center jfy-bwn"
                        >
                          <span>{{ $t('Show details') }}</span>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <el-pagination
                  v-if="pagination.total > 20"
                  background
                  :page-size="20"
                  @current-change="changeCurrentPage"
                  layout="prev, pager, next"
                  :total="pagination.total"
                ></el-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<style>
.collapse-list-route a {
  border-radius: 3px;
  background: #ffef00;
  color: inherit;
  padding: 10px;
}

.collapse-list-route a i {
  transform: rotate(-90deg);
  font-size: 20px;
}

.no-content .vs-collapse-item--content,
.no-content .icon-header {
  display: none !important;
}

.collapse__items--ticket {
  border-bottom: 1px solid #dedede;
}

.collapse__list--ticket .collapse__items {
  padding: 0;
}

.collapse__list--ticket .col-12 {
  padding-right: 0;
}

/********************** MEDIA **********************************/

@media (max-width: 480px) {
  .articles__card--list {
    align-items: initial;
    flex-wrap: wrap;
  }

  .collapse-list-route {
    flex: 0 1 100%;
    margin-top: 15px;
  }

  .collapse-list-route a {
    width: 125px;
  }
}
</style>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "DashboardTicket",
  data() {
    return {
      Tickets: [],
      isLoading: false,
      fullPage: true,
      lang: this.$i18n.locale,
      sort: {
        column: "id",
        order: "desc"
      }
    };
  },
  computed: {
    ...mapGetters({
      list: "ticket/list",
      pagination: "ticket/pagination"
    })
  },
  created: async function() {
    await this.fetchTickets();
  },
  components: {
    Loading
  },
  methods: {
    ...mapActions({
      ticketList: "ticket/index",
      setPagination: "ticket/setPagination"
    }),
    fetchTickets() {
      this.isLoading = true;
      let dataFetchUrl = `lang=${this.lang}&page=${this.pagination.current_page}&per_page=${this.pagination.per_page}&order=${this.sort.order}&column=${this.sort.column}&messages=true`;
      this.ticketList(dataFetchUrl)
        .then(res => {
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          this.isLoading = false;
        });
    },
    async changeCurrentPage(data) {
      await this.setPagination(data);
      await this.fetchTickets();
    }
  }
};
</script>
