<template>
  <div class="container">
    <div class="dashboard--collapse">
      <div class="user-conservation designer__mistake">
        <div class="conservation-form">
          <loading
            :active.sync="isLoading"
            :can-cancel="false"
            loader="bars"
            transition="slide-fade"
            :is-full-page="fullPage"
            :color="'#F5D200'"
            :opacity="0.6"
          ></loading>
          <div class="designer__mistake-heading">
            <el-button @click="$router.go(-1)" tag="div" class="btn btn-sm d-flex align-center jfy-bwn" >
            <i class="el-icon-arrow-left"></i>
              {{ $t("Go back") }}
            </el-button>
            <div class="con-form__header d-flex flex-1">
              <div>
                <span>{{ $t("Ticket type") }}:  </span>
                <span>{{ Ticket.subject }}</span>
              </div>
              <div>
                <span>{{ $t("Ticket ID") }}:  </span>
                <span>{{ Ticket.id }}</span>
              </div>
              <div>
                <span>{{ $t("Status") }}:  </span>
                <span>{{ Ticket.status }}</span>
              </div>
              <div>
                <span>{{ $t("Request ID") }}:  </span>
                <span>{{ Ticket.cart_id }}</span>
              </div>
              <div>
                <span>{{ $t("Create at") }}:  </span>
                <span>{{ Ticket.created_at }}</span>
              </div>
            </div>
          </div>

          <div class="con-form-body">
            <div v-for="message in messages" :key="message.id">
              <div
                class="con-form-list"
                :class="{
                  'user__comment-send': message.owner_id != id
                }"
              >
                <div class="con-list-avatar">
                  <div class="avatar-circle">
                    <img :src="message.image" alt="" />
                  </div>
                </div>
                <div class="con-list-message">
                  <p class="message-who" v-if="message.owner_id == id">
                    {{ $t("You") }}:

                    <span>
                      {{ message.data }}
                    </span>
                  </p>
                  <p class="message-who" v-else>
                    {{ $t("User") }}:
                    <span>
                      {{ message.data }}
                    </span>
                  </p>
                  <span>
                    {{ message.content }}
                  </span>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>

          <form v-if="!Ticket.closed" class="con-form-footer">
            <span>{{ $t("Reply") }}</span>
            <el-input
              type="textarea"
              :placeholder="$t('Send Comment')"
              v-model="message.content"
            >
            </el-input>

            <div class="con-form-send d-flex align-center jfy-bwn">
              <el-button :loading="loadingSubmit" @click="storeMessage" class="send-comment-btn">
                {{ $t('Send Comment') }}
              </el-button>
            </div>
          </form>
          <div v-else>{{ $t("This ticket closed") }}</div>
          <el-button :loading="loadingClose" @click="closeTicket" v-if="!Ticket.closed" class="close__btn">
            {{ $t("Close this ticket") }}
          </el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
body .go__request {
  text-align: right;
  width: 15%;
}

.designer__mistake .con-form-footer,
.designer__mistake .divider {
  width: 100%;
}

.designer__mistake-heading .go__back {
  margin-bottom: 15px;
  width: 165px;
  text-align: center;
  display: block;
}

.designer__mistake-heading .go__back i {
  line-height: initial;
}

.designer__mistake-heading {
  border-bottom: 1px solid #e7e7e7;
  margin: -20px -20px 0px;
  padding: 20px 20px 15px;
}

.designer__mistake .conservation-form {
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 0 5px #0000001c;
}

.close__btn {
  margin-top: 15px;
}

/*******************************************************/
@media (max-width: 578px) {
  .designer__mistake-heading .go__back {
    width: 100%;
  }

  .designer__mistake-heading {
    flex-direction: column;
    align-items: initial;
  }
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  name: "TicketShow",
  data() {
    return {
      loadingSubmit: false,
      loadingClose: false,
      ticket_id: null,
      Ticket: [],
      isLoading: false,
      lang: this.$i18n.locale,
      fullPage: false,
      message: {
        messages: true,
        ticket_id: 0,
        content: ""
      },
      messages: []
    };
  },
  watch: {
    $route: {
      handler: function() {
        this.ticket_id = this.$route.params.id;
        this.fetchTickets();
      },
      deep: true,
      immediate:true
    }
  },
  created: function() {
    this.ticket_id = this.$route.params.id;
      if (!this.ticket_id) {
        this.$router.go(-1)
      }
      this.message.ticket_id = this.$route.params.id;
      this.fetchTickets();
  },
  components: {
    Loading
  },
  computed: {
    ...mapGetters({
      id: "auth/id",
    })
  },
  methods: {
    ...mapActions({
        show : 'ticket/show',
        ticketClose : 'ticket/close',
        ticketMessage: 'ticketMessage/store',
        ticketList: 'ticket/index',
      }),
      fetchTickets() {
        let dataFetchUrl = {
          id: this.ticket_id,
          messages: true
        };
        this.isLoading = true;
        this.show(dataFetchUrl)
          .then(res => {
            this.Ticket = res.data.ticket;
            this.messages = res.data.ticket.messages;
            this.isLoading = false;
            this.TicketList();
          })
          .catch(err => {
            console.log(err);
            this.isLoading = false;
            if (err.code == 404) {
              this.Alert('Error','#ffffff','Ticket not found !')
            }
          });
      },
    storeMessage() {
      this.loadingSubmit = true;
      this.ticketMessage(this.message)
        .then(res => {
          this.loadingSubmit = false;
          this.Alert('Success', '#fff', 'Sending message')
          this.message.content = "";
          this.fetchTickets();
        })
        .catch(err => {
          this.loadingSubmit = false;
            alert(err);            
        });
    },
    closeTicket() {
      this.loadingClose = true;
      let dataFetchUrl = { id: this.ticket_id };
      this.ticketClose(dataFetchUrl)
        .then(res => {
          this.loadingClose = false;
          this.Alert('Success', '#fff', 'Ticket closed')
          this.fetchTickets();
        })
        .catch(err => {
          this.loadingClose = false;
          console.log(err);
        });
    },
    TicketList() {
        let dataFetchUrl = `lang=${this.lang}&messages=${true}`;
        this.ticketList(dataFetchUrl)
        .then(res => {
        })
        .catch(err => {
          console.log(err);
        });
      },
    Alert(result, color, message) {
        this.$notify({
          title: result,
          offset: 50,
          dangerouslyUseHTMLString: true,
          message: message,
          type: result.toLowerCase()
        });
      },
  }
};
</script>
