<template>
    <el-collapse>
        <el-collapse-item  :title="data.title"  v-if="data.children.length !== 0" :name="'children' + data.id">
            <Collapse v-for="item in data.children" :key="item.id" :data="item"></Collapse>
        </el-collapse-item>

        <ul class="collapse__lists" v-if="data.children.length == 0">
            <li class="collapse__lists--items">
                <router-link :to="{ name: 'Service', params: { id: data.id } }"> {{data.title}} </router-link>
            </li>
        </ul>

    </el-collapse>
</template>

<script>
import Collapse from './Collapse';
export default {
    name: "Collapse",
    props:['data'],
    components: {
      'collapse' : Collapse,
    }
}
</script>>