<template>
  <div class="UserDashboard">
    <main class="main">
      <div class="user__dashboard--wrap">
        <div class="container">
          <loading
            :active.sync="isLoading"
            :can-cancel="false"
            :is-full-page="fullPage"
            :color="'#F5D200'"
            :opacity="1"
          ></loading>
          <div class="dashboard--collapse">
            <div class="collapse__list collapse__list--service">
              <div>
                <div class="collapse__list--wrap">
                  <div class="collapse__list--items" v-for="(item, i) in categoryArray" :key="i">
                    <div>
                      <div class="collapse__list--item" @click="toggleSlide($event)">
                        <div class="collapse__list--header d-flex align-center">
                          <div class="collapse__list--text flex-1">
                            <p>
                              {{item.title}}
                            </p>

                            <span class="text__opacity">{{item.subtitle}}</span>
                          </div>
                          <div class="collapse__arrow">
                            <i class="el-icon-arrow-down"></i>
                          </div>
                        </div>

                        <div class="collapse__overlay"></div>
                      </div>

                      <div class="sub__collapse--wrap">
                        <div class="collapse__wrap--items" v-for="(nestedList, index) in item.children" :key="index">
                          <ProviderServiceForm :category="nestedList"></ProviderServiceForm>
                          <!-- <ProviderServiceForm></ProviderServiceForm> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<style>
.discount__input {
  border: 1px solid #ced4da;
  outline: none;
  padding: 7px;
  width: 80px;
  font-size: 14px;
  color: #736d6d;
  border-radius: 4px;
}

.collapse__list.collapse__list--service {
  background: initial !important;
}

.collapse__list--items {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #dededead;
  margin-top: 15px;
}

.collapse__submit button[type="submit"] {
  padding: 10px 50px;
  border-radius: 4px;
  background: #fceb10;
  border: none;
  font-family: var(--font-Heebo);
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.collapse__submit button[type="submit"]:hover {
  background: var(--hover);
}

.collapse__list--item.active .collapse__arrow i {
  transform: rotate(180deg);
}

.collapse__list--item .collapse__arrow i {
  transition: all 400ms;
}

.collapse__wrap--items {
  border-bottom: 1px solid var(--hover);
}

.collapse__wrap--items:last-child {
  border-bottom: 0;
}

.collapse__label {
  position: relative;
  flex: 1;
}

.collapse__label .collapse__overlay {
  cursor: pointer;
}

.collapse__category--cost,
.collapse__category--discount {
  opacity: 0;
  transition: all 400ms;
  visibility: hidden;
}

.collapse__category--cost.active,
.collapse__category--discount.active {
  opacity: 1;
  visibility: visible;
}

.collapse__input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: hidden;
}

.collapse__input--prefix {
  padding: 5px 9px;
  background: #e9ecef;
  font-size: 14px;
  line-height: 22px;
  color: #495057;
}

.collapse__input--text input {
  border: none;
  outline: none;
  padding: 7px;
  width: 80px;
  font-size: 14px;
  color: #736d6d;
}

.sub__collapse--wrap {
  display: none;
}

.collapse__category--cost > span,
.collapse__category--discount > span {
  line-height: 2.1;
  display: block;
  margin-left: 10px;
  color: #736d6d;
  font-size: 14px;
}

.collapse__category--discount > span {
  margin-right: 10px;
}

.collapse__discount .input-select-con input {
  font-size: 13px;
  color: #736d6d;
}

.collapse__discount .input-select-con i {
  font-size: 20px;
}

.collapse__list--item {
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.collapse__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.collapse__list--service .collapse__items {
  padding: 0;
}

.collapse__list--text > p,
.sub__collapse--text > p {
  font-family: var(--font-Medium);
  font-size: 0.9rem;
}

.sub__collapse--wrap .collapse__list--item {
  background: #fff99e;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.collapse__list--text .select__counter,
.sub__collapse--text .select__counter {
  font-size: 15px !important;
  font-family: "NeoSans-Regular";
  display: inline-block;
  margin-left: 10px;
  color: var(--hover);
}

.sub__collapse--text .select__counter.text__danger {
  color: red;
}

.text__opacity {
  opacity: 0.6;
  font-size: 14px;
}

.sub__collapse--text .material-icons {
  font-size: 22px;
  margin-right: 10px;
}

.collapse--padding {
  padding: 10px 15px;
}

.sub__collapse--title {
  font-family: var(--font-Medium);
  font-size: 0.92rem;
  margin-bottom: -5px;
}

.sub__collapse--category {
  border-bottom: 2px solid #dededead;
  padding: 10px 0;
}

.sub__collapse--category:last-child {
  border-bottom: 0;
  /* padding-bottom: 20px; */
}

.collapse__category--name {
  /* width: 300px; */
  line-height: 1.4;
}

.collapse__category--name p {
  letter-spacing: 0.15px;
}

/************************************ MEDIA ****************************************/

@media (max-width: 480px) {
  .sub__collapse--category {
    flex-wrap: wrap;
  }

  .collapse__label {
    margin-bottom: 10px;
  }

  .collapse__category--cost,
  .collapse__category--discount {
    flex-direction: column;
    width: 45%;
  }

  .collapse__category--cost > span {
    order: -1;
    text-transform: capitalize;
    margin-left: 0;
  }

  .collapse__category--discount > span {
    margin-left: 0;
  }

  .discount__input {
    width: 100%;
  }

  .collapse__category--cost,
  .collapse__category--discount {
    display: none;
  }

  .collapse__category--cost.active,
  .collapse__category--discount.active {
    display: flex;
  }
}
</style>

<script>
import ProviderServiceForm from "./../UIComponents/ProviderServiceForm";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "",
  data() {
    return {
      categoryArray: [],
      lang: this.$i18n.locale,
      isLoading: false,
      fullPage: false
    };
  },
  computed: {
    ...mapGetters({
      user_id: "auth/id"
    })
  },
  
  created: function() {
    this.fetchCategory();
  },
  methods: {
    ...mapActions({
      providerCategories: 'category/providerCategories'
    }),
    toggleSlide: function($event) {
      let _this = $event.target;

      $(_this)
        .parent()
        .toggleClass("active");

      $(_this)
        .parent()
        .next()
        .slideToggle("fast");
    },

    serviceDescr: function($event) {
      let _this = $event.target;

      $(_this)
        .parents(".collapse__label")
        .siblings()
        .toggleClass("active");
    },

    fetchCategory() {
      let dataFetchUrl = `lang=${this.lang}&attributes=${true}&children=${true}&user_id=${this.user_id}`;
      this.isLoading = true;
      this.providerCategories(dataFetchUrl)
        .then(res => {
          this.categoryArray = res.data.categories;
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    }
  },
  components: {
    Loading,
    ProviderServiceForm
  }
};
</script>
