<template>
  <div class="d-flex">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="'#F5D200'"
      :opacity="1"
    ></loading>
    <div class="category-sidebar">
      <img :src="backgroundImage" alt class="d-block" />
    </div>
    <div class="category-list-box d-flex f-wrap">
      <div class="col-12">
        <!-- <router-link
        to="/">
        0
        </router-link>
        <el-button>orqaga</el-button>-->
        <Backgrams @c-click="backItemCategory"></Backgrams>
      </div>
      <!-- delivery-service-step2 -->
      <!-- laundry-service -->
      <!-- car-tyre -->
      <!-- cleaning-form -->
      <!-- handyman -->
      <div class="category-list-box-items" v-for="(item, id) in listCategoryArray" :key="id">
        <!-- v-if="!item.children.data.length" -->
        <div v-if="!item.children.length" style="cursor:pointer" @click="getForm(item)">
          <div class="box--list">
            <BaseFeatureCircle :Icon="item.image"></BaseFeatureCircle>
          </div>
          <h1 class="text-center">{{ item.title }}</h1>
        </div>
        <!-- v-else -->
        <div
          v-else
          style="cursor:pointer"
          @click="subItemCategory(item.id, item.image, item.title)"
        >
          <div class="box--list">
            <BaseFeatureCircle :Icon="item.image"></BaseFeatureCircle>
          </div>
          <h1 class="text-center">{{ item.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapActions, mapGetters } from "vuex";
import Backgrams from "../../../Category/includes/backgrams";

export default {
  props: ["parent_id", "image", "title"],
  data() {
    return {
      isLoading: false,
      fullPage: false,
      backgroundImage: "/img/popup-img-1.png",
      lang: this.$i18n.locale,
      pagination: {
        count: 20,
        current_page: 1,
        per_page: 7,
        total: 101,
        total_pages: 6
      },
      listCategoryArray: [],
      category_id: null,
      category_title: "",
      backgrams: true
    };
  },
  watch: {
    parent_id: function(newVal) {
      console.log(newVal);
    }
  },
  components: {
    Loading,
    Backgrams
  },
  created() {
    this.backgrams = false;
    this.category_id = this.parent_id;
    this.category_title = this.title;
    this.doAjax(true);
    this.backgroundImage = this.image;
    this.subCategory();
  },
  methods: {
    ...mapActions({
      children: "category/children"
    }),
    subCategory() {
      let dataFetchUrl = {
        id: this.category_id,
        lang: this.lang,
        children: true,
        category_title: this.category_title,
        image: this.image,
        backgrams: this.backgrams
      };
      this.children(dataFetchUrl)
        .then(res => {
          this.listCategoryArray = res.data.categories;
          this.doAjax(false);
        })
        .catch(err => {
          this.doAjax(false);
        });
    },
    subItemCategory(id, image, title) {
      this.doAjax(true);
      this.backgroundImage = image;
      this.category_id = id;
      this.backgrams = true;
      this.category_title = title;
      this.subCategory();
    },
    doAjax(data) {
      this.isLoading = data;
    },
    backItemCategory(data) {
      this.doAjax(true);
      this.backgroundImage = data.image;
      this.category_id = data.id;
      this.backgrams = true;
      this.category_title = data.title;
      this.subCategory();
    },
    getForm(item) {
      this.$emit("access", item);
    }
  }
};
</script>
<style>
.category-list-box .category-list-box-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box--list {
  overflow: hidden;
}

.category-list-box-items h1 {
  margin-top: 10px;
  font-size: 15px;
  font-family: var(--font-Heebo-Medium);
  word-break: initial;
  color: #1c1c1c;
}

.category-list-box {
  padding: 20px 25px;
}

.box--list {
  width: 120px;
  height: 120px;
  border: solid 1px #f1f1f0;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(197, 197, 197, 0.31);
  border-radius: 100%;
  margin: auto;
}

.category-list-box-items {
  width: calc(25% - 40px);
  margin: 20px;
  position: relative;
  margin-bottom: 10px;
}

.category-sidebar {
  width: 360px;
}

.category-sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-popup .el-dialog {
  overflow: hidden;
  border-radius: 4px;
}

.category-list-box {
  flex: 1;
}
</style>
