<template>
  <div class="UserDashboard">
    <main class="main">
      <div class="user__dashboard--wrap">
        <div class="container">
          <loading
            :active.sync="isLoading"
            :can-cancel="false"
            :is-full-page="fullPage"
            :color="'#F5D200'"
            :opacity="1"
          ></loading>
          <div class="dashboard--collapse">
            <div class="collapse__list collapse__list--service">
              <div>
                <div class="collapse__list--wrap">
                  <div
                    class="collapse__list--items"
                    v-for="category in categoryArray"
                    :key="category.id"
                  >
                    <div>
                      <div class="collapse__list--item" @click="toggleSlide($event)">
                        <div class="collapse__list--header d-flex align-center">
                          <div class="collapse__list--text flex-1">
                            <p>{{category.title}}</p>
                            <span class="text__opacity">{{category.question}}</span>
                          </div>

                          <div class="add-service-wrap">
                            <el-button
                              type="text"
                              @click="viewSubCategory(category.id, category.image, category.title)"
                              class="add-service__button"
                            >{{ $t('Add Service') }}</el-button>
                          </div>

                          <div class="collapse__arrow">
                            <i class="el-icon-arrow-down"></i>
                          </div>
                        </div>

                        <div class="collapse__overlay"></div>
                      </div>

                      <div class="sub__collapse--wrap">
                        <div
                          class="collapse__wrap--items"
                          v-for="(children, index) in category.children"
                          :key="children.id + index"
                        >
                          <form
                            v-if="(children.services.services_list && children.services.services_list.length) || children.services.option_list && children.services.option_list.length"
                          >
                            <div class="collapse__list--item" v-on:click="toggleSlide($event)">
                              <div class="collapse__list--header d-flex align-center">
                                <div class="collapse__list--text flex-1">
                                  <div class="sub__collapse--text d-flex align-center">
                                    <i class="el-icon-setting"></i>
                                    <p>
                                      {{ children.title }}
                                      <!-- <span class="select__counter text__danger">
                                    0 selected
                                      </span>-->
                                    </p>
                                  </div>
                                </div>
                                <div class="collapse__arrow">
                                  <i class="el-icon-arrow-down"></i>
                                </div>
                              </div>

                              <div class="collapse__overlay"></div>
                            </div>

                            <div class="sub__collapse--wrap">
                              <!-- BEGIN SERVICE -->
                              <div
                                v-for="(service, i) in children.services.services_list"
                                :key="'service_' + i"
                              >
                                <div v-for="(service_item, j) in service" :key="'item_' + j">
                                  <div class="collapse--padding">
                                    <div class="collapse__wrap--items">
                                      <div class="collapse__wrap--items-in d-flex f-wrap">
                                        <div class="basket__wrapper">
                                          <div class="basket__wrapper-box basket-attr">
                                            <h2>{{ service_item.attribute ? service_item.attribute.title : '' }}</h2>
                                            <span
                                              class="el-icon-close service__close__button"
                                              @click="removeProviderService('service',service_item)"
                                            ></span>
                                            <div class="basket__list">
                                              <div>
                                                <div class="basket__list--title d-flex jfy-bwn">
                                                  <div
                                                    class="remove__item"
                                                  >{{ service_item.basket ? service_item.basket.title : '' }}</div>
                                                </div>
                                                <div class="basket__list--items d-flex jfy-bwn">
                                                  <h2>{{ service_item.item_name }}:</h2>
                                                  <p>
                                                    <span>
                                                      <span>{{ service_item.service_name }}</span>
                                                    </span>
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="collapse-service-list d-flex f-wrap">
                                          <div class>
                                            <span>{{ $t("Per item") }}</span>
                                            <div class="collapse__input d-flex">
                                              <span class="collapse__input--prefix">AED</span>
                                              <span class="collapse__input--text">
                                                <input
                                                  type="number"
                                                  :value="service_item.price"
                                                  :id="'service_item_price_'+service_item.id"
                                                  step="any"
                                                  min="0"
                                                />
                                              </span>
                                            </div>
                                          </div>
                                          <div class>
                                            <span>{{ $t("Discount") }}</span>
                                            <div class="collapse__input d-flex">
                                              <span class="collapse__input--prefix">AED</span>
                                              <span class="collapse__input--text">
                                                <input
                                                  :name="'service_item_'+service_item.id"
                                                  :value="service_item.discount"
                                                  :id="'service_item_discount'+service_item.id"
                                                  type="number"
                                                  step="any"
                                                  min="0"
                                                  class="discount__input"
                                                />
                                              </span>
                                            </div>
                                          </div>
                                          <div class="collapse-service-save">
                                            <el-button
                                              @click="saveServicePrice(service_item, 'service_item_price_'+service_item.id, 'service_item_discount'+service_item.id,'service')"
                                            >Save</el-button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- END SERVICE -->
                              <!-- BEGIN OPTION -->
                              <div
                                v-for="(option, i) in children.services.option_list"
                                :key="'option_' + i"
                              >
                                <div class="collapse--padding">
                                  <div class="collapse__wrap--items">
                                    <div class="collapse__wrap--items-in d-flex f-wrap">
                                      <div class="basket__wrapper">
                                        <div class="basket__wrapper-box basket-attr">
                                          <h2>{{ option.attribute ? option.attribute.title : '' }} :</h2>
                                          <span
                                            class="el-icon-close service__close__button"
                                            @click="removeProviderService('option',option)"
                                          ></span>
                                          <div class="basket__list">
                                            <div>
                                              <!-- <div class="basket__list--title d-flex jfy-bwn">
                                                <div class="remove__item">{{ service_item.basket ? service_item.basket.title : '' }}</div>
                                              </div>-->
                                              <div class="basket__list--items d-flex jfy-bwn">
                                                <h2>{{ option.option_name }}</h2>
                                                <p>
                                                  <span>
                                                    <!-- <span> {{option.id}} </span> -->
                                                  </span>
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="collapse-service-list d-flex f-wrap">
                                        <div class>
                                          <span>{{ $t("Per item") }}</span>
                                          <div class="collapse__input d-flex">
                                            <span class="collapse__input--prefix">AED</span>
                                            <span class="collapse__input--text">
                                              <input
                                                type="number"
                                                :value="option.price"
                                                :id="'option_price_'+option.id"
                                                step="any"
                                                min="0"
                                              />
                                            </span>
                                          </div>
                                        </div>
                                        <div class>
                                          <span>{{ $t("Discount") }}</span>
                                          <div class="collapse__input d-flex">
                                            <span class="collapse__input--prefix">AED</span>
                                            <span class="collapse__input--text">
                                              <input
                                                :value="option.discount"
                                                :id="'option_discount'+option.id"
                                                type="number"
                                                step="any"
                                                min="0"
                                                class="discount__input"
                                              />
                                            </span>
                                          </div>
                                        </div>
                                        <div class="collapse-service-save">
                                          <el-button
                                            @click="saveServicePrice(option, 'option_price_'+option.id, 'option_discount'+option.id, 'option')"
                                          >Save</el-button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- END OPTION -->
                            </div>
                          </form>
                          <!-- <ProviderServiceForm :category="nestedList"></ProviderServiceForm> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <el-dialog
            title="Outer Dialog"
            :visible.sync="popupActivo"
            class="category-popup main__popup service-main__popup"
            @closed="dialogClosed('drawerUpdateChild')"
          >
            <div class="category-list-popup">
              <modal
                :parent_id="parent_id"
                ref="drawerCategory"
                :image="image"
                :title="DialogTitle"
                @access="getForm"
              ></modal>
            </div>

            <el-dialog
              class="final-dialog-wrap"
              title="Inner Dialog"
              :visible.sync="innerVisible"
              append-to-body
            >
              <div class="final-dialog-body">
                <!-- <h1 class="final-dialog-title">Tayota</h1> -->
                <div class="deliver__box d-flex remove-padding">
                  <div class="deliver__form">
                    <form class="d-flex f-wrap jfy-bwn">
                      <div class="col-12" v-for="attribute in attributes" :key="attribute.id">
                        <div class="col-12">
                          <!-- *****************  OPTIONS  ************************* -->

                          <div v-if="attribute.options.length!=0">
                            <label class="auth-form-label d-block">
                              <span
                                class="label-title d-block damn-design-mistake-title"
                              >{{ attribute.name }}</span>
                              <div class="form-input d-flex no-padding damn-design-mistake">
                                <el-select
                                  clearable
                                  :required="true"
                                  :allow-create="true"
                                  v-model="SelectOption[attribute.id]"
                                  margin="auto"
                                  :multiple="(attribute.type_text == 'Multiple option') ? true : false"
                                  @change="SetSelectOption(attribute,SelectOption[attribute.id])"
                                  :placeholder="$t('Select')"
                                >
                                  <el-option
                                    v-for="item in attribute.options"
                                    :key="item.id"
                                    :label="item.value"
                                    :value="item"
                                  ></el-option>
                                </el-select>
                              </div>
                            </label>
                          </div>
                          <!-- *******************    END OPTIONS    ************************* -->
                          <!-- *******************    BACKETS        ************************ -->

                          <div v-if="attribute.baskets.length !== 0">
                            <Collapse :Basket="attribute"></Collapse>
                          </div>

                          <!-- *******************    END BASCKETS    *********************** -->

                          <!-- *******************    INPUTS    *********************** -->
                          <div v-if="attribute.inputs.length !== 0">
                            <div v-for="(input,i) in attribute.inputs" :key="'input'+i">
                              <label class="auth-form-label d-block">
                                <span
                                  class="label-title d-block damn-design-mistake-title"
                                >{{ input.label}}</span>
                                <el-input
                                  placeholder="Please input"
                                  v-model="Inputs[attribute.id]"
                                  @input="OnInput(Inputs[attribute.id],input,attribute)"
                                  clearable
                                ></el-input>
                              </label>
                            </div>
                          </div>
                          <!-- *******************    END INPUTS    *********************** -->
                          <!-- *******************    COMMENTS    *********************** -->
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="final-dialog-footer text-center">
                          <el-button @click.prevent="closeServiceModal">ADD SERVICE</el-button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </el-dialog>
          </el-dialog>

          <el-dialog
            title="Outer Dialog"
            class="final-category-dialog"
            :visible.sync="finalCategoryModal"
            @closed="cartProviderEmpty"
          >
            <div class="final-category__list">
              <!-- v-for da shu div aylanishi kerak <div class="collapse__wrap--items"></div -->
              <!-- begin for Service -->
              <div
                class="collapse__wrap--items"
                v-for="item_provider in cart_provider"
                :key="item_provider.id"
              >
                <div class="collapse__wrap--items-in d-flex f-wrap">
                  <div class="basket__wrapper">
                    <div class="basket__wrapper-box">
                      <h2>{{item_provider.basket_services_label}}</h2>
                      <div class="basket__list">
                        <div>
                          <div class="basket__list--title d-flex jfy-bwn">
                            <div class="remove__item">{{item_provider.basket_items_label}}</div>
                          </div>
                          <div class="basket__list--items d-flex jfy-bwn">
                            <h2>{{item_provider.item_label}}:</h2>
                            <p>
                              <span>
                                <span>{{item_provider.service_label}}</span>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse-service-list d-flex f-wrap">
                    <div class>
                      <span>{{ $t("Per item") }}</span>
                      <div class="collapse__input d-flex">
                        <span class="collapse__input--prefix">AED</span>
                        <span class="collapse__input--text">
                          <input type="number" v-model="item_provider.price" step="any" min="0" />
                        </span>
                      </div>
                    </div>
                    <div class>
                      <span>{{ $t("Discount") }}</span>
                      <div class="collapse__input d-flex">
                        <span class="collapse__input--prefix">AED</span>
                        <span class="collapse__input--text">
                          <input
                            type="number"
                            v-model="item_provider.discount"
                            step="any"
                            min="0"
                            class="discount__input"
                          />
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end for services -->
              <!-- begin for option -->
              <div
                class="collapse__wrap--items"
                v-for="(option, key) in options_list.options"
                :key="key"
              >
                <div class="collapse__wrap--items-in d-flex f-wrap">
                  <div class="basket__wrapper">
                    <div class="basket__wrapper-box">
                      <h2>{{options_list.attribute_name}}</h2>
                      <div class="basket__list">
                        <div>
                          <div class="basket__list--title d-flex jfy-bwn">
                            <div class="remove__item">{{options_list.attribute_question}}</div>
                          </div>
                          <div class="basket__list--items d-flex jfy-bwn">
                            <h2>{{option.value}}:</h2>
                            <!-- <p>
                              <span>
                                <span>{{option.value}}</span>
                              </span>
                            </p>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse-service-list d-flex f-wrap">
                    <div class>
                      <span>{{ $t("Per item") }}</span>
                      <div class="collapse__input d-flex">
                        <span class="collapse__input--prefix">AED</span>
                        <span class="collapse__input--text">
                          <el-input
                            v-model="options_list.options[key]['price']"
                            type="number"
                            min="0"
                          ></el-input>
                        </span>
                      </div>
                    </div>
                    <div class>
                      <span>{{ $t("Discount") }}</span>
                      <div class="collapse__input d-flex">
                        <span class="collapse__input--prefix">AED</span>
                        <span class="collapse__input--text">
                          <input
                            type="number"
                            v-model="options_list.options[key]['discount']"
                            step="any"
                            min="0"
                            class="discount__input"
                          />
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end for option -->

              <div class="collapse-service-save">
                <el-button @click="saveService">Save</el-button>
              </div>
            </div>
          </el-dialog>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
// import ProviderServiceForm from "../UIComponents/ProviderServiceForm";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import modal from "./modalCategory";
import Backgrams from "../../../Category/includes/backgrams";
import { mapGetters, mapActions } from "vuex";
import Collapse from "./components/collapse";
export default {
  name: "",
  data() {
    return {
      isLoading: false,
      fullPage: false,
      popupActivo: false,
      innerVisible: false,
      finalCategoryModal: false,
      categoryArray: [],
      lang: this.$i18n.locale,
      DialogTitle: "",
      parent_id: "",
      image: "",
      attributes: [],
      SelectOption: [],
      options_list: {
        options: []
      }
    };
  },
  computed: {
    ...mapGetters({
      user_id: "auth/id",
      cart_provider: "cart/cart_provider"
    })
  },
  created: function() {
    this.fetchCategory();
  },
  methods: {
    ...mapActions({
      providerCategories: "category/providerCategories",
      getAttributes: "category/getAttributes",
      cartProviderEmpty: "cart/cartProviderEmpty",
      changePrices: "provider/changePrices",
      removeService: "provider/removeService"
    }),
    saveServicePrice(service, price, discount, model) {
      let ser_price = $("#" + price).val();
      let ser_discount = $("#" + discount).val();
      let DATA = {};
      if (model == "service") {
        DATA = {
          service_id: service.service_id,
          item_id: service.item_id,
          price: ser_price,
          discount: ser_discount,
          model: model
        };
      } else if (model == "option") {
        DATA = {
          option_id: service.option_id,
          price: ser_price,
          discount: ser_discount,
          model: model
        };
      } else {
        this.$notify.error({
          title: "Validation error !",
          message: "Model not fount",
          type: "error"
        });
        return false;
      }
      this.changePrices(DATA)
        .then(res => {
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: "Successfully saved",
            type: "success"
          });
          this.finalCategoryModal = false;
          this.fetchCategory(false);
        })
        .catch(err => {});
    },
    removeProviderService(model, service) {
      this.$confirm(
        "This will permanently delete the service. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(() => {
          this.removeService({ model: model, service: service })
            .then(res => {
              this.fetchCategory(false);
              this.$notify({
                type: "success",
                title: "Success",
                offset: 50,
                message: res.message
              });
            })
            .catch(err => {
              console.log(err);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    toggleSlide: function($event) {
      let _this = $event.target;

      $(_this)
        .parent()
        .toggleClass("active");

      $(_this)
        .parent()
        .next()
        .slideToggle("fast");
    },
    closeServiceModal() {
      if (
        this.cart_provider.length > 0 ||
        this.options_list.options.length > 0
      ) {
        this.popupActivo = this.innerVisible = false;
        this.finalCategoryModal = true;
      } else this.Message();
    },
    fetchCategory(loading = true) {
      let dataFetchUrl = `lang=${
        this.lang
      }&attributes=${true}&children=${true}&user_id=${this.user_id}`;
      this.isLoading = loading;
      this.providerCategories(dataFetchUrl)
        .then(res => {
          this.categoryArray = res.data.categories;
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    viewSubCategory(id, image, title) {
      this.parent_id = id;
      this.image = image;
      this.DialogTitle = title;
      this.popupActivo = true;
    },
    getForm(category) {
      this.popupActivo = false;
      this.isLoading = true;
      this.getAttributes(category)
        .then(res => {
          this.attributes = res.data;
          this.innerVisible = true;
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    SetSelectOption(attribute, options) {
      if (Array.isArray(options)) {
        let arr = [];
        for (const key in options) {
          if (options.hasOwnProperty(key)) {
            const element = options[key];
            arr.push({
              option_id: element.id,
              value: element.value,
              price: 0,
              discount: 0
            });
          }
        }
        options = arr;
      } else {
        options = [
          { option_id: options.id, value: options.value, price: 0, discount: 0 }
        ];
      }
      this.options_list = {
        attribute_id: attribute.id,
        attribute_name: attribute.name,
        attribute_question: attribute.question,
        options: options
      };
    },
    OnInput(text, input, attr) {
      let data = {
        value: text,
        attribute_name: attr.name,
        attribute_question: attr.question,
        service_input_id: input.id,
        label: input.label,
        attribute_id: attr.id
      };

      this.setCartInput(data)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    dialogClosed(ref) {
      if (this.$refs[ref]) {
        this.$refs[ref].closed();
      }
    },
    Message() {
      this.$notify({
        title: "Warning",
        type: "warning",
        offset: 50,
        message: "Please select . . . "
      });
    },
    saveService() {
      // Shu joyda saqlanyapdi
      this.isLoading = true;
      var query = {
        services: this.cart_provider,
        options: this.options_list.options
      };
      this.$store
        .dispatch("providerService/store", query)
        .then(res => {
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: "Successfully saved",
            type: "success"
          });
          this.finalCategoryModal = false;
          this.isLoading = false;
          this.cart_provider = [];
          this.options_list.options = [];
          this.SelectOption = [];
          this.fetchCategory();
        })
        .catch(err => {
          this.isLoading = false;
        });
    }
  },
  components: {
    Loading,
    Backgrams,
    modal,
    Collapse
    // ProviderServiceForm
  }
};
</script>


<style>
.final-dialog-wrap .el-dialog {
  max-width: 960px;
  width: 100%;
}
.collapse-service-list .collapse__input--text {
  flex: 1;
}
.collapse-service-list .collapse__input--text input {
  width: 100%;
}
.collapse__wrap--items-in {
  padding: 15px 0;
}
.collapse-service-list > div {
  width: 50%;
}
.collapse-service-list > div:first-child {
  padding-right: 2rem;
}
.collapse-service-list > div:last-child {
  width: 100%;
  margin-top: 1rem;
}
.collapse-service-save button {
  text-transform: uppercase;
}
.collapse__wrap--items .basket__wrapper {
  width: 400px;
}
.collapse-service-list {
  flex: 1;
  padding-left: 2rem;
}
.collapse__wrap--items .remove__item {
  width: 100%;
}
.collapse__wrap--items .basket__wrapper-box,
.collapse__wrap--items .basket__list-empty {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 0;
}
.basket__wrapper-box > h2 {
  font-family: var(--font-Medium);
  margin-bottom: 0.5rem;
}
.basket__list > * {
  margin-bottom: 15px;
  line-height: 1.75;
}
.basket__list--title,
.basket__list--items > h2 {
  font-family: var(--font-Medium);
}
.basket__list--items > * {
  font-size: 14px;
}
.basket__list--title,
.basket__list--items > h2 {
  font-family: var(--font-Medium);
}
.basket__list--items > h2 {
  padding-right: 15px;
}
.basket__list--items > :last-child {
  text-align: right;
}
.final-dialog-body .deliver__form {
  width: 100%;
}
.final-dialog-footer {
  margin-top: 2rem;
}
.final-dialog-footer button,
.collapse-service-save button {
  background: #fceb10;
  border-color: #fceb10;
  border: none;
  font-family: var(--font-Heebo);
  padding: 10px 25px;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}
.final-dialog-title {
  font-size: 24px;
  font-family: var(--font-Medium);
  line-height: 29px;
  margin-bottom: 25px;
  color: #000;
}
.collapse__arrow {
  display: block !important;
}
.service-main__popup .category-list-box {
  padding-bottom: 75px;
}
.service-main__popup .el-dialog__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dialog-footer__category {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dialog-footer__category .el-button--warning,
.collapse-service-save button {
  background: #fceb10;
  border-color: #fceb10;
}
.dialog-footer__category > button {
  font-family: var(--font-Heebo);
}
.add-service-wrap {
  position: relative;
  z-index: 1;
}
.add-service__button {
  background: #fceb10;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  text-transform: uppercase;
  font-family: var(--font-Heebo);
  font-size: 13px;
}
.add-service__button:hover,
.add-service__button:focus,
.dialog-footer__category .el-button--warning:hover,
.dialog-footer__category .el-button--warning:focus,
.collapse-service-save button:hover,
.final-dialog-footer button:hover {
  background: var(--hover) !important;
}
.discount__input {
  border: 1px solid #ced4da;
  outline: none;
  padding: 7px;
  width: 80px;
  font-size: 14px;
  color: #736d6d;
  border-radius: 4px;
}

.collapse__list.collapse__list--service {
  background: initial !important;
}

.collapse__list--items {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #dededead;
  margin-top: 15px;
}

.collapse__submit button[type="submit"] {
  padding: 10px 50px;
  border-radius: 4px;
  background: #fceb10;
  border: none;
  font-family: var(--font-Heebo);
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.collapse__submit button[type="submit"]:hover {
  background: var(--hover);
}

.collapse__list--item.active .collapse__arrow i {
  transform: rotate(180deg);
}

.collapse__list--item .collapse__arrow i {
  transition: all 400ms;
}

.collapse__wrap--items {
  border-bottom: 1px solid var(--hover);
}

.collapse__wrap--items:last-child {
  border-bottom: 0;
}

.collapse__label {
  position: relative;
  flex: 1;
}

.collapse__label .collapse__overlay {
  cursor: pointer;
}

.collapse__category--cost,
.collapse__category--discount {
  opacity: 0;
  transition: all 400ms;
  visibility: hidden;
}

.collapse__category--cost.active,
.collapse__category--discount.active {
  opacity: 1;
  visibility: visible;
}

.collapse__input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: hidden;
}

.collapse__input--prefix {
  padding: 5px 9px;
  background: #e9ecef;
  font-size: 14px;
  line-height: 22px;
  color: #495057;
}

.collapse__input--text input {
  border: none;
  outline: none;
  padding: 7px;
  width: 80px;
  font-size: 14px;
  color: #736d6d;
}

.sub__collapse--wrap {
  display: none;
}

.collapse__category--cost > span,
.collapse__category--discount > span {
  line-height: 2.1;
  display: block;
  margin-left: 10px;
  color: #736d6d;
  font-size: 14px;
}

.collapse__category--discount > span {
  margin-right: 10px;
}

.collapse__discount .input-select-con input {
  font-size: 13px;
  color: #736d6d;
}

.collapse__discount .input-select-con i {
  font-size: 20px;
}

.collapse__list--item {
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.collapse__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.collapse__list--service .collapse__items {
  padding: 0;
}

.collapse__list--text > p,
.sub__collapse--text > p {
  font-family: var(--font-Medium);
  font-size: 0.9rem;
}

.sub__collapse--wrap .collapse__list--item {
  background: #fff99e;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.collapse__list--text .select__counter,
.sub__collapse--text .select__counter {
  font-size: 15px !important;
  font-family: "NeoSans-Regular";
  display: inline-block;
  margin-left: 10px;
  color: var(--hover);
}

.sub__collapse--text .select__counter.text__danger {
  color: red;
}

.text__opacity {
  opacity: 0.6;
  font-size: 14px;
}

.sub__collapse--text .material-icons {
  font-size: 22px;
  margin-right: 10px;
}

.collapse--padding {
  padding: 10px 15px;
}

.sub__collapse--title {
  font-family: var(--font-Medium);
  font-size: 0.92rem;
  margin-bottom: -5px;
}

.sub__collapse--category {
  border-bottom: 2px solid #dededead;
  padding: 10px 0;
}

.sub__collapse--category:last-child {
  border-bottom: 0;
  /* padding-bottom: 20px; */
}

.collapse__category--name {
  /* width: 300px; */
  line-height: 1.4;
}

.collapse__category--name p {
  letter-spacing: 0.15px;
}

/************************************ MEDIA ****************************************/

@media (max-width: 480px) {
  .sub__collapse--category {
    flex-wrap: wrap;
  }

  .collapse__label {
    margin-bottom: 10px;
  }

  .collapse__category--cost,
  .collapse__category--discount {
    flex-direction: column;
    width: 45%;
  }

  .collapse__category--cost > span {
    order: -1;
    text-transform: capitalize;
    margin-left: 0;
  }

  .collapse__category--discount > span {
    margin-left: 0;
  }

  .discount__input {
    width: 100%;
  }

  .collapse__category--cost,
  .collapse__category--discount {
    display: none;
  }

  .collapse__category--cost.active,
  .collapse__category--discount.active {
    display: flex;
  }
}
</style>