<template>
  <div class="home">
    <HeroSlider />
    <Category />
    <div class="feature-block" :dir="dir">
      <div class="container">
        <div class="features-wrap">
          <h1 class="text-center">{{ $t("How it works?") }}</h1>

          <div class="features-wrap-items">
            <el-row :gutter="20">
              <el-col :span="6" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box no--before">
                    <div class="features-number child--center">1</div>
                    <BaseFeatureCircle Icon="img/features-icon-1.png"></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">{{ $t("Select preferred service") }}</h1>
                    <p class="fearues-desc-text">
                      {{
                      $t(
                      "Pick the service price that suits you from a vast of trusted service providers in various domains."
                      )
                      }}
                    </p>
                  </div>
                </div>
              </el-col>
              <el-col :span="6" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box">
                    <div class="features-number child--center">2</div>
                    <BaseFeatureCircle Icon="/img/features-icon-2.png"></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">{{ $t("Describe the task or problem") }}</h1>
                    <p class="fearues-desc-text">
                      {{
                      $t(
                      "Pick the service price that suits you from a vast of trusted service providers in various domains."
                      )
                      }}
                    </p>
                  </div>
                </div>
              </el-col>
              <el-col :span="6" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box">
                    <div class="features-number child--center">3</div>
                    <BaseFeatureCircle Icon="/img/features-icon-3.png"></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">{{ $t("Choose location and timing") }}</h1>
                    <p class="fearues-desc-text">
                      {{
                      $t(
                      "Pick the service price that suits you from a vast of trusted service providers in various domains."
                      )
                      }}
                    </p>
                  </div>
                </div>
              </el-col>
              <el-col :span="6" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box no--after">
                    <div class="features-number child--center">
                      4
                      <!-- <img src="/img/icon-check.svg" alt class="d-block" /> -->
                    </div>
                    <BaseFeatureCircle Icon="/img/features-icon-4.png"></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">{{ $t("Make payment and job done") }}</h1>
                    <p class="fearues-desc-text">
                      {{
                      $t(
                      "Pick the service price that suits you from a vast of trusted service providers in various domains."
                      )
                      }}
                    </p>
                  </div>
                </div>
              </el-col>
            </el-row>

            <!-- <vs-row>
              <vs-col vs-type="flex" vs-w="3" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box no--before">
                    <div class="features-number child--center">
                      1
                    </div>
                    <BaseFeatureCircle
                      Icon="img/features-icon-1.png"
                    ></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">
                      {{ $t("Select preferred service") }}
                    </h1>
                    <p class="fearues-desc-text">
                      {{
                        $t(
                          "Pick the service price that suits you from a vast of trusted service providers in various domains."
                        )
                      }}
                    </p>
                  </div>
                </div>
              </vs-col>
              <vs-col vs-type="flex" vs-w="3" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box">
                    <div class="features-number child--center">
                      2
                    </div>
                    <BaseFeatureCircle
                      Icon="/img/features-icon-2.png"
                    ></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">
                      {{ $t("Describe the task or problem") }}
                    </h1>
                    <p class="fearues-desc-text">
                      {{
                        $t(
                          "Pick the service price that suits you from a vast of trusted service providers in various domains."
                        )
                      }}
                    </p>
                  </div>
                </div>
              </vs-col>
              <vs-col vs-type="flex" vs-w="3" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box">
                    <div class="features-number child--center">
                      3
                    </div>
                    <BaseFeatureCircle
                      Icon="/img/features-icon-3.png"
                    ></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">
                      {{ $t("Choose location and timing") }}
                    </h1>
                    <p class="fearues-desc-text">
                      {{
                        $t(
                          "Pick the service price that suits you from a vast of trusted service providers in various domains."
                        )
                      }}
                    </p>
                  </div>
                </div>
              </vs-col>
              <vs-col vs-type="flex" vs-w="3" class="featured__column">
                <div class="features-list text-center">
                  <div class="features-box no--after">
                    <div class="features-number child--center">
                      <img src="/img/icon-check.svg" alt="" class="d-block" />
                    </div>
                    <BaseFeatureCircle
                      Icon="/img/features-icon-4.png"
                    ></BaseFeatureCircle>
                  </div>
                  <div class="fearues-desc">
                    <h1 class="fearues-desc-title">
                      {{ $t("Make payment and job done") }}
                    </h1>
                    <p class="fearues-desc-text">
                      {{
                        $t(
                          "Pick the service price that suits you from a vast of trusted service providers in various domains."
                        )
                      }}
                    </p>
                  </div>
                </div>
              </vs-col>
            </vs-row>-->
          </div>
        </div>
      </div>
    </div>
    <div class="why-love-block" :dir="dir">
      <div class="container">
        <div class="why-love-text d-flex jfy-bwn">
          <div class="text-left">
            <h1>{{ $t("Why people love our services ?") }}</h1>
            <p>
              {{
              $t(
              "Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo eni sai th ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione kavosvo uptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore"
              )
              }}
            </p>
            <a href="#">{{ $t("Learn More") }}</a>
          </div>
          <div class="why-love-counter d-flex align-center jfy-bwn">
            <div class="counter-items">
              <strong>120</strong>
              <span>{{ $t("Inquiries daily") }}</span>
            </div>
            <div class="counter-items">
              <strong>78</strong>
              <span>{{ $t("Trained workers") }}</span>
            </div>
            <div class="counter-items">
              <strong>140</strong>
              <span>{{ $t("Providers ready to serv") }}</span>
            </div>
          </div>
        </div>
        <div class="why-love-bottom d-flex jfy-bwn">
          <div class="why-love-bottom-items d-flex">
            <div class="bottom-items--left">
              <BaseFeatureCircle Icon="/img/icon-wallet.svg"></BaseFeatureCircle>
            </div>
            <div class="bottom-items--right">
              <h1>{{ $t("Upfront pricing") }}</h1>
              <p>
                {{
                $t(
                "Pick the service price that suits you from a vast of trusted service providers in various domains."
                )
                }}
              </p>
            </div>
          </div>
          <div class="why-love-bottom-items d-flex">
            <div class="bottom-items--left">
              <BaseFeatureCircle Icon="/img/icon-order.svg"></BaseFeatureCircle>
            </div>
            <div class="bottom-items--right">
              <h1>{{ $t("Happiness guarantee") }}</h1>
              <p>
                {{
                $t(
                "Pick the service price that suits you from a vast of trusted service providers in various domains."
                )
                }}
              </p>
            </div>
          </div>
          <div class="why-love-bottom-items d-flex">
            <div class="bottom-items--left">
              <BaseFeatureCircle Icon="/img/icon-like.svg"></BaseFeatureCircle>
            </div>
            <div class="bottom-items--right">
              <h1>{{ $t("Highest quality") }}</h1>
              <p>
                {{
                $t(
                "Pick the service price that suits you from a vast of trusted service providers in various domains."
                )
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Partner />
    <div class="subscribe-wrap" :dir="dir">
      <div class="container">
        <div class="subscribe-row d-flex align-center">
          <div class="subscribe-icon">
            <img src="/img/subscribe-icon.png" alt class="d-block" />
          </div>
          <div class="subscribe-text">
            <h1>{{ $t('Become a Professional Provider') }}</h1>

            <p>{{ $t('Sell Your Professional Service on Helpbit') }}</p>
          </div>
          <div class="subscribe-btn d-flex">
            <router-link
              to="/provider"
              class="btn d-flex align-center jfy-bwn"
              style="color: inherit"
            >
              {{ $t('Apply now') }}
              <i class="el-icon-arrow-right"></i>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="appstore-wrap" :dir="dir">
      <div class="container">
        <div class="appstore-text">
          <h1>{{ $t('Download App') }}</h1>
          <p>{{ $t('Download the 800fix App and manage your services on the go.') }}</p>

          <a href="#">
            <img src="/img/google-play-icon.png" alt class="d-block" />
          </a>
          <a href="#">
            <img src="/img/appstore-icon.png" alt class="d-block" />
          </a>
        </div>
      </div>
    </div>
    <Popular />
  </div>
</template>

<script>
import HeroSlider from "./HeroSlider";
import Category from "./Category";
import Popular from "./Category/popular";
import Partner from "./Partner";
export default {
  name: "Home",
  components: {
    HeroSlider,
    Category,
    Popular,
    Partner
  }
};
</script>

<style>
.hero-slider .el-carousel {
  height: 100%;
  overflow: initial;
}

.hero-slider .el-carousel__indicators--outside {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.hero-slider .el-carousel__container {
  height: 100%;
}

.hero-slider {
  overflow: hidden;
}

.hero-slider,
.image-wrap {
  height: calc(100vh - 347px);
  position: relative;
}

.image-wrap-overlay {
  /* background: #FFEF00; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.slide-container {
  /* position: relative; */
  height: 100%;
}

.image-wrap-text {
  position: absolute;
  width: 603px;
  background: #1c1c1c78;
  color: #fff;
  top: 50%;
  transform: translateY(-59%);
  padding: 29px 40px 41px 35px;
}

.image-wrap-text[data-direction="left"] {
  margin-left: -27px;
}

.image-wrap-text[data-direction="center"] {
  margin: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
}

.image-wrap-text[data-direction="center"] .Button-anchor {
  margin: 0 auto;
}

.image-wrap-text > p {
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 0px;
  transform: translateY(-2px);
  font-family: var(--font-Heebo-Medium);
}

.slide-anchor {
  color: #1c1c1c;
  display: inline-block;
  background: #ffef00;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  padding: 8px 32px;
  margin-top: 20px;
  border-radius: 4px;
}

.slide-anchor:hover {
  background: #f5d200;
}

.image-wrap-text .Button-anchor {
  color: #1c1c1c !important;
  justify-content: center !important;
  transform: translateY(1px);
  height: 49px;
}

.image-wrap-text .Button-anchor i {
  display: none;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1400px) {
  .image-wrap-text {
    margin-left: 0;
  }
}

@media (max-width: 1280px) {
  .image-wrap-text {
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
  }
}

@media (max-width: 992px) {
  .image-wrap-text > p {
    font-size: 30px;
  }

  .owl--arrow > i {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .image-wrap-text .Button-anchor {
    width: 150px !important;
    height: 45px;
  }

  .image-wrap-text > p {
    font-size: 25px;
  }

  .owl--arrow {
    display: none;
  }

  .image-wrap-text {
    padding: 30px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .hero-slider,
  .image-wrap {
    height: 400px;
  }

  .image-wrap-text > p {
    font-size: 22px;
    line-height: 1.5;
  }

  .image-wrap-text .Button-anchor {
    width: 130px !important;
    height: 40px;
  }

  .image-wrap-text {
    padding: 20px;
  }

  .el-carousel__arrow {
    display: none;
  }
}

@media (max-width: 380px) {
  .hero-slider,
  .image-wrap {
    height: 320px;
  }

  .image-wrap-text {
    width: 90%;
  }
}
</style>
