<template>
  <label for="upload-input" class="user-avatar-box" style="cursor: pointer">
    <input
      type="file"
      id="upload-input"
      @change="onFileChange"
      style="display: none"
    />
    <div class="input__upload-wrap">
      <div v-if="!image">
        <div class="user-avatar-img">
          <img src="/img/def-img.png" alt="" class="default-img" />
        </div>
        <div class="user-upload child--center">
          <img src="/img/icon-photo.png" alt="" />
        </div>
      </div>
      <div v-else>
        <div class="user-avatar-img">
          <img :src="image" alt="" class="default-img" />
        </div>
        <div class="user-upload child--center">
          <img src="/img/icon-photo.png" alt="" />
        </div>
      </div>
    </div>
  </label>
</template>

<style>
.user-avatar-box,
.user-avatar-img img,
.user-avatar-img {
  width: 100%;
  height: 100%;
}

.user-avatar-img {
  border-radius: 100%;
  overflow: hidden;
}

.user-avatar-img img {
  object-fit: cover;
}

.user-upload {
  background: #ffe76f;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  right: -12px;
  bottom: 0;
  cursor: pointer;
}
</style>

<script>
import { mapGetters } from 'vuex';
export default {
  props: {
    model: {
      type: String
    }
  },
  data() {
    return {
      image: ""
    };
  },
  methods: {
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;

      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
      this.$parent.User.image = file;
      this.beforeAvatarUpload(file);
    },
    successUpload() {
      this.$vs.notify({
        color: "success",
        title: "Upload Success",
        text: "Lorem ipsum dolor sit amet, consectetur"
      });
    },
    handleAvatarSuccess(res, file) {
      this.image = URL.createObjectURL(file.raw);
      this.$parent.User.image = file.raw;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (isJPG || isPNG) {
        // this.$notify({
        //  title: this.$i18n.messages[this.$i18n['locale']]['Success'],
        // message: 'Photo Has Been Uploaded',
        // type: 'success'
        // });
      }
      if (!isLt2M) {
        this.$notify({
          title: "Error",
          message: "Avatar picture size can not exceed 2MB!",
          type: "error"
        });
      }
      return isJPG || (isPNG && isLt2M);
    }
  },
  computed:{
    ...mapGetters({
      avatar: "auth/image"
    })
  },
  created: function() {
    if (this.model != "" && this.avatar) {
      this.image = this.avatar;
    }
  }
};
</script>
