<template>
  <div class="userTabs">
    <router-link
      to="/user-profile"
      class="user-profile-tabs d-flex align-center transition"
      exact-active-class="active"
    >
      <i class="el-icon-user"></i>
      <span>{{ $t("My Profile") }}</span>
    </router-link>
    <router-link
      to="/user-request"
      class="user-profile-tabs d-flex align-center transition"
      exact-active-class="active"
    >
      <i class="el-icon-tickets"></i>
      <span>{{ $t("My Requests") }}</span>
    </router-link>
    <router-link
      to="/user-tickets"
      class="user-profile-tabs d-flex align-center transition"
      exact-active-class="active"
    >
      <i class="el-icon-chat-line-square"></i>
      <span>{{ $t("My Tickets") }}</span>
      <span class="ticket--number" v-if="newMessage != 0">{{ newMessage }}</span>
    </router-link>
    <div
      v-loading="loadingButton"
      @click="logout()"
      class="user-profile-tabs d-flex align-center transition"
      exact-active-class="active"
      style="cursor:pointer"
    >
      <i class="el-icon-switch-button"></i>
      <span>{{ $t("Log Out") }}</span>
    </div>
  </div>
</template>

<style>
.user-profile-tabs {
  color: inherit;
  background-blend-mode: multiply;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.user-profile-tabs.active,
.user-profile-tabs:hover {
  background: #f1f1f0;
}

.user-profile-tabs i {
  margin-right: 15px;
  color: var(--hover);
  font-size: 20px;
}

.user-profile-tabs span {
  font-size: 14px;
  font-family: var(--font-Medium);
}

/* ************************  MEDIA ************************************* */

@media (max-width: 578px) {
  .user-profile-tabs span {
    display: block;
    margin-top: 0.25rem;
    font-size: 12px;
  }

  .userTabs {
    display: flex;
    justify-content: space-between;
  }

  .user-profile-tabs {
    width: 33.333%;
    flex-direction: column;
    padding: 10px 5px;
  }

  .user-profile-tabs i {
    margin: auto;
  }

  body .profile-form-avatar {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 320px) {
  .user-profile-tabs span {
    display: none;
  }
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      loadingButton: false,
      newMessage: 0,
      lang: this.$i18n.locale
    };
  },
  computed: {
    ...mapGetters({
      list: "ticket/list"
    })
  },
  async created() {
    await this.fetchTickets();
  },
  methods: {
    ...mapActions({
      logoutAction: "auth/logout",
      ticketList: "ticket/index"
    }),
    fetchTickets() {
      let dataFetchUrl = `lang=${this.lang}&messages=${true}`;
      this.ticketList(dataFetchUrl)
        .then(res => {
          this.newMessagesCount(this.list);
        })
        .catch(err => {
          console.log(err);
        });
    },
    newMessagesCount(Tickets) {
      Tickets.forEach(element => {
        this.newMessage += element.messages_no_read;
      });
    },
    async logout() {
      this.loadingButton = true;
      this.logoutAction()
        .then(() => {
          this.loadingButton = false;
          this.$router.push(`/login`);
          this.Alert(
            "success",
            "green",
            this.$i18n.messages[this.$i18n["locale"]]["User Logout"]
          );
        })
        .catch(() => {
          this.loadingButton = false;
          this.Alert("error", "red", "User unauthenticated");
        });
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result
      });
    }
  }
};
</script>
