<template>
  <div>
    <div class="user__dashboard--card">
      <div class="container">
        <div class="dashboard__row d-flex jfy-bwn">
          <div class="card__items d-flex align-center card__items--active">
            <h1>{{ newRequestsCount[0] ? newRequestsCount[0]['count'] : 0 }}</h1>
            <p>
              {{ $t('Active orders') }}
              <br />
              {{ $t('right now') }}
            </p>
          </div>
          <div class="card__items d-flex align-center card__items--balance">
            <h1>{{ inProgressRequestsCount[0] ? inProgressRequestsCount[0]['count'] : 0 }}</h1>
            <p>
              {{ $t('In Progress') }}
              <br />
              {{ $t('orders') }}
            </p>
          </div>
          <div class="card__items d-flex align-center card__items--complate">
            <h1>{{ confirmedRequestsCount[0] ? confirmedRequestsCount[0]['count'] : 0}}</h1>
            <p>
              {{ $t('Complated orders') }}
              <br />
              {{ $t('right now') }}
            </p>
          </div>
          <div class="card__items d-flex align-center card__items--income">
            <h1>
              {{ lastMonthIncomeValue }}
              <span>AED</span>
            </h1>
            <p>
              {{ $t('Income past') }}
              <br />
              {{ $t('month') }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="dashboard__articles">
        <div class="dashboard__articles--items">
          <div class="dashboard__articles--card" v-loading="RequestIsLoading">
            <div class="articles__card--header">
              <h1>{{ $t('Waiting your confirmation') }}</h1>
              <div class="bottom--line"></div>
            </div>
            <div class="articles__card--body">
              <div
                v-for="request in newRequests"
                :key="request.id"
                class="articles__card--list d-flex jfy-bwn no-wrap"
              >
                <div class="card__list--text">
                  <h1>{{request.category_name}}</h1>
                  <p
                    v-for="attr in request.selectedAttributes"
                    :key="attr.id"
                  >{{attr.attribute_name ? (attr.attribute_name + ', ') : ''}}</p>
                  <span>AED {{request.service_cost}}</span>
                </div>
                <div class="card__list--status">
                  <router-link
                    :to="{ name: 'RequestShow', params: { id: request.id } }"
                    class="card__list--anchor"
                  >{{ $t('Read More') }}</router-link>
                  <h1>{{request.status}}</h1>
                  <p>
                    <span>{{request.data_time}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div v-if="newRequests.lenght == 0" class="articles__card--body">
              <div class="articles__card--list d-flex jfy-bwn">{{ $t('No New Requests') }}</div>
            </div>
          </div>
        </div>

        <div class="dashboard__articles--items" v-loading="RequestIsLoading">
          <div class="articles__card--header">
            <h1>{{ $t('In Progress') }}</h1>
            <div class="bottom--line"></div>
          </div>
          <div class="articles__card--body">
            <div
              class="articles__card--list d-flex jfy-bwn"
              v-for="inProgressRequest in inProgressRequests"
              :key="inProgressRequest.id"
            >
              <div class="card__list--text">
                <h1>{{inProgressRequest.category_name}}</h1>
                <p
                  v-for="attr in inProgressRequest.selectedAttributes"
                  :key="attr.id"
                >{{attr.attribute_name ? (attr.attribute_name + ', ') : ''}}</p>
                <span>AED {{inProgressRequest.service_cost}}</span>
              </div>
              <div class="card__list--status">
                <router-link
                  :to="{ name: 'RequestShow', params: { id: inProgressRequest.id } }"
                  class="card__list--anchor"
                >{{ $t('Read More') }}</router-link>
                <h1>{{inProgressRequest.status}}</h1>
                <p>
                  <span>{{inProgressRequest.data_time}}</span>
                </p>
              </div>
            </div>
          </div>
          <div v-if="inProgressRequests.length == 0" class="articles__card--body">
            <div class="articles__card--list d-flex jfy-bwn">{{ $t('No In Progress Requests') }}</div>
          </div>
        </div>

        <div class="dashboard__articles--items article--accepted" v-loading="RequestIsLoading">
          <div class="articles__card--header">
            <h1>{{ $t('Accepted') }}</h1>
            <div class="bottom--line"></div>
          </div>
          <div class="articles__card--body">
            <div
              class="articles__card--list d-flex jfy-bwn"
              v-for="confirmedRequest in confirmedRequests"
              :key="confirmedRequest.id"
            >
              <div class="card__list--text">
                <h1>{{confirmedRequest.category_name}}</h1>
                <p
                  v-for="attr in confirmedRequest.selectedAttributes"
                  :key="attr.id"
                >{{attr.attribute_name ? (attr.attribute_name + ', ') : ''}}</p>
                <span>AED {{confirmedRequest.service_cost}}</span>
              </div>
              <div class="card__list--status">
                <router-link
                  :to="{ name: 'RequestShow', params: { id: confirmedRequest.id } }"
                  class="card__list--anchor"
                >{{ $t('Read More') }}</router-link>
                <h1>{{confirmedRequest.status}}</h1>
                <p>
                  <span>{{confirmedRequest.data_time}}</span>
                </p>
              </div>
            </div>
          </div>
          <div v-if="confirmedRequests.length == 0" class="articles__card--body">
            <div class="articles__card--list d-flex jfy-bwn">{{ $t('No Confirmed Requests') }}</div>
          </div>
        </div>

        <div class="dashboard__articles--items" v-loading="TicketsLoading">
          <div class="dashboard__articles--card">
            <div class="articles__card--header">
              <h1>{{ $t('Opened tickets') }}</h1>
              <div class="bottom--line"></div>
            </div>
            <div v-for="ticket in Tickets" class="articles__card--body" :key="ticket.id">
              <div
                v-if="ticket.status == 'waiting'"
                class="articles__card--list d-flex align-center"
              >
                <div class="card__list--icon">
                  <i class="el-icon-chat-line-square"></i>
                </div>
                <div class="card__list--text">
                  <div class="d-flex jfy-bwn">
                    <h1>#{{ticket.id}} - {{ticket.subject}}</h1>

                    <router-link
                      :to="{ name: 'TicketShow', params: { id: ticket.id } }"
                      class="card__list--anchor"
                    >{{ $t('Read More') }}</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "DashboardIndex",
  data() {
    return {
      isLoading: false,
      lang: this.$i18n.locale,
      receivedOrder: [],
      newRequests: [],
      inProgressRequests: [],
      confirmedRequests: [],
      Tickets: [],
      RequestIsLoading: false,
      TicketsLoading: false,
      lastMonthIncomeValue:0
    };
  },
  computed: {
    newRequestsCount: function() {
      return this.receivedOrder.filter(item => {
        return item.code == "New";
      });
    },
    inProgressRequestsCount: function() {
      return this.receivedOrder.filter(item => {
        return item.code == "InProgress";
      });
    },
    confirmedRequestsCount: function() {
      return this.receivedOrder.filter(item => {
        return item.code == "Confirmed";
      });
    }
  },
  async created() {
    await this.fetchData();
    await this.fetchNewRequests("New");
    await this.fetchNewRequests("InProgress");
    await this.fetchNewRequests("Confirmed");
    await this.fetchTickets();
    await this.lastMonthIncomeAction();
  },
  methods: {
    ...mapActions({
      receivedOrders: "provider/receivedOrders",
      requestList: "cart/index",
      ticketList: "ticket/index",
      lastMonthIncome: "cart/lastMonthIncome",
    }),
    fetchData() {
      this.isLoading = true;
      let dataFetchUrl = `lang=${this.lang}`;
      this.receivedOrders(dataFetchUrl)
        .then(res => {
          this.receivedOrder = res.data.carts;
        })
        .catch(err => {
          console.log(err);
        });
    },
    lastMonthIncomeAction(){
      this.lastMonthIncome()
      .then(res => {
        this.lastMonthIncomeValue = res
      })
    },
    fetchNewRequests(status) {
      this.RequestIsLoading = true;
      let dataFetchUrl = `status=${status}&attributes=true&lang=${this.lang}`;
      this.requestList(dataFetchUrl)
        .then(res => {
          this.RequestIsLoading = false;
          switch (status) {
            case "New":
              this.newRequests = res.data.carts;
              break;
            case "InProgress":
              this.inProgressRequests = res.data.carts;
              break;
            case "Confirmed":
              this.confirmedRequests = res.data.carts;
              break;
            default:
              break;
          }
        })
        .catch(err => {
          this.RequestIsLoading = false;
          console.log(err);
        });
    },
    fetchTickets() {
      this.TicketsLoading = true;
      let dataFetchUrl = `lang=${this.lang}`;
      this.ticketList(dataFetchUrl)
        .then(res => {
          this.TicketsLoading = false;
          this.Tickets = res.data.tickets;
        })
        .catch(err => {
          console.log(err);
          this.TicketsLoading = false;
        });
    }
  },
  components: {}
};
</script>

<style></style>
