<template>
  <div class="circle child--center">
    <img :src="Icon" class="d-block" />
  </div>
</template>

<style scoped>
.circle {
  width: 100%;
  height: 100%;
}
</style>

<script>
import Vue from "vue";

export default {
  props: ["Icon"]
};
</script>
