<template>
  <div>
    <el-button
      :loading="loadingButton"
      @click="$emit('c-click')"
      type="submit"
      class="form-submit d-block transition"
    >{{ ValueText }}</el-button>
  </div>
</template>

<style>
.form-submit {
  width: 100%;
  border: none;
  outline: none;
  background: #ffef00;
  font-family: var(--font-Medium);
  padding: 15px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.form-submit:hover,
.form-submit:focus {
  background: var(--hover);
  color: inherit !important;
}
</style>

<script>
import Vue from "vue";

export default {
  // props: ["ValueText"]
  props: {
    ValueText: { default: "", type: String },
    loadingButton: { default: false, type: Boolean }
  }
};
</script>
