<template>
  <div>
    <label :for="id" class="auth-form-label d-block">
      <span class="label-title d-block">
        {{ label }}
      </span>
      <div class="form-input">
        <textarea
          class="d-block"
          @input="$emit('input', $event.target.value)"
          :placeholder="placeholder"
          :id="id"
          :value="model"
        ></textarea>
      </div>
    </label>
  </div>
</template>

<style></style>

<script>
export default {
  props: {
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    id: {
      type: String
    },
    model: {
      type: String
    },
  }
};
</script>
