<template>
  <div>
    <label :for="id" class="auth-form-label d-block">
      <span class="label-title d-block">
        {{ label }}
      </span>
      <div class="form-input">
        <input
          v-on:keydown.tab="checkVal($event)"
          v-on:keydown="queryValidate"
          @input="$emit('input', $event.target.value)"
          :type="type"
          :value="model"
          class="d-block"
          :placeholder="placeholder"
          :id="id"
        />
        <div class="label-check child--center" :class="{ success: model }">
          <i class="el-icon-circle-check check__icon"></i>
          <i class="el-icon-warning-outline error__icon"></i>
        </div>
      </div>
    </label>
  </div>
</template>

<style>
.auth-form-label {
  margin-bottom: 20px;
}
</style>

<script>
export default {
  methods: {
    queryValidate() {
      this.$nextTick(() => {
        if (!event.target.value) {
          $(event.target)
            .siblings(".label-check")
            .removeClass("success");
          $(event.target)
            .siblings(".label-check")
            .addClass("danger");
          $(event.target)
            .parents(".auth-form-label")
            .siblings()
            .fadeIn();
        } else {
          $(event.target)
            .siblings(".label-check")
            .addClass("success");
          $(event.target)
            .siblings(".label-check")
            .removeClass("danger");
          $(event.target)
            .parents(".auth-form-label")
            .siblings()
            .fadeOut();
        }
      });
    },
    checkVal(event) {
      if (event.target.value) {
        $(event.target)
          .siblings(".label-check")
          .addClass("success");
        $(event.target)
          .siblings(".label-check")
          .removeClass("danger");
      } else {
        $(event.target)
          .siblings(".label-check")
          .removeClass("success");
        $(event.target)
          .siblings(".label-check")
          .addClass("danger");
      }
    }
  },

  props: {
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    id: {
      type: String
    },
    type: {
      type: String
    },
    model: {
      type: String
    },
    error: {
      type: String
    }
  }
};
</script>
