<template>
  <footer class="footer" :dir="dir">
    <div class="footer-top">
      <div class="container">
        <div class="footer-social d-flex align-center jfy-bwn">
          <div class="footer-markers d-flex">
            <PlaceNavigation color="white"></PlaceNavigation>
            <Language color="white"></Language>
          </div>
          <div class="footer-social__items d-flex">
            <a
              v-for="social in Socials"
              :key="social.id"
              :href="social.link"
              class="social__items-link d-flex align-center"
              target="_blank"
            >
              <div>
                <img :src="social.image" alt class="d-block" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-row d-flex">
          <div class="footer-logo">
            <router-link to="/" class="d-block">
              <img src="/img/footer-logo.png" alt class="d-block" />
            </router-link>
            <span>
              <router-link
                style="color:#fff"
                to="/privacy-policy"
              >{{ $t("Privacy Policy Terms & Conditions") }}</router-link>
            </span>
            <span>
              Copyright © 2020 | Created by
              <a
                id="goodone"
                href="https://goodone.uz"
                target="_blank"
              >GOOD ONE</a>
            </span>
            <div class="mobile__social">
              <div class="footer-social__items d-flex">
                <a
                  v-for="social in Socials"
                  :key="social.id"
                  :href="social.link"
                  class="social__items-link d-flex align-center"
                  target="_blank"
                >
                  <div>
                    <img :src="social.image" alt class="d-block" />
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="footer-nav-list">
            <h1 class="footer-nav-list-title">{{ $t("Customers") }}</h1>
            <router-link
              v-for="page in PagesData"
              :key="page.id"
              :to="{ path: '/' + page.slug, params: { id: page.id } }"
            >{{ page.title }}</router-link>
          </div>

          <div class="footer-nav-list">
            <h1 class="footer-nav-list-title">{{ $t("Provider’s") }}</h1>
            <a href="#">{{ $t("About") }}</a>
            <a href="#">{{ $t("Careers") }}</a>
            <a href="#">{{ $t("Press & Talent") }}</a>
          </div>

          <div class="footer-nav-list">
            <h1 class="footer-nav-list-title">{{ $t("Help") }}</h1>
            <router-link to="/contact">{{ $t("Contact Us") }}</router-link>
            <router-link to="/how-it-works">{{ $t("How it works") }}</router-link>
            <router-link to="/all-service">{{ $t("All Services") }}</router-link>
            <router-link to="/news">{{ $t("News") }}</router-link>
          </div>

          <div class="footer-nav-list">
            <h1 class="footer-nav-list-title">{{ $t("Contacts") }}</h1>
            <div v-for="item in contact" :key="item.id">
              <a :href="'tel:' + item.phone" style="margin-bottom: 10px">
                <i class="el-icon-phone"></i>
                <span>{{ item.phone }}</span>
              </a>
              <a :href="'mailto:' + item.email">
                <i class="el-icon-message"></i>
                <span>{{ item.email }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style>
#goodone {
  color: #fff;
}
.footer {
  background: #232323;
}

.footer-markers > div:first-child {
  margin-right: 45px;
  color: #fff;
}

.social__items-link:not(:last-child) {
  margin-right: 20px;
}

.footer-top {
  border-bottom: 1px solid #ffffff38;
  padding-bottom: 7px;
}

.footer-bottom-row {
  padding: 35px 0 15px;
  margin: 0 -15px;
}

.footer-social {
  padding: 20px 8px;
}

.footer-social .a-icon {
  padding: 0;
  cursor: pointer;
}

.footer-logo {
  width: 33.3%;
}

.footer-nav-list {
  width: 16.666%;
}

.footer-logo,
.footer-nav-list {
  padding: 0 15px;
}

.footer-nav-list > *,
.footer-logo * {
  margin-bottom: 8px;
  word-break: break-all;
}

.footer-nav-list h1 {
  font-family: var(--font-Medium);
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-nav-list a i {
  font-size: 20px;
}

.footer-nav-list a,
.footer-nav-list-title,
.footer-logo span {
  display: block;
  color: #fff;
  font-family: var(--font-Regular);
}

.footer-nav-list a {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: var(--font-Regular);
}

.footer-nav-list a:hover {
  opacity: 0.75;
}

.footer-nav-list a > i {
  margin-right: 8px;
}

.footer-logo img {
  padding-top: 10px;
}

.mobile__social {
  display: none;
}

.mobile__social,
.mobile__social .footer-social__items,
.mobile__social .social__items-link {
  margin-bottom: 0;
}

.mobile__social .social__items-link {
  margin-top: 8px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1200px) {
  .footer-top {
    display: none;
  }
}

@media (max-width: 992px) {
  .footer-bottom-row {
    flex-wrap: wrap;
  }

  .footer-bottom-row > div {
    margin-bottom: 15px;
  }

  .footer-logo {
    flex: 0 1 100%;
  }

  .footer-nav-list {
    flex: 0 1 50%;
  }

  .mobile__social {
    display: block;
  }
}
</style>

<script>
// Language Component
import Language from "../Header/Language";

// PlaceNavigation Component
import PlaceNavigation from "../Header/PlaceNavigation";

import { setInterval } from "timers";

import { mapActions } from "vuex";

export default {
  components: {
    Language,
    PlaceNavigation
  },
  data() {
    return {
      lang: this.$i18n.locale,
      Socials: [],
      PagesData: [],
      contact: []
    };
  },
  async created() {
    await this.social();
    await this.contactUs();
    await this.Pages();
  },
  methods: {
    ...mapActions({
      socialList: "social/index",
      contacts: "contactUs/index",
      pages: "page/index"
    }),
    social() {
      this.socialList()
        .then(res => {
          this.Socials = res.data.socials;
        })
        .catch(err => {
          console.log(err);
        });
    },
    contactUs() {
      this.contacts()
        .then(res => {
          this.contact = res.data.contacts;
        })
        .catch(err => {
          console.log(err);
        });
    },
    Pages() {
      let dataFetchUrl = `lang=${this.lang}`;

      this.pages(dataFetchUrl)
        .then(res => {
          this.PagesData = res.data.pages;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
