<template>
  <div class="user__dashboard--header">
    <div class="container">
      <div class="dashboard__row d-flex align-center">
        <div class="dashboard__title">
          <h1>{{ $t("Provider Dashboard") }}</h1>
        </div>
        <nav class="dashboard__navigation d-flex">
          <ul class="d-flex">
            <li>
              <router-link
                to="/dashboard-home"
                class="dashboard__navigation--link d-block text-center"
              >
                <div class="dashboard__list--icon">
                  <i class="el-icon-s-home"></i>
                </div>
                <span>{{ $t("Home") }}</span>
              </router-link>
            </li>
            <li>
              <router-link
                to="/dashboard-request"
                class="dashboard__navigation--link d-block text-center"
              >
                <div class="dashboard__list--icon">
                  <i class="el-icon-s-order"></i>
                </div>
                <span>{{ $t("Requests") }}</span>
              </router-link>
            </li>
            <li>
              <router-link
                to="/dashboard-tickets"
                class="dashboard__navigation--link d-block text-center"
              >
                <div class="dashboard__list--icon">
                  <i class="el-icon-chat-line-square"></i>
                </div>
                <span>{{ $t("Tickets") }}</span>
              </router-link>
            </li>
            <li>
              <router-link
                to="/dashboard-service-new"
                class="dashboard__navigation--link d-block text-center"
              >
                <div class="dashboard__list--icon">
                  <i class="el-icon-s-tools"></i>
                </div>
                <span>{{ $t("My services") }}</span>
              </router-link>
            </li>
            <li>
              <router-link
                to="/dashboard-profile"
                class="dashboard__navigation--link d-block text-center"
              >
                <div class="dashboard__list--icon">
                  <i class="el-icon-user-solid"></i>
                </div>
                <span>{{ $t("My profile") }}</span>
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<style>
.card__items--active {
  background: #ea6a6a;
}

.card__items--complate {
  background: #60ca4c;
}

.card__items--income {
  background: #00c5ec;
}

.card__items--balance {
  background: #6a7cea;
}

.user__dashboard--header {
  background: #fff;
  box-shadow: 0 0 7px #00000024;
}

.user__dashboard--card {
  padding: 30px 0;
}

.card__items {
  width: calc(25% - 20px);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 10px 1px #00000026;
}

.card__items h1 {
  font-size: 1.4rem;
  margin-right: 15px;
  font-family: var(--font-Medium);
  line-height: 20px;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.card__items h1 span {
  font-size: 16px;
  display: block;
}

.card__items p {
  font-size: 14.5px;
  letter-spacing: 0.3px;
}

.dashboard__navigation {
  flex: 1;
  justify-content: flex-end;
}

.dashboard__list--icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 45px;
  background: #ffeb3b80;
  margin: 0 auto 5px;
}

.dashboard__list--icon i {
  color: #e6d42c;
  font-size: 20px;
}

.dashboard__navigation--link {
  color: inherit;
  padding: 22px 20px 12px 20px;
  border-bottom: 2px solid transparent;
}

.dashboard__navigation--link.router-link-exact-active {
  border-bottom-color: #e6d42c;
}

.dashboard__navigation--link span {
  font-size: 0.9rem;
  font-family: var(--font-Heebo-Medium);
  opacity: 0.5;
}

.dashboard__navigation--link.router-link-exact-active span {
  opacity: 1;
}

.dashboard__title h1 {
  font-size: 1.8rem;
  font-family: var(--font-Medium);
}
</style>

<script>
export default {};
</script>
