<template>
  <div>
    <form @keypress.enter="submit" @submit.prevent="submit">
      <div class="collapse__list--item" v-on:click="toggleSlide($event)">
        <div class="collapse__list--header d-flex align-center">
          <div class="collapse__list--text flex-1">
            <div class="sub__collapse--text d-flex align-center">
              <i class="el-icon-setting"></i>
              <p>
                {{category.title}}
                <!-- <span class="select__counter text__danger">
                                    0 selected
                </span>-->
              </p>
            </div>
          </div>
          <div class="collapse__arrow">
            <i class="el-icon-arrow-down"></i>
          </div>
        </div>

        <div class="collapse__overlay"></div>
      </div>
      <div class="sub__collapse--wrap" v-if="!category.children.length">
        <div class="collapse--padding">
          <div
            class="sub__collapse--list"
            v-for="( attribute, indexAttribute ) in category.attributes"
            :key="'attribute' + indexAttribute"
          >
            <h1 class="sub__collapse--title">{{attribute.name}}</h1>

            <div
              class="sub__collapse--category d-flex"
              v-for="( option, indexOption ) in attribute.option"
              :key="'option' + indexOption"
            >
              <div class="collapse__label d-flex align-center">
                <div class="d-flex">
                  <div class="collapse__category--check">
                    <el-checkbox @change="checkOption($event,option.id)">{{option.value}}</el-checkbox>
                  </div>
                </div>
                <div class="collapse__overlay" @click="serviceDescr($event)"></div>
              </div>
              <div
                class="collapse__category--cost flex-1 d-flex"
                :class="{ active : OptionPrices[option.id]}"
              >
                <div class="collapse__input d-flex">
                  <span class="collapse__input--prefix">AED</span>
                  <span class="collapse__input--text">
                    <input v-model="OptionPrices[option.id]" type="number" step="any" min="0" />
                  </span>
                </div>
                <span>{{ $t("Per item") }}</span>
              </div>
              <div class="collapse__category--cost d-flex">
                <span style="margin-right: 10px">{{ $t("Discount") }}</span>
                <div class="collapse__input d-flex">
                  <span class="collapse__input--prefix">AED</span>
                  <span class="collapse__input--text">
                    <input
                      type="number"
                      step="any"
                      min="0"
                      class="discount__input"
                      v-model="OptionDiscounts[option.id]"
                    />
                  </span>
                </div>
              </div>
            </div>

            <div
              class="collapse__list--items"
              v-for="( basket, indexBasket ) in attribute.basket"
              :key="'basket' + indexBasket"
            >
              <div class="collapse__list--item" @click="toggleSlide($event)">
                <div class="collapse__list--header d-flex align-center">
                  <div class="collapse__list--text flex-1">
                    <p>{{basket.basket_items_label}}</p>
                  </div>
                  <div class="collapse__arrow">
                    <i class="el-icon-arrow-down"></i>
                  </div>
                </div>

                <div class="collapse__overlay"></div>
              </div>

              <div class="sub__collapse--wrap">
                <div class="collapse--padding">
                  <div
                    class="collapse__list--items"
                    v-for="( item, indexItem ) in basket.items"
                    :key="'item' + indexItem"
                  >
                    <div class="collapse__list--item" @click="toggleSlide($event)">
                      <div class="collapse__list--header d-flex align-center">
                        <div class="collapse__list--text flex-1">
                          <p>{{item.value}}</p>
                        </div>
                        <div class="collapse__arrow">
                          <i class="el-icon-arrow-down"></i>
                        </div>
                      </div>

                      <div class="collapse__overlay"></div>
                    </div>
                    <div class="sub__collapse--wrap">
                      <div class="collapse--padding">
                        <div class="sub__collapse--list">
                          <div
                            class="sub__collapse--category d-flex"
                            v-for="( service, indexService ) in basket.services"
                            :key="'service' + indexService + indexItem"
                          >
                            <div class="collapse__label d-flex align-center">
                              <div class="d-flex">
                                <div class="collapse__category--check">
                                  <el-checkbox
                                    @change="checkService($event,service.id,item.id)"
                                    :checked="BasketPrices[String(service.id) + '-' + String(item.id)]"
                                  >{{service.value}}</el-checkbox>
                                </div>
                              </div>
                              <div class="collapse__overlay" @click="serviceDescr($event)"></div>
                            </div>
                            <div
                              class="collapse__category--cost flex-1 d-flex"
                              :class="{ active : BasketPrices[String(service.id) + '-' + String(item.id)]}"
                            >
                              <div class="collapse__input d-flex">
                                <span class="collapse__input--prefix">AED</span>
                                <span class="collapse__input--text">
                                  <input
                                    v-model="BasketPrices[String(service.id) + '-' + String(item.id)]"
                                    value="0"
                                    type="number"
                                    step="any"
                                  />
                                </span>
                              </div>
                              <span>{{ $t("Per item") }}</span>
                            </div>
                            <div class="collapse__category--discount d-flex">
                              <span style="margin-right: 10px">
                                {{
                                $t("Discount")
                                }}
                              </span>
                              <div class="collapse__input d-flex">
                                <span class="collapse__input--prefix">AED</span>
                                <span class="collapse__input--text">
                                  <input
                                    value="0"
                                    type="number"
                                    step="any"
                                    class="discount__input"
                                    v-model="BasketDiscounts[String(service.id) + '-' + String(item.id)]"
                                  />
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="collapse__submit">
              <button type="submit" class="d-block transition">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- {{category.children}} -->
      <div class="sub__collapse--wrap">
        <div class="collapse--padding">
          <div
            class="collapse__wrap--items"
            v-for="( nestedList, index ) in category.children"
            :key="index"
          >
            <ProviderServiceForm :category="nestedList"></ProviderServiceForm>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "ProviderServiceForm",
  props: ["category"],
  data() {
    return {
      OptionPrices: [],
      OptionDiscounts: [],
      BasketPrices: [],
      itemPrices: [],
      itemDiscounts: [],
      BasketDiscounts: [],
      price: 0,
      discount: 0,
      ProviderService: {
        optionPrices: [],
        optionDiscounts: [],
        servicePrices: [],
        provider_id: ""
      },
      ProviderOptions: [],
      ProviderServices: [],
      isFinished: false
    };
  },
  computed: {
    ...mapGetters({
      id: "auth/id"
    })
  },
  watch: {
    category: {
      handler: async function() {
        await this.fetchProductServices();
      },
      deep: true
    }
  },
  created: async function() {
    await this.fetchProductServices();
  },
  methods: {
    toggleSlide: function($event) {
      let _this = $event.target;

      $(_this)
        .parent()
        .toggleClass("active");

      $(_this)
        .parent()
        .next()
        .slideToggle("fast");
    },
    serviceDescr: function($event) {
      let _this = $event.target;

      $(_this)
        .parents(".collapse__label")
        .toggleClass("active");

      if (
        $(_this)
          .parents(".collapse__label")
          .is(".active")
      ) {
        $(_this)
          .prev()
          .find(".el-checkbox__original")
          .prop("checked", true);
        $(_this)
          .prev()
          .find(".el-checkbox__input")
          .addClass("is-checked");
      } else {
        $(_this)
          .prev()
          .find(".el-checkbox__original")
          .prop("checked", false);
        $(_this)
          .prev()
          .find(".el-checkbox__input")
          .removeClass("is-checked");
      }
      $(_this)
        .parents(".collapse__label")
        .siblings()
        .toggleClass("active");
    },
    submit() {
      this.ProviderService.optionPrices = this.OptionPrices;
      this.ProviderService.optionDiscounts = this.OptionDiscounts;
      this.itemPrices = [];
      for (var value in this.BasketPrices) {
        var itemPrice = {
          item_id: null,
          service_id: null,
          price: 0,
          discount: 0
        };
        itemPrice.service_id = value.substr(0, value.indexOf("-"));
        itemPrice.item_id = value.substr(value.indexOf("-") + 1);
        itemPrice.price = this.BasketPrices[value];
        itemPrice.discount = this.BasketDiscounts[value];
        this.itemPrices.push(itemPrice);
      }
      this.ProviderService.servicePrices = this.itemPrices;
      this.ProviderService.provider_id = this.id;
      this.$store
        .dispatch("providerService/store", this.ProviderService)
        .then(res => {
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: "Successfully saved",
            type: "success"
          });
        })
        .catch(err => {
          try {
            if (!err.result.success) {
              if (err.error.code == 422) {
                this.errors = err.validation_errors;
              }
            }
          } catch (error) {
            alert(error);
          }
        });
    },
    checkOption(event, id) {
      if (event) {
        this.OptionPrices[id] = 0;
        this.OptionDiscounts[id] = 0;
      } else {
        this.OptionPrices[id] = null;
        this.OptionDiscounts[id] = null;
      }
    },
    checkService(event, service_id, item_id) {
      if (event) {
        this.BasketPrices[String(service_id) + "-" + String(item_id)] = 0;
        this.BasketDiscounts[String(service_id) + "-" + String(item_id)] = 0;
      } else {
        this.BasketPrices[String(service_id) + "-" + String(item_id)] = null;
        this.BasketDiscounts[String(service_id) + "-" + String(item_id)] = null;
      }
    },
    fetchProductServices() {
      let dataFetchUrl = `provider_id=${this.id}&category_id=${this.category.id}`;
      this.$store
        .dispatch("providerService/showByCategory", dataFetchUrl)
        .then(res => {
          console.log(11, res.data);

          this.ProviderOptions = res.data.providerOptions;
          this.ProviderServices = res.data.providerServices;
          for (let index = 0; index < this.ProviderOptions.length; index++) {
            const element = this.ProviderOptions[index];

            this.OptionPrices[element.option_id] = element.price;
            this.OptionDiscounts[element.option_id] = element.discount;
          }
          for (let index = 0; index < this.ProviderServices.length; index++) {
            const element = this.ProviderServices[index];

            this.BasketPrices[
              String(element.service_id) + "-" + String(element.item_id)
            ] = element.price;
            this.BasketDiscounts[
              String(element.service_id) + "-" + String(element.item_id)
            ] = element.discount;
          }
          this.isFinished = true;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
