<template>
  <div class="UserDashboard">
    <main class="main">
      <div class="user__dashboard--wrap">
        <div class="container">
          <!-- <loading
            :active.sync="isLoading"
            :can-cancel="false"
            :is-full-page="false"
            :color="'#F5D200'"
            :opacity="1"
          ></loading>-->
          <div class="dashboard--collapse">
            <div class="collapse-datepicker">
              <el-tooltip
                class="item device-date-picker"
                effect="dark"
                content="Date Filter"
                placement="left-start"
              >
                <el-date-picker
                  v-model="sort_date"
                  type="daterange"
                  align="right"
                  unlink-panels
                  range-separator="To"
                  start-placeholder="Start date"
                  end-placeholder="End date"
                  :picker-options="pickerOptions"
                ></el-date-picker>
              </el-tooltip>
              <div class="mobile-date-picker">
                <div class="date-picker__start">
                  <el-date-picker
                    v-model="mobile_start_date"
                    clearable
                    value-format="d-M-yyyy"
                    @change="mobileSortDate('start')"
                    type="date"
                    placeholder="Pick a day"
                  ></el-date-picker>
                </div>
                <div class="date-picker__end">
                  <el-date-picker
                    v-model="mobile_end_date"
                    clearable
                    value-format="d-M-yyyy"
                    @change="mobileSortDate('end')"
                    type="date"
                    placeholder="Pick a day"
                  ></el-date-picker>
                </div>
                <div class="date-picker__button">
                  <el-button @click="fetchRequests()">{{ $t('Search') }}</el-button>
                </div>
              </div>
            </div>
            <el-tabs v-model="activeName">
              <el-tab-pane name="first" v-loading="newRequestIsLoading">
                <span slot="label">
                  {{ $t('New') }}
                  <div
                    v-if="newRequestsCountTickets"
                    class="tab-pane__counter"
                  >{{newRequestsCountTickets}}</div>
                </span>
                <div v-if="newRequests.length != 0" class="first__pane">
                  <div
                    class="collapse__list collapse__list-point"
                    v-for="item in newRequests"
                    :key="'new'+item.id"
                  >
                    <div class="collapse__items d-flex">
                      <div class="collapse__text collapse__text-main">
                        <h1>{{ item.category_name }}</h1>
                      </div>
                      <div class="collapse__date">
                        <h1>{{ $t('Scheduled time') }}</h1>
                        <p>
                          <span>{{ item.data_time }}</span>
                        </p>
                      </div>
                      <div class="collapse__cost">
                        <h1>{{ $t('Cost') }}</h1>
                        <p>AED {{ item.service_cost }}</p>
                      </div>
                      <div class="collapse__cost">
                        <h1>{{ $t('Status') }}</h1>
                        <p v-if="item.paid" class="collapse__cost-success">{{ $t('Paid') }}</p>
                        <p v-else class="collapse__cost-red">{{ $t('Not paid') }}</p>
                      </div>
                      <div class="collapse__status collapse-ticket__detail">
                        <span class="ticket__text">
                          <i class="el-icon-chat-line-square"></i>
                          {{ item.count_tickets }} {{ $t('tickets') }}
                        </span>
                        <router-link
                          :to="{ name: 'RequestShow', params: { id: item.id } }"
                          class="btn-sm d-flex align-center jfy-bwn"
                        >
                          <span>{{ $t('Show details') }}</span>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else class="first__pane">
                  <div class="collapse__list collapse__list-point">
                    <span class="collapse-item__empty">{{ $t('No New Requests') }}</span>
                  </div>
                </div>
                <el-pagination
                  v-if="new_pagination.total > 20"
                  background
                  :page-size="20"
                  @current-change="handleCurrentChange($event, 'New')"
                  layout="prev, pager, next"
                  :total="new_pagination.total"
                ></el-pagination>
              </el-tab-pane>
              <el-tab-pane name="second" v-loading="confirmedRequestIsLoading">
                <span slot="label">
                  {{ $t('Confirmed') }}
                  <div
                    v-if="confirmRequestsCountTickets"
                    class="tab-pane__counter"
                  >{{confirmRequestsCountTickets}}</div>
                </span>
                <div v-if="confirmedRequests.length != 0" class="second__pane">
                  <div
                    v-for="confirmed in confirmedRequests"
                    :key="'confirmed' + confirmed.id"
                    class="collapse__list collapse__list-point"
                  >
                    <div class="collapse__items d-flex">
                      <div class="collapse__text">
                        <h1>{{confirmed.category_name}}</h1>
                      </div>
                      <div class="collapse__date">
                        <h1>{{ $t('Scheduled time') }}</h1>
                        <p>
                          <span>{{confirmed.data_time}}</span>
                        </p>
                      </div>
                      <div class="collapse__cost">
                        <h1>{{ $t('Cost') }}</h1>
                        <p>AED {{confirmed.service_cost}}</p>
                      </div>
                      <div class="collapse__status collapse-ticket__detail">
                        <span class="ticket__text">
                          <i class="el-icon-chat-line-square"></i>
                          {{confirmed.count_tickets}} tickets
                        </span>
                        <router-link
                          :to="{ name: 'RequestShow', params: { id: confirmed.id } }"
                          class="btn-sm d-flex align-center jfy-bwn"
                        >
                          <span>{{ $t('Show details') }}</span>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else class="second__pane">
                  <div class="collapse__list collapse__list-point">
                    <span class="collapse-item__empty">{{ $t('No Confirmed Requests') }}</span>
                  </div>
                </div>
                <el-pagination
                  v-if="confirmed_pagination.total > 20"
                  background
                  :page-size="20"
                  @current-change="handleCurrentChange($event, 'Confirmed')"
                  layout="prev, pager, next"
                  :total="confirmed_pagination.total"
                ></el-pagination>
              </el-tab-pane>
              <el-tab-pane name="third" v-loading="inProgressRequestIsLoading">
                <span slot="label">
                  {{ $t('InProgress') }}
                  <div
                    v-if="progressRequestsCountTickets"
                    class="tab-pane__counter"
                  >{{progressRequestsCountTickets}}</div>
                </span>
                <div v-if="inProgressRequests.length != 0" class="third__pane">
                  <div
                    v-for="request in inProgressRequests"
                    :key="'request'+request.id"
                    class="collapse__list collapse__list-point"
                  >
                    <div class="collapse__items d-flex">
                      <div class="collapse__text">
                        <h1>{{request.category_name}}</h1>
                      </div>
                      <div class="collapse__date">
                        <h1>{{ $t('Scheduled time') }}</h1>
                        <p>
                          <span>{{request.data_time}}</span>
                        </p>
                      </div>
                      <div class="collapse__cost">
                        <h1>{{ $t('Cost') }}</h1>
                        <p>AED {{request.service_cost}}</p>
                      </div>
                      <div class="collapse__status collapse-ticket__detail">
                        <span class="ticket__text">
                          <i class="el-icon-chat-line-square"></i>
                          {{request.count_tickets}} tickets
                        </span>
                        <router-link
                          :to="{ name: 'RequestShow', params: { id: request.id } }"
                          class="btn-sm d-flex align-center jfy-bwn"
                        >
                          <span>{{ $t('Show details') }}</span>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else class="third__pane">
                  <div class="collapse__list collapse__list-point">
                    <span class="collapse-item__empty">{{ $t('No InProgress Requests') }}</span>
                  </div>
                </div>
                <el-pagination
                  v-if="progres_pagination.total > 20"
                  background
                  :page-size="20"
                  @current-change="handleCurrentChange($event, 'inProgress')"
                  layout="prev, pager, next"
                  :total="progres_pagination.total"
                ></el-pagination>
              </el-tab-pane>
              <el-tab-pane name="fouth" v-loading="closedRequestIsLoading">
                <span slot="label">
                  {{ $t('Closed') }}
                  <div
                    v-if="closedRequestsCountTickets"
                    class="tab-pane__counter"
                  >{{closedRequestsCountTickets}}</div>
                </span>
                <div v-if="closedRequests.length != 0" class="fouth__pane">
                  <div
                    v-for="request in closedRequests"
                    :key="'closed'+request.id"
                    class="collapse__list collapse__list-point"
                  >
                    <div class="collapse__items d-flex">
                      <div class="collapse__text">
                        <h1>{{request.category_name}}</h1>
                      </div>
                      <div class="collapse__date">
                        <h1>{{ $t('Scheduled time') }}</h1>
                        <p>
                          <span>{{request.data_time}}</span>
                        </p>
                      </div>
                      <div class="collapse__cost">
                        <h1>{{ $t('Cost') }}</h1>
                        <p>AED {{request.service_cost}}</p>
                      </div>
                      <div class="collapse__status collapse-ticket__detail">
                        <span class="ticket__text">
                          <i class="el-icon-chat-line-square"></i>
                          {{request.count_tickets}} tickets
                        </span>
                        <router-link
                          :to="{ name: 'RequestShow', params: { id: request.id } }"
                          class="btn-sm d-flex align-center jfy-bwn"
                        >
                          <span>{{ $t('Show details') }}</span>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else class="fouth__pane">
                  <div class="collapse__list collapse__list-point">
                    <span class="collapse-item__empty">{{ $t('No Closed Requests') }}</span>
                  </div>
                </div>
                <el-pagination
                  v-if="closed_pagination.total > 20"
                  background
                  :page-size="20"
                  @current-change="handleCurrentChange($event, 'Closed')"
                  layout="prev, pager, next"
                  :total="closed_pagination.total"
                ></el-pagination>
              </el-tab-pane>
              <el-tab-pane name="fifth" v-loading="canceledRequestIsLoading">
                <span slot="label">
                  {{ $t('Canceled') }}
                  <div
                    v-if="canceledRequestsCountTickets"
                    class="tab-pane__counter"
                  >{{canceledRequestsCountTickets}}</div>
                </span>
                <div v-if="canceledRequests.length != 0" class="fifth__pane">
                  <div
                    v-for="request in canceledRequests"
                    :key="'canceled'+request.id"
                    class="collapse__list collapse__list-point"
                  >
                    <div class="collapse__items d-flex">
                      <div class="collapse__text">
                        <h1>{{request.category_name}}</h1>
                      </div>
                      <div class="collapse__date">
                        <h1>{{ $t('Scheduled time') }}</h1>
                        <p>
                          <span>{{request.data_time}}</span>
                        </p>
                      </div>
                      <div class="collapse__cost">
                        <h1>{{ $t('Cost') }}</h1>
                        <p>AED {{request.service_cost}}</p>
                      </div>
                      <div class="collapse__status collapse-ticket__detail">
                        <span class="ticket__text">
                          <i class="el-icon-chat-line-square"></i>
                          {{request.count_tickets}} tickets
                        </span>
                        <router-link
                          :to="{ name: 'RequestShow', params: { id: request.id } }"
                          class="btn-sm d-flex align-center jfy-bwn"
                        >
                          <span>{{ $t('Show details') }}</span>
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else class="fifth__pane">
                  <div class="collapse__list collapse__list-point">
                    <span class="collapse-item__empty">{{ $t('No Canceled Requests') }}</span>
                  </div>
                </div>
                <el-pagination
                  v-if="cancel_pagination.total > 20"
                  background
                  :page-size="20"
                  @current-change="handleCurrentChange($event, 'Canceled')"
                  layout="prev, pager, next"
                  :total="cancel_pagination.total"
                ></el-pagination>
              </el-tab-pane>
            </el-tabs>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<style>
.el-pager > li.number.active {
  background-color: #ffef00 !important;
  color: #000 !important;
}
.el-pager > li.number:hover {
  color: #000 !important;
}

.collapse__cost-success {
  color: #55d775;
  font-weight: initial !important;
}

.collapse__cost-red {
  color: red;
  font-weight: initial !important;
}

.collapse__text-main {
  width: 250px !important;
  flex: initial !important;
}

.dashboard--collapse .el-tabs__active-bar {
  background-color: #dec700;
}

.dashboard--collapse .el-tabs__item.is-active,
.dashboard--collapse .el-tabs__item:hover {
  color: #dec700;
}

.collapse-ticket__detail div i {
  transform: rotate(-90deg);
  font-size: 20px;
}

.collapse-ticket__detail a {
  border-radius: 3px;
  background: #ffef00;
  color: inherit;
  padding: 10px;
}

.second__pane .vs-collapse-item--content,
.first__pane .vs-collapse-item--content,
.third__pane .vs-collapse-item--content,
.fouth__pane .vs-collapse-item--content,
.fifth__pane .vs-collapse-item--content {
  display: none !important;
}

.collapse-ticket__detail {
  display: flex;
  align-items: center;
}

.ticket__text {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  color: red;
  position: relative;
  font-family: var(--font-Heebo-Medium);
}

.ticket__text i {
  font-size: 22px;
  transform: translate(-10px, 2px);
}

.second__pane .icon-header,
.first__pane .icon-header,
.third__pane .icon-header,
.fouth__pane .icon-header,
.fifth__pane .icon-header {
  display: none;
}

.requst-status-text .requst-crumb a {
  color: inherit !important;
  padding: initial !important;
}

.requst-status-text .status__text p {
  margin-bottom: 0 !important;
}

.collapse__content a {
  display: inline-block;
  padding: 8px 24px;
  color: #fff;
  border-radius: 3px;
  letter-spacing: 0.3px;
  margin-right: 10px;
}

.collapse__content a.accept__button {
  background: #ffef00;
  font-family: var(--font-Medium);
  color: inherit;
}

.collapse__content a.decline__button {
  background: #f4f4f4;
  color: red;
  font-family: var(--font-Medium);
}

.collapse__content a.accept__button:hover {
  background: #e0d201;
}

.collapse__content a.decline__button:hover {
  background: #e2dddd;
}

.collapse__content--text {
  padding: 10px 5px;
}

.collapse__content--text > div {
  padding-right: 6em;
}

.collapse__content--text > div h1 {
  font-family: var(--font-Medium);
  color: #a08500;
  margin-bottom: 4px;
}

.collapse__content--text > div p {
  font-size: 13.5px;
  margin-bottom: 8px;
}

.dashboard--collapse {
  margin-bottom: 50px;
}

.dashboard--collapse .collapse__list {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}

.dashboard--collapse .vs-collapse,
.dashboard--collapse .vs-collapse-item--header {
  padding: 0;
}

.collapse__items {
  padding: 15px;
}

.collapse__text,
.collapse__status,
.collapse__date,
.collapse__cost {
  flex: 1;
}

.collapse__text h1 {
  font-family: var(--font-Medium);
  font-size: 14px;
  margin-bottom: 0px;
}

.collapse__status h1,
.collapse__date h1,
.collapse__cost h1 {
  opacity: 0.6;
  font-family: var(--font-Regular);
}

.collapse__text p,
.collapse__status p,
.collapse__date p,
.collapse__cost p {
  font-size: 13.5px;
  margin-top: 4px;
  letter-spacing: 0.3px;
}

.collapse__status p {
  color: red;
}

.collapse__status p,
.collapse__date p,
.collapse__cost p {
  font-weight: 600;
}

/************************ MEDIA ************************************/

@media (max-width: 992px) {
  .collapse__list-point {
    overflow-x: scroll;
  }

  .collapse__list-point .vs-collapse {
    width: 900px;
  }
}
</style>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";
import { async } from "q";
export default {
  name: "DashboardRequest",
  data() {
    return {
      lang: this.$i18n.locale,
      loadingData: false,
      newRequestIsLoading: false,
      confirmedRequestIsLoading: false,
      inProgressRequestIsLoading: false,
      closedRequestIsLoading: false,
      canceledRequestIsLoading: false,
      mobile_start_date: "",
      mobile_end_date: "",
      pickerOptions: {
        shortcuts: [
          {
            text: "Last week",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Last month",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Last 3 months",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      sort_date: "",
      sort_date_begin: "",
      sort_date_end: "",
      activeName: "first",
      newRequests: [],
      confirmedRequests: [],
      inProgressRequests: [],
      closedRequests: [],
      canceledRequests: [],
      user_id: 0,
      sort: {
        column: "id",
        order: "desc"
      },
      progres_pagination: {
        count: 20,
        current_page: 1,
        per_page: 20,
        total: 101,
        total_pages: 6
      },
      new_pagination: {
        count: 20,
        current_page: 1,
        per_page: 20,
        total: 101,
        total_pages: 6
      },
      confirmed_pagination: {
        count: 20,
        current_page: 1,
        per_page: 20,
        total: 101,
        total_pages: 6
      },
      closed_pagination: {
        count: 20,
        current_page: 1,
        per_page: 20,
        total: 101,
        total_pages: 6
      },
      cancel_pagination: {
        count: 20,
        current_page: 1,
        per_page: 20,
        total: 101,
        total_pages: 6
      }
    };
  },
  computed: {
    newRequestsCountTickets: function() {
      let count = 0;
      for (let i = 0; i < this.newRequests.length; i++) {
        const element = this.newRequests[i];
        count += element.count_tickets;
      }
      return count;
    },
    confirmRequestsCountTickets: function() {
      let count = 0;
      for (let i = 0; i < this.confirmedRequests.length; i++) {
        const element = this.confirmedRequests[i];
        count += element.count_tickets;
      }
      return count;
    },
    progressRequestsCountTickets: function() {
      let count = 0;
      for (let i = 0; i < this.inProgressRequests.length; i++) {
        const element = this.inProgressRequests[i];
        count += element.count_tickets;
      }
      return count;
    },
    closedRequestsCountTickets: function() {
      let count = 0;
      for (let i = 0; i < this.closedRequests.length; i++) {
        const element = this.closedRequests[i];
        count += element.count_tickets;
      }
      return count;
    },
    canceledRequestsCountTickets: function() {
      let count = 0;
      for (let i = 0; i < this.canceledRequests.length; i++) {
        const element = this.canceledRequests[i];
        count += element.count_tickets;
      }
      return count;
    }
  },
  created: async function() {
    await this.fetchRequests();
  },
  components: {
    Loading
  },
  watch: {
    sort_date: {
      handler: function(new_value, old_value) {
        this.resetPanigate();
        if (Array.isArray(this.sort_date)) {
          let start_year = this.sort_date[0].getFullYear();
          let start_month = this.sort_date[0].getMonth();
          let start_day = this.sort_date[0].getDate();
          let end_year = this.sort_date[1].getFullYear();
          let end_month = this.sort_date[1].getMonth();
          let end_day = this.sort_date[1].getDate();
          this.sort_date_begin =
            start_day + "-" + (start_month + 1) + "-" + start_year;
          this.sort_date_end = end_day + "-" + (end_month + 1) + "-" + end_year;
          this.fetchRequests();
        } else {
          this.sort_date_begin = "";
          this.sort_date_end = "";
          this.fetchRequests();
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapActions({
      requestList: "cart/index"
    }),
    handleCurrentChange(current_page, status) {
      switch (status) {
        case "New":
          this.new_pagination.current_page = current_page;
          this.fetchNewRequests();
          break;
        case "Confirmed":
          this.confirmed_pagination.current_page = current_page;
          this.fetchConfirmedRequests();
          break;
        case "InProgress":
          this.progres_pagination.current_page = current_page;
          this.fetchInProgressRequests();
          break;
        case "Closed":
          this.closed_pagination.current_page = current_page;
          this.fetchClosedRequests();
          break;
        case "Canceled":
          this.cancel_pagination.current_page = current_page;
          this.fetchCanceledRequests();
          break;
        default:
          break;
      }
    },
    async fetchRequests() {
      await this.fetchNewRequests();
      await this.fetchConfirmedRequests();
      await this.fetchInProgressRequests();
      await this.fetchClosedRequests();
      await this.fetchCanceledRequests();
    },
    fetchNewRequests() {
      this.newRequestIsLoading = true;
      let dataFetchUrl = `status=New&page=${this.new_pagination.current_page}&per_page=${this.new_pagination.per_page}&start_date=${this.sort_date_begin}&end_date=${this.sort_date_end}&lang=${this.lang}`;
      this.requestList(dataFetchUrl)
        .then(res => {
          this.newRequests = res.data.carts;
          this.new_pagination = res.data.pagination;
          this.newRequestIsLoading = false;
        })
        .catch(err => {
          this.newRequestIsLoading = false;
          console.log(err);
        });
    },
    fetchConfirmedRequests() {
      this.confirmedRequestIsLoading = true;
      let dataFetchUrl = `status=Confirmed&page=${this.confirmed_pagination.current_page}&per_page=${this.confirmed_pagination.per_page}&start_date=${this.sort_date_begin}&end_date=${this.sort_date_end}&lang=${this.lang}`;
      this.requestList(dataFetchUrl)
        .then(res => {
          this.confirmedRequestIsLoading = false;
          this.confirmedRequests = res.data.carts;
          this.confirmed_pagination = res.data.pagination;
        })
        .catch(err => {
          this.confirmedRequestIsLoading = false;
          console.log(err);
        });
    },
    fetchInProgressRequests() {
      this.inProgressRequestIsLoading = true;
      let dataFetchUrl = `status=InProgress&page=${this.progres_pagination.current_page}&per_page=${this.progres_pagination.per_page}&start_date=${this.sort_date_begin}&end_date=${this.sort_date_end}&lang=${this.lang}`;
      this.requestList(dataFetchUrl)
        .then(res => {
          this.inProgressRequestIsLoading = false;
          this.inProgressRequests = res.data.carts;
          this.progres_pagination = res.data.pagination;
        })
        .catch(err => {
          this.inProgressRequestIsLoading = false;
          console.log(err);
        });
    },
    fetchClosedRequests() {
      this.closedRequestIsLoading = true;
      let dataFetchUrl = `status=Closed&page=${this.closed_pagination.current_page}&per_page=${this.closed_pagination.per_page}&start_date=${this.sort_date_begin}&end_date=${this.sort_date_end}&lang=${this.lang}`;
      this.requestList(dataFetchUrl)
        .then(res => {
          this.closedRequestIsLoading = false;
          this.closedRequests = res.data.carts;
          this.closed_pagination = res.data.pagination;
        })
        .catch(err => {
          this.closedRequestIsLoading = false;
          console.log(err);
        });
    },
    fetchCanceledRequests() {
      this.canceledRequestIsLoading = true;
      let dataFetchUrl = `status=Canceled&page=${this.cancel_pagination.current_page}&per_page=${this.cancel_pagination.per_page}&start_date=${this.sort_date_begin}&end_date=${this.sort_date_end}&lang=${this.lang}`;
      this.requestList(dataFetchUrl)
        .then(res => {
          this.canceledRequestIsLoading = false;
          this.canceledRequests = res.data.carts;
          this.cancel_pagination = res.data.pagination;
          this.isLoading = false;
        })
        .catch(err => {
          this.canceledRequestIsLoading = false;
          console.log(err);
        });
    },
    mobileSortDate(event) {
      if (event == "start") {
        this.sort_date_begin = this.mobile_start_date
          ? this.mobile_start_date
          : "";
      } else {
        this.sort_date_end = this.mobile_end_date ? this.mobile_end_date : "";
      }
    },
    resetPanigate() {
      this.new_pagination.current_page = 1;
      this.confirmed_pagination.current_page = 1;
      this.progres_pagination.current_page = 1;
      this.closed_pagination.current_page = 1;
      this.cancel_pagination.current_page = 1;
    }
  }
};
</script>
