<template>
  <div class="container">
    <div class="dashboard--collapse">
      <loading
        :active.sync="isLoading"
        loader="bars"
        transition="slide-fade"
        :is-full-page="fullPage"
        :color="'#F5D200'"
        :opacity="0.5"
      ></loading>
      <article class="request__article">
        <figure class="request-article__body d-flex">
          <div class="requst-status-text col-7">
            <p class="text">{{Request.category_name}}</p>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Time") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.data_time}}</p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Location") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.address}}</p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Cost") }}</span>
              </div>
              <div class="col-9">
                <p>
                  {{Request.service_cost}}
                  <b>AED</b>
                </p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t('Change Cost') }}</span>
              </div>
              <div class="col-9">
                <form class="change-cost-form d-flex f-wrap">
                  <div class="change-cost-div">
                    <el-input type="number" step="any" placeholder="Please input" v-model="price"></el-input>
                  </div>
                  <el-button
                    class="status-btn btn btn-sm"
                    :disabled="!price"
                    @click="updatePrice"
                  >{{$t('Change')}}</el-button>
                </form>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Paid by") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.payment_methods ? Request.payment_methods : '-'}}</p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Comment") }}</span>
              </div>
              <div class="col-9">
                <p>{{ Request.content ? Request.content : '-'}}</p>
              </div>
            </div>

            <div class="status__text status__text-form d-flex">
              <div class="col-3">
                <span>{{ $t("Status") }}</span>
              </div>
              <div class="col-9">
                <form
                  class="request__status request__status-input d-flex align-center"
                  @keypress.enter="updateRequest"
                  @submit.prevent="updateRequest"
                >
                  <el-select v-model="Request.status" :placeholder="$t('Select')">
                    <el-option
                      v-for="item in statuses"
                      :key="item.code"
                      :label="item.name"
                      :value="item.code"
                    ></el-option>
                  </el-select>
                  <el-button
                    :loading="changeStatusButton"
                    @click="updateStatus"
                    class="status-btn btn btn-sm"
                  >{{ $t("Save") }}</el-button>
                  <!-- <FormButton :ValueText="$t('Save')"></FormButton> -->
                </form>
              </div>
            </div>

            <div class="line-horizontal"></div>

            <p class="text">
              {{ Request.category_name }}
              {{ $t("Users Information") }}
            </p>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Time") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.data_time}}</p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Location") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.address}}</p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Cost") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.service_cost}}</p>
              </div>
            </div>
            <div class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Paid by") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.payment_methods ? Request.payment_methods : '-'}}</p>
              </div>
            </div>
            <div v-if="Request.content" class="status__text d-flex">
              <div class="col-3">
                <span>{{ $t("Comment") }}</span>
              </div>
              <div class="col-9">
                <p>{{Request.content}}</p>
              </div>
            </div>
          </div>

          <div class="requst-status-descr col-5">
            <p class="text">{{ $t("Your selection") }}</p>
            <!-- FOR BEGIN -->
            <div class="user-selection" v-for="attribute in Attributes" :key="attribute.id">
              <div>
                <h6 class="user-selection__title">{{ attribute.attribute_name }}</h6>
                <!-- FOR  BASKETS -->
                <div v-if="attribute.selectedBaskets.length != 0">
                  <ul
                    v-for="basket in attribute.selectedBaskets"
                    :key="'basket' + basket.id"
                    class="user-selection__ul"
                  >
                    <li
                      v-if="basket.selectedItems && basket.selectedItems.length != 0"
                      class="user-selection__list"
                    >
                      <span>{{ basket.basket_items_label }}</span>
                      <div
                        v-for="item in basket.selectedItems"
                        :key="'item' + item.id"
                        class="user-selection__list-text"
                      >
                        <span>{{ item.label }}</span>
                        <ul v-if="item.selectedServices && item.selectedServices.length != 0">
                          <li
                            v-for="service in item.selectedServices"
                            :key="'ser' + service.id"
                          >{{ service.service_name }}</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- FOR OPTIONS -->
                <div v-if="attribute.selectedOptions.length != 0">
                  <ul
                    v-for="option in attribute.selectedOptions"
                    :key="'option' + option.id"
                    class="user-selection__ul"
                  >
                    <li class="user-selection__list">
                      <span>{{ option.id }}</span>
                    </li>
                  </ul>
                </div>
                <!-- FOR INPUTS -->
                <div v-if="attribute.selectedInputs.length != 0">
                  <ul
                    v-for="input in attribute.selectedInputs"
                    :key="'input' + input.id"
                    class="user-selection__ul"
                  >
                    <li class="user-selection__list">
                      <span>{{ input.label }}</span>
                      <div class="user-selection__list-text">{{ input.value }}</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- FOR END -->
          </div>
        </figure>

        <div class="show-ticket">
          <p>{{ $t("You dont have tickets for this request") }}</p>
        </div>

        <div class="user__ticket-table">
          <div class="user-tabs__title">
            <h1 class="title">{{ $t("Tickets") }}</h1>
          </div>
          <el-table v-loading="loadingTicket" :data="Tickets" style="width: 100%">
            <el-table-column label="Ticket type" width="180">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'TicketShow', params:{id: scope.row.id} }"
                  class="link-anchor"
                >
                  <i class="el-icon-chat-line-square"></i>
                  <span style="margin-left: 10px">{{ scope.row.subject }}</span>
                </router-link>
              </template>
            </el-table-column>
            <el-table-column label="Created At" width="358">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'TicketShow', params:{id: scope.row.id} }"
                  class="link-anchor"
                >
                  <span>{{ scope.row.created_at }}</span>
                </router-link>
              </template>
            </el-table-column>
            <el-table-column label="Status" width="180">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'TicketShow', params:{id: scope.row.id} }"
                  class="link-anchor"
                >
                  <span>{{ scope.row.class }}</span>
                </router-link>
              </template>
            </el-table-column>
            <el-table-column label="Option" width="180">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'TicketShow', params:{id: scope.row.id} }"
                  class="table-btn"
                >{{ $t("Read") }}</router-link>
              </template>
            </el-table-column>
            <el-table-column label="Message owner" width="180">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'TicketShow', params:{id: scope.row.id} }"
                  class="link-anchor"
                >
                  <span>{{ scope.row.from_name }}</span>
                </router-link>
              </template>
            </el-table-column>
          </el-table>
        </div>

        <div class="damn-designer-mistake d-flex">
          <el-button
            @click="$router.go(-1)"
            tag="div"
            class="btn btn-sm d-flex align-center jfy-bwn"
          >
            <i class="el-icon-arrow-left"></i>
            {{ $t("Go back") }}
          </el-button>

          <a
            class="btn btn-sm text-center"
            @click="centerDialogVisible = true"
            style="margin-left: 2rem;"
          >{{ $t("Open ticket") }}</a>
        </div>

        <el-dialog
          title="Warning"
          :visible.sync="centerDialogVisible"
          width="30%"
          class="custom__dialog"
        >
          <form @keypress.enter="storeTicket" @submit.prevent="storeTicket">
            <div class="dialog__body">
              <h1 class="dialog-body__title">{{ $t("Open new ticket") }}</h1>

              <div class="el-form-group">
                <span>{{ $t("Requst type") }}</span>
                <el-select v-model="Ticket.subject" :placeholder="$t('Select')">
                  <el-option
                    v-for="item in types"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </div>
              <div class="el-form-group">
                <span>{{ $t("Content") }}</span>
                <el-input type="textarea" placeholder="Write..." v-model="Ticket.content"></el-input>
              </div>
            </div>
            <span slot="footer" class="dialog-footer close__dialog">
              <el-button
                :loading="loadingTicket"
                type="submit"
                class="btn btn-sm"
                @click="storeTicket"
              >
                {{ $t("Submit ticket") }}
                <i class="el-icon-position"></i>
              </el-button>
            </span>
          </form>
        </el-dialog>
      </article>
    </div>
  </div>
</template>

<style>
.damn-designer-mistake {
  margin-top: 10px;
}

.damn-designer-mistake .open__ticket,
.damn-designer-mistake .close__dialog button {
  margin-top: 0;
}

.damn-designer-mistake .go__back {
  margin-right: 30px;
}

.go__back a {
  display: inline-block;
  font-family: var(--font-Medium);
  color: inherit;
  /* margin-top: 15px; */
}

.go__back i {
  font-weight: bold;
  font-size: 13px;
  margin-right: -5px;
}

.request__status-input .form-submit {
  height: 42px;
  line-height: 0px;
  margin-left: 30px;
}

.dashboard--collapse .request__article .request-article__body {
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 0 5px #0000001c;
  margin: 0;
}
</style>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "RequestShow",
  data() {
    return {
      input: "",
      loadingTicket: false,
      changeStatusButton: false,
      lang: this.$i18n.locale,
      textarea: "",
      // Testing dates
      centerDialogVisible: false,
      Tickets: [],
      Attributes: [],
      types: [
        {
          value: "Info",
          label: this.$t("Info")
        },
        {
          value: "Delay",
          label: this.$t("Delay")
        },
        {
          value: "Submit",
          label: this.$t("Submit")
        },
        {
          value: "Cancel",
          label: this.$t("Cancel")
        },
        {
          value: "Mistake",
          label: this.$t("Mistake")
        }
      ],
      statuses: [],
      Ticket: {
        subject: "",
        content: "",
        cart_id: 0,
        from: 0,
        to: 0
      },
      Request: [],
      Ticket: {
        subject: "",
        content: "",
        cart_id: 0,
        from: 0,
        to: 0
      },
      isLoading: false,
      fullPage: true,
      cart_id: null,
      price: null
    };
  },
  components: {
    Loading
  },
  computed: {
    ...mapGetters({
      user_id: "auth/id"
    })
  },
  created: async function() {
    this.cart_id = this.$route.params.id;
    if (!this.cart_id) {
      this.$router.push("/dashboard-request");
    }
    this.Ticket.cart_id = this.$route.params.id;
    // await this.fetchRequest()
    await this.fetchStatus();
  },
  watch: {
    cart_id: {
      handler: function() {
        this.fetchRequest();
      }
    }
  },
  methods: {
    ...mapActions({
      cartShow: "cart/show",
      save: "ticket/store",
      changeStatus: "cart/changeStatus",
      cartStatuses: "cart/statuses",
      changePrice: "cart/changePrice"
    }),
    storeTicket() {
      this.loadingTicket = true;
      this.Ticket.cart_id = this.cart_id;
      this.Ticket.from = this.user_id;
      this.Ticket.to = this.Request.provider ? this.Request.provider.id : null;
      this.save(this.Ticket)
        .then(res => {
          this.loadingTicket = false;
          this.centerDialogVisible = false;
          this.fetchRequest();
        })
        .catch(err => {
          this.loadingTicket = false;
          console.log(err);
        });
    },
    fetchRequest() {
      let dataFetchUrl = { id: this.cart_id, attributes: true, tickets: true };
      this.isLoading = true;
      this.cartShow(dataFetchUrl)
        .then(res => {
          this.isLoading = false;
          this.Request = res.data.cart;
          this.Attributes = this.Request.selectedAttributes;
          this.Tickets = this.Request.tickets;
        })
        .catch(err => {
          this.isLoading = false;
          console.log(err);
        });
    },
    fetchStatus() {
      let dataFetchUrl = { lang: this.lang };
      this.cartStatuses(dataFetchUrl)
        .then(res => {
          this.statuses = res.data.statuses;
        })
        .catch(err => {
          console.log(err);
        });
    },
    updateStatus() {
      this.changeStatusButton = true;
      this.changeStatus({ new_status: this.Request.status, id: this.cart_id })
        .then(res => {
          this.changeStatusButton = false;
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: this.$i18n.messages[this.$i18n["locale"]][
              "Successfully updated"
            ],
            type: "success"
          });
          this.fetchRequest();
        })
        .catch(err => {
          this.changeStatusButton = false;
          console.log(err);
        });
    },
    updatePrice() {
      this.isLoading = true;
      this.changePrice({ new_price: this.price, id: this.cart_id })
        .then(res => {
          this.isLoading = false;
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: this.$i18n.messages[this.$i18n["locale"]][
              "Successfully updated"
            ],
            type: "success"
          });
          this.price = null;
          this.fetchRequest();
        })
        .catch(err => {
          this.isLoading = false;
          console.log(err);
        });
    }
  }
};
</script>
