<template>
  <div class="wrap-all">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t('Contact Us') }}</h1>

        <div class="inner-wrap">
          <div class="contact__wrap d-flex jfy-bwn">
            <div class="contact__frame col-6">
              <div class="contact__frame--item" v-for="contact in contacts" :key="contact.id">
                <h1>{{contact.name}}</h1>
                <p>
                  <i class="el-icon-location-outline"></i>
                  {{contact.address}}
                </p>
                <p>
                  <i class="el-icon-alarm-clock"></i>
                  {{contact.work_time}}
                </p>
                <p>
                  <i class="el-icon-mobile-phone"></i>
                  {{contact.phone}}
                </p>
                <p>
                  <i class="el-icon-message"></i>
                  {{contact.email}}
                </p>
                <div class="col-4" v-html="contact.maps">

                </div>
              </div>
            </div>
            <div class="contact__form col-6">
              <form class="contact__form--wrap">
                <div class="contact__form--group">
                  <BaseInput
                    :label="$t('Full Name')"
                    v-model="contactMessage.name"
                    :model="contactMessage.name"
                    :placeholder="$t('Type Your Name')"
                    :id="'name'"
                    :type="'text'"
                  ></BaseInput>
                </div>
                <div class="contact__form--group">
                  <BaseInput :label="$t('Your Email Address')"
                    v-model="contactMessage.email"
                    :model="contactMessage.email"
                    :placeholder="$t('Type Your Email')"
                    :id="'email'"
                    :type="'email'"
                  ></BaseInput>
                </div>
                <div class="contact__form--group">
                  <BaseInput
                    :label="$t('Subject')"
                    v-model="contactMessage.subject"
                    :model="contactMessage.subject"
                    :placeholder="$t('Type Email Subject')"
                    :id="'subject-email'"
                    :type="'text'"
                  ></BaseInput>
                </div>
                <div class="contact__form--group">
                  <BaseTextarea
                    :label="$t('Your Message') "
                    v-model="contactMessage.message"
                    :model="contactMessage.message"
                    :placeholder="$t('Your Message')"
                    :id="'area'"
                  ></BaseTextarea>
                </div>

                <BaseButton :loadingButton="loading" @c-click="submit" ValueText="$t('Submit')"></BaseButton>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.contact__frame {
  padding: 20px 0 20px 20px;
}

.contact__frame--item {
  width: 100%;
  margin-bottom: 20px;
}

.contact__frame--item:last-child {
  margin-bottom: 0;
}

.contact__frame--item > h1 {
  font-size: 20px;
  font-family: var(--font-Medium);
  margin-bottom: 10px;
}

.contact__frame--item > p {
  overflow: hidden;
  margin-bottom: 10px;
}

.contact__frame--item > p > i {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  font-size: 20px;
}

.contact__frame--item iframe {
  display: block;
  height: 345px;
  border-radius: 4px;
}

.contact__form--wrap {
  padding: 20px 20px 20px 0;
}

.contact__form--group {
  margin-bottom: 15px;
}

.contact__form--group img {
  display: block;
  padding: 10px 0;
}

/**********************************************/
@media (max-width: 578px) {
  .contact__wrap {
    flex-wrap: wrap;
  }
  .contact__frame,
  .contact__form {
    width: 100%;
    padding: 20px;
  }
  .contact__form--wrap {
    padding: 0;
  }
  .main__wrap[dir="rtl"] .contact__form--wrap {
    padding: 0 !important;
  }
}

.main__wrap[dir="rtl"] .contact__frame {
  padding: 20px 20px 20px 0px;
}
.main__wrap[dir="rtl"] .contact__form--wrap {
  padding: 20px 0px 20px 20px;
}
.main__wrap[dir="rtl"] .contact__frame--item > p > i {
  margin-right: 0;
  margin-left: 5px;
}
</style>

<script>
export default {
  name: "Contact",
  data() {
    return {
      contacts: [],
      lang: this.$i18n.locale,
      contactMessage: {
        name: "",
        email: "",
        subject: "",
        message: ""
      },
      errors: [],
      loading:false
    };
  },
  components: {},
  async created() {
    await this.fetchContacts();
  },
  methods: {
    fetchContacts() {
      let dataFetchUrl = `lang=${this.lang}`;
      this.$store
        .dispatch("contactUs/index", dataFetchUrl)
        .then(res => {
          this.contacts = res.data.contacts;
        })
        .catch(err => {
          console.log(err);
        });
    },
    submit() {
      this.loading = true;
      this.$store
        .dispatch("contactMessage/store", this.contactMessage)
        .then(res => {
          this.$notify.success({
             title: this.$i18n.messages[this.$i18n['locale']]['Success'],
            message: "Successfully saved",
            type: "success"
          });
          this.loading = false;
          this.contactMessage = {
            name: "",
            email: "",
            subject: "",
            message: ""
          }
          // this.$router.push("/");
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
          this.$notify.error({
            title: 'Validate error',
            message: "Please fill in the fields",
            code:422
          });
        });
    }
  }
};
</script>
