<template>
  <div class="wrap-all NewsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container" :dir="dir" v-loading="loadingData">
        <h1 class="inner-wrap-title">{{ $t("News and articles") }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row d-flex f-wrap">
            <div
              class="card__wrap col-4"
              v-for="item in NewsData"
              :key="item.id"
            >
              <!-- :to="{ path: '/new/' + item.id, params: { slug: item.id } }" -->
              <router-link :to="{ path: '/new/' + item.id, params: { id: item.id } }">
                <div class="card__header">
                  <img :src="item.image" alt="" class="d-block" />
                </div>
                <div class="card__footer">
                  <div class="card__date">{{ item.created_at }}</div>
                  <h1 class="title">
                    {{ item.title }}
                  </h1>
                  <!-- <div class="card__forum d-flex">
                    <div class="d-flex align-center">
                      <i class="el-icon-chat-dot-square"></i>
                      <span>81</span>
                    </div>
                    <div class="d-flex align-center">
                      <i class="el-icon-view"></i>
                      <span>719</span>
                    </div>
                  </div> -->
                </div>
              </router-link>
            </div>

            <div class="col-12">
              <el-pagination
                :page-size="Number(pagination.per_page)"
                :pager-count="11"
                background
                layout="prev, pager, next"
                :total="pagination.total"
              >
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.card__wrap > a {
  color: inherit;
}

.card__forum > div {
  margin-right: 15px;
}

.card__forum > div,
.card__date {
  font-size: 12px;
}

.card__forum > div i {
  font-size: 18px;
  margin-right: 5px;
}

.card__forum > div > * {
  color: #bebebe;
}

.card__date {
  color: #969696;
}

.card__footer > h1 {
  margin: 5px 0 10px;
}

.card__wrap {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(102, 102, 102, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.card__header {
  height: 240px;
}

.card__header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__footer {
  padding: 20px;
}

.NewsPage .inner-wrap {
  background: initial;
  box-shadow: initial;
}

.NewsPage .wrap-row {
  padding: 0;
}

.col-12 {
  flex: 0 1 100%;
}

.col-4 {
  flex: 0 1 calc(33.333% - 30px);
  margin: 15px 15px;
}

.title {
  font-family: var(--font-Medium);
  font-size: 18px;
}

.descr {
  font-size: 15px;
  margin: 8px 0 40px;
  line-height: 24px;
}
</style>

<script>
export default {
  name: "News",
  data() {
    return {
      loadingData:false,
      NewsData: [],
      lang: this.$i18n.locale,
      currentx: 1,
      colorx: "#ffd709",
      pagination: {
        count: 20,
        current_page: 1,
        per_page: 6,
        total: 101,
        total_pages: 6
      }
    };
  },
  components: {},
  async created() {
    await this.News()
  },
  methods: {
    News(){
      let dataFetchUrl = `page=${this.pagination.current_page}&per_page=${this.pagination.per_page}&lang=${this.lang}`
      this.loadingData = true;
      this.$store.dispatch('news/index', dataFetchUrl)
      .then(res => {
        this.NewsData = res.data.posts
        this.pagination = res.data.pagination
        this.loadingData = false;
      })
      .catch(err => {
        this.loadingData = false;
        console.log(err)
      })
    },
    changeCurrentPage(data){
        this.pagination.current_page = data
        this.News()
    }
  }
};
</script>
