<template>
  <div class="wrap-all AboutUs">
    <div class="header-overlay"></div>

    <div class="content-wrap" v-loading="loadingdata">
      <div class="container" :dir="dir">
        <h1 class="inner-wrap-title">{{NewData.title}}</h1>

        <div class="inner-wrap inner-wrap-all">
          <h1 class="title">{{NewData.created_at}}</h1>
          <div v-if="NewData.image">
            <img :src="NewData.image" alt="">
          </div>
          <p class="descr" v-html="NewData.content"></p>
          <div class="form__continue--button" @click="$router.go(-1)">
            <el-button class="btn">
              <span class="d-flex align-center jfy-bwn">
                <i class="el-icon-arrow-left"></i>
                {{ $t('Go Back') }}
              </span>
            </el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.AboutUs .wrap-row {
  padding: 0;
}

.AboutUs .row-items {
  margin: 0 !important;
}

.card--header {
  width: 65px;
  height: 65px;
  border-radius: 12px;
  text-align: center;
  background: #ffe76f;
  line-height: 85px;
}

.card--header i {
  font-size: 32px;
}

.card--body > h1 {
  color: #a08500;
  max-width: 165px;
  font-family: var(--font-Medium);
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.col-4 {
  flex: 0 1 25%;
}

.wrap-row {
  margin: 0 -15px;
}

.wrap-row > div {
  padding: 0 15px;
}

.row-left,
.col-7 {
  flex: 0 1 58.3333%;
}

.row-right,
.col-5 {
  flex: 0 1 41.6666%;
}

.title {
  font-family: var(--font-Medium);
  font-size: 18px;
}

.descr {
  font-size: 15px;
  margin: 8px 0 40px;
  line-height: 24px;
}

.inner-wrap-all {
  padding: 35px 45px;
}

.map-aside {
  width: 360px;
  margin-left: auto;
  border: solid 8px #ffd709;
  box-shadow: 0px 0px 9px rgba(122, 122, 122, 0.5);
  border-radius: 4px;
  transform: translateY(25px);
}

.map-aside img {
  transform: translate(20px, -20px);
}
</style>

<script>
export default {
  name: "NewsShow",
  data() {
    return {
      id: null,
      lang: this.$i18n.locale,
      NewData: [],
      loadingdata:false,
    };
  },
  components: {},
  created() {
      this.id = this.$route.params.id
      this.New()
  },
  methods: {
      New(){
        this.loadingdata = true;
        let dataFetchUrl = { id: this.id, lang: this.lang }
        this.$store.dispatch('news/show', dataFetchUrl)
        .then(res => {
          this.loadingdata = false;
          this.NewData = res.data.post
        })
        .catch(err => {
          this.loadingdata = false;
            console.log(err)
        })
      }
  }
};
</script>
