<template>
  <div class="user-tabs-profile">
    <form class="profile-form">
      <div class="request-header d-flex align-center jfy-bwn">
        <p>{{ countRequest }} {{ $t('Requests') }}</p>
        <div class="request-show d-flex align-center">
          <p>{{ $t('By status') }}</p>

          <el-select @change="fetchRequests" v-model="status" class="selectExample">
            <el-option
              v-for="item in statuses"
              :key="item.code"
              :label="item.name"
              :value="item.code"
            ></el-option>
          </el-select>
        </div>
      </div>
      <div class="request-table">
        <el-table v-loading="isLoading" :data="Requests" style="width: 100%">
          <el-table-column label="Date" width="220">
            <template slot-scope="scope">
              <div class="vs--order">
                <h1 class="vs--order__ititle">{{ scope.row.category_name }} # {{ scope.row.id }}</h1>
                <p class="vs-order__provider">
                  <span>{{ $t('Provider') }}:</span>
                  <span>{{ scope.row.provider ? scope.row.provider.first_name : ' ' }} {{ scope.row.provider ? scope.row.provider.last_name : ''}}</span>
                </p>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="Date" width="125">
            <template slot-scope="scope">
              <div class="vs--status">
                <h1 class="status">{{ $t('Status') }}</h1>
                <p class="vs--status__text text__success">{{ scope.row.status }}</p>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="Date" width="175">
            <template slot-scope="scope">
              <div class="vs--time">
                <h1 class="status">{{ $t('Scheduled time') }}</h1>
                <p class="vs--time__text">
                  <span>{{ scope.row.data_time }}</span>
                </p>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="Name" width="115">
            <template slot-scope="scope">
              <div class="vs--cost">
                <span class="status">{{ $t('Cost') }}</span>
                <p class="vs--cost__text">
                  <span>AED</span> &nbsp;
                  <span>{{ scope.row.service_cost }}</span>
                </p>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="Operations">
            <template slot-scope="scope">
              <router-link
                :to="{ name: 'UserRequestShow', params:{id: scope.row.id} }"
                class="btn-sm d-flex align-center jfy-bwn"
              >
                {{ $t('Show More') }}
                <i class="el-icon-arrow-right"></i>
              </router-link>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </form>
    <div class="col-12 text-center" style="margin-top: 2rem">
      <el-pagination
        @current-change="changeCurrentPage"
        :page-size="Number(pagination.per_page)"
        :pager-count="11"
        background
        layout="prev, pager, next"
        :total="pagination.total"
      ></el-pagination>
    </div>
  </div>
</template>

<style>
.vs--details a i {
  transform: rotate(-90deg);
}

.request-table .td-check,
.request-table .table__thead {
  display: none;
}

.request-show .vs-select--input {
  padding: 10px;
  font-size: 14px;
}

.request-table .vs-table--tr {
  vertical-align: top;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
}

.request-table .vs-table--tbody-table .tr-values td {
  padding: 20px 10px 25px;
}

.request-table .vs-table--tr .td:first-child {
  padding-left: 0 !important;
}

.vs--details a {
  border-radius: 3px;
  background: #ffef00;
  color: inherit;
  padding: 10px;
}

.vs--status {
  width: 130px;
}

.vs--order__ititle {
  font-size: 18px;
  font-family: var(--font-Medium);
}

.vs-order__provider {
  margin: 5px 0;
}

.vs--order__category,
.vs-order__provider {
  font-size: 0.83rem;
}

.status,
.vs--order__category {
  color: #adaca8;
  font-family: var(--font-Heebo-Medium);
}

.text__success {
  color: #10cd13;
}

.text__danger {
  color: red;
}

/* .vs--order {
  width: 250px;
} */

.vs--cost {
  width: 100px;
}

.request-header {
  border-bottom: 1px solid #d8d8d8;
  padding: 30px 0 25px;
  padding-top: 0;
}

.request-header > p,
.request-show > p {
  color: #696969;
  font-family: var(--font-Heebo-Medium);
}

.request-show > p {
  margin-right: 15px;
}

.request-show .vs-con-dropdown {
  cursor: pointer;
}

/* .user-tabs-profile.request-wrap {
  padding: 0 30px 90px;
  flex: 1;
} */

.profile-form-wrap {
  width: 435px;
}

.header-overlay {
  height: 258px;
  background: #f1f1f0;
  margin-bottom: -150px;
}

.inner-wrap-title {
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0, 28);
  font-size: 32px;
  line-height: 39px;
  font-family: var(--font-Medium);
  margin-bottom: 40px;
}

.inner-wrap {
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(102, 102, 102, 0.2);
  margin-bottom: 70px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1050px) {
  .user-tabs-profile.request-wrap,
  .user-tabs-profile .request-table {
    overflow-x: scroll;
  }

  .user-tabs-profile .request-table .vs-table--content {
    width: 800px;
  }

  .status,
  .vs--status__text,
  .vs--status__text,
  .vs--time__text,
  .vs--cost__text {
    font-size: inherit;
  }
}

@media (max-width: 578px) {
  .user-tabs-profile .request-table .vs-table--content {
    width: 100%;
    overflow: initial;
  }
  .user-tabs-profile .vs-table--tbody-table {
    min-width: 100%;
  }
  .request-table .vs-table--tbody-table .tr-values td {
    display: block;
    width: 100%;
    padding: 10px 0 0;
  }

  .request-table .vs-table--tbody-table .tr-values td:last-child {
    padding-bottom: 10px !important;
  }
}

@media (max-width: 480px) {
  .request-header > p,
  .request-show > p {
    font-size: 13px;
  }

  .request-header .el-select {
    width: 150px;
  }

  .user-tabs-profile.request-wrap {
    padding: 0 15px 90px 15px;
  }

  .user-tabs-profile.request-wrap {
    padding: 0 15px 90px;
  }

  .tr-expand td .content-tr-expand {
    padding: 10px 0;
  }
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
// UserProfileTabs Component
import UserProfileTabs from "../UserProfileTab";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "UserRequest",
  data() {
    return {
      lang: this.$i18n.locale,
      statuses: [],
      Requests: [],
      pagination: {
        count: 20,
        current_page: 1,
        per_page: 10,
        total: 101,
        total_pages: 6
      },
      status: "All",
      isLoading: false,
      fullPage: true,
      countRequest: 0,
      user_id: 0,
      sort: {
        column: "id",
        order: "desc"
      }
    };
  },
  computed: {
    ...mapGetters({
      id: "auth/id",
      username: "auth/username",
      phone: "auth/phone",
      firstname: "auth/firstname",
      lastname: "auth/lastname",
      role: "auth/role",
      token: "auth/token",
      email: "auth/email",
      date_birth: "auth/date_birth",
      address: "auth/address",
      image: "auth/image"
    })
  },
  async created() {
    this.user_id = this.id;
    $(".userDropdown").css({
      display: "none"
    });
    await this.fetchRequests();
    await this.fetchStatuses();
  },
  components: {
    UserProfileTabs,
    Loading
  },
  methods: {
    ...mapActions({
      getRequests: "user/carts",
      getStatues: "cart/statuses"
    }),
    fetchRequests() {
      this.isLoading = true;
      let dataFetchUrl = `page=${this.pagination.current_page}&per_page=${this.pagination.per_page}&status=${this.status}&column=${this.sort.column}&order=${this.sort.order}&lang=${this.lang}`;

      this.getRequests(dataFetchUrl)
        .then(res => {
          this.isLoading = false;
          this.Requests = res.data.carts;
          console.log(this.Requests);

          this.pagination = res.data.pagination;
          this.countRequest = res.data.count;
        })
        .catch(err => {
          this.isLoading = false;
          console.log(err);
        });
    },
    fetchStatuses() {
      this.getStatues({ lang: this.lang })
        .then(res => {
          this.statuses = res.data.statuses;
        })
        .catch(err => {});
    },
    changeCurrentPage(data) {
      this.pagination.current_page = data;
      this.fetchRequests();
    }
  }
};
</script>
