<template>
  <div class="user-tabs-profile request-show-wrap">
    <div class="user-tabs__title">
      <h1 class="title">{{ $t('Request Status') }}</h1>
    </div>
    <div class="step__result">
      <!-- Progress -->
      <div v-if="Request.status != 'Canceled'" class="header--progress d-flex">
        <div class="progress__steps">
          <div class="steps__circle current__step">
            <i class="el-icon-circle-check"></i>
            <div class="circle__overlay"></div>
          </div>
          <span class="steps__text">{{ $t('Submitted') }}</span>
        </div>
        <div class="progress__steps">
          <div
            :class="
              Request.status == 'Confirmed' ||
              Request.status == 'Collected' ||
              Request.status == 'Completed' ||
              Request.status == 'Closed' ||
              Request.status == 'InProgress'
                ? 'steps__circle current__step'
                : 'steps__circle'
            "
          >
            <i class="el-icon-circle-check"></i>
            <div class="circle__overlay"></div>
          </div>
          <span class="steps__text">{{ $t('Confirmed') }}</span>
        </div>
        <div class="progress__steps">
          <div
            :class="
              Request.status == 'Collected' ||
              Request.status == 'Completed' ||
              Request.status == 'InProgress' ||
              Request.status == 'Closed'
                ? 'steps__circle current__step'
                : 'steps__circle'
            "
          >
            <i class="el-icon-circle-check"></i>
            <div class="circle__overlay"></div>
          </div>
          <span class="steps__text">{{ $t('Collected') }}</span>
        </div>
        <div class="progress__steps">
          <div
            :class="
              Request.status == 'Completed' || Request.status == 'Closed'
                ? 'steps__circle current__step'
                : 'steps__circle'
            "
          >
            <i class="el-icon-circle-check"></i>
            <div class="circle__overlay"></div>
          </div>
          <span class="steps__text">{{ $t('Completed') }}</span>
        </div>
      </div>
      <!-- End Progress -->
      <!-- Request Canceled -->
      <!-- <div v-if="Request.status == 'Closed'" class="request__canceled" style="background:#f5d200;color:#000">
        <h1>Your order has been closed down</h1>
      </div>-->
      <div v-if="Request.status == 'Canceled'" class="request__canceled" style="background:red">
        <h1>{{ $t('Your order has been canceled') }}</h1>
      </div>
      <!-- end Request Canceled -->
    </div>

    <article class="request__article">
      <div class="user-tabs__title">
        <h1 class="title">{{ $t('Request detail') }} #{{ Request.id }}</h1>
      </div>

      <figure v-loading="loadingRequest" class="request-article__body d-flex">
        <div class="requst-status-text col-7">
          <p class="text">{{ $t('Your Information') }}</p>

          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Provider') }}</span>
            </div>
            <div class="col-9">
              <p>
                {{ Request.provider ? Request.provider.first_name : " " }}
                {{ Request.provider ? Request.provider.last_name : "" }}
              </p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Time') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.data_time }}</p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Location') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.address }}</p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Category') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.category_name }}</p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Cost') }}</span>
            </div>
            <div class="col-9">
              <p>
                {{ Request.service_cost }}
                <b>AED</b>
              </p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Paid by') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.payment_methods }}</p>
            </div>
          </div>
          <div v-if="Request.content != null" class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Comment') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.content }}</p>
            </div>
          </div>
          <div v-if="Request.status != 'Canceled'" class="status__text d-flex">
            <div class="col-3 d-flex align-center">
              <span>{{ $t('Payment') }}</span>
            </div>
            <div class="col-9">
              <div class="req__status d-flex align-center">
                <p class="req__danger" v-if="!Request.paid">{{ $t('Not Paid') }}</p>
                <p class="req__success" v-else>{{ $t('Paid') }}</p>

                <router-link tag="div" v-if="!Request.paid" to="/transaction" class="pay__button">
                  <a href="#">{{ $t('Pay') }}</a>
                </router-link>
              </div>
            </div>
          </div>
          <div class="line-horizontal"></div>

          <p class="text">
            <!-- {{ Request.category_name }} -->
            {{ $t('Provider Information') }}
          </p>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('First name') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.provider ? Request.provider.first_name : '-' }}</p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Last name') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.provider ? Request.provider.last_name : '-' }}</p>
            </div>
          </div>
          <div class="status__text d-flex">
            <div class="col-3">
              <span>{{ $t('Phone') }}</span>
            </div>
            <div class="col-9">
              <p>{{ Request.provider ? Request.provider.phone : "-" }}</p>
            </div>
          </div>
        </div>
        <div class="requst-status-descr col-6">
          <p class="text">{{ $t("Your selection") }}</p>
          <!-- FOR BEGIN -->
          <div class="user-selection" v-for="attribute in Attributes" :key="attribute.id">
            <h6 class="user-selection__title">{{ attribute.attribute_name }}</h6>
            <!-- FOR  BASKETS -->
            <div v-if="attribute.selectedBaskets.length != 0">
              <ul
                v-for="basket in attribute.selectedBaskets"
                :key="'basket' + basket.id"
                class="user-selection__ul"
              >
                <li
                  v-if="basket.selectedItems && basket.selectedItems.length != 0"
                  class="user-selection__list"
                >
                  <span>{{ basket.basket_items_label }}</span>
                  <div
                    v-for="item in basket.selectedItems"
                    :key="'item' + item.id"
                    class="user-selection__list-text"
                  >
                    <span>{{ item.label }}</span>
                    <ul v-if="item.selectedServices && item.selectedServices.length != 0">
                      <li
                        v-for="service in item.selectedServices"
                        :key="'ser' + service.id"
                      >{{ service.service_name }}</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <!-- FOR OPTIONS -->
            <div v-if="attribute.selectedOptions.length != 0">
              <ul
                v-for="option in attribute.selectedOptions"
                :key="'option' + option.id"
                class="user-selection__ul"
              >
                <li class="user-selection__list">
                  <span>{{ option.name }}</span>
                </li>
              </ul>
            </div>
            <!-- FOR INPUTS -->
            <div v-if="attribute.selectedInputs.length != 0">
              <ul
                v-for="input in attribute.selectedInputs"
                :key="'input' + input.id"
                class="user-selection__ul"
              >
                <li class="user-selection__list">
                  <span>{{ input.label }}</span>
                  <div class="user-selection__list-text">{{ input.value }}</div>
                </li>
              </ul>
            </div>
          </div>
          <!-- FOR END -->
        </div>
      </figure>

      <div class="show-ticket">
        <p>{{ $t("You dont have tickets for this request") }}</p>
      </div>

      <div class="user__ticket-table">
        <div class="user-tabs__title">
          <h1 class="title">{{ $t("Tickets") }}</h1>
        </div>
        <el-table v-loading="loadingTicket" :data="Tickets" style="width: 100%">
          <el-table-column label="Ticket type" width="180">
            <template slot-scope="scope">
              <router-link
                :to="{ name: 'UserTicketShow', params:{id: scope.row.id} }"
                class="link-anchor"
              >
                <i class="el-icon-chat-line-square"></i>
                <span style="margin-left: 10px">{{ scope.row.subject }}</span>
              </router-link>
            </template>
          </el-table-column>
          <el-table-column label="Created At" width="150">
            <template slot-scope="scope">
              <router-link
                :to="{ name: 'UserTicketShow', params:{id: scope.row.id} }"
                class="link-anchor"
              >
                <span>{{ scope.row.created_at }}</span>
              </router-link>
            </template>
          </el-table-column>
          <el-table-column label="Status" width="150">
            <template slot-scope="scope">
              <router-link
                :to="{ name: 'UserTicketShow', params:{id: scope.row.id} }"
                class="link-anchor"
              >
                <span>{{ scope.row.class }}</span>
              </router-link>
            </template>
          </el-table-column>
          <el-table-column label="Option" width="150">
            <template slot-scope="scope">
              <router-link
                :to="{ name: 'UserTicketShow', params:{id: scope.row.id} }"
                class="table-btn"
              >{{ $t("Read") }}</router-link>
            </template>
          </el-table-column>
          <el-table-column label="Message owner" width="150">
            <template slot-scope="scope">
              <router-link
                :to="{ name: 'UserTicketShow', params:{id: scope.row.id} }"
                class="link-anchor"
              >
                <span>{{ scope.row.from_name }}</span>
              </router-link>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <a class="open__ticket" @click="centerDialogVisible = true">{{ $t('Open ticket') }}</a>

      <el-dialog
        title="Warning"
        :visible.sync="centerDialogVisible"
        width="570px"
        class="custom__dialog"
      >
        <!-- pastdagi <form @keypress.enter="storeTicket" @submit.prevent="storeTicket"> -->
        <el-form ref="ticketForm">
          <div class="dialog__body">
            <h1 class="dialog-body__title">Open new ticket</h1>

            <div class="el-form-group">
              <span>Requst type</span>
              <el-form-item>
                <el-select v-model="Ticket.subject" :placeholder="$t('Select')">
                  <el-option
                    v-for="item in types"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="el-form-group">
              <span>Content</span>
              <el-form-item>
                <el-input type="textarea" placeholder="Write..." v-model="Ticket.content"></el-input>
              </el-form-item>
            </div>
          </div>
          <!-- pastdagi <span @click="storeTicket"> -->
          <!-- <span slot="footer" class="dialog-footer close__dialog"> -->
          <el-button
            style="margin-bottom:15px"
            :loading="loadingButton"
            @click="storeTicket"
            class="btn btn-sm"
          >
            Submit ticket
            <i class="el-icon-position"></i>
          </el-button>
          <!-- </span> -->
        </el-form>
      </el-dialog>
    </article>
  </div>
</template>

<style>
.pay__button {
  margin-left: 20px;
}

.pay__button a {
  color: inherit;
  font-size: 13px;
  padding: 8px 15px;
  display: block;
  border-radius: 4px;
  background: #ffef00;
}

.req__danger {
  color: red;
}

.req__success {
  color: #57e909;
}

.user__ticket-table .material-icons {
  font-size: 21px;
  transform: translateY(8px);
  margin-right: 5px;
  color: #f5d200;
}

.user__ticket-table .vs-table--td:nth-child(3) span,
.user__ticket-table .vs-table--td:nth-child(4) span {
  font-size: 15px;
}

.user__ticket-table .vs-table--td:nth-child(3) span .success {
  color: #43af0e;
}

.user__ticket-table .vs-table--td:nth-child(3) span .waiting {
  color: #a99e9e;
}

.user__ticket-table .vs-table--td:nth-child(3) span .closed {
  color: #ec1818;
}

.user__ticket-table .vs-table--td:nth-child(4) span a {
  color: var(--hover);
}

.vs-table--thead tr th:first-child,
.vs-table--thead tr th:last-child {
  width: 15%;
}

.user__ticket-table .vs-component {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  overflow: hidden;
}

.user__ticket-table .vs-table--tbody-table .vs-table--thead tr {
  background: #ececec;
}

.user__ticket-table .vs-table-text {
  padding: 8px 0;
  color: #909399;
  font-family: "HeeboMedium";
  font-size: 13px;
}

.user__ticket-table .vs-con-table {
  margin-top: 20px;
}

.custom__dialog .el-dialog__body {
  padding: 15px 20px 0;
}

.el-form-group {
  margin-bottom: 20px;
}

.dialog-body__title {
  margin-bottom: 15px;
  font-family: var(--font-Medium);
  color: #000;
  font-size: 15px;
}

.el-form-group span {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}

.el-form-group .el-select {
  width: 100%;
}

.custom__dialog .el-dialog__footer {
  text-align: left;
}

.close__dialog {
  display: block;
  padding-bottom: 20px;
}

.open__ticket,
.close__dialog button {
  font-family: var(--font-Medium);
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  border-radius: 3px;
  background: #ffef00;
  color: inherit;
  padding: 10px;
  border-color: #ffef00 !important;
}

.close__dialog button:hover {
  background: var(--hover);
  color: inherit;
}

.show-ticket {
  text-align: center;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 25px 10px;
  margin: 15px 0 10px;
}

.user-selection > div {
  margin-bottom: 20px;
}

.user-selection_wrap,
.user-selection > p {
  margin-bottom: 0.25rem;
}

.user-selection_wrap > div {
  flex: 0 1 33.3333%;
}

.requst-status-text {
  padding-right: 15px;
}

.requst-status-descr {
  padding-left: 15px;
  border-left: solid 2px #e7e7e780;
}

.text {
  margin-bottom: 8px;
}

.status__text {
  padding-bottom: 5px;
}

.status__text .col-3 > span,
.show-ticket p {
  color: #b7b1b1;
}

.status__text .col-9 {
  padding-right: 0;
}

.requst-crumb {
  margin-bottom: 5px;
}

.requst-crumb a {
  display: block;
  position: relative;
  font-size: 16px;
  margin-right: 5px;
}

.requst-crumb a::after {
  content: ">";
  font-size: 14px;
}

.requst-crumb li:last-child a::after {
  content: "";
}

.user-tabs__title {
  border-bottom: 2px solid #e7e7e7;
  padding: 20px 0 10px 0;
}

.step__result {
  padding: 30px 0 0;
}

.step__result .header--progress {
  margin-bottom: 20px;
}

.user__ticket-table .vs-con-table table {
  min-width: 650px;
}

/************************* MEDIA *****************************/

@media (max-width: 992px) {
  .request-article__body {
    flex-wrap: wrap;
  }

  .requst-status-text {
    width: 100%;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #e7e7e7;
  }

  .requst-status-descr {
    border: none;
    padding: 15px 0 0;
    width: 100%;
  }
}
</style>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "UserRequestShow",
  data() {
    return {
      types: [
        {
          value: "Info",
          label: "Info"
        },
        {
          value: "Delay",
          label: "Delay"
        },
        {
          value: "Submit",
          label: "Submit"
        },
        {
          value: "Cancel",
          label: "Cancel"
        },
        {
          value: "Mistake",
          label: "Mistake"
        }
      ],
      centerDialogVisible: false,
      cart_id: 0,
      Request: [],
      Attributes: [],
      loadingRequest: false,
      loadingTicket: false,
      loadingButton: false,
      fullPage: false,
      Tickets: [],
      Ticket: {
        subject: "",
        content: "",
        cart_id: null,
        from: null,
        to: null
      },
      rules: {
        subject: [
          {
            required: true,
            message: "Пожалуйста, введите название",
            trigger: "blur"
          }
        ],
        content: [
          {
            required: true,
            message: "Пожалуйста, введите название",
            trigger: "blur"
          }
        ]
      },
      lang: this.$i18n.locale,
      errors: []
    };
  },
  computed: {
    ...mapGetters({
      user_id: "auth/id"
    })
  },
  async created() {
    this.cart_id = this.$route.params.id;
    if (!this.cart_id) {
      this.$router.push("/user-request");
    }

    this.Ticket.cart_id = this.$route.params.id;

    await this.fetchRequest();
    await this.fetchTickets();

    $(".userDropdown").css({
      display: "none"
    });
  },
  components: {
    Loading
  },
  methods: {
    ...mapActions({
      show: "cart/show",
      ticketList: "ticket/index",
      saveTicket: "ticket/store"
    }),
    fetchRequest() {
      let dataFetchUrl = {
        lang: this.lang,
        id: this.cart_id,
        attributes: true
      };
      this.loadingRequest = true;
      this.show(dataFetchUrl)
        .then(res => {
          this.Request = res.data.cart;
          this.Attributes = this.Request.selectedAttributes
            ? this.Request.selectedAttributes
            : [];
          this.loadingRequest = false;
        })
        .catch(err => {
          this.loadingRequest = false;
          console.log(err);
        });
    },
    fetchTickets() {
      this.loadingTicket = true;
      let dataFetchUrl = `cart_id=${this.cart_id}&lang=${this.lang}`;
      this.ticketList(dataFetchUrl)
        .then(res => {
          this.Tickets = res.data.tickets;
          this.loadingTicket = false;
          // this.Notify()
        })
        .catch(err => {
          this.loadingTicket = false;
          console.log(err);
        });
    },
    storeTicket() {
      if (this.Ticket.subject == "" || this.Ticket.content == "") {
        this.Alert("Warning", "#ffffff", "Required fileds");
        return;
      }
      this.loadingTicket = true;
      this.loadingButton = true;
      this.Ticket.cart_id = this.cart_id;
      this.Ticket.from = this.user_id;
      this.Ticket.to = this.Request.provider ? this.Request.provider.id : null;
      this.saveTicket(this.Ticket)
        .then(res => {
          this.loadingButton = false;
          this.loadingTicket = false;
          this.centerDialogVisible = false;
          this.$refs["ticketForm"].resetFields();
          this.fetchTickets();
        })
        .catch(err => {
          this.loadingButton = false;
          this.loadingTicket = false;
          console.log(err);
        });

      setTimeout(() => {
        $(".close__dialog button").removeClass("close-button--disabled");
      }, 1000);
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result.toLowerCase()
      });
    }
  }
};
</script>
