<template>
  <div class="wrap-all TermsPage" :dir="dir">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t("My Profile") }}</h1>

        <div class="inner-wrap d-flex">
          <div class="inner-wrap-tab">
            <UserProfileTab></UserProfileTab>
          </div>
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.profile-form-input .el-date-editor {
  width: 100% !important;
}

.profile-form-avatar .user-upload {
  right: 12px !important;
}

.profile-form-input.no-padding .form-input {
  padding: 0;
}

.form-date-items {
  width: 140px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 1050px) {
  .profile-form {
    flex-direction: column;
  }

  .profile-form .profile-form-wrap {
    width: 100%;
  }

  .profile-form-wrap .profile-form-input {
    width: calc(50% - 10px);
  }

  .profile-form-wrap .form-date-items {
    width: calc(33% - 10px);
  }

  .profile-form-avatar {
    order: -1;
    margin: 0 0 30px !important;
  }
}

@media (max-width: 768px) {
  .profile-form-wrap .profile-form-input {
    width: 100%;
  }

  .profile-form-wrap .form-submit {
    margin-top: 15px;
  }

  .profile-form-wrap {
    width: 100% !important;
  }
}

@media (max-width: 578px) {
  .inner-wrap {
    flex-wrap: wrap;
  }

  .inner-wrap-tab {
    width: 100%;
  }

  body .header-overlay {
    height: 220px;
  }
}
</style>

<script>
import UserProfileTab from "./Components/UserProfileTab";
import { mapGetters } from "vuex";

export default {
  name: "UserProfile",
  data() {
    return {
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        }
      },
      value1: ""
    };
  },
  methods: {
    // fetchUser() {
    //     this.User.username = this.username != "null" ? this.username : "";
    //     this.User.firstname =
    //         this.firstname != "null" ? this.firstname : "";
    //     this.User.lastname = this.lastname != "null" ? this.lastname : "";
    //     this.User.email = this.email != "null" ? this.email : "";
    //     this.User.date_birth =
    //         this.date_birth != "null" ? this.date_birth : "";
    //     this.User.phone = this.phone != "null" ? this.phone : "";
    //     this.User.address = this.address != "null" ? this.address : "";
    //     this.User.token = this.token != null ? this.token : "";
    //     this.User.image = this.image;
    // },
    // updateUser() {
    //     var formData = new FormData();
    //     for (var key in this.User) {
    //         formData.append(key, this.User[key]);
    //     }
    //     this.$store
    //         .dispatch("user/updateProfile", formData)
    //         .then(res => {
    //             this.loginForm = res;
    //             this.$notify.success({
    //                 title: this.$i18n.messages[this.$i18n["locale"]][
    //                     "Success"
    //                 ],
    //                 message: this.$i18n.messages[this.$i18n["locale"]][
    //                     "Successfully updated"
    //                 ],
    //                 type: "success"
    //             });
    //             this.$store
    //                 .dispatch("auth/updateProfile", this.loginForm)
    //                 .then(res => {})
    //                 .catch(err => {
    //                     alert(err);
    //                 });
    //         })
    //         .catch(err => {
    //             try {
    //                 if (!err.result.success) {
    //                     if (err.error.code == 422) {
    //                         this.errors = err.validation_errors;
    //                         var errorMessage = "";
    //                         $.each(this.errors, function(key, value) {
    //                             errorMessage = errorMessage + value;
    //                         });
    //                         this.$notify.error({
    //                             title: "Error",
    //                             message: errorMessage
    //                         });
    //                     }
    //                 }
    //             } catch (error) {
    //                 alert(error);
    //             }
    //         });
    // },
    // updatePassword() {
    //     var formData = new FormData();
    //     formData.append("token", this.User["token"]);
    //     formData.append("password", this.user_password);
    //     this.$store
    //         .dispatch("user/updatePassword", formData)
    //         .then(res => {
    //             this.loginForm = res;
    //             this.$notify.success({
    //                 title: this.$i18n.messages[this.$i18n["locale"]][
    //                     "Success"
    //                 ],
    //                 message: this.$i18n.messages[this.$i18n["locale"]][
    //                     "Successfully updated password"
    //                 ],
    //                 type: "success"
    //             });
    //         })
    //         .catch(err => {
    //             try {
    //                 if (!err.result.success) {
    //                     if (err.error.code == 422) {
    //                         this.errors = err.validation_errors;
    //                         var errorMessage = "";
    //                         $.each(this.errors, function(key, value) {
    //                             errorMessage = errorMessage + value;
    //                         });
    //                         this.$notify.error({
    //                             title: "Error",
    //                             message: errorMessage
    //                         });
    //                     } else {
    //                         this.$notify.error({
    //                             title: "Error"
    //                         });
    //                     }
    //                 }
    //             } catch (error) {
    //                 alert(error);
    //             }
    //         });
    // }
  },
  components: {
    UserProfileTab
  }
  // computed: {
  //     ...mapGetters({
  //         id: "auth/id",
  //         username: "auth/username",
  //         phone: "auth/phone",
  //         firstname: "auth/firstname",
  //         lastname: "auth/lastname",
  //         role: "auth/role",
  //         token: "auth/token",
  //         email: "auth/email",
  //         date_birth: "auth/date_birth",
  //         address: "auth/address",
  //         image: "auth/image"
  //     })
  // },
  // mounted() {
  //     this.fetchUser();
  // }
};
</script>
