<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">Privacy Policy</h1>

        <div class="inner-wrap">
          <div class="terms__text">
            <h1 class="title">Introduction</h1>
            <div class="text-descr">
              <p>
                <b>1.</b> Our privacy policy describes the ways in which we collect, store, use and protect your personal information and it is important for you to review this privacy policy.
              </p>
              <p>By "personal information" we mean information that can be associated with a specific person and can be used to identify that person.</p>
            </div>
            <div class="text-descr">
              <p>
                <b>2.</b> We do not consider anonymised information to constitute personal information as it cannot be used to identify a specific person. We collect personal information from you when you use 800fix or its related websites and services ("Site") (including, without limitation, when you buy and sell service or when you telephone or email our customer support team).
              </p>
              <p>By providing us with your personal information you expressly consent to us processing your personal information in accordance with the terms of our privacy policy.</p>
            </div>
            <div class="text-descr">
              <p>
                <b>3.</b> We may amend our privacy policy at any time by posting a revised version on the Site.
              </p>
              <p>The revised version will be effective at the time we post it and, following such posting, your continued use of the Site will constitute your express consent to us continuing to process your personal information in accordance with the terms of our revised privacy policy.</p>
            </div>
            <div class="text-descr">
              <p>
                <b>4.</b> We would encourage you to check the Site regularly for the announcement of any amendments to our privacy policy.
              </p>
            </div>

            <h1 class="title">Our privacy policy covers the following topics:</h1>
            <div class="text-descr">
              <p>
                <b>1.</b> Our collection of your personal information
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>2.</b> Our use of your personal information
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>3.</b> Your use of your and other users’ personal information
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>4.</b> Accessing, reviewing and amending your personal information
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>5.</b> Third party website links
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>6.</b> Cookies
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>7.</b> No spam or spoof emails
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>8.</b> Protecting your personal information
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>9.</b> On modifications of Website Policies and Terms & Conditions
              </p>
            </div>
            <div class="text-descr">
              <p>
                <b>10.</b> How you can contact us about privacy questions
              </p>
            </div>

            <h1 class="title">Our collection of your personal information</h1>
            <div class="text-descr">
              <p>
                <b>1.</b> As part of your registration on the Site, you will be asked to provide us with certain personal information, such as your name, shipping address, email address and/or telephone number and other similar information as well as some additional information about you such as your date of birth or other identifying information.
              </p>
              <p>Additionally, in order for us to verify your identity, we may need to request from you valid proof of identification (e.g. in the form of a copy of your passport, resident’s visa or permit, national ID card and/or driver’s license).</p>
            </div>

            <div class="text-descr">
              <p>
                <b>2.</b> You will need to input this financial information into the "My Account" section of the Site.
              </p>
              <p>We use this financial information for billing purposes and for the fulfilment of your orders.</p>
              <p>Following your registration on the Site, you should not post any personal information (including any financial information) anywhere on the Site other than on the My Account section of the Site.</p>
              <p>Restricting the posting of personal information to the My Account section of the Site protects you from the possibility of fraud or identity theft. The posting by you of any personal information anywhere on the Site other than on the My Account section of the Site may lead to the suspension of your use of the Site.</p>
            </div>

            <div class="text-descr">
              <p>
                <b>3.</b> We will collect transactional information based on your activities using the Site (such as buying and selling services), This transactional information is used solely in relation to the transactions you undertake on the Site and for no other reasons.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>4.</b> Please note that we may use your Internet protocol (or IP) address (which is a unique number assigned to your computer server or your Internet service provider (or ISP)) to analyse user trends and improve the administration of the Site.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>5.</b> We may also collect information about your computer (for example, browser type) and navigation information (for example, the pages you visit on the Site) along with the times that you access the Site.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>6.</b> All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.
              </p>
              <p>Finally, we may collect additional information from or about you in other ways not specifically described here.</p>
              <p>For example, we may collect information related to your contact with our customer support team or store results when you respond to a survey.</p>
              <p>We may also collect feedback ratings and other comments relating to your use of the Site.</p>
              <p>Where we aggregate personal information for statistical purposes, such aggregated personal information shall be anonymized.</p>
            </div>

            <h1 class="title">Our use of your personal information</h1>
            <div class="text-descr">
              <p>
                <b>1.</b> We only use your personal information to provide services and customer support to you; to measure and improve our services to you; to prevent illegal activities and implement our user agreement with you ("User Agreement"); troubleshoot problems; collect fees; provide you with promotional emails and verify information you give us with third parties. For example, we may share some of the personal information you give us with banks or credit card authorisation, processing and verification services or with third parties for fraud screening purposes.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>2.</b> Though we make every effort to preserve your privacy, we may need to disclose your personal information to law enforcement agencies, government agencies or other third parties where we are compelled so to do by court order or similar legal procedure; where we are required to disclose your personal information to comply with law; where we are cooperating with an ongoing law enforcement investigation or where we have a good faith belief that our disclosure of your personal information is necessary to prevent physical harm or financial loss, to report suspected illegal activity or to investigate a possible violation of our User Agreement.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>3.</b> In the event of a sale of 800fix LLC, any of its affiliates and subsidiaries or any related business assets, your personal information may be disclosed to any potential purchaser for the purposes of the continued provision of the Site or otherwise in relation to any such sale.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>4.</b> We may share your personal information with our other group companies so as to provide joint content and services to you, to help detect illegal acts and/or the violations of our policies.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>5.</b> This contact information will be the personal information provided by you to us on registration and, as a result, should always be kept up-to-date.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>6.</b> Additionally, information relating to services you are buying or selling you are participating in be displayed on the Site. This information can include details of your user ID, feedback ratings and associated comments relating to your use of the Site. Otherwise, we will only disclose your personal information to a third party with your express permission.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>7.</b> We do not sell or rent any of your personal information to third parties in the normal course of doing business and will only share your personal information with third parties in accordance with this privacy policy.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>8.</b> By registering on the Site, you give us your express consent to receive promotional emails about our services and emails announcing changes to, and new features on, the Site.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>9.</b> If, at any time, you decide that you do not wish to receive any such emails, you can opt out of receiving such emails by clicking on the link at the bottom of any of the emails or by going to the My Account section of the Site.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>10.</b> Additionally, we do use comments made by you about the Site for marketing purposes and by making such comments you expressly consent to our using such comments for marketing purposes.
              </p>
            </div>

            <h1 class="title">Our use of your and other users’ personal information</h1>

            <div class="text-descr">
              <p>
                <b>1.</b> Site members may need to share personal information (including financial information) with each other to complete transactions on the Site. You should respect, at all times, the privacy of other Site members.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>2.</b> We cannot guarantee the privacy of your personal information when you share personal information with other Site members so you should always seek information on the privacy and security policies of any other Site members with whom you are transacting prior to sharing any of your personal information with another Site member.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>3.</b> This privacy policy does not cover your release of your personal information to another Site member.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>4.</b> You agree to use any personal information received from another Site member in relation to a transaction on the Site solely in relation to such transaction and shall not use the information received from another Site member for any other purposes (except with the express consent of the other Site member).
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>5.</b> You acknowledge and agree and you shall use personal information received from another Site member in accordance with all applicable laws.
              </p>
            </div>

            <h1 class="title">Accessing, reviewing and amending your personal information</h1>

            <div class="text-descr">
              <p>
                <b>1.</b>
                You can access and review your personal information in the My Account section of the Site.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>2.</b>
                If your personal information changes in any way or is incorrectly presented on the Site you should immediately update or correct your personal information (as applicable) by accessing the My Account section on the Site or, alternatively, by contacting our customer support team.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>3.</b>
                The "Customer Support" link at the top of each Site webpage contains our customer support email and phone details.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>4.</b>
                Please note that we shall retain your personal information during and following the end of your use of the Site as required to comply with law, for technical troubleshooting requirements, to prevent fraud, to assist in any legal investigations and to take any other actions otherwise permitted by law.
              </p>
            </div>

            <h1 class="title">Third party website links</h1>

            <div class="text-descr">
              <p>The Site may contains links to other websites. Please be aware that we are not responsible for the privacy practices of such other websites. We encourage you when you leave the Site to read the privacy statements of each and every website you visit if you intend to provide personal information to that website. Our privacy policy applies solely to your personal information that we collect on the Site.</p>
            </div>

            <h1 class="title">Cookies</h1>

            <div class="text-descr">
              <p>
                <b>1.</b>
                Like many websites, the Site uses 'cookie' technology (small computer files placed on your computer’s hard drive). When you go to particular website pages on the Site, the cookie identifies your browser with a unique, random number.
              </p>
            </div>

            <div class="text-descr">
              <p>
                <b>2.</b>
                The cookies we use do not reveal any personal information about you. Cookies help us improve your experience of the Site and also help us understand which parts of the Site are the most popular. You are always free to decline our cookies if your browser permits, although doing so may interfere with your use of the Site.
              </p>
            </div>

            <h1 class="title">No spam or spoof emails</h1>
            <div class="text-descr">
              <p>We do not tolerate spam. To report Site related spam or spoof emails, please forward the email to info@800fix.com. You may not use our communication tools to send spam or otherwise send content that would violate our User Agreement. We automatically scan and may manually filter messages to check for spam, viruses, phishing attacks and other malicious activity or illegal or prohibited content.</p>
            </div>

            <div class="go-back">
              <el-button @click="$router.go(-1)" class="btn d-flex align-center jfy-bwn">
                <i class="el-icon-arrow-left"></i>
                Go Back
              </el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.terms__text {
  padding: 30px;
}

.go-back .Button-anchor {
  justify-content: initial;
}

.go-back .Button-anchor span {
  order: 1;
  margin-left: 25px;
}

.go-back .Button-anchor i {
  transform: rotate(180deg);
}

.header-overlay {
  height: 258px;
  background: #f1f1f0;
  margin-bottom: -150px;
}

.inner-wrap-title {
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0, 28);
  font-size: 32px;
  line-height: 39px;
  font-family: var(--font-Medium);
  margin-bottom: 40px;
}

.title {
  font-size: 18px;
  line-height: 22px;
  font-family: var(--font-Medium);
}

.text-descr {
  margin: 8px 0 12px;
  line-height: 24px;
  font-size: 14px;
}

.text-descr b {
  font-family: var(--font-Heebo);
}
</style>

<script>
export default {
  name: "TermsAndConditions"
};
</script>
