<template>
  <div id="app" class="app-wrap" v-bind:data-language="lang == 'ar' ? 'arabic' : 'english'" >
    <app-header />
    <router-view />
    <app-footer />
  </div>
</template>

<script>
const TheHeader = () =>
  import(
    /*webpackChunkName: "TheHeader"*/ "./components/layouts/Header/TheHeader"
  );
const TheFooter = () =>
  import(
    /*webpackChunkName: "TheHeader"*/ "./components/layouts/Footer/TheFooter"
  );
export default {
  name: "app",
  components: {
    appHeader: TheHeader,
    appFooter: TheFooter
  },
  data() {
    return {
      lang: this.$i18n.locale,
    }
  },
};
</script>

<style>
.app-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer-wrap {
  margin-top: auto;
}
</style>
