<template>
  <div class="user-tabs-profile">
    <form class="profile-form">
      <div class="dashboard--collapse1">
        <div class="no-content user--ticket">
          <div class="collapse__list collapse__list--ticket">
            <div
              v-loading="isLoading"
              class="collapse__items d-flex transition"
              v-for="ticket in list"
              :key="ticket.id"
            >
              <div class="collapse__text">
                <div class="articles__card--list card-list__box d-flex align-center">
                  <div class="card__list--icon">
                    <i class="el-icon-chat-line-square"></i>
                  </div>
                  <div class="card__list--text flex-1">
                    <h1>
                      #{{ ticket.id }}
                      -
                      {{ ticket.subject }}
                    </h1>
                    <div class="d-flex">
                      <p class="mr-3">
                        <strong
                          class="font-bold"
                          style="font-family: var(--font-Heebo);"
                        >{{ $t('From') }}:</strong>
                        {{ ticket.from_name }}
                      </p>
                      <p>
                        <strong
                          class="font-bold"
                          style="font-family: var(--font-Heebo);"
                        >{{$t('Create at')}}:</strong>
                        {{ ticket.created_at }}
                      </p>
                    </div>
                  </div>
                  <div class="collapse-list-route">
                    <!-- :to="{
                        path: '/ticket-details/' + ticket.id,
                        params: {
                          id: ticket.id
                        }
                    }"-->
                    <router-link
                      :to="{ name: 'UserTicketShow', params:{id: ticket.id} }"
                      class="btn btn-sm d-flex align-center jfy-bwn"
                    >
                      <span
                        class="messages_count"
                        v-if="ticket.messages_no_read != 0"
                      >{{ ticket.messages_no_read }}</span>
                      <span>{{ $t("Read More") }}</span>
                      <i class="el-icon-arrow-right"></i>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-12 text-center" style="margin-top: 2rem">
      <el-pagination
        @current-change="changeCurrentPage"
        :page-size="Number(pagination.per_page)"
        :pager-count="11"
        background
        layout="prev, pager, next"
        :total="pagination.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "UserTickets",
  data() {
    return {
      Tickets: [],
      isLoading: false,
      fullPage: true,
      sort: {
        column: "id",
        order: "desc"
      },
      lang: this.$i18n.locale,
      messages_no_read: 0
    };
  },
  watch: {
    pagination: {
      handler: async function() {
        // this.fetchTickets();
      },
      deep: true
    }
  },
  async created() {
    // await this.fetchTickets();
  },
  components: {
    Loading
  },
  computed: {
    ...mapGetters({
      list: "ticket/list",
      pagination: "ticket/pagination"
    })
  },
  methods: {
    ...mapActions({
      ticketList: "ticket/index"
    }),
    fetchTickets() {
      this.isLoading = true;
      let dataFetchUrl = `lang=${this.lang}&page=${this.pagination.current_page}&per_page=${this.pagination.per_page}&order=${this.sort.order}&column=${this.sort.column}&messages=true`;
      this.ticketList(dataFetchUrl)
        .then(res => {
          this.Tickets = res.data.tickets;
          this.pagination = res.data.pagination;
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          this.isLoading = false;
        });
    },
    count(messages) {
      if (messages.length != 0) {
        messages.forEach(message => {
          if (message.status == "new") {
            this.messages_no_read++;
          }
        });
      }
    },
    changeCurrentPage(data) {
      this.pagination.current_page = data;
      this.fetchTickets();
    }
  }
};
</script>

<style>
.collapse-list-route a {
  position: relative;
}

.messages_count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #dc3545;
  color: #fff;
  font-size: 11px;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  text-align: center;
  font-family: var(--font-Medium);
  line-height: 16px;
  border: 3px solid #fff;
  padding-left: 2px;
}
.user--ticket .vs-collapse.default {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
}

.ticket-table .vs-table--thead {
  border-bottom: 1px solid #d8d8d8;
}

.ticket-table .vs-table--thead th {
  padding: 0 !important;
}

.ticket-table .vs-table-text {
  padding: 30px 0 25px;
  color: #adaca8;
}

.ticket-table .vs-con-table {
  background: #fff;
}

.vs--order__descr i {
  margin-right: 15px;
}
</style>
