<template>
  <div class="user-tabs-profile request-show-wrap">
    <div class="user-tabs__title d-flex align-center jfy-bwn">
      <h1 class="title">{{ $t('Ticket detail') }}</h1>
      <router-link to="/user-tickets" tag="div" class="route-back"
        ><i class="el-select__caret el-icon-arrow-left"></i>{{ $t('Request detail') }}</router-link
      >
    </div>

    <div class="user-conservation">
      <div class="conservation-form con-item__first">
        <loading
          :active.sync="isLoading"
          :can-cancel="false"
          :is-full-page="fullPage"
          :color="'#F5D200'"
          :opacity="1"
        ></loading>
        <div class="con-form__header d-flex">
          <div>
            <span>{{ $t('Ticket type') }}:</span>
            <span> {{ Ticket.subject }}</span>
          </div>
          <div>
            <span>{{ $t('Ticket ID') }}:</span>
            <span> {{ Ticket.id }}</span>
          </div>
          <div>
            <span>{{ $t('Status') }}:</span>
            <span> {{ Ticket.status }}</span>
          </div>
          <div>
            <span>{{ $t('Request ID') }}:</span>
            <span> {{ Ticket.cart_id }}</span>
          </div>
          <div>
            <span>{{ $t('Create at') }}:</span>
            <span> {{ Ticket.created_at }}</span>
          </div>
        </div>

        <div class="con-form-body">
          <div v-for="message in Ticket.messages" :key="message.id">
            <div
              class="con-form-list"
              :class="{
                'user__comment-send': message.owner_id != message.user_id
              }"
            >
              <div class="con-list-avatar">
                <div class="avatar-circle">
                  <img :src="message.image" alt="" />
                </div>
              </div>
              <div class="con-list-message">
                <p class="message-who" v-if="message.owner_id == message.user_id">
                  {{ $t('You') }}:
                  <span>
                    {{ message.data }}
                  </span>
                </p>
                <p class="message-who" v-else>
                  {{ $t('Provider') }}:
                  <span>
                    {{ message.data }}
                  </span>
                </p>
                <span>
                  {{ message.content }}
                </span>
              </div>
            </div>
          </div>

          <div class="divider"></div>
        </div>

        <el-form
          v-if="!Ticket.closed"
          class="con-form-footer"
          @submit.prevent="storeMessage"
        >
          <span>{{ $t('Reply') }}</span>
          <textarea
            v-model="message.content"
            :placeholder="$t('Type here')"
          ></textarea>

          <div class="con-form-send d-flex align-center jfy-bwn">
            <el-button :loading="loadingSubmit" @click="storeMessage" class="send-comment-btn">{{ $t('Send Comment') }}</el-button>
          </div>
        </el-form>
        <div v-else class="con-form-footer empty__ticket">
          {{ $t('This ticket has been closed') }}
        </div>
        <div class="con-form-footer close__ticket">
          <el-button v-if="!Ticket.closed" :loading="loadingClose" @click="closeTicket" class="close__btn">
            {{ $t('Close this ticket') }}
          </el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.close__ticket {
  margin-top: 20px;
}

.empty__ticket {
  text-align: center;
}

.close__btn {
  border: none;
  outline: none;
  background: #f1f1f0;
  font-family: var(--font-Medium);
  padding: 15px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

.con-form-footer textarea {
  display: block;
  width: 100%;
  min-height: 130px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e7e7e7;
  resize: none;
  font-size: 14px;
}

.conservation-form {
  max-width: 100%;
  margin: 20px auto;
}

.con-form__header div {
  /* width: 30%; */
  /* text-align: center; */
  width: 20%;
  font-size: 14px;
}
.con-form__header div span:first-child {
  font-weight: bold;
}

.con-form-body {
  margin: 30px 0 20px;
}

.con-form-list {
  display: flex;
  margin-bottom: 30px;
}

.con-list-avatar {
  width: 60px;
  margin-bottom: 10px;
}

.avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #e7e7e7;
}

.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con-list-message {
  padding: 10px 15px;
  background: #f0f0f0ad;
  border-radius: 5px;
  border: 1px solid #d8d8d87a;
  flex: 1;
}

.con-list-message span {
  font-size: 14px;
}

.customer {
  color: green;
}

@media (max-width: 992px) {
  .con-form__header div {
    width: 33.3333% !important;
    margin-bottom: 15px;
  }
  .con-form__header {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  /* .con-item__first .con-form-list {
            flex-direction: column;
        } */

  .con-item__first .divider,
  .con-item__first .con-form-footer {
    width: 100%;
  }
  .con-form__header div {
    width: 50% !important;
  }
}

@media (max-width: 578px) {
  .con-form__header {
    flex-wrap: wrap;
  }

  .con-form__header div {
    font-size: 13px;
    text-align: left !important;
    margin-bottom: 8px;
    width: 50% !important;
  }

  body .go__request a {
    margin: 0 !important;
  }
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { async } from "q";
export default {
  name: "UserTicketShow",
  components:{
    Loading
  },
  data() {
    return {
      ticket_id: null,
      Ticket: [],
      isLoading: false,
      loadingSubmit: false,
      loadingClose: false,
      fullPage: false,
      lang: this.$i18n.locale,
      message: {
        messages: true,
        ticket_id: 0,
        content: ""
      },
      messages: []
    };
  },
  watch: {
    $route: {
      handler: function() {
        this.ticket_id = this.$route.params.id;
        this.fetchTickets();
      },
      deep: true,
    }
  },
  created() {
    this.ticket_id = this.$route.params.id;
    if (!this.ticket_id) {
      this.$router.push('/user-tickets');
    }
    this.message.ticket_id = this.$route.params.id;
    this.fetchTickets();
  },
    methods: {
      ...mapActions({
        show : 'ticket/show',
        ticketClose : 'ticket/close',
        ticketMessage: 'ticketMessage/store',
        ticketList: 'ticket/index',
      }),
      fetchTickets() {
        let dataFetchUrl = {
          id: this.ticket_id,
          messages: true
        };
        this.isLoading = true;
        this.show(dataFetchUrl)
          .then(res => {
            this.Ticket = res.data.ticket;
            this.messages = res.data.ticket.messages;
            this.isLoading = false;
            this.TicketList();
          })
          .catch(err => {
            console.log(11,err);
            this.isLoading = false;
            if (err.code == 404) {
              this.Alert('Error','#ffffff','Ticket not found !')
            }
          });
      },
      storeMessage() {
        this.loadingSubmit = true;
        this.ticketMessage(this.message)
          .then(res => {
            this.loadingSubmit = false;
            this.Alert('Success', '#fff', 'Sending message')
            this.message.content = "";
            this.fetchTickets();
          })
          .catch(err => {
            this.loadingSubmit = false;
              alert(err);            
          });
      },
      closeTicket() {
        this.loadingClose = true;
        let dataFetchUrl = { id: this.ticket_id };
        this.ticketClose(dataFetchUrl)
          .then(res => {
            this.loadingClose = false;
            this.Ticket.closed = true;
            this.Alert('Success', '#fff', 'Ticket closed');
            this.TicketList()
          })
          .catch(err => {
            this.loadingClose = false;
            console.log(err);
          });
      },
      TicketList() {
        let dataFetchUrl = `lang=${this.lang}&messages=${true}`;
        this.ticketList(dataFetchUrl)
        .then(res => {
        })
        .catch(err => {
          console.log(err);
        });
      },
      Alert(result, color, message) {
        this.$notify({
          title: result,
          offset: 50,
          dangerouslyUseHTMLString: true,
          message: message,
          type: result.toLowerCase()
        });
      },
    }
};
</script>
