<template>
  <div class="error-page-wrap">
    <div class="notfound">
      <div class="notfound-404">
        <h1>404</h1>
      </div>
      <h2>We are sorry, Page not found!</h2>
      <p>
        The page you are looking for might have been removed had its name
        changed or is temporarily unavailable.
      </p>
      <div class="error-btn-wrap">
        <router-link to="/" class="btn d-flex align-center jfy-bwn">
          <i class="el-icon-arrow-left"></i>
          Back To Homepage
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Error"
};
</script>

<style></style>
