

<template>
    <div class="wrap-all AccaptedSuccess">
        <div class="header-overlay"></div>

        <div class="content-wrap">
            <div class="container">
                <h1 class="inner-wrap-title">{{ $t('Accepted') }}</h1>

                <div class="inner-wrap">
                    <div class="wrap-row">

                        <div class="accapted__success">
                            <div class="accapted__success--top">
                                <div class="login-form-icon child--center">
                                    <div class="login-form-box child--center">
                                        <i class="el-icon-check"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="success__text text-center">
                                <p>
                                    {{ $t('Your order has been accepted') }}
                                </p>
                            </div>

                            <router-link to="/user-request" tag="div" class="user-request__button">
                                <a class="transition">
                                    {{ $t('Go to requests') }}
                                </a>
                            </router-link>

                            <h1 class="deliver--wrap__title">
                                {{ $t('Want more services ?') }}
                            </h1>


                            <div class="more-service__slider" v-loading="loadingData">
                                <carousel 
                                    :scrollPerPage="true" 
                                    :navigationEnabled="true" 
                                    :per-page="1"
                                    navigationNextLabel="<i class='el-icon-arrow-right'></i>"
                                    navigationPrevLabel="<i class='el-icon-arrow-left'></i>"
                                    :perPageCustom="[[320, 1], [578, 2], [992, 3], [1200, 4]]"
                                    >

                                    <slide class="more-service__slide" v-for="category in categoryArray" :key="category.id">
                                        <div @click="viewSubCategory(category.id, category.image, category.title)"  class="category-list-items">
                                            <div class="category-list-item">
                                                <img :src="category.image" alt="" class="max-none d-block transition">
                                            </div>
                                            <p class="category-list-text text-center">
                                                {{ category.title }}
                                            </p>
                                        </div>  
                                    </slide>
                                </carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <el-dialog
          :title="DialogTitle"
          :visible.sync="popupActivo"
          class="category-popup main__popup"
        >
          <div class="category-list-popup">
            <modal :parent_id="parent_id" :image="image"></modal>
          </div>
        </el-dialog>
    </div>
</template>


<style>

    .more-service__slider {
        width: 95%;
        margin: auto;
    }

    .more-service__slider .VueCarousel-navigation-next {
        right: 10px;
        transform: translateY(-150%) translateX(100%);
    }

    .more-service__slider .VueCarousel-navigation-prev {
        left: -30px;
        transform: translateY(-150%) translateX(0%);
    }

    .more-service__slider .VueCarousel-navigation-next,
    .more-service__slider .VueCarousel-navigation-prev {
        background: #fceb10;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        outline: none !important;
    }

    .more-service__slider .VueCarousel-dot {
        margin-top: 0 !important;
    }

    .more-service__slide .category-list-item {
        width: 175px;
        height: 175px;
        margin: auto;
    }

    .user-request__button {
        text-align: center;
    }

    .user-request__button a {
        display: inline-block;
        padding: 12px 30px;
        background: #fceb10;
        margin-top: 20px;
        color: inherit;
        border-radius: 4px;
    }

    .user-request__button a:hover {
        background: #F5D200;
    }

    .more__service--items {
        width: 25%;
    }

    .more__service--items .category-list-item {
        margin: auto;
    }

    .collapse__line {
        border-bottom: 1px solid #dedede;
        margin-top: 15px;
    }

    .collapse__button--toggle {
        width: 150px;
        padding: 8px 14px;
        margin-left: auto;
        border-radius: 4px;
        background: #ffef00;
        font-size: 14px;
        font-family: var(--font-Medium);
    }

    .collapse__button--toggle:hover {
        background: var(--hover);
    }

    .accepted__request .vs-collapse-item--icon-header {
        display: none;
    }

    .AccaptedSuccess .login-form-icon {
        background: #46c93a73;
        border-radius: 100%;
    }

    .AccaptedSuccess .login-form-box {
        background: #46c93a;
        border-radius: 100%;
        /* width: 56px; */
        /* height: 56px; */
        width: 155px;
        height: 155px;
        /* transform: translate(11px, 11px); */
    }

    .AccaptedSuccess .login-form-box i {
        color: #fff;
        /* font-size: 34px; */
        font-size: 4rem;
    }

    .accapted__success--top {
        position: relative;
        height: 180px;
    }

    .accapted__success--top .login-form-icon {
        top: 0;
        width: 185px;
        height: 185px;
    }

    .dashboard--collapse .vs-collapse,
    .dashboard--collapse .vs-collapse-item--header,
    .accepted__request .con-content--item {
        padding: 0;
    }

    .accepted__request .collapse__items {
        padding: 15px 0;
    }

    .dashboard--collapse.accepted__request .collapse__list {
        margin: 0;
    }

    .accepted__request .collapse__text {
        flex: 0 1 400px;
    }

    .collapse__img {
        width: 75px;
        height: 50px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 15px;
    }

    .collapse__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .accepted__request .collapse__status--success {
        color: #10cd13;
    }

    .accepted__request .collapse__status p, 
    .accepted__request .collapse__date p, 
    .accepted__request .collapse__cost p {
        font-weight: 400;
    }

    .AccaptedSuccess .success__text {
        font-size: 1.5rem;
        width: auto;
    }

    .AccaptedSuccess .deliver--wrap__title {
        margin-top: 40px;
    }

    @media ( max-width: 768px ) {
        .more-service__slider .VueCarousel-navigation {
            display: none;
        }
    }

    @media ( max-width: 578px ) {

        .AccaptedSuccess .login-form-box {
            width: 115px;
            height: 115px;
        }

        .accapted__success--top .login-form-icon {
            width: 150px;
            height: 150px;
        }

        .more-service__slider .category-list-items {
            padding: 10px 0;
        }

        .more-service__slide .category-list-item {
            width: 145px;
            height: 145px;
        }

        .more-service__slide .category-list-items {
            padding: 0px 0 15px;
        }

        .more-service__slider {
            width: 100%;
        }

        .more-service__slider .VueCarousel-slide img {
            padding: 0 !important;
        }

    }

</style>

<script>

    import Vue from 'vue'
    import modal from "./../Category/modal";
    import {mapGetters, mapActions} from 'vuex';
    import { log } from 'util'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    import { Carousel, Slide } from 'vue-carousel';

    export default {
        data() {
            return {
                parent_id: null,
                image: '',
                DialogTitle: '',
                popupActivo: false,
                loadingData : true,
                Carts: [],
                radios: 'checked',
                lang: this.$i18n.locale ,
                pagination: {
                    count: 20,
                    current_page: 1,
                    per_page: 4,
                    total: 101,
                    total_pages: 6,
                },
            }
        },
        computed:{
            ...mapGetters({
                categoryArray: 'category/list'
            })
        },
        created: async function () {
            // if (!this.categoryArray) {
                await this.fetchCategory()
            // }
        },
        methods:{
            ...mapActions({
                category: 'category/index',
            }),
            fetchCategory() {
                this.loadingData = true;
                let dataFetchUrl = `lang=${this.lang}`;
                this.category(dataFetchUrl)
                .then(res => {
                    this.loadingData = false;
                })
                .catch(err => {
                    this.loadingData = false;
                });
            },
            viewSubCategory(id, image, title) {
                this.parent_id = id;
                this.image = image;
                this.DialogTitle = title;
                this.popupActivo = true;
            },
            removeCache(){
                this.$store.dispatch('cart/removeCache')
                .then(res => {
                })
                .catch(err => {
                    console.log(err)
                })
            },
        },
        components: {
            modal,
            Loading,
            Carousel,
            Slide
        }
    }
</script>
