<template>
  <div class="wrap-all TermsPage" :dir="dir">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t('All Services') }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row-box">
            <div class="service-column-wrap">
                <div class="service__items col-12" v-for="category in list"
                      :key="category.id" :name="'category' + category.id">
                  <Collapse :data="category"></Collapse>
                </div>
            </div>
            <div class="order__service col-12">
              <BaseButton :ValueText="$t('Order Custom Service')"></BaseButton>
            </div>
          </div>
        </div>
      </div>
    </div>

    <CategoryItems></CategoryItems>
  </div>
</template>

<script>
import CategoryItems from "../Category/popular";
import Collapse from './Components/AllServiceComponents/Collapse'
import { mapGetters, mapActions } from "vuex";

export default {
  name: "AllService",
  data() {
    return {
      categoryArray: [],
      image: "",
      lang: this.$i18n.locale,
      pagination: {
        count: 20,
        current_page: 1,
        per_page: 7,
        total: 101,
        total_pages: 6
      }
    };
  },
  components: {
    CategoryItems,
    Collapse
  },
  computed:{
    ...mapGetters({
      list: 'category/list'
    })
  },
  async created() {
    await this.fetchData();
  },
  methods: {
    ...mapActions({
      category: 'category/index',
    }),
    fetchData() {
      let dataFetchUrl = `lang=${this.lang}&attributes=${true}&children=${true}`;
      this.category(dataFetchUrl)
        .then(res => {
        })
        .catch(err => {});
    },
    viewSubCategory(id, image) {
        this.parent_id = id;
        this.image = image;
        this.popupActivo = true;
    }
  }
};
</script>

<style>
.service__collapse .vs-collapse-item--icon-header {
  top: 20px;
}

.service__collapse .vs-collapse-item--header > div {
  padding-right: 20px;
}

.not-collapse-link {
  color: inherit;
  padding-left: 20px;
  padding-bottom: 0;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}

.collapse__lists {
  padding-left: 20px;
}

.collapse__lists .collapse__lists--items {
  margin-bottom: 8px;
  list-style: disc;
}

.collapse__lists .collapse__lists--items a {
  color: inherit;
}

.collapse__lists .collapse__lists--items a:hover,
.not-collapse-link:hover {
  opacity: 0.75;
}

.order__service .Button-anchor {
  width: 250px !important;
  margin: 20px auto 0;
}

.order__service .Button-anchor span {
  margin: auto;
}

.order__service .Button-anchor i {
  display: none;
}

/* *************************** */

.col-12 {
  flex: 0 1 100%;
}

.service__collapse .vs-collapse {
  padding: 0;
}

.service__collapse .vs-collapse-item {
  border: none;
}

.service__collapse i {
  font-size: 13px;
}

.service__items--head > h1 {
  padding: 10px 20px 10px;
}

.service__collapse .vs-collapse-item--header {
  padding-left: 20px;
  padding-bottom: 0;
}

.service__collapse .con-content--item {
  padding: 10px 20px 0;
}

.wrap-row {
  padding: 30px;
  margin: 0 -15px;
}

.col-4 {
  flex: 0 1 calc(33.333% - 30px);
  margin: 15px 15px;
}

.service__items--head {
  border-radius: 4px;
  border: solid 1px #e7e7e7;
  padding-bottom: 20px;
}

.title {
  font-family: var(--font-Medium);
  font-size: 18px;
}

.descr {
  font-size: 15px;
  margin: 8px 0 40px;
  line-height: 24px;
}
</style>
