<template>
  <div class="catalog-service-wrap">
    <div class="container">
      <h1 class="category-list__title">{{title}}</h1>
      <router-link v-if="parent_id" :to="'/catalog-service/' + parent_id" class="content-back">
        <i class="el-icon-back"></i>
        {{ $t('Go back') }}
      </router-link>
      <router-link v-else to="/" class="content-back">
        <i class="el-icon-back"></i>
        {{ $t('Go back') }}
      </router-link>
      <loading
        :active.sync="isLoading"
        :can-cancel="false"
        :is-full-page="fullPage"
        :color="'#F5D200'"
        :opacity="1"
      ></loading>
      <el-row :gutter="20" type="flex">
        <el-col
          vs-w="3"
          class="category__column"
          :span="6"
          v-for="item in categories"
          :key="item.id"
        >
          <router-link
            v-if="item.children.length"
            :to="'/catalog-service/' + item.id"
            class="category-list-items"
          >
            <div class="category-list-item">
              <img :src="item.image" alt class="max-none d-block transition" />
            </div>
            <p class="category-list-text text-center">{{ item.title }}</p>
          </router-link>
          <router-link v-else class="category-list-items" :to="{ path: '/service/'+item.id, params: { id: item.id } }">
            <div class="category-list-item">
              <img :src="item.image" alt class="max-none d-block transition" />
            </div>
            <p class="category-list-text text-center">{{ item.title }}</p>
          </router-link>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

  <script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      id: this.$route.params.id,
      categories: [],
      isLoading: false,
      fullPage: false,
      lang: this.$i18n.locale,
      title: "",
      parent_id: null
    };
  },
  created() {
    this.fetchCategory();
  },
  components: {
    Loading
  },
  watch: {
    "$route.params.id": function(val) {
      this.id = val;
      this.fetchCategory();
    }
  },
  methods: {
    ...mapActions({
      children: "category/show"
    }),
    fetchCategory() {
      this.isLoading = true;
      let dataFetchUrl = { id: this.id, lang: this.lang, children: true };
      this.children(dataFetchUrl)
        .then(res => {
          this.title = res.data.title;
          this.parent_id = res.data.parent_id;
          this.categories = res.data.children;
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    }
  }
};
</script>

<style>
</style>