<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t('Overview and confirm') }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row">
            <!-- Progress -->
            <div class="header--progress d-flex">
              <router-link
                class="progress__steps d-block"
                to="/"
                @click.prevent.capture="clicked"
              >
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Describe detail') }}</span>
                </el-link>
              </router-link>
              <router-link
                class="progress__steps d-block"
                to="/"
                @click.prevent.capture="clicked"
              >
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Time and location') }}</span>
                </el-link>
              </router-link>
              <router-link
                class="progress__steps d-block"
                to="/"
                @click.prevent.capture="clicked"
              >
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Select provider') }}</span>
                </el-link>
              </router-link>
              <router-link
                class="progress__steps d-block"
                to="/"
                @click.native.prevent.capture="clicked"
              >
                <el-link :underline="false">
                  <div class="steps__circle current__step">
                    <i class="material-icons">check</i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Checkout') }}</span>
                </el-link>
              </router-link>
            </div>
            <!-- End Progress -->

            <div class="deliver--wrap">
              <h1 class="deliver--wrap__title">
                {{ $t('Review and payment') }}
              </h1>
              <div class="deliver__box d-flex">
                <div class="deliver__form col-7">
                  <div class="checkout__wrap">
                    <!-- BASKET -->
                    <div v-for="(attribute, i) in carts" :key="'attr'+i">
                        <div v-for="(basket, b) in attribute.baskets" :key="'basket'+b">
                          <div v-for="(item, j) in basket.items" :key="'item'+j">
                            <h1><b> {{ item.value }} </b>
                            </h1>
                            <h1><b> {{ $t('Counter') }}: </b> {{ item.quantity_unit }}
                            </h1>
                            <p>
                              <span
                                v-for="(service, s) in item.services" :key="'service' + s">
                                <span>{{ service.value }}<span v-if="s < item.services.length - 1">+</span>
                                </span>
                              </span>
                            </p>
                            <br>
                          </div>
                        </div>
                        <div v-for="(option, o) in attribute.options" :key="'option'+o">
                          <h1> <b>{{ attribute.attribute_name }}</b> </h1>
                          <h1> {{ option.value }} </h1>
                          <br>
                        </div>
                    </div>
                    
                  </div>
                </div>
                <div class="deliver__img col-5">
                  <div class="checkout__login child--center">
                    <div class="checkout__login--box">
                      <div v-loading="UserLoading" class="login__avatar">
                        <img src="/img/def-img.png" alt="" class="d-block" />
                      </div>

                      <div @click="isOpen">
                        <BaseButton :ValueText="$t('I have account') "></BaseButton>
                      </div>

                      <div @click="isOpenReg" class="not__account">
                        <BaseButton :ValueText="$t('I don t have account')"></BaseButton>
                      </div>

                      <!-- <div class="not__account">
                                                <router-link to="/signup">
                                                    <FormButton ValueText="I don t have account"></FormButton>
                                                </router-link>
                                            </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="policy-term">
                <h1>Our terms and policy</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus voluptates nihil, rerum voluptate tempore ut,
                  praesentium corporis, repudiandae assumenda officiis sint
                  optio? Cumque fuga error optio voluptates tempora voluptatum
                  harum!
                </p>
              </div>

             <!--  <router-link class="d-block" to="/transaction">
                TEST BUTTON
              </router-link>

              <router-link class="d-block" to="/accepted">
                ACCEPTED PAGE BUTTON
              </router-link> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <el-dialog
      center
      :visible.sync="popupActive"
      class="login__popup login__dialog"
    >
      <Login @click="isOpen"></Login>
    </el-dialog>

    <el-dialog
      center
      :visible.sync="popupActiveReg"
      class="login__popup auth__popup login__dialog"
    >
      <Register @click="isOpenReg"></Register>
    </el-dialog>
  </div>
</template>

<style>
.auth__popup .auth-form {
  margin: 0 auto !important;
}

.login__popup .vs-popup {
  background: initial !important;
  box-shadow: initial !important;
}

.login__popup .vs-popup--header {
  display: none !important;
}

.login__popup .login,
.login__popup .login-anchor {
  color: #fff;
}

.not__account .form-submit {
  background: #d8d8d857;
  border: 1px solid #ccc;
}

.not__account .form-submit:hover {
  background: #d8d8d891;
}

.checkout__login--box {
  flex-basis: 260px;
}

.login__avatar {
  width: 78px;
  height: 78px;
  margin: 0 auto 20px;
  border-radius: 100%;
}

.not__account {
  margin-top: 10px;
}

.checkout__login {
  width: 95%;
  border: 1px solid #d8d8d8;
  height: 100%;
}

.form__tabs--label {
  display: block;
}

.card__icons {
  position: absolute;
  top: 0;
  right: 2px;
}

.form__tabs--label > span {
  margin-bottom: 5px;
  font-size: 14px;
}

.form__tabs--label > div {
  position: relative;
  padding: 10px;
  border: solid 1px #e7e7e7;
  background: #ffffff;
  border-radius: 4px;
}

.form__tabs--label > div input {
  border: none;
  outline: none;
  width: 100%;
}

.form__tabs--body {
  padding-top: 25px;
}

.form__tabs--item .vs-radio--label {
  font-family: "HeeboMedium";
  font-size: 14px;
}

.form__tabs--item .con-vs-radio {
  justify-content: initial;
}

.form__tabs--item .vs-radio--borde {
  z-index: 1;
  background: rgb(255, 255, 255);
}

.form__tabs--item .vs-radio--input:checked + .vs-radio .vs-radio--borde {
  transform: scale(0.55);
  border: none !important;
  opacity: 1 !important;
}

.form__tabs--item {
  border-radius: 4px;
  border: solid #e9e9e9;
  width: 30%;
  padding: 15px 10px;
  cursor: pointer;
}

.form__tabs--content:not(:first-child) {
  display: none;
}

.policy-term {
  margin-top: 20px;
  max-width: 650px;
}

.policy-term > h1 {
  font-family: var(--font-Medium);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.policy-term > p {
  color: #868686;
  line-height: 24px;
  font-size: 14px;
}

.deliver__location {
  flex: 0 1 50%;
}

.deliver__map {
  flex: 1;
}

.checkout__wrap {
  padding: 20px;
  border: dashed 1px #d0d0d0;
  background: #fffcef;
  font-size: 13px;
}

.checkout__wrap > h1 {
  color: #a08500;
}

.checkout__wrap > p {
  font-size: 14px;
  margin-bottom: 15px;
}
</style>

<script>
import Login from "../Auth/Login";
import Register from "../Auth/Register";
import { mapGetters } from "vuex";

export default {
  name: "Checkout",
  data() {
    return {
      popupActive: false,
      popupActiveReg: false,
      UserLoading: false
    };
  },
  computed: {
    ...mapGetters({
      user_id: "auth/id",
      user_image: "auth/image",
      carts: "cart/cart",
    })
  },
  created() {
    let t;
    t = setInterval(() => {
      if (this.user_id) {
        this.$router.push("/transaction");
        clearInterval(t);
      }
    }, 1000);
  },
  methods: {
    clicked(e) {
      e.preventDefault();
    },
    isOpen() {
      if (!this.popupActive) {
        this.UserLoading = true;
      }else{
        this.UserLoading = false;
      }
      this.popupActive = !this.popupActive;
    },
    isOpenReg() {
      if (!this.popupActiveReg) {
        this.UserLoading = true;
      }else{
        this.UserLoading = false;
      }
      this.popupActiveReg = !this.popupActiveReg;
    }
  },
  components: {
    Login,
    Register
  }
};
</script>
