<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap" :dir="dir">
      <div class="container">
        <h1 class="inner-wrap-title">{{ categoryData.title }}</h1>
        <router-link :to="'/catalog-service/' + categoryData.parent_id" class="content-back">
          <i class="el-icon-back"></i>
          {{ $t('Go back') }}
        </router-link>
        <!-- <h3>{{ categoryData.subtitle }}</h3> -->

        <div class="inner-wrap">
          <div class="wrap-row">
            <div class="header--progress d-flex">
              <router-link class="progress__steps d-block" :to="{ name: 'service' }">
                <el-link :underline="false">
                  <div class="steps__circle current__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Describe detail') }}</span>
                </el-link>
              </router-link>
              <router-link
                @click.native.prevent.capture="clicked"
                class="progress__steps d-block"
                to="/"
              >
                <el-link disabled :underline="false">
                  <div class="steps__circle">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Time and location') }}</span>
                </el-link>
              </router-link>
              <router-link
                @click.native.prevent.capture="clicked"
                class="progress__steps d-block"
                to="/"
              >
                <el-link disabled :underline="false">
                  <div class="steps__circle">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Select provider') }}</span>
                </el-link>
              </router-link>
              <router-link
                @click.native.prevent.capture="clicked"
                class="progress__steps d-block"
                to="/"
              >
                <el-link disabled :underline="false">
                  <div class="steps__circle">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Checkout') }}</span>
                </el-link>
              </router-link>
            </div>

            <div class="deliver--wrap">
              <loading
                :active.sync="isLoading"
                :can-cancel="false"
                :is-full-page="fullPage"
                :color="'#F5D200'"
                :opacity="1"
              ></loading>
              <h1 class="deliver--wrap__title">{{ categoryData.question }}</h1>
              <div class="deliver__box d-flex remove-padding">
                <div class="deliver__form deliver__left">
                  <form class="d-flex f-wrap jfy-bwn">
                    <div
                      class="col-12"
                      v-for="attribute in categoryData.attributes"
                      :key="attribute.id"
                    >
                      <!-- *****************  OPTIONS  ************************* -->

                      <div v-if="attribute.options.length!=0">
                        <label class="auth-form-label d-block">
                          <span
                            class="label-title d-block damn-design-mistake-title"
                          >{{ attribute.name }}</span>
                          <div class="form-input d-flex no-padding damn-design-mistake">
                            <el-select
                              :required="true"
                              :allow-create="true"
                              v-model="SelectOption[attribute.id]"
                              :multiple="(attribute.type_text=='Multiple option')?true:false"
                              margin="auto"
                              @change="SetSelectOption(attribute,SelectOption[attribute.id])"
                              :placeholder="$t('Select')"
                            >
                              <el-option
                                class="el-dropdown-list__custom"
                                v-for="item in attribute.options"
                                :key="item.id"
                                :label="item.value"
                                :value="item"
                              ></el-option>
                            </el-select>
                          </div>
                        </label>
                      </div>
                      <!-- *******************    END OPTIONS    ************************* -->
                      <!-- *******************    BACKETS        ************************ -->

                      <div v-if="attribute.baskets.length !== 0">
                        <Collapse :Basket="attribute"></Collapse>
                      </div>

                      <!-- *******************    END BASCKETS    *********************** -->

                      <!-- *******************    INPUTS    *********************** -->
                      <div v-if="attribute.inputs.length !== 0">
                        <div v-for="(input,i) in attribute.inputs" :key="'input'+i">
                          <label class="auth-form-label d-block">
                            <span
                              class="label-title d-block damn-design-mistake-title"
                            >{{ input.label}}</span>
                            <el-input
                              placeholder="Please input"
                              v-model="Inputs[attribute.id]"
                              @input="OnInput(Inputs[attribute.id],input,attribute)"
                              clearable
                            ></el-input>
                          </label>
                        </div>
                      </div>
                      <!-- *******************    END INPUTS    *********************** -->
                      <!-- *******************    COMMENTS    *********************** -->
                    </div>
                    <div class="col-12">
                      <label class="auth-form-label d-block">
                        <span
                          class="label-title d-block damn-design-mistake-title"
                        >{{ $t("Leave a comment") }}</span>
                        <div class="form-input form__area">
                          <el-input
                            type="textarea"
                            :rows="2"
                            @change="addContent"
                            :placeholder="$t('Provide additional information about your selected services')"
                            v-model="textarea"
                          ></el-input>
                        </div>
                      </label>
                    </div>
                    <!-- *************  END COMMENTS  *************** -->
                    <!-- *************  Choose deliver  *************** -->

                    <div v-if="cart_category && cart_category.collect_return" class="col-12">
                      <label class="auth-form-label d-block">
                        <span
                          class="label-title d-block damn-design-mistake-title"
                        >{{ $t("Choose deliver") }}</span>
                        <div class="form-input d-flex no-padding damn-design-mistake">
                          <el-select
                            @change="changeRequestType"
                            v-model="Request_type"
                            width="calc(100% - 2px)"
                            margin="auto"
                            :placeholder="$t('Select')"
                          >
                            <el-option label="On site" value="On site"></el-option>
                            <el-option label="Collect return" value="Collect return"></el-option>
                          </el-select>
                        </div>
                      </label>
                    </div>
                    <!-- *************  END Choose deliver  *************** -->
                    <!-- *************  CONTINUE  *************** -->
                    <ContinueButton></ContinueButton>
                    <!-- *************  END CONTINUE  *************** -->
                  </form>
                </div>
                <div class="deliver__img deliver__right basket-hidden-section">
                  <div class="deliver__basket">
                    <Basket></Basket>
                  </div>
                </div>
              </div>
            </div>

            <div class="service-descr-wrap" v-html="categoryData.content">
              <!-- <h1 class="deliver--wrap__title">What does this service contain?</h1>
              <p>
                <b>Service Includes:</b>
                - Installation of a standard SP supplied wall bracket (if wall mount selected)
                <br />- Securing the TV and load testing the hardware
                <br />- Connect all customer provided necessary video and basic audio components
              </p>

              <p>
                <b>Notes:</b>
                - Mounting of any special (tilt, swivel) bracket requires revised estimate from the provider
                <br />- TV mounting is for drywall only
              </p>-->
            </div>
          </div>
        </div>

        <!-- <div class="service__contain d-flex f-wrap" v-html="categoryData.content"></div> -->

        <div class="mobile-bottom-basket">
          <div class="mobile-basket-in d-flex align-center">
            <i class="el-icon-shopping-cart-2"></i>
            <span>{{ $t('Your Basket') }}</span>
          </div>
        </div>
      </div>
    </div>

    <Popular></Popular>
  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import Popular from "../../views/Category/popular";
import Basket from "../../views/Services/Components/Basket";
import Collapse from "../../views/Services/Components/Collapse";
import ContinueButton from "../../views/Services/Components/ContinueButton";

import { mapGetters, mapActions } from "vuex";
import { log } from "util";

export default {
  data() {
    return {
      Inputs: [],
      path: this.$router.currentRoute.name,
      textarea: "",
      Request_type: "",
      isLoading: false,
      fullPage: false,
      SelectOption: [],
      categoryData: {},
      lang: this.$i18n.locale,
      id: null
    };
  },
  watch: {
    id: function() {
      this.clearBasket();
    }
  },
  computed: {
    ...mapGetters({
      order: "cart/order",
      cart_category: "category/cart_category"
    })
  },
  created() {
    this.id = this.$route.params.id;
    if (!this.id && this.cart_category) {
      this.id = this.cart_category.id;
    }
    this.serviceData();
  },
  mounted() {
    $(document).ready(function() {
      $(".mobile-bottom-basket").click(function() {
        $("html, body").animate(
          {
            scrollTop: $(".basket__form").offset().top - 150
          },
          500
        );
      });

      var $dipper = $(".basket-hidden-section");

      $dipper.waypoint(
        function(direction) {
          if (direction == "down") {
            $("body").addClass("remove-mobile-button");
          } else {
            $("body").removeClass("remove-mobile-button");
          }
        },
        { offset: "50%" }
      );
    });
  },
  methods: {
    ...mapActions({
      show: "category/show",
      setCart: "cart/setCartOption",
      setCartInput: "cart/setCartInput",
      setOrderContent: "cart/setOrderContent",
      setCategoryData: "category/setCategoryData",
      RequestType: "cart/RequestType",
      clearBasket: "cart/clearBasket"
    }),
    serviceData() {
      this.isLoading = true;
      let dataFetchUrl = {
        attributes: true,
        id: this.id,
        lang: this.lang,
        content: true
      };
      this.show(dataFetchUrl)
        .then(res => {
          this.categoryData = res.data;
          this.isLoading = false;
          this.setCategory(this.categoryData);
        })
        .catch(err => {
          this.isLoading = false;
          console.log(err);
          if (err.code == 404) {
            this.$router.push("/");
          }
        });
    },
    SetSelectOption(attribute, options) {
      if (Array.isArray(options)) {
        let arr = [];
        for (const key in options) {
          if (options.hasOwnProperty(key)) {
            const element = options[key];
            arr.push({ option_id: element.id, value: element.value });
          }
        }
        let options = arr;
      } else {
        options = [options];
      }
      let data = {
        attribute_id: attribute.id,
        attribute_name: attribute.name,
        attribute_question: attribute.question,
        options: options
      };
      this.setCart(data)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    OnInput(text, input, attr) {
      let data = {
        value: text,
        attribute_name: attr.name,
        attribute_question: attr.question,
        service_input_id: input.id,
        label: input.label,
        attribute_id: attr.id
      };

      this.setCartInput(data)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    clicked(e) {
      e.preventDefault();
    },
    addContent() {
      this.setOrderContent(this.textarea)
        .then(res => {})
        .catch(err => {
          console.log(err);
        });
    },
    setCategory(category) {
      let data = {
        id: category.id,
        title: category.title,
        subtitle: category.subtitle,
        question: category.question,
        content: category.content,
        collect_return: category.collect_return,
        icon: category.icon
      };

      this.setCategoryData(data)
        .then(() => {})
        .catch(err => {});
    },
    changeRequestType() {
      this.RequestType(this.Request_type)
        .then(res => {})
        .catch(err => {});
    }
  },
  components: {
    Collapse,
    Loading,
    Popular,
    Basket,
    ContinueButton
  }
};
</script>

<style>
.form__area .el-textarea__inner {
  border: none !important;
  min-height: 150px !important;
  resize: none !important;
}

.checkbox--text {
  height: 20px;
  width: 45px;
  overflow: hidden;
  position: relative;
}

.laundry__select label {
  margin-bottom: 0;
}

.laundry__count {
  margin-left: 15px;
  margin-right: 15px;
}

.laundry__count .laundry__count--remove,
.laundry__count .laundry__count--add {
  background: #d7d7d74a;
}

.laundry__count .laundry__count--remove {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.laundry__count .laundry__count--res {
  border-right: none;
  border-left: none;
}

.laundry__count .laundry__count--res input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #a09999;
  background: none;
}

.laundry__count .laundry__count--add {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.laundry__items.active {
  border-color: #f5d200;
  transition: all 300ms;
}

.checkbox--text {
  font-family: "HeeboMedium";
  font-size: 13px;
}

.laundry__text > h1 {
  font-family: var(--font-Medium);
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
}

.laundry__list {
  width: 100%;
  margin-bottom: 15px;
}

.laundry__items {
  position: relative;
  padding: 15px;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
}

.laundry__inputs {
  position: relative;
  z-index: 2;
  display: flex;
  opacity: 0;
  align-items: center;
}

.laundry__items.active .laundry__inputs {
  opacity: 1;
  visibility: visible;
}

.laundry__items--item {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.laundry__icon {
  width: 50px;
  padding-left: 5px;
  margin-right: 10px;
}

.laundry__icon img {
  margin-top: 5px;
}

.laundry__text {
  width: 150px;
}

.laundry__inputs {
  flex: 1;
}
</style>
