<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ category.title }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row">
            <!-- Progress -->
            <div class="header--progress d-flex">
              <div class="progress__steps d-block" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Describe detail') }}</span>
                </el-link>
              </div>
              <router-link class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Time and location') }}</span>
                </el-link>
              </router-link>
              <router-link class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step">
                    <i class="material-icons">check</i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Select provider') }}</span>
                </el-link>
              </router-link>
              <router-link
                @click.prevent.capture="clicked"
                class="progress__steps d-block"
                to="/transaction"
              >
                <el-link disabled :underline="false">
                  <div class="steps__circle">
                    <i class="material-icons">check</i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Checkout') }}</span>
                </el-link>
              </router-link>
            </div>
            <!-- End Progress -->

            <div class="deliver--wrap">
              <loading
                :active.sync="isLoading"
                :is-full-page="false"
                :color="'#F5D200'"
                :opacity="1"
              ></loading>
              <h1 class="deliver--wrap__title">{{ $t('Choose provider') }}</h1>
              <div class="deliver__box d-flex">
                <div class="deliver__form deliver__left">
                  <form>
                    <div v-if="emptyData" class="provider-label d-flex">
                      <h1>{{ $t('No information was found') }}</h1>
                    </div>

                    <div
                      class="provider-label d-flex"
                      v-for="(provider, i) in getProviders"
                      :key="i"
                    >
                      <div class="radio__label">
                        <input type="radio" id="1" style="display: none" name="name" />
                        <span class="radio__label--circle child--center">
                          <span class="circle__inner"></span>
                        </span>
                      </div>
                      <div class="provider-served">
                        <h1>{{provider.firm_name}}</h1>
                        <div class="provider-stars d-flex align-center">
                          <el-rate
                            v-model="provider.stars"
                            disabled
                            show-score
                            text-color="#ff9900"
                            :score-template="provider.stars + ' points'"
                          ></el-rate>
                        </div>
                        <p>{{ $t('Served to') }} {{provider.people_number}} {{ $t('people') }}</p>
                      </div>
                      <div class="provider-include">
                        <h1>AED {{provider.prices}}</h1>
                        <p v-if="provider.discount > provider.prices">{{ $t('Discount') }} {{provider.discount}}</p>
                      </div>
                      <label
                        for="1"
                        class="label--overlay"
                        @click="toggleProvider($event, provider)"
                      ></label>
                    </div>

                    <div class="form__buttons d-flex jfy-bwn">
                      <div class="form__continue--button" @click="$router.go(-1)">
                        <el-button class="btn">
                          <span class="d-flex align-center jfy-bwn">
                            <i class="el-icon-arrow-left"></i>
                            {{ $t('Go Back') }}
                          </span>
                        </el-button>
                      </div>
                      <div class="form__continue--button" v-if="!provider">
                        <el-button id="continue" :disabled="true" class="btn">
                          <span class="d-flex align-center jfy-bwn">
                            {{ $t('Continue') }}
                            <i class="el-icon-arrow-right"></i>
                          </span>
                        </el-button>
                      </div>
                      <div class="form__continue--button" v-else>
                        <router-link
                          :aria-disabled="false"
                          v-if="user_id"
                          to="/transaction"
                          class="btn d-flex align-center jfy-bwn"
                        >
                          {{ $t('Continue') }}
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                        <router-link v-else to="/checkout" class="btn d-flex align-center jfy-bwn">
                          {{ $t('Continue') }}
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="deliver__img deliver__right">
                  <div class="deliver__basket">
                    <Basket></Basket>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
#continue,
#continue:focus,
#continue:hover {
  color: #000;
  cursor: not-allowed;
  background-image: none;
  background-color: #f5d200;
  border-color: #ebeef5;
}
.provider-stars .el-rate__icon {
  margin-right: 0;
}

.provider-stars .el-rate__text {
  margin-left: 10px;
}

.main__wrap[dir="rtl"] .provider-stars .el-rate__decimal,
.el-rate__icon .path2 {
  right: 0;
}

.main__wrap[dir="rtl"] .provider-stars .el-rate__text {
  margin-right: 10px;
}

.main__wrap[dir="rtl"] .basket__list--items > h2 {
  padding-right: 0;
  padding-left: 15px;
}

.basket__list--items > :last-child {
  text-align: left;
}

.label--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.form__continue--button {
  margin-top: 15px;
}

.checkout__wrap > h1 > span {
  transform: translateY(-5px);
  display: inline-block;
}

.checkout__wrap--title {
  margin-bottom: 5px;
}

.checkout__wrap--title,
.checkout__wrap > h1 > span,
.provider-served > h1,
.provider-include > h1 {
  font-family: var(--font-Medium);
}

.checkout__wrap > h1 {
  line-height: 1;
}

.provider-label.active .radio__label--circle,
.provider-label.active {
  border-color: #ffc107;
}

.provider-label,
.radio__label--circle,
.circle__inner {
  transition: all 300ms;
}

.provider-label.active .circle__inner {
  opacity: 1;
  background: #ffc107;
}

.provider-stars {
  margin: 3px 0 1px;
}

.rating {
  margin-right: 10px;
}

.provider-stars > span {
  letter-spacing: 1px;
}

.provider-stars > span,
.provider-stars > p {
  font-size: 14px;
}

.col-9 {
  width: 75%;
  padding-right: 25px;
}

.col-3 {
  width: 25%;
}

.provider-label {
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
  font-size: 14px;
}

.radio__label {
  width: 40px;
  position: relative;
  padding-top: 5px;
}

.radio__label--circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #d8d8d8;
}

.circle__inner {
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 100%;
  opacity: 0;
}

.provider-served {
  flex: 1;
}

.provider-served > h1,
.provider-include > h1 {
  font-size: 15px;
}

.provider-include > p {
  color: red;
  text-decoration: line-through;
}
</style>

<script>
// Basket Component
import Basket from "./Components/Basket";
import { mapGetters, mapActions } from "vuex";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { log } from "util";

export default {
  name: "SelectProvider",
  data() {
    return {
      value: 3.7,
      emptyData: false,
      narx: 0,
      radios: "radio_1",
      inputVal: "",
      getProviders: [],
      isLoading: false
    };
  },
  computed: {
    ...mapGetters({
      city_id: "city_id",
      user_id: "auth/id",
      cart: "cart/cart",
      category: "category/cart_category",
      provider: "cart/provider"
    })
  },
  created() {
    this.Providers();
  },
  methods: {
    ...mapActions({
      setProvider: "cart/setProviderData",
      find: "provider/findProvider"
    }),
    clicked(e) {
      e.preventDefault();
    },
    async Providers() {
      this.isLoading = true;
      let data = await this.findDatas();
      await this.find(data)
        .then(res => {
          this.getProviders = res.data.providers;
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    findDatas() {
      let services = [];
      let options = [];
      for (let i = 0; i < this.cart.length; i++) {
        const attribute = this.cart[i];
        // services
        for (let j = 0; j < attribute.baskets.length; j++) {
          const basket = attribute.baskets[j];
          for (let k = 0; k < basket.items.length; k++) {
            const item = basket.items[k];
            for (let s = 0; s < item.services.length; s++) {
              const service = item.services[s];
              services.push({
                id: service.service_id,
                counter: item.quantity_unit,
                item_id: item.item_id
              });
            }
          }
        }
        // end services
        // options
        for (let o = 0; o < attribute.options.length; o++) {
          const option = attribute.options[o];
          options.push(option.option_id);
        }
        // end options
      }

      let data = {
        city_id: this.city_id ? this.city_id.city_id : null,
        services: services,
        options: options
      };

      return data;
    },
    toggleProvider(event, data) {
      let DATA = {
        id: data.id,
        firm_name: data.firm_name,
        prices: data.prices,
        discount: data.discount
      };
      this.setProvider(DATA)
        .then(() => {
          $(".provider-label").removeClass("active");
          $(event.target)
            .parent()
            .toggleClass("active");
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  components: {
    Basket,
    Loading
  }
};
</script>
