<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap" :dir="dir">
      <div class="container">
        <h1 class="inner-wrap-title">{{ category.title }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row">
            <!-- Progress -->
            <div class="header--progress d-flex">
              <div class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Describe detail') }}</span>
                </el-link>
              </div>
              <router-link class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Time and location') }}</span>
                </el-link>
              </router-link>
              <router-link @click.prevent.capture="clicked" class="progress__steps d-block" to="/">
                <el-link disabled :underline="false">
                  <div class="steps__circle">
                    <i class="material-icons">check</i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Select provider') }}</span>
                </el-link>
              </router-link>
              <router-link @click.prevent.capture="clicked" class="progress__steps d-block" to="/">
                <el-link disabled :underline="false">
                  <div class="steps__circle">
                    <i class="material-icons">check</i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Checkout') }}</span>
                </el-link>
              </router-link>
            </div>
            <!-- End Progress -->

            <div class="deliver--wrap">
              <h1 class="deliver--wrap__title">{{ $t('How to deliver?') }}</h1>

              <div class="deliver__box d-flex">
                <div class="deliver__form deliver__location">
                  <form class="d-flex time-location">
                    <div class="form__area">
                      <label class="auth-form-label d-block">
                        <span class="label-title d-block">{{ $t('Address') }}</span>
                        <div class="form-input">
                          <gmap-autocomplete
                            ref="autocomplete"
                            class="form-control no-spinners gmap-autocomplete"
                            :placeholder="$t('Search for Arab countries cities . . . ')"
                            @place_changed="setPlace"
                            :options="{
                              location: { lat: 25.23478, lng: 55.43645 },
                              radius: 5000,
                              types: ['establishment'],
                              componentRestrictions: { country: 'ae' }
                            }"
                          ></gmap-autocomplete>
                        </div>
                      </label>
                    </div>
                    <div class="form__area d-flex jfy-bwn">
                      <div class="form__input">
                        <BaseInput
                          :model="Address.building_number"
                          v-model="Address.building_number"
                          :label="$t('Building number')"
                          :placeholder="$t('Building number')"
                          :id="'building_number'"
                          :type="'text'"
                        />
                      </div>
                      <div class="form__input">
                        <BaseInput
                          :model="Address.float_room_number"
                          v-model="Address.float_room_number"
                          :label="$t('Flat, room number')"
                          :placeholder="$t('Flat, room number')"
                          :id="'flat_number'"
                          :type="'text'"
                        />
                      </div>
                    </div>
                    <div class="form__area">
                      <BaseInput
                        :model="Address.full_address"
                        v-model="Address.full_address"
                        :label="$t('Full address')"
                        :placeholder="$t('Full address')"
                        :id="'full_address'"
                        :type="'text'"
                      />
                    </div>
                    <div class="form__area d-flex jfy-bwn">
                      <div class="form__input">
                        <label class="auth-form-label d-block">
                          <span class="label-title d-block">{{ $t('Date') }}</span>
                          <div class="form-input d-flex no-space">
                            <el-date-picker
                              v-model="Address.date"
                              type="date"
                              placeholder="Pick a day"
                              format="dd-MM-yyyy"
                              value-format="dd-MM-yyyy"
                              :picker-options="pickerOptions"
                            ></el-date-picker>
                          </div>
                        </label>
                      </div>
                      <div class="form__input">
                        <label class="auth-form-label d-block">
                          <span class="label-title d-block">{{ $t('Time') }}</span>
                          <div class="form-input d-flex no-space">
                            <el-time-select
                              v-model="Address.time"
                              :picker-options="{
                                start: '08:00',
                                step: '01:00',
                                end: '18:00'
                              }"
                              placeholder="Select time"
                            ></el-time-select>
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="form__buttons d-flex jfy-bwn">
                      <div class="form__continue--button" @click="$router.go(-1)">
                        <el-button class="btn">
                          <span class="d-flex align-center jfy-bwn">
                            <i class="el-icon-arrow-left"></i>
                            {{ $t('Go Back') }}
                          </span>
                        </el-button>
                      </div>

                      <div class="form__continue--button" @click="save" v-if="!order_address">
                        <el-button class="btn">
                          <span class="d-flex align-center jfy-bwn">
                            {{ $t('Save') }}
                            <i class="el-icon-arrow-right"></i>
                          </span>
                        </el-button>
                      </div>
                      <div class="form__continue--button" v-else>
                        <router-link to="/select-provider" class="btn d-flex align-center jfy-bwn">
                          {{ $t('Continue') }}
                          <i class="el-icon-arrow-right"></i>
                        </router-link>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="deliver__img deliver__map">
                  <el-tabs v-model="activeName">
                    <el-tab-pane name="first">
                      <span slot="label">
                        <i class="el-icon-location-outline"></i>
                        {{ $t('Find in map') }}
                      </span>
                      <gmap-map :center="center" :zoom="14" style="width:100%;  height: 400px;">
                        <gmap-marker
                          :key="index"
                          v-for="(m, index) in markers"
                          :position="m.position"
                          :draggable="true"
                          @click="center = m.position"
                          @dragend="GoeDecode"
                        ></gmap-marker>
                      </gmap-map>
                    </el-tab-pane>
                    <el-tab-pane name="second">
                      <span slot="label">
                        <i class="el-icon-shopping-cart-2"></i>
                        {{ $t('Your basket') }}
                      </span>
                      <Basket></Basket>
                    </el-tab-pane>
                  </el-tabs>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Popular></Popular>
  </div>
</template>

<style>
.no-space {
  padding: 0 !important;
}

.gmap__input {
  margin: -10px !important;
  padding: 10px !important;
  width: 100% !important;
  display: block !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.deliver__map .el-tabs__active-bar {
  width: 100px !important;
}

.deliver__map .el-tabs__active-bar {
  display: none !important;
}

.deliver--wrap {
  position: relative;
}

.deliver__location {
  flex: 0 1 50%;
  padding-right: 25px;
}

.deliver__map {
  flex: 1;
}

body .deliver__map > div {
  width: 100%;
}

.input {
  display: none;
}
</style>

<script>
// import GoogleMap from "./GoogleMap";
import { mapGetters, mapActions } from "vuex";

// Popular Component
import Popular from "../Category/popular";

// Basket Component
import Basket from "./Components/Basket";

export default {
  name: "TimeAndLocation",
  data() {
    return {
      // path: this.$router.$router.go(-1),
      Address: {
        address: "",
        building_number: "",
        float_room_number: "",
        full_address: "",
        date: "",
        time: ""
      },
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 1000 * 60 * 60 * 24 * 1;
        }
      },
      saveButton: true,
      activeName: "first",
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null,
      decode: []
    };
  },
  computed: {
    ...mapGetters({
      provider: "cart/provider",
      category: "category/cart_category",
      order_address: "cart/order_address"
    })
  },
  mounted() {
    if (this.order_address) {
      this.loadModel();
    }
    this.basketRemoveProvider();
  },
  methods: {
    ...mapActions({
      removeProvider: "cart/removeProvider",
      saveAddress: "cart/setOrderAddress"
    }),
    save() {
      if (
        this.Address.address != "" &&
        this.Address.building_number != "" &&
        this.Address.float_room_number != "" &&
        this.Address.full_address != "" &&
        this.Address.date != "" &&
        this.Address.time != ""
      ) {
      } else {
        this.MessageError();
        return false;
      }
      this.saveAddress(this.Address)
        .then(res => {
          this.saveButton = false;
          this.Message();
        })
        .catch(err => {});
    },
    loadModel() {
      this.Address = this.order_address;
      if (
        this.$refs["autocomplete"] &&
        this.$refs["autocomplete"].$refs &&
        this.$refs["autocomplete"].$refs["input"]
      ) {
        this.$refs["autocomplete"].$refs[
          "input"
        ].value = this.order_address.address;
      }
    },
    GoeDecode(event) {
      $.ajax({
        url: `https://maps.googleapis.com/maps/api/geocode/json?sensor=false&v=3.exp&latlng=${event.latLng.lat()},${event.latLng.lng()}&key=AIzaSyDoS6XkizqN2Pun-M9yU7p4tSGY46Mbgfs`,
        type: "GET",
        dataType: "json",
        success: res => {
          this.updateMaker(res);
        },
        error: err => {
          console.log(err);
        }
      });
    },
    updateMaker(event) {
      if (
        event.results[0] &&
        this.$refs["autocomplete"] &&
        this.$refs["autocomplete"].$refs &&
        this.$refs["autocomplete"].$refs["input"]
      ) {
        this.$refs["autocomplete"].$refs["input"].value =
          event.results[0].formatted_address;
        this.Address.address = event.results[0].formatted_address;
        this.Address.building_number =
          event.results[0].address_components[0].long_name;
      }
    },
    clicked(e) {
      e.preventDefault();
    },
    setPlace(place) {
      this.currentPlace = place;
      this.Address.address = this.currentPlace.formatted_address;
      this.Address.url = this.currentPlace.url;
      this.addMarker();
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    },
    basketRemoveProvider() {
      if (this.provider !== null && this.provider !== "") {
        this.removeProvider()
          .then(res => {})
          .catch(err => {
            console.log(err);
          });
      }
    },
    Message() {
      this.$notify({
        title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
        type: "success",
        showClose: true,
        offset: 50,
        message: "Location saved . . . "
      });
    },
    MessageError() {
      this.$notify({
        title: "Error",
        type: "error",
        showClose: true,
        offset: 50,
        message: "Please fill in all fields"
      });
    }
  },
  components: {
    Popular,
    Basket
    // GoogleMap
  }
};
</script>
