<template>
  <div class="wrap-all TermsPage">
    <div class="header-overlay"></div>

    <div class="content-wrap">
      <div class="container">
        <h1 class="inner-wrap-title">{{ $t('Overview and confirm') }}</h1>

        <div class="inner-wrap">
          <div class="wrap-row">
            <!-- Progress -->
            <div class="header--progress d-flex">
              <div class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Describe detail') }}</span>
                </el-link>
              </div>
              <router-link class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Time and location') }}</span>
                </el-link>
              </router-link>
              <router-link class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step prev__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Select provider') }}</span>
                </el-link>
              </router-link>
              <router-link class="progress__steps d-block" to="/" @click.prevent.capture="clicked">
                <el-link :underline="false">
                  <div class="steps__circle current__step">
                    <i class="el-icon-circle-check"></i>
                    <div class="circle__overlay"></div>
                  </div>
                  <span class="steps__text">{{ $t('Checkout') }}</span>
                </el-link>
              </router-link>
            </div>
            <!-- End Progress -->

            <div class="deliver--wrap">
              <loading
                :active.sync="isLoading"
                :is-full-page="false"
                :color="'#F5D200'"
                :opacity="1"
              ></loading>
              <h1 class="deliver--wrap__title">{{ $t('Review and payment') }}</h1>
              <div class="deliver__box d-flex">
                <div class="deliver__form col-7">
                  <div class="checkout__wrap">
                    <!-- BASKET -->
                    <div v-for="(attribute, i) in carts" :key="'attr'+i">
                      <div v-for="(basket, b) in attribute.baskets" :key="'basket'+b">
                        <div v-for="(item, j) in basket.items" :key="'item'+j">
                          <h1>
                            <b>{{ item.value }}</b>
                          </h1>
                          <h1>
                            <b>Counter:</b>
                            {{ item.quantity_unit }}
                          </h1>
                          <p>
                            <span v-for="(service, s) in item.services" :key="'service' + s">
                              <span>
                                {{ service.value }}
                                <span v-if="s < item.services.length - 1">+</span>
                              </span>
                            </span>
                          </p>
                          <br />
                        </div>
                      </div>
                      <div v-for="(option, o) in attribute.options" :key="'option'+o">
                        <h1>
                          <b>{{ attribute.attribute_name }}</b>
                        </h1>
                        <h1>{{ option.value }}</h1>
                        <br />
                      </div>
                    </div>
                  </div>
                  <div class="form__continue--button" @click="$router.go(-1)">
                    <el-button class="btn">
                      <span class="d-flex align-center jfy-bwn">
                        <i class="el-icon-arrow-left"></i>
                        {{ $t('Go Back') }}
                      </span>
                    </el-button>
                  </div>
                  <div class="policy-term">
                    <h1>Our terms and policy</h1>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Delectus voluptates nihil, rerum voluptate tempore ut,
                      praesentium corporis, repudiandae assumenda officiis sint
                      optio? Cumque fuga error optio voluptates tempora
                      voluptatum harum!
                    </p>
                  </div>
                </div>
                <div class="deliver__img col-5">
                  <form class="form__tab--wrap">
                    <div class="form__tab--header d-flex jfy-bwn">
                      <div
                        class="form__tab--items"
                        @click="Carts('Paypal', '1')"
                        v-bind:class="[activetab === '1' ? 'active' : '']"
                      >
                        <el-radio v-model="radio" label="1">
                          <img src="/img/paypal-logo.png" alt />
                        </el-radio>
                      </div>
                      <div
                        class="form__tab--items"
                        @click="Carts('Cash on delivery', '2')"
                        v-bind:class="[activetab === '2' ? 'active' : '']"
                      >
                        <el-radio v-model="radio" label="2">{{ $t('Cash on delivery') }}</el-radio>
                        <!-- <vs-radio
                          color="warning"
                          v-model="cart_type"
                          vs-value="Cash on delivery"
                          >Cash on delivery</vs-radio
                        >-->
                      </div>
                    </div>
                    <div class="form__tab--content">
                      <div class="tab__content--items" v-if="activetab === '1'">
                        <p>
                          123 Lorem, ipsum dolor sit amet consectetur
                          adipisicing elit. In, vel accusamus recusandae optio
                          ipsum molestiae magni quidem ad velit culpa corporis
                          labore ut corrupti quibusdam nisi, dolor error aliquid
                          animi?
                        </p>
                      </div>
                      <div class="tab__content--items" v-if="activetab === '2'">
                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. In, vel accusamus recusandae optio ipsum
                          molestiae magni quidem ad velit culpa corporis labore
                          ut corrupti quibusdam nisi, dolor error aliquid animi?
                        </p>
                      </div>

                      <div class="form__continue--button">
                        <!-- <router-link to="/accepted"> -->
                        <!-- <FormButton @click.prevent="sendBasket()" ValueText="Make Payment"></FormButton> -->
                        <!-- </router-link> -->
                        <el-button
                          :loading="loadingButton"
                          @click="sendBasket()"
                          type="success"
                        >{{ $t('Confirmed') }}</el-button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.card__info--cvv > div {
  width: 75px;
  margin-top: 9px;
  overflow: hidden;
  padding: 8px 10px !important;
}

.card__info > div,
.form__tab--items,
.card__info--expiry > div.d-flex > div {
  width: calc(50% - 5px);
}

.content__items--input {
  margin-bottom: 20px;
}

.input__card > span,
.card__info--expiry > span,
.card__info--cvv > span {
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
}

.input__card > div,
.card__info--cvv > div {
  position: relative;
  padding: 10px;
  border: solid 1px #e7e7e7;
  background: #ffffff;
  border-radius: 4px;
}

.input__card > div input,
.card__info--cvv > div input {
  border: none;
  outline: none;
  color: #696969;
  font-size: 14px;
}

.input__card > div img {
  position: absolute;
  top: 2px;
  right: 2px;
}

.form__tab--content {
  padding-top: 20px;
}

.form__tab--wrap {
  width: 95%;
  margin-left: auto;
}

.form__tab--items {
  border: 2px solid #d8d8d8;
  border-radius: 4px;
  cursor: pointer;
}

.form__tab--items .con-vs-radio {
  justify-content: initial;
  cursor: pointer;
  padding: 15px;
}

.form__tab--items .vs-radio--label {
  margin-left: 8px;
  font-family: "HeeboMedium";
}

.tab__content--items:not(:first-child) {
  display: none;
}

.form__tab--items .vs-radio--borde {
  z-index: 1;
  background: rgb(255, 255, 255);
}

.form__tab--items .vs-radio--input:checked + .vs-radio .vs-radio--borde {
  transform: scale(0.55);
  border: none !important;
  opacity: 1 !important;
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { log } from "util";

export default {
  name: "Transaction",
  data() {
    return {
      lang: this.$i18n.locale,
      radio: "1",
      activetab: "1",
      cart_type: "Paypal",
      isLoading: false,
      loadingButton: false
    };
  },
  computed: {
    ...mapGetters({
      carts: "cart/cart",
      provider: "cart/provider",
      category: "category/cart_category",
      order_address: "cart/order_address",
      order_content: "cart/order_content",
      request_type: "cart/request_type"
    })
  },
  created() {},
  methods: {
    ...mapActions({
      save: "cart/store",
      clearBasket: "cart/clearBasket"
    }),
    sendBasket() {
      if (this.carts.length == 0) {
        this.Alert("Error", "#cccccc", "This cart empty");
        return;
      }
      this.loadingButton = true;
      let DATA = {
        lang: this.lang,
        provider_id: this.provider.id,
        category_id: this.category.id,
        data: this.order_address.date,
        time: this.order_address.time,
        address: this.order_address.address,
        building_number: this.order_address.building_number,
        float_room_number: this.order_address.float_room_number,
        full_address: this.order_address.full_address,
        maps_url: this.order_address.url,
        content: this.order_content,
        payment_methods: this.cart_type ? this.cart_type : "Paypal",
        service_cost: this.provider.prices,
        request_type: this.request_type ? this.request_type : '',
        attributes: this.carts
      };

      this.save(DATA)
        .then(res => {
          this.loadingButton = false;
          this.Alert("Success", "#ffffff", "Your order has been accepted");
          this.$router.push("/accepted");
          this.clearBasket();
        })
        .catch(err => {
          this.loadingButton = false;
          this.Alert("Error", "#ffffff", "Your order has been no accepted");
          console.log(err);
        });
    },
    Carts(text, number) {
      this.activetab = number;
      this.cart_type = text;
    },
    Alert(result, color, message) {
      this.$notify({
        title: result,
        offset: 50,
        dangerouslyUseHTMLString: true,
        message: message,
        type: result.toLowerCase()
      });
    },
    clicked(e) {
      e.preventDefault();
    }
  },
  components: {
    Loading
  }
};
</script>
