<template>
  <div class="Login">
    <form class="login-form" @submit.prevent="login" :dir="dir">
      <div class="login-form-icon">
        <img src="/img/def-img.png" alt="" class="d-block" />
      </div>
      <div class="login-form-group">
        <BaseInput
          :label="$t('Username')"
          v-model="loginForm.username"
          :placeholder="$t('Type here')"
          :id="'firstname'"
          :type="'text'"
        ></BaseInput>

        <BaseInput
          :label="$t('Password')"
          v-model="loginForm.password"
          :placeholder="$t('Password')"
          :id="'password'"
          :type="'password'"
        ></BaseInput>

        <div class="login-form-save d-flex align-center jfy-bwn">
          <el-checkbox v-model="loginForm.remember_me">Save password</el-checkbox>
          <div class="reset-form" @click="$emit('click')">
            <router-link to="/reset-password">
              {{ $t("Reset password") }}
            </router-link>
          </div>
        </div>

        <div class="form-submit-wrap">
          <BaseButton :loadingButton="loading" @c-click="login" :ValueText="$t('Login')"></BaseButton>
        </div>

        <div class="social--wrap text-center">
          <span>or</span>

          <div class="social--wrap__list">
            <nav class="social--wrap__nav">
              <ul class="d-flex jfy-bwn">
                <li class="transition">
                  <!-- <facebook-login class="button"
                    appId="326022817735322"
                    @login="getUserData"
                    @logout="onLogout"
                    @get-initial-status="getUserData">
                  </facebook-login> -->
                  <!-- <el-button @click="AuthProvider('facebook')">
                    <img src="/img/img-fb.png" alt="" class="d-block" />
                  </el-button> -->
                </li>
                <li class="transition">
                  <el-button @click="AuthProvider('twitter')">
                    <img src="/img/img-tw.png" alt="" class="d-block" />
                  </el-button>
                </li>
                <li class="transition">
                  <el-button @click="AuthProvider('google')">
                    <img src="/img/img-gp.png" alt="" class="d-block" />
                  </el-button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="login" @click="$emit('click')">
        {{ $t("Have account") }}
        <router-link to="/sign-up" class="login-anchor">{{
          $t("Register")
        }}</router-link>
      </div>
    </form>
  </div>
</template>

<style>
.Login {
  margin: 60px auto 90px;
}
.login {
  position: absolute;
  bottom: -50px;
  right: 50%;
  transform: translateX(50%);
  width: 350px;
  text-align: center;
}

.login a {
  color: #ccbf08;
}

.login-form-save {
  margin-bottom: 20px;
}

.social--wrap__nav li:hover {
  transform: translateY(-4px);
}

.social--wrap__nav li a {
  width: 44px;
  height: 44px;
  border: solid 1px #e7e7e7;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #ffffff;
}

.social--wrap__nav li a img {
  width: 22px;
}

.social--wrap {
  width: 150px;
  margin: 25px auto 0px;
  position: relative;
}

.social--wrap > span {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  color: #969696;
  font-size: 12px;
}

.social--wrap > span::after,
.social--wrap > span::before {
  content: "";
  width: 65px;
  height: 1px;
  position: absolute;
  background: #d8d8d8;
  top: 9px;
}

.social--wrap > span::after {
  left: 15px;
}

.social--wrap > span::before {
  right: 15px;
}

.login-form-save .vs-icon {
  width: 16px;
  height: 16px;
  transform: scale(0.65) !important;
}

.login-form-save .con-slot-label {
  font-size: 14px;
  margin-left: 5px;
}

.login-form-save .reset-form a {
  color: #e5a700;
  cursor: pointer;
}

.login-form-group {
  margin-top: 15px;
}

.login-form {
  width: 370px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(102, 102, 102, 0.2);
  border-radius: 4px;
  position: relative;
}

.login-form-icon {
  width: 78px;
  height: 78px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: -40px;
}

/* ************************  MEDIA ************************************* */

@media (max-width: 480px) {
  .login-form {
    width: 100%;
    padding: 15px;
  }

  .Login {
    margin-top: 120px;
    width: calc(100% - 10px);
  }

  /* .vs-popup--content {
            overflow: initial !important;
        } */
}
</style>

<script>

import {mapActions,mapGetters} from 'vuex';
import facebookLogin from 'facebook-login-vuejs';
 // It can also be imported as { GoogleLogin }
    import GoogleLogin from 'vue-google-login';
export default {
  name: "Login",
    computed: {
      ...mapGetters({
        username:"auth/username", 
        phone: "auth/phone",
        auth_user_role: 'role'
      })
    },
  data() {
    return {
      params: {
          client_id: "xxxxxx"
      },
      // only needed if you want to render the button with the google ui
      renderParams: {
          width: 250,
          height: 50,
          longtitle: true
      },
      loginForm: {
        username: "",
        password: "",
        remember_me:false
      },
      loading:false,
      redirect: undefined,
      otherQuery: {},
      errors: [],
      checkBox: true
    };
  },
  components: {
    facebookLogin,
    GoogleLogin
  },
  methods: {
    ...mapActions({
      postLogin : 'auth/login',
      loginSocialAction : 'auth/loginSocialite',
    }),
    onSuccess(googleUser) {
        console.log(googleUser);

        // This only gets the user information: id, name, imageUrl and email
        console.log(googleUser.getBasicProfile());
    },
    onFailure(fail){
      console.log(fail)
    },
    getUserData() {
      this.FB.login('/me', 'GET', { fields: 'id,name,email' },
        userInformation => {
          console.warn("data api",userInformation)
          this.personalID = userInformation.id;
          this.email = userInformation.email;
          this.name = userInformation.name;
        }
      )
    },
    sdkLoaded(payload) {
      this.isConnected = payload.isConnected
      this.FB = payload.FB
      if (this.isConnected) this.getUserData()
    },
    onLogin() {
      this.isConnected = true
      this.getUserData()
    },
    onLogout() {
      this.isConnected = false;
    },
    AuthProvider(provider) {
      this.loginSocialAction(provider)
      .then(response =>{
        // this.SocialLogin(provider,response)
        }).catch(err => {
            console.log({err:err})
        })

    },

    SocialLogin(provider,response){

        this.$http.post('/auth/login/'+provider,response).then(response => {

            console.log(response.data)

        }).catch(err => {
            console.log({err:err})
        })
    },
    loginSocial(provider){
      this.loginSocialAction({provider:provider})
      .then(res => {
        console.log(res);
      })
      .catch(err => {
        console.log(err);
      })
    },
    queryValidate() {
      this.$nextTick(() => {
        if (!event.target.value) {
          $(event.target)
            .siblings(".label-check")
            .removeClass("success");
          $(event.target)
            .siblings(".label-check")
            .addClass("danger");
          $(event.target)
            .parents(".auth-form-label")
            .siblings()
            .fadeIn();
        } else {
          $(event.target)
            .siblings(".label-check")
            .addClass("success");
          $(event.target)
            .siblings(".label-check")
            .removeClass("danger");
          $(event.target)
            .parents(".auth-form-label")
            .siblings()
            .fadeOut();
        }
      });
    },
    checkVal(event) {
      if (event.target.value) {
        $(event.target)
          .siblings(".label-check")
          .addClass("success");
        $(event.target)
          .siblings(".label-check")
          .removeClass("danger");
      } else {
        $(event.target)
          .siblings(".label-check")
          .removeClass("success");
        $(event.target)
          .siblings(".label-check")
          .addClass("danger");
      }
    },
    login() {
      this.loading = true;
      this.postLogin(this.loginForm)
        .then(() => {
          this.urlRedirect();
          this.loading = false;
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            offset: 50,
            message: this.$i18n.messages[this.$i18n["locale"]][
              "Successfully logged"
            ]
          });
          this.$emit("click");
        })
        .catch(err => {
          this.loading = false;
          this.Message_Error(err.code,err.message?err.message:'');
        });
    },
    urlRedirect(){
      if (this.$router.currentRoute.name == 'Login') {
        if (this.auth_user_role && this.auth_user_role == 'provider') {
          this.$router.push('/dashboard-home');
        }
        if (this.auth_user_role && this.auth_user_role == 'user') {
          this.$router.push('/user-profile');
        }
      }
      
    },
    Message_Error(code,message){
      this.$notify.error({
          dangerouslyUseHTMLString: true,
          title: 'Error ' + code,
          message: '<strong>'+message+'</strong>',
          position: 'top-right'
        });
    }
  }
};
</script>
