<template>
  <div class="AuthPage" :dir="dir">
    <main class="main">
      <form class="auth-form auth-form_wrap" @keypress.enter="submit" @submit.prevent="submit">
        <h1 class="auth-form__title">{{ $t("Register") }}</h1>

        <div class="auth-user">
          <div class="auth-user-avatar">
            <UserAvatar v-model="User.image"></UserAvatar>
          </div>
        </div>

        <div class="auth-form-group d-flex f-wrap jfy-bwn">
          <div class="col-6">
            <BaseInput
              :label="$t('First name')"
              v-model="User.first_name"
              :model="User.first_name"
              :placeholder="$t('Type here')"
              :id="'name'"
              :type="'text'"
            />
          </div>
          <div class="col-6">
            <BaseInput
              :label="$t('Last name')"
              v-model="User.last_name"
              :model="User.last_name"
              :placeholder="$t('Type here')"
              :id="'last_name'"
              :type="'text'"
            />
          </div>
          <div class="col-6">
            <BaseInput
              :label="$t('Username')"
              v-model="User.username"
              :model="User.username"
              :placeholder="$t('Type here')"
              :id="'user_name'"
              :type="'text'"
            />
          </div>
          <div class="col-6">
            <BaseInput
              :label="$t('Email')"
              v-model="User.email"
              :model="User.email"
              :placeholder="$t('Type here')"
              :id="'email'"
              :type="'text'"
            />
          </div>
          <div class="col-6">
            <BaseInput
              :label="$t('Phone')"
              v-model="User.phone"
              :model="User.phone"
              :placeholder="$t('Type here')"
              :id="'phone'"
              :type="'text'"
            />
          </div>
          <div class="col-6">
            <BaseInput
              :label="$t('Create Password')"
              v-model="User.password"
              :model="User.password"
              :placeholder="$t('Type here')"
              :id="'password2'"
              :type="passwordType"
            />
            <div class="password-visible" @click="passwordVisible">
              <i class="el-icon-view"></i>
            </div>
          </div>
          <div class="col-6">
            <BaseInput
              :label="$t('Repeat password')"
              v-model="User.password_confirmation"
              :model="User.password_confirmation"
              :placeholder="$t('Type here')"
              :id="'password_repeat'"
              :type="passwordType"
            />
            <div class="password-visible" @click="passwordVisible">
              <i class="el-icon-view"></i>
            </div>
          </div>
        </div>

        <p class="terms-text text-center">
          {{ $t("By creating account you agree to our") }}
          <router-link to="/terms-and-condition">
            {{
            $t("terms and conditions")
            }}
          </router-link>
        </p>

        <div class="form-submit-wrap" @click="$emit('click')">
          <!-- <FormButton :ValueText="$t('Sign up')"></FormButton> -->
          <BaseButton :loadingButton="loading" @c-click="submit" :ValueText="$t('Sign up')"></BaseButton>
        </div>

        <div class="social--wrap text-center">
          <span>or</span>

          <div class="social--wrap__list">
            <nav class="social--wrap__nav">
              <ul class="d-flex jfy-bwn">
                <li class="transition">
                  <router-link to="/*">
                    <img src="/img/img-fb.png" alt class="d-block" />
                  </router-link>
                </li>
                <li class="transition">
                  <router-link to="/*">
                    <img src="/img/img-tw.png" alt class="d-block" />
                  </router-link>
                </li>
                <li class="transition">
                  <router-link to="/*">
                    <img src="/img/img-gp.png" alt class="d-block" />
                  </router-link>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- <div class="login" @click="$emit('click')">
                    {{ $t('Yes account') }}<router-link to="/login" class="login-anchor">{{ $t('Login') }}</router-link>
        </div>-->
      </form>
    </main>
  </div>
</template>

<style>
.social--wrap__nav li:hover {
  transform: translateY(-4px);
}

.social--wrap__nav li a {
  width: 44px;
  height: 44px;
  border: solid 1px #e7e7e7;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #ffffff;
}

.social--wrap__nav li a img {
  width: 22px;
}

.social--wrap {
  width: 150px;
  margin: 25px auto 0px;
  position: relative;
}

.social--wrap > span {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  color: #969696;
  font-size: 12px;
}

.social--wrap > span::after,
.social--wrap > span::before {
  content: "";
  width: 65px;
  height: 1px;
  position: absolute;
  background: #d8d8d8;
  top: 9px;
}

.social--wrap > span::after {
  left: 15px;
}

.social--wrap > span::before {
  right: 15px;
}

.terms-text {
  color: #969696;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}

.terms-text a {
  color: inherit;
  text-decoration: underline;
}

.auth-form-group > div {
  width: calc(50% - 7.5px);
}

.auth-user {
  margin: 15px 0 30px;
}

.auth-user-avatar {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  /* overflow: hidden; */
  position: relative;
}

.auth-form {
  width: 495px;
  margin: 60px auto 90px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(102, 102, 102, 0.2);
  border-radius: 4px;
  position: relative;
}

.auth-form__title {
  font-size: 24px;
  font-family: var(--font-Heebo);
  line-height: 32px;
}

.login {
  position: absolute;
  bottom: -50px;
  right: 50%;
  transform: translateX(50%);
}

.login a {
  color: #ccbf08;
}

/***************** MEDIA **************************/

@media (max-width: 480px) {
  .auth-form {
    width: calc(100% - 10px);
    padding: 15px;
  }
}
</style>

<script>
// UserAvatar Component
import UserAvatar from "../../components/CommonComponents/UserAvatar";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "SignUp",
  data() {
    return {
      passwordType: "password",
      loginForm: [],
      User: {
        first_name: "",
        last_name: "",
        username: "",
        phone: "",
        email: "",
        password: "",
        password_confirmation: "",
        role_id: 0,
        image: ""
      },
      loading: false
    };
  },
  components: {
    UserAvatar
  },
  methods: {
    ...mapActions({
      postRegister: "auth/register"
    }),
    passwordVisible() {
      this.passwordType =
        this.passwordType === "password" ? "text" : "password";
    },
    submit() {
      this.loading = true;
      var formData = new FormData();

      for (var key in this.User) {
        formData.append(key, this.User[key]);
      }

      this.postRegister(formData)
        .then(() => {
          this.$notify.success({
            title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
            message: "Successfully registrated",
            type: "success"
          });
          this.$router.push("/login");
        })
        .catch(err => {
          this.loading = false;
          this.Message_Error(err.code, err.message ? err.message : "");
        });
    },
    // submit() {
    //   this.loading = true;
    //   var formData = new FormData();

    //   for (var key in this.User) {
    //     formData.append(key, this.User[key]);
    //   }

    //   this.$store
    //     .dispatch("user/store", formData)
    //     .then(res => {
    //       this.loginForm = res;
    //       this.$notify.success({
    //         title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
    //         message: "Successfully registrated",
    //         type: "success"
    //       });
    //       this.loginForm.data.user.password = this.User["password"];
    //       this.$store
    //         .dispatch("auth/registerLogin", this.loginForm)
    //         .then(res => {
    //           this.$notify.success({
    //             title: this.$i18n.messages[this.$i18n["locale"]]["Success"],
    //             message: "Successfully logged"
    //           });
    //           this.$router.push("/");
    //         })
    //         .catch(err => {
    //           alert(err);
    //         });
    //     })
    //     .catch(err => {
    //       try {
    //         if (!err.result.success) {
    //           if (err.error.code == 422) {
    //             this.errors = err.validation_errors;
    //             var errorMessage = "";
    //             $.each(this.errors, function(key, value) {
    //               errorMessage = errorMessage + value;
    //             });

    //             this.$notify.error({
    //               title: "Error",
    //               message: errorMessage
    //             });
    //           }
    //         }
    //       } catch (error) {
    //         alert(error);
    //       }
    //     });
    // },
    Message_Error(code, message) {
      this.$notify.error({
        dangerouslyUseHTMLString: true,
        title: "Error " + code,
        message: "<strong>" + message + "</strong>",
        position: "top-right"
      });
    }
  }
};
</script>
