<template>
  <div class="PasswordRecover Login">
    <main class="main">
      <form class="login-form">
        <div class="login-form-icon">
          <div class="login-form-box child--center">
            <i class="el-icon-check"></i>
          </div>
        </div>

        <div class="success__text text-center">
          <p>
            {{ $t('Great!, Now you have access Set your new password') }}
          </p>
        </div>
        <div class="login-form-group" v-if="email_validate">
          <BaseInput
            :label="$t('Enter your email')"
            v-model="email"
            :placeholder="$t('Type here')"
            :id="'email'"
            :type="'email'"
          />
          <div class="form-submit-wrap">
            <el-button @click="sendEmail()" type="success" :loading="loading"
              >{{ $t('Send Email') }}</el-button
            >
          </div>
        </div>
        <div class="login-form-group" v-if="code_validate">
          <div>
            <label class="auth-form-label d-block">
              <span class="label-title d-block">
                {{ $t('Type code') }}
              </span>
              <div class="form-input">
                <el-input placeholder="$t('Type code')" v-model="code"></el-input>
                <div class="label-check child--center">
                  <i class="material-icons check__icon">check_circle</i>
                  <i class="material-icons error__icon">error</i>
                </div>
              </div>
            </label>
          </div>
          <div class="form-submit-wrap">
            <el-button @click="sendCode()" type="warning" :loading="loading"
              >{{ $t('Send code') }}</el-button
            >
          </div>
        </div>

        <div v-if="password_validate" class="login-form-group">
          <div>
            <label class="auth-form-label d-block">
              <span class="label-title d-block">
                {{ $t('Password') }}
              </span>
              <div class="form-input">
                <el-input
                  placeholder="$t('Password')"
                  type="password"
                  v-model="password"
                ></el-input>
                <div class="label-check child--center">
                  <i class="material-icons check__icon">check_circle</i>
                  <i class="material-icons error__icon">error</i>
                </div>
              </div>
            </label>
          </div>

          <div>
            <label class="auth-form-label d-block">
              <span class="label-title d-block">
                {{ $t('Confirm Password') }}
              </span>
              <div class="form-input">
                <el-input
                  placeholder="$t('Confirm Password')"
                  type="password"
                  v-model="confirm_password"
                ></el-input>
                <div class="label-check child--center">
                  <i class="material-icons check__icon">check_circle</i>
                  <i class="material-icons error__icon">error</i>
                </div>
              </div>
            </label>
          </div>

          <div class="form-submit-wrap">
            <el-button
              @click="updatePassword()"
              type="submit"
              class="form-submit d-block transition"
            >
              {{ $t('Submit') }}
            </el-button>
          </div>
        </div>
      </form>
    </main>
  </div>
</template>

<style>
/* .form-submit {
        width: 100%;
        border: none;
        outline: none;
        background: #ffef00;
        font-family: var(--font-Medium);
        padding: 15px;
        border-radius: 3px;
        font-size: 15px;
        cursor: pointer;
    }

    .form-submit:hover {
        background: var(--hover);
    }
    .auth-form-label {
        margin-bottom: 20px;
    }

    .label-title {
        margin-bottom: 5px;
    }

    .form-input {
        position: relative;
        border: solid 1px #e7e7e7;
        background: #ffffff;
        border-radius: 4px;
    } */

/* .form-input input {
        width: calc(100% - 15px);
        border: none;
        outline: none;
        font-size: 14px;
    }

    .label-check {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 9px;
        right: 10px;
        border-radius: 4px;
        background: #adaca8;
    }

    .label-check.success {
        background: #55d775;
    }

    .label-check.danger {
        background: #ff4757;
    }

    .label-check.success i.check__icon,
    .label-check.danger i.error__icon {
        opacity: 1;
        transition: 200ms ease-in;
    }

    .label-check i {
        position: absolute;
        opacity: 0;
        font-size: 14px;
        color: #fff;
    } */

.PasswordRecover .login-form-icon {
  background: #46c93a73;
  border-radius: 100%;
}

.PasswordRecover .login-form-box {
  background: #46c93a;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  transform: translate(11px, 11px);
}

.PasswordRecover .login-form-box i {
  color: #fff;
  font-size: 34px;
}

.success__text {
  font-family: var(--font-Medium);
  color: #69b56a;
  width: 215px;
  margin: 15px auto 0;
}

/*********************** MEDIA ********************************/

@media (max-width: 578px) {
  .PasswordRecover .login-form-icon {
    display: none;
  }
}

/* #46c93a */
</style>

<script>
import Login from "../Auth/Login";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "ResetPassword",
  data() {
    return {
      loading: false,
      email: "",
      code: "",
      email_validate: true,
      code_validate: false,
      password_validate: false,
      token: [],
      confirm_password: "",
      password: ""
    };
  },
  components: {
    Login
  },
  methods: {
    ...mapActions({
      reset: 'auth/resetPassword',
      confirmPassword: 'auth/confirmPassword',
    }),
      sendEmail(){
          if (this.email == '') {
              this.Messsages_warning('Warning','Enter your email');
              return false
          }
          this.loading = true

          this.reset({email:this.email})
          .then(res => {
            console.log(res);
            
              this.email_validate = false
              this.password_validate = true
              this.loading = false
              this.Messsages_seccess('Success','The confirmation code was sent to <b>' + this.email +'</b>');
          })
          .catch(err => {
              this.loading = false
              this.Messsages_error('Error','Model not found');
          })
      },
      // sendCode(){
      //     this.loading = true
      //     let dataFetchUrl = `code=${this.code}`
      //     if (this.code == '') {
      //         this.Messsages_warning('Error','Enter code');
      //         return false
      //     }
      //     this.$store.dispatch('user/code', dataFetchUrl)
      //     .then(res => {
      //         this.token = res.data.token
      //         this.code_validate = false
      //         this.password_validate = true
      //         this.loading = false
      //         this.Messsages_seccess('The code is confirmed','The code is confirmed, please enter the new password');

      //     })
      //     .catch(err => {
      //         this.loading = false
      //         this.Messsages_error('Error','Incorrect code entered');
      //         console.log(err)
      //     })
      // },
      updatePassword() {
        
          if (this.password != this.confirm_password) {
              this.Messsages_warning('Error','passwords do not match');
              return false;
          }
          else{
              this.confirmPassword({email:this.email,password:this.password})
              .then((res) => {
                  this.Messsages_seccess('Success',this.$i18n.messages[this.$i18n['locale']]['Successfully Updated Password, You can log in']);
                  this.$router.push('/login')
              })
              .catch((err) => {
                  console.log(err);
                  this.Messsages_error('Error','Error, Please try again');
              })
          }
      },
      Messsages_error(title,message){
          this.$notify.error({
              offset: 50,
              title: title,
              message: message
          });
      },
      Messsages_seccess(title,message){
          this.$notify.success({
                  dangerouslyUseHTMLString:true,
                  title: title,
                  offset: 50,
                  message: message
              });
      },
      Messsages_warning(title,message){
          this.$notify.warning({
              title: title,
              offset: 50,
              message: message
          });
      }
  },
}
</script>
